[2018-01-28 23:55] vektah opened #1 "Is this just for PHP?"
This looks pretty neat, but can support for other languages be added or is this only ever going to be PHP?

[2018-01-29 13:09] #1 closed, assigned to nobody

[2021-11-29 09:12] rustatian opened #907 "[INVESTIGATE] Investigate the possibility of using `protobuf` instead of `json`"
Investigate performance and latency pros and cons of using the `protobuf` format in the `RR <-> PHP worker` communication.
1. HTTP plugin -> Request parsing, packing data to the `payload`.
2. JOBS plugin -> The same as HTTP plus internal communication.
3. KV, GRPC -> Request parsing plus packing data to the `payload`

[2021-12-03 08:35] paulermo opened #906 "[💡FEATURE REQUEST]: Support for SQS FIFO queues"
RoadRunner jobs plugin can not utilize AWS SQS FIFO queues. We can not specify usage of FIFO queue because of viper unmarshalling issue: rr.yaml while unmarshalled has all keys converted to lowercase.

Two conditions should be satisfied for the ability to use FIFO queue: 1) name of queue should end with suffix `.fifo` and 2) attribute `FifoQueue: true` should be provided.

Because of unmarshalling

[2021-12-03 09:49] rustatian commented on #906
Hello @paulermo. Yeah, I'll try to realize this in `v2.7.0`, but can't guarantee that, because I'm full with the tickets in this sprint.
I am sure, that at least it'll be in the `2.8.0` (end of January).

[2021-12-10 05:46] ndethi opened #868 "Roadrunner slower than Nginx in production (Linux VM IP reverse proxied in Nginx)"
When i run a benchmark locally in the VM, Roadrunner is miles ahead of Nginx in reqs/sec etc, but when I benchmark the public IP of the same app in production, it is far less impressive, in fact the same app hosted elsewhere on Nginx is faster. What factors could possibly be affecting this? Network latency, CPU?

[2021-12-10 08:49] #868 closed, assigned to nobody

[2021-12-13 03:29] victor-sudakov opened #905 "[💡FEATURE REQUEST]: `allow` and `forbid` directives in the new fileserver plugin"
### Plugin

File server

### I have an idea!

It would be nice for the new fileserver plugin to support the "allow" and "forbid" directives which were available in the old static middleware.

[2021-12-13 06:57] rustatian commented on #905
Hey @victor-sudakov. I'm not sure, that `allow` and `forbid` is common practice for the static file servers. You can use prefixes to distinguish the different file types.
In the `static` plugin that was needed because we had only 1 folder and can't separate different file types.

[2021-12-13 07:10] victor-sudakov commented on #905
Oh, the famous .htaccess ! It has always been best practice to prohibit .git/, CVS/ and .svn/ subdirs even in static folders.

[2021-12-13 07:17] rustatian commented on #905
From the official `apache` docs: `However, in general, use of .htaccess files should be avoided when possible.`

[2021-12-13 07:18] rustatian commented on #905
Ok, let's wait for the community feedback on this. Thanks for the report.

[2021-12-14 16:47] samdark opened #871 "[🐛 BUG]: Execution is stopped immediately after response is sent"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

## Current behavior

Currently the worker is terminated immediately after respons is received. Both `finally` blocks and shutdown functions, that are normally executed in PHP-FPM and PHP-cgi, are not executed at all.

These are typically used for closing connection

[2021-12-14 22:02] #871 closed, assigned to nobody

[2021-12-15 03:21] chris-lee-lb opened #873 "[🐛 BUG]: Worker crashed when write logs to stdout"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

we currently use laravel-octane with roadrunner (https://laravel.com/docs/8.x/octane), and we can not write logs to stdout which will make worker crashed.

Here is reproduce repository :
https://github.com/chris-lee-lb/road-runner-laravel-issues

Startup procedures

[2021-12-15 06:31] rustatian commented on #873
Hey @chris-lee-lb . Logs are diagnostic information and should be written to the `stderr`. `stdout` and `stdin` process file descriptors are reserved for the RR communication with the worker when you use `server.relay = pipes`.
But, we understand, that for some reason, the users would like to write the logs into the `stdout`. This is allowed after workers are initialized because our [workers](http

[2021-12-15 11:57] chris-lee-lb commented on #873
@rustatian Really thanks for your information. After trying `spiral/roadrunner-laravel`, all works very well.

I'll closed it now. Thanks again.

[2021-12-15 11:57] #873 closed, assigned to rustatian

[2021-12-15 12:00] rustatian commented on #873
You are very welcome, enjoy using RR 👍🏻

[2021-12-16 21:07] rustatian opened #904 "[💡 FEATURE REQUEST]: Create basic metrics dashboard for the Grafana"
### Plugin

Metrics

### I have an idea!

Create a basic dashboard to monitor plugins in the [grafana](https://grafana.com/).

[2021-12-18 23:30] viktorprogger opened #875 "[Q]: Environment variable not parsed"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

I've added a `DOMAIN` environment variable to the `http.ssl.acme.domains[0]` in the config, and on `./rr serve --dotenv=.env` I've seen this error:

[code]

### Version

2.6.6

### Relevant log output

[code]

[2021-12-18 23:31] rustatian commented on #875
@viktorprogger Hey. This is not a bug. RR doesn't support env variables passed this way.

[2021-12-18 23:35] viktorprogger commented on #875
@rustatian And what's the right way? I remember you said I shouldn't write `$`, but it didn't work for `num_workers` without the `$` symbol.

[2021-12-19 00:06] rustatian commented on #875
I said, that you can set env variable with `{VAR}` syntax in the RR1, but in the RR2 this feature wasn't implemented (no requests to implement this).
`--dotenv` flag can be used to read your env variables.
`-o http.address=YOU_NEW_ADDRESS_HERE` to overwrite address in the `.rr.yaml`.

If you want to see additional functionality here, please, open the feature request.

[2021-12-19 00:06] #875 closed, assigned to rustatian

[2021-12-21 14:23] sergey-telpuk opened #903 "[💡 FEATURE REQUEST]: Decrease/set up a timeout for an error log"
### Plugin

JOBS

### I have an idea!

RR > 2.*
When set incorrect credentials for sqs driver. Now, We must wait too long time to see the error log. I expect to see error as soon as possible, so I suggest decreasing this time for example 30s or give an ability for configuring this one.

[2021-12-21 20:39] Richard87 opened #878 "[💡 FEATURE REQUEST]: API so RoadRunner could be included in other servers"
### Plugin

Server

### I have an idea!

Hi!

I love the concept of RoadRunner, but is currently using Caddy as frontend for php-fpm, s3proxy and some other snacks...

I'm currently working on a esbuild plugin for caddy to bundle and serve assets directly...

I would *love* to create a roadrunner plugin as well, but right now it would be super hacky to manipulate the Serve command...

Specifically

[2021-12-21 20:50] rustatian commented on #878
Hey @Richard87. Thanks for the proposal 👍🏻
As you said, you use caddy with PHP-FPM, and RR also supports FCGI. So, you can use the `http` plugin with fcgi endpoint and pass the requests from the Caddy to the RR -> https://github.com/spiral/roadrunner-binary/blob/master/.rr.yaml#L704

You don't need to manipulate the `Serve` command. You can create a RR plugin as a completely separate plugin with a

[2021-12-21 23:48] Richard87 commented on #878
Thanks for answering so quick!

RR with FCGI might solve all my problems! Thanks, I'll also take a look at the plugin documentation, maybe I get some inspiration!

[2021-12-21 23:48] #878 closed, assigned to rustatian

[2021-12-22 10:24] Bibob7 opened #880 "[💡FEATURE REQUEST]: Decouple Application Logging and Roadrunner Logging"
### Plugin

Server

### I have an idea!

I have a problem when using Application logging since it is currently coupled to the logs config of the server plugin.
I can only see application logs, when log level of roadrunner is at least `info`

Additionally, also the log encoding influences my application logging, where I already use a json formatter with monolog.

I would like to simply write applic

[2021-12-22 10:29] rustatian commented on #880
Hey @Bibob7. You can simply use the `raw` log mode to write untouched logs -> https://github.com/spiral/roadrunner-binary/blob/master/.rr.yaml#L76

[2021-12-22 10:31] rustatian commented on #880
So, your section for the `server` might be as the following (just for example):
[code]

You can use such sections for any plugin.

[2021-12-22 10:43] Bibob7 commented on #880
@rustatian: Thanks, I know that, but then I also see log output like:

[code]
I don't want to see this on prod, also because this would be no json logs.

To remove this, I have set log level for the server plugin to warn, but then I don't see the application logs anymore.
I think the best way to handle that, is to decouple the logs here.
Also the log levels in application config and roadrunner can

[2021-12-22 10:51] rustatian commented on #880
I'll think about that because this is a very sensitive topic which heavily depends on the user. The logs can be configured on the `plugin` basis, which means, that logs from the worker, pool, and worker_watcher are bonded to the single `server's` level.
On the other hand, I clearly got what you want and this can't be solved just by replacing `p.log` with `fmt.Print`. We need to have a new log stra

[2021-12-24 06:27] rustatian commented on #880
@Bibob7 Ok, I decided to decouple the logger in the upcoming 2.7 release. Stay tuned 😃

[2021-12-25 16:03] rustatian commented on #904
ref: https://github.com/spiral/roadrunner-plugins/issues/116

[2021-12-25 21:46] rustatian commented on #880
Update for the 2.7 release: `info` log level for the `stderr/stdout` (as it was). `error` log level for the worker allocate failure. All other internal messages are logged at the `debug` log level (including TTL, execTTL, memory, etc).
So, at the `info` log level you'll see only the startup message (also will be an option to turn it off).

[2021-12-25 22:02] #880 closed, assigned to nobody

[2021-12-26 10:04] rustatian opened #902 "[💡 FEATURE REQUEST]: Native drivers statistic for the JOBS plugin"
### Plugin

JOBS

### I have an idea!

We have a `Stat` RPC method in the `jobs` driver which provides a simple driver's statics, such as the number of delayed, active, and ready jobs. Not all drivers support this format and it's hard to control all flow cases to count these numbers for the `drivers` which don't support that.
Instead of trying to control the flow, provide the driver's native state

[2021-12-30 12:01] arku31 opened #901 "[🐛 BUG]: kv plugin: isAvailable() doesn't work"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

According to docs, you may check that kv plugin is present
[code]

But it always leads to the error

```Fatal error: Uncaught LogicException: The "kv" RoadRunner plugin not available in ...```

If you remove this check and try to access kv directly, it is working w

[2021-12-30 12:05] rustatian commented on #901
Hey @arku31, thanks for the report. You can safely (temporarily) remove this check. That's because the RR and `PHP-Worker` approach to check available plugins had been changed recently and weren't synced recently.

[2022-01-08 17:22] iKevinShah opened #887 "[💡 FEATURE REQUEST]: Options to disable selective features."
### Plugin

Config

### I have an idea!

First of all, really thank you for this piece of software. I have been in touch (over at /r/PHP) on each thread for roadrunner and spiral.

Recently, I was moving my setups from a dedicated VM to WSL. I am using the outdated WSL1 based images (solely as it is easier from a networking perspective) but I hit a roadblock while trying to make my sites work with

[2022-01-08 22:45] rustatian commented on #887
Hey @iKevinShah, nice to meet you. Thanks for the request. But, unfortunately, we don't support the WSL1 since it is hugely outdated. `TCP_FASTOPEN` feature presents in the Linux kernel since the `v3.6` (fairly long enough) and because of that, TFO was enabled by default in the RR.
BTW, we don't support the WSL2 as well, but since MS uses the LTS Linux kernel w/o significant modifications, everyth

[2022-01-09 05:10] iKevinShah commented on #887
Hello @rustatian ,

Thank you so much for welcoming me. Also sincere thank you for the honest reply. While I agree that WSL1 is hugely outdated, the kernel I am on, is `Linux PC 4.4.0-19041-Microsoft #1237-Microsoft Sat Sep 11 14:32:00 PST 2021 x86_64 x86_64 x86_64 GNU/Linux` which makes one think that TCP_FASTOPEN would be available by default. However, it is not.

I will keep in mind about WSL2

[2022-01-09 08:18] rustatian commented on #887
I'll add the configuration options to enable/disable these optimizations in version `2.8` (can't do that faster, sorry, because the current `v2.7` sprint is full).

[2022-01-09 08:44] iKevinShah commented on #887
I completely understand. I'd be waiting for 2.8. Also, If there's a debug build or something where I can check / debug further - I'd be happy to help. Chances are there might be other things too which might stop roadrunner from working in a WSL environment.  (assumption)

[2022-01-09 08:46] rustatian commented on #887
Thank you very much 👍🏻 I'll notify you in the ticket when the first build with these options will be available to test.

[2022-01-13 10:05] arku31 opened #900 "[💡 FEATURE REQUEST]: add ignore_transaction to newrelic plugin"
### Plugin

HTTP

### I have an idea!

(newrelic plugin is not listed in the section above, so none is selected)

There is a possibility to ignore a transaction.  We may send a header `rr_newrelic_ignore:true` and this should lead to ignoring the existing transaction, nothing should be sent to newrelic

Note: This should be applied for both: errors and normal transaction

See for the reference: ht

[2022-01-13 10:41] arku31 opened #899 "[💡 FEATURE REQUEST]: newrelic: option to consider some http codes as not error codes"
### Plugin

_No response_

### I have an idea!

Currently, if the status code is f.e. 412, it will be reported as an error. However, for some applications, 412 is the expected result and it should not be reported as an error but as a normal transaction. The solution for this is to

Add a configuration field to the newrelic section:
```error_status_codes: 500,424```

If the status code is listed th

[2022-01-13 12:01] roxblnfk opened #897 "[💡 FEATURE REQUEST]: upgrade TCP plugin"
### Plugin

TCP

### I have an idea!

I think the TCP plugin needs to be reworked.

The way the RR-TCP plugin works now:
RR cuts off data by separator and sends it to different workers.
This approach works well when writing an SMTP server, but it's not enough for a true TCP server.
For example we can't handle HTTP protocol, binary protocol or any custom protocol.

---

I propose to make the plugin

[2022-01-13 20:16] rustatian commented on #897
Hey @roxblnfk 😃

Actually, you can easily handle HTTP or any binary protocol, since they have delimiters that you can specify in the configuration. From the practical POV, there is no sense to handle an http frame via this plugin since we have a dedicated HTTP plugin.

RR can't bind a worker to a connection, because in the case of 1000 simultaneous connections you'll have 1000 workers. Imagine, al

[2022-01-14 14:37] roxblnfk commented on #897
Could you provide examples of configs for handling HTTP requests and packages from the Goridge plugin?

The TCP plugin can provide more flexible handling of the HTTP protocol. It just needs to be refined.

I'm sure that RR has a queuing mechanism and there is no need to create a separate worker for each request. It is enough to have several workers and a functioning pool.

[2022-01-14 19:02] rustatian commented on #897
Goridge3 protocol behaves more like TCP/IP itself so, to handle transport protocols, we need to have the second part of your proposal - additional command (to read a particular number of bytes for example), there is no problem to extend existing commands. To handle application protocols, like HTTP it's enough to know the frames delimiter, in the case of HTTP it's CLRF (also you'll need to implemen

[2022-01-16 16:46] Smolevich opened #896 "[💡 FEATURE REQUEST]: Add possibility storage for application metrics"
### Plugin

metrics

### I have an idea!

I suggest to allow save application metrics using kv-storage
For example, in config of roadrunner
[code]

[2022-01-17 22:26] rustatian opened #940 "[💡 FEATURE REQUEST]: Sign binaries with the GPG key"
### Plugin

_No response_

### I have an idea!

Sign release binaries with the GPG key.
Investigate using smt like: https://github.com/marketplace/actions/import-gpg.

GoReleaser might be used: https://github.com/goreleaser/goreleaser-action

[2022-01-18 08:36] masterjus opened #941 "[💡 FEATURE REQUEST]: Documentation improvement"
### Plugin

_No response_

### I have an idea!

I have an idea, listen to me!!

I've got a trouble when set `ttl: 3600` value without `s`. My workers has started to reboot every 3600 milliseconds.

Please mention this in your documentation.

[2022-01-18 08:41] rustatian commented on #941
Hey @masterjus, sure, thanks for noting that 👍🏻

[2022-01-18 21:36] rustatian opened #942 "[🐛 BUG]: `reload` plugin doesn't collect a resettable plugins"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

After moving to the new organization, part of the `reload` plugin's code was missed. The missed part was responsible for adding `resettable` plugins to a reset list.

### Version

2.7.2

### Relevant log output

_No response_

[2022-01-18 21:41] rustatian opened #943 "[🐛 BUG]: `jobs` pipeline shadowing if registering the pipeline with the existing name"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

`jobs` plugin doesn't check the pipeline name for existence if the user tries to register the pipeline with the already registered name

### Version

2.7.2

### Relevant log output

_No response_

[2022-01-18 21:42] rustatian commented on #943
fixed by: [e2cff402d427a8adc4ef66718d0d6c563dac7c02](https://github.com/roadrunner-server/jobs/commit/e2cff402d427a8adc4ef66718d0d6c563dac7c02)

[2022-01-18 21:43] #943 closed, assigned to rustatian

[2022-01-18 21:43] rustatian commented on #942
fixed by: https://github.com/roadrunner-server/reload/commit/3b26a4b8d2198c224fd19468bce92b2d907bf439

[2022-01-18 21:43] #942 closed, assigned to rustatian

[2022-01-19 07:49] masterjus opened #950 "[💡 FEATURE REQUEST]: Split-testing module"
### Plugin

_No response_

### I have an idea!

I have an idea, listen to me!!

Everybody knows about A/B testing. There're few tools like the Google Optimizer which helps to do such tests.
But sometimes new functionality which need to be tested could be made on a backend only.

We are using the `split_clients` for such tests and this is the inly reason why we're still using nginx before rr.

Here

[2022-01-19 13:34] roquie opened #951 "[💡 FEATURE REQUEST]: Parallel worker allocation"
### Plugin

_No response_

### I have an idea!

If the worker is slow, the launch of the roadrunner will be even slower (as many times as many workers).

Please make a parallel launch of the workers. Example attached.

[slow_worker.zip](https://github.com/roadrunner-server/roadrunner/files/7897490/slow_worker.zip)

unzip and then run `make run` in content root.

[2022-01-19 20:33] #951 closed, assigned to rustatian

[2022-01-20 09:34] OO00O0O opened #954 "[🐛 BUG]: rr binary --dotenv option silent if file not found"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

`./rr -d --dotenv=.env serve`
If `.env` file not found, RR stays silent about that.
Should hard fail(?).

### Version

2.7.3

### Relevant log output

[code]

[2022-01-20 12:28] rustatian commented on #954
Hey 👋 I guess you're right. We should log such failures.

[2022-01-20 17:40] rustatian commented on #954
Planned for the 2.7.4 (27.01.2022)

[2022-01-20 21:42] #954 closed, assigned to rustatian

[2022-01-21 05:05] Yurunsoft opened #956 "[🐛 BUG]: Could not find any available RoadRunner binary version which meets criterio n"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

A bug happened!

[code]

### Version

2.5.*

### Relevant log output

[code]

[2022-01-21 06:00] rustatian commented on #956
Hey @Yurunsoft. What `roadrunner-cli` version do you use?

[2022-01-21 06:03] Yurunsoft commented on #956
I use v2.1.0

Why: `Starting from the roadrunner-cli v2.1.0 versions of roadrunner binary lower than 2.7.0 are not supported.`

[2022-01-21 06:21] rustatian commented on #956
1. We moved to the new organization.
2. We support only the latest stable release.

RR doesn't contain BC's, except configuration for the KV described in the 2.5.0 release notes. So, you can safely upgrade to 2.7.3 (latest release)

[2022-01-21 06:25] rustatian commented on #956
If you still wanted to use the previous versions, please, use the previous `roadrunner-cli` version.

[2022-01-21 16:40] rustatian commented on #956
@Yurunsoft Feel free to reopen this issue if you have any questions about it. Thanks.

[2022-01-21 16:40] #956 closed, assigned to rustatian

[2022-01-21 18:38] rustatian opened #957 "[🐛 BUG]: Blocked responses on big payloads when the supervisor is turned on"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

When worker freezes on a big response, all next requests wait on a `watch_tick` supervisor mutex. That leads to very long, sequential (workers are blocked) responses.

Sample worker to repro:

[code]

Found by: @OO00O0O

### Version

2.7.x

### Relevant log output

[2022-01-21 19:03] #957 closed, assigned to rustatian

[2022-01-21 19:58] sergey-telpuk opened #958 "[🐛 BUG]: Omit the bugfix version for the config version check"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?
[code]
[code]

### Version

2.7.3

### Relevant log output

_No response_

[2022-01-21 20:09] rustatian commented on #958
Hey @sergey-telpuk. Version should be `version: "2.7"`, w/o the bugfix.

[2022-01-21 20:10] rustatian commented on #958
The issue with the printing pointer instead of the function return value was fixed, will be released in the rr 2.7.4.

[2022-01-21 20:11] sergey-telpuk commented on #958
@rustatian Hi, It doesn't work with `2.7` too, My custom build
[code]

[2022-01-21 20:16] rustatian commented on #958
I guess, that smt wrong with your version. Try to execute the binary `./rr` and verify it.

[2022-01-21 20:17] rustatian commented on #958
the version in the `.rr.yaml` should be `version: "2.7"`, version from the binary should be `2.7.3`

[2022-01-21 20:18] sergey-telpuk commented on #958
@rustatian
[code]

[2022-01-21 20:21] rustatian commented on #958
The configuration version should be `2.7`. Configuration is not a RR version. It's the `.rr.yaml` version.
[code]

[2022-01-21 20:24] sergey-telpuk commented on #958
How to set configuration version. It isnt clear now

[2022-01-21 20:25] rustatian commented on #958
[code]

[2022-01-21 20:27] sergey-telpuk commented on #958
[code]
[code]

[2022-01-21 20:28] rustatian commented on #958
I guess you are using the wrong path to the configuration: because the message clearly says, that the -> `, configuration version: 2.7.3`.

[2022-01-21 20:31] sergey-telpuk commented on #958
I dont change the path. It works until 2.7.3

[2022-01-21 20:32] rustatian commented on #958
Might be it cached by the docker. This is `%!s(func() string=0x972b20)` just wrong message handling, the version handled correctly. What RR version do you use in the docker?

[2022-01-21 20:34] sergey-telpuk commented on #958
[code]
[code]

[2022-01-21 20:36] rustatian commented on #958
Ok, that is the latest RR version. Now, check the configuration version in the docker (exec into the container and check the configuration version, it should be `2.7`).

[2022-01-21 20:38] sergey-telpuk commented on #958
[code]

[2022-01-21 20:42] rustatian commented on #958
Check that the path to the configuration is correct and docker has not cached it. If that mounted volume, check it.
RR says that the `configuration version: 2.7.3`.

[2022-01-21 20:47] sergey-telpuk commented on #958
I removed all cache/volumes, checked path. It dosent work again

[2022-01-21 20:48] rustatian commented on #958
Try to run w/o docker.

[2022-01-21 20:49] rustatian commented on #958
I can't repro your issue locally with custom input, in the tests as well: (https://github.com/roadrunner-server/rr-e2e-tests/blob/master/plugins/config/config_test.go#L327)

[2022-01-21 20:53] sergey-telpuk commented on #958
Why do you set vp.Prefix = "rr"?

[2022-01-21 20:56] rustatian commented on #958
The prefix is used for the environment variables.

[2022-01-21 21:08] sergey-telpuk commented on #958
I don't know what is reason for this bug. Path is correct , version:2.7, not cache docker because I purged all images and ran up again.

[2022-01-21 21:10] rustatian commented on #958
Unfortunately, I can't help you here, because locally I can't reproduce your behavior with the configuration version 2.7 and RR 2.7.3.
But in 2.7.4 I'll skip the bugfix versions check, so, that may help you.

[2022-01-21 21:14] sergey-telpuk commented on #958
Try do it in the docker env, not local machine

[2022-01-21 21:17] rustatian commented on #958
I have a different dev envs to test, including docker (latest version, compose v2). I also tested in the docker (see the roadrunner-server/roadrunner/dev folder).

[2022-01-21 21:20] rustatian commented on #958
I am sure, that you used the wrong path/volume/cache/etc, because, from the message you sent, I clearly see, that the configuration version parsed as `2.7.3`, but should be `2.7`.
I'll fix the bugfix version check as I said, but, please, double-check everything in your env 😃

[2022-01-21 23:04] rustatian commented on #958
@sergey-telpuk Check the `v2.7.4` please.

[2022-01-22 07:13] sergey-telpuk commented on #958
It works now.

[code]
But I dont see buildtime, RR version in log

[2022-01-22 07:17] rustatian commented on #958
@sergey-telpuk
![image](https://user-images.githubusercontent.com/8040338/150628994-37a7383b-1bb5-4a80-be39-19029b41506f.png)

[2022-01-22 07:25] sergey-telpuk commented on #958
I dont see

[2022-01-22 07:29] rustatian commented on #958
This is not related to the original issue, so, I'm closing it (since it was resolved), thank you. If you have problems with your env, feel free to ask the community in our telegram or discord channels.

[2022-01-22 07:29] #958 closed, assigned to rustatian

[2022-01-22 07:40] sergey-telpuk commented on #958
Yeap, You are right, It was related to sqs config because I set up wrong config for it and I couldnt see the error, I guess There is  the long attempt period, thanks

[2022-01-24 12:20] andrei-dascalu opened #965 "[💡 FEATURE REQUEST]: Redis driver for jobs"
### Plugin

JOBS

### I have an idea!

I love that amqp and sqs are supported jobs drivers, but redis is also a fairly common queueing backend. It would be great to have support for redis as a jobs drivers.

[2022-01-24 12:24] rustatian commented on #965
Hey @andrei-dascalu, thanks for the FR. We discussed internally this feature and agreed, that it should be done. Stay tuned, I'll notify you about the planned version for this feature.

[2022-01-24 12:45] andrei-dascalu commented on #965
Excellent, it's fantastic to know it's already on the road map, looking forward it it. Thanks!

[2022-01-26 12:06] rustatian opened #970 "[💡 FEATURE REQUEST]: Better workers statistic (state, memory, pid)"
### Plugin

HTTP

### I have an idea!

Provide an additional statistic about HTTP worker state, used memory, and PID.

[2022-01-26 12:16] rustatian commented on #970
ref: https://github.com/roadrunner-server/roadrunner/discussions/788#discussioncomment-2049507

[2022-01-26 12:37] #970 closed, assigned to rustatian

[2022-01-27 08:33] rustatian opened #973 "[💡 FEATURE REQUEST]: gRPC plugin custom interceptors"
### Plugin

GRPC

### I have an idea!

Like we have middleware in the HTTP plugin, will be nice to have the custom interceptors for the `grpc` plugin.
[code]

The plugin should support the interceptors from the `grpc-go-ecosystem` as well.

[2022-01-27 09:47] rustatian opened #974 "[🧹 CHORE]: Move all workers related stats into the pool"
### Plugin

SDK

### I have an idea!

Since we have a bunch of workers' stats (statuses, errors, execs, etc) would be a good approach to have that stat in the one place - `sdk/pool`. Because at the moment we have almost identical metrics (code) for the workers in the `http`, `grpc` and `jobs` plugins.

[2022-01-28 15:59] odombrovskyi-dev commented on #880
Hi, I have the same issue with the RR 2.7.0. Is there any way to disable this message?
[code]

[2022-01-28 16:01] rustatian commented on #880
Hey @adombrovsky. There is no way to disable this message in the current version. In the 2.8 will be a flag to start silently.

[2022-01-31 23:35] rustatian opened #979 "[💡 FEATURE REQUEST]: Consume any payload (not only `Jobs` structured) from the `Jobs` drivers"
### Plugin

JOBS

### I have an idea!

At the moment, `job` drivers consumers are able to accept only the `Jobs` structures (eg payloads accepted from the Jobs `push` RPC call).
I propose to create a set of `<driver_name>_raw` drivers which would be able to consume any payload, pack it into the `Jobs` structure (only for the PHP worker compatibility), and send it to the workers.
Basically, the raw

[2022-02-01 18:57] steffendietz commented on #979
Good idea.

Wouldn't it make sense to introduce a new `bool` config option called `raw` to the existing drivers?

That way you wouldn't need to introduce the `*_raw` drivers.

[2022-02-01 21:45] rustatian commented on #979
Hey @steffendietz 😃 I just don't want to have a complicated logic inside the drivers. From my POV handling raw payloads lead to significant changes inside the driver and might be different payloads (RPC and internal) since we don't use the existing `Jobs` structures.
But, for sure, I have both options in my mind: a separate driver or some switch inside. This question is: how big will the changes b

[2022-02-03 16:35] sergey-telpuk opened #980 "[💡 FEATURE REQUEST]: Consume-only `SQS` driver (or an option to disable queue declaration)"
### Plugin

JOBS

### I have an idea!

I suggest not to allow to create SQS with the help of sqs-plugin. It's just to make connect to aws sqs.

[2022-02-03 19:30] rustatian commented on #980
Hey @sergey-telpuk. I'm not sure, that I correctly understand you. Do you mean, connect to SQS and just consume jobs from the queue?

[2022-02-03 20:36] sergey-telpuk commented on #980
Hi, it's

[2022-02-03 20:37] sergey-telpuk commented on #980
I don't want to give the control for creating topic RR. It should be the simple consumer

[2022-02-03 20:47] rustatian commented on #980
@sergey-telpuk What is the problem with the queue created by RR?

[2022-02-03 20:52] sergey-telpuk commented on #980
1. I have replicas RR, now each of replicas create sqs - it is redundant.
2. I have another tool/operator - that is responsible for creating/updating/deleting sqs.
3. I have to support duplicates config in RR and my utils.
4. Now RR has bug with attributes cases

[2022-02-03 20:57] rustatian commented on #980
1. How do you determine in your replicas, who is responsible to create a queue? This is an idempotent operation AFAIK.
2. This is not a RR responsibility (I mean, other tools)
3. This is also not a RR responsibility to control the third-party utils.
4. Do we have a ticket for that bug?

[2022-02-03 21:01] rustatian commented on #980
I understand, that p.2 and p.3 will make your life easier)

[2022-02-06 11:50] Ocramius opened #989 "[💡 FEATURE REQUEST]: move from `vendor/bin/rr get` to `COPY --from=spiralscout/roadrunner:2.7.6 /usr/bin/rr /usr/bin/rr`?"
### I have an idea!

While running `vendor/bin/rr get`, I often incur into `403` errors due to rate limits (not authenticated against the github API).

This problem is even starker when setting up roadrunner inside a `Dockerfile` (and its related build).

Is copying the binary (from the correct arch) perhaps a better approach?

[code]

In practice, the above is:

 * cacheable
 * cache is invalidat

[2022-02-06 12:05] rustatian commented on #989
Hey @Ocramius 👋🏻 Yeah, getting RR from the docker is a good option, many users already apply this approach. Also, would be an option is to use some env variable (`GH_TOKEN` for example for the `rr get`) to raise the limit up to 5000 req/h. This is not implemented yet, I'll discuss that with our PHP team. [Velox](https://github.com/roadrunner-server/velox) for example uses `github_token` option to

[2022-02-06 12:06] #989 closed, assigned to rustatian

[2022-02-07 09:52] rustatian opened #991 "[📹 TUTORIALS]: RR Video tutorials"
### I have an idea!

Create a series of RR tutorials on our [YT channel](https://www.youtube.com/channel/UCHT6-FZGh5Y7JUGJyB8_M0Q) that covers the following topics:
- [x] How to create a RR plugin with Velox?
- [x] Graphana (incl. Temporal).
- [x] Middleware (HTTP).
- [x] How to create a Plugin?
- [ ] io/cpu bound tasks.
- [x] CLI and logging.
- [x] Services in the RR.
- [ ] OpenTelemetry configur

[2022-02-08 21:23] paulermo commented on #980
There is FR #906 which describes this bug mentioned by @sergey-telpuk. (No way to send attributes of SQS queue to AWS while specifying them in rr.yaml because of lowercasing of yaml keys).
And because of that issue, RR creates SQS queues with some default attributes which can be not suitable for us. When we try to re-create the same queue from operator/another tool - we get an error, cause this op

[2022-02-08 21:32] rustatian commented on #980
RR doesn't create a queue with default attributes. By default, attributes are null.

[2022-02-08 21:37] paulermo commented on #980
Ok, WITHOUT attributes.

And when we try in another place to use same queue but WITH attributes - get an error:

_To get the queue URL, use the GetQueueUrl action. GetQueueUrl requires only the QueueName parameter. be aware of existing queue names:_

_* If you provide the name of an existing queue along with the exact names
and values of all the queue's attributes, CreateQueue returns the queue
UR

[2022-02-08 21:45] rustatian commented on #980
No need to use capslock here, because:

And:

These are different terms. Please, take a time to think about your problem, and then explain it.

To resolve your problem I need a ticket for it. The ticket you are referencing has the title: `[FEATURE REQUEST]: Support for SQS FIFO queues`. File us a bug with the description of the problem, we will plan it and resolve it. Thanks.

[2022-02-08 21:55] paulermo commented on #980
That FR contains the description of a bug which does not let to specify correct sqs attributes from RR.
Ok, if you want me to make a duplicate with a Bug label - I will :)

[2022-02-08 22:01] rustatian commented on #980
I don't want duplicates (and this is not a duplicate). As I mentioned, the `Support for SQS FIFO queues` and `Case-Sensitive Attributes` are different terms. I can resolve the case sensitivity problem w/o supporting FIFO queues (yet). So, to summarize:
1. Support for the FIFO - feature request is made.
2. Case-sensitive attributes problem - a separate issue.

[2022-02-09 06:56] paulermo opened #994 "[🐛 BUG]: Case-sensitive attributes for SQS"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

A bug happened!

AWS expects case-sensitive attributes of SQS queues which can be specified in rr.yaml.

Example:
When we want to create fifo queue, we need to specify FifoQueue attribute alongside with the name of queue something.fifo
Because of unmarshalling Fifo

[2022-02-09 07:01] paulermo commented on #980
For the case sensitivity problem - I've posted separate issue #994.
And regarding the current issue, I'll try to summarize the problem: we propose RR to have the ability to use GetQueueUrl instead of CreateQueue at the start of the worker.

[2022-02-09 07:12] rustatian commented on #980
Thank you.

This should be a separate feature request. Because this is suitable for you, but not for all RR users, we can't use `GetQueueUrl` instead of creating a queue, this should be an option in the configuration with the `create queue` as the default behavior (we can't change the default behavior).

[2022-02-09 07:43] rustatian commented on #994
Hey @paulermo, got u. I've missed this `viper` behavior ([link](https://github.com/spf13/viper#does-viper-support-case-sensitive-keys)). I have planned the bug fix for the `2.7.7` to release this Thursday.

[2022-02-09 07:49] rustatian commented on #980
@paulermo However, if the `GetQueueUrl` option is more suitable for your, you might close this issue and create a new one with the `GetQueueUrl` FR as the option in the configuration.

[2022-02-09 10:28] rauanmayemir opened #995 "[🐛 BUG]: Grpc worker crashes instead of returning error response"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Throwing a `Spiral\RoadRunner\GRPC\Exception\InvokeException` in a grpc service used to return an error grpc response, but now it will crash the worker and the response will look like:

[code]

The relevant code is here: https://github.com/spiral/roadrunner-grpc/bl

[2022-02-09 10:58] rauanmayemir commented on #995
Here's an example service that reproduces the crash: https://github.com/buhta/spiral-roadrunner-grpc/tree/invoke-error

[code]

[2022-02-09 11:18] butschster commented on #995
[code]

[2022-02-09 11:34] rauanmayemir commented on #995
More like:

[code]

[2022-02-09 12:33] rustatian commented on #994
@paulermo This issue will be fixed in the `v2.7.7`. I've also added experimental FIFO support (only `ContentBasedDeduplication` is supported at the moment). `MessageDeduplicationId` is not supported at the moment.
`MessageGroupId` can be passed via configuration:
[code]

[2022-02-09 12:33] rustatian commented on #994
ref: #906

[2022-02-09 12:39] rustatian commented on #994
Also, when RR receives a CreateQueue error, it'll try to get this queue by its name, so, if it is already declared, returned queue URL will be used. So, no more errors when the queue already exists.

[2022-02-09 12:41] sergey-telpuk commented on #994
@rustatian What is the problem to add MessageDeduplicationId? You can use rr_id

[2022-02-09 12:45] rustatian commented on #994
First of all, there are no problems to support `SendMessage` API. #980 is not closed, so, later, all SQS `SendMessage` API will be supported.

[2022-02-09 12:47] sergey-telpuk commented on #994
@rustatian It seems there isnt need to send something, It's just consumer. I think rr can only update attributes for timeoutvisibility

[2022-02-09 12:54] rustatian commented on #994
You are speaking about your consume-only driver FR. For sure RR can instantiate a connection and then update attributes, but this is not related to this ticket.

[2022-02-09 12:55] rustatian commented on #994
PR for this ticket will fix the Queue Attributes. As a side-effect, you'll be able to use FIFO queues partially. To have full support, please, wait until #980 will be closed.

[2022-02-09 12:56] sergey-telpuk commented on #994
got it

[2022-02-09 14:05] #994 closed, assigned to rustatian

[2022-02-09 15:07] rustatian commented on #995
@rauanmayemir @butschster It's not possible to reproduce the issue by immediately returning an error. Because the worker can't be initialized if you do that.

[2022-02-09 15:10] rustatian commented on #995
I'll try to create a unit test for that, let's see.

[2022-02-09 20:28] rustatian commented on #995
Thanks, @rauanmayemir @butschster, the issue is now resolved.

[2022-02-09 20:29] #995 closed, assigned to rustatian

[2022-02-10 08:56] rustatian opened #1001 "[🧹CHORE]: `GRPC` better errors handling"
### No duplicates 🥲.

- [X] I have searched for a similar issue.
- ref: https://github.com/spiral/roadrunner-grpc/issues/10

### What should be improved or cleaned up?

At the moment, there is no way to distinguish between the applications errors and worker errors in the `grpc` plugin. The PHP client library sets the error protocol bit on any exception thrown from the PHP side, and this leads to w

[2022-02-10 11:24] rustatian opened #1002 "[🐛 BUG?]: Delete tmp files after the multipart form is parsed"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.
- ref: https://github.com/spiral/roadrunner-laravel/issues/84

### What happened?

Check the temp files after the multipart form is parsed. There is no `Remove` method called on the multipart form in the `http` plugin.

### Version

all

### Relevant log output

[code]

[2022-02-10 14:43] benalf opened #1003 "[🐛 BUG]: Reload plugin hangs when trying to reload invalid PHPland code"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Reload plugin in 2.7.6 hangs when trying to reload invalid PHPland code (like syntax errors) until hits an endure timeout.
2.6.6 used to die immediately.

Attached both 2.6 and 2.7 log outputs for exactly the same reload scenario.

### Version

2.7.6

### Relevant

[2022-02-10 14:59] rustatian commented on #1003
Thanks @benalf , the fix will be in a moment ⚡

[2022-02-10 15:44] #1003 closed, assigned to rustatian

[2022-02-10 20:15] sergey-telpuk commented on #994
Does it support `FifoQueue: true` like boolean or string? anyway, I see error in case pass `true` like boolean
[code]

[2022-02-10 20:31] rustatian commented on #994
Should be:
[code]

[2022-02-14 09:26] tarampampam opened #1008 "[🐛 BUG]: Socket errors during workers restarting"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

When the **socket** is used as a relay and `http.pool.max_jobs` are limited, during `wrk` tests there are a lot of errors in the RR logs and failed requests. With relay type `pipes` _or_ without jobs limiting (`http.pool.max_jobs: 0`) all works fine.

[code]

Playg

[2022-02-14 14:19] butschster opened #1009 "[💡 FEATURE REQUEST]: Manage services via RPC"
### Plugin

Service

### I have an idea!

It would be a great idea, if I am able to manage services via RPC.

For example I have a PHP application, that need sometimes to open SSH connection between two servers and keep the connection between them until I don't need it.

#### It might look like:

**Create**
[code]

**Terminate**
[code]

**Restart**
[code]

**Status**
[code]

**List of started serv

[2022-02-14 15:11] rustatian commented on #1009
Hey @butschster. Wonderful idea 👍🏻 ⚡

[2022-02-14 17:38] #1008 closed, assigned to rustatian

[2022-02-16 04:07] rustatian commented on #887
Hey @iKevinShah 👋🏻. After the internal discussion, this change will break the existing public API for the `CreateListener` SDK method, so, since WSL1 is deprecated I kindly propose you update your distribution. Thanks.

[2022-02-16 04:07] #887 closed, assigned to rustatian

[2022-02-16 04:29] #903 closed, assigned to rustatian

[2022-02-16 08:13] #906 closed, assigned to nobody

[2022-02-16 10:50] rustatian commented on #899
Sorry @arku31, that's not possible due to the new_relic library architecture.

[2022-02-16 10:50] #899 closed, assigned to nobody

[2022-02-16 11:23] #900 closed, assigned to rustatian

[2022-02-16 18:44] rustatian commented on #903
Timeout set to 30s

[2022-02-16 18:48] rustatian commented on #941
@masterjus https://github.com/roadrunner-server/roadrunner/blob/master/.rr.yaml#L639, in the configuration reference all `time` keys has the `s` at the end.

[2022-02-16 18:48] #941 closed, assigned to rustatian

[2022-02-17 11:56] rustatian opened #1017 "[🐛 BUG]: gzip compression doesn't applied to the static content"
### Discussed in https://github.com/roadrunner-server/roadrunner/discussions/1015

<div type='discussions-op-text'>

<sup>Originally posted by **nitrogenium** February 16, 2022</sup>
For example static content such as js or css can be compressed (gzip).

It is a good idea to have text-based resources served with compression (gzip, deflate or brotli) to minimize total network bytes.

Thank you</div

[2022-02-17 20:05] digitalkaoz opened #1018 "[🐛 BUG]: FORWARDED header not parsed"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

actually the common `FORWARDED` header is not parsed (https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Forwarded). relates to #644

### Version

2.8.0

### Relevant log output

_No response_

[2022-02-18 08:08] rustatian commented on #1018
Hey @digitalkaoz. Could you please attach some request samples which RR can't handle?

[2022-02-18 16:50] #1018 closed, assigned to rustatian

[2022-02-19 11:11] rustatian commented on #1017
Hey @nitrogenium. Ok, I dig into that problem, the issue was in incorrect middleware order (RR problem).
The first screenshot shows the request with incorrect order:
![image](https://user-images.githubusercontent.com/8040338/154798403-6b5512e5-d28b-423d-bd20-8ae45ef7fdff.png)

And the second with fixed order:
![image](https://user-images.githubusercontent.com/8040338/154798440-0ab55386-5d5f-4377-8

[2022-02-19 11:15] rustatian commented on #1017
fixed by: https://github.com/roadrunner-server/http/commit/26882a1493fe5caa826f0906a8161c5562773869

[2022-02-19 11:15] #1017 closed, assigned to rustatian

[2022-02-19 11:17] rustatian commented on #1017
Will be in the RR `v2.8.1` bugfix release on 24 February.

[2022-02-20 18:00] brgmn commented on #901
Hey, I just had a hard time to debug this behaviour: The isAvailable()-method in the php roadrunner-kv library seems to stopped working for roadrunner > v.2.6.2. Maybe it makes sense to just update the documentation or fix roadrunner to output the kv module as available module again. Btw the kv module works fine over rpc.

[2022-02-20 18:11] rustatian commented on #901
@brgmn Hey. Sorry for the bad UX 😭 . Yeah, you may just remove this call. We will resolve this in the `v2.9.0`. We need to decide how to provide an available plugins list to the PHP, so, basically, there are 2 options:
1. Remove this method (the cons that you'll know that the KV isn't available on the first call to it, but not on the boot time)
2. Provide a list of plugins to the PHP worker via so

[2022-02-20 18:35] brgmn commented on #901
@rustatian Ok. Nice! Thanks for your fast response and your great work! And do you think it would make sense to update the Readme and documentation of the roadrunner-kv php package that isAvailable doesn't work for roadrunner >v.2.6.2?

Btw I'm just using roadrunner as nginx-fpm replacement and the usecase I'm trying to solve is to warmup roadrunner kv-caches asynchronously by normal laravel event

[2022-02-20 18:41] rustatian commented on #901
@brgmn You are welcome 🚀

We already have this on the roadmap [link](https://github.com/roadrunner-server/roadrunner/issues/898). Some of the proposals are partly implemented via `cache` middleware (RFC 7234, `Cache-Control`, `Age`, `max-age` via in-memory storage and only for the GET requests).

To warm up caches you may use the `on_init` server option (if that is suitable): https://github.com/ro

[2022-02-20 18:44] rustatian commented on #901
Yeah, sure, will do that.

[2022-02-20 18:54] rustatian commented on #901
Done.

[2022-02-21 12:08] nunomaduro opened #1021 "[🐛 BUG]: `version` can't be passed as inline option"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Hi,

The `version` on the `.rr.yaml` can't be passed as inline option `-o`. At Laravel, we would like to set this parameter based on the roadrunner binary used, so we don't have to ask all the existing library users to update their `.rr.yaml` files.

https://github

[2022-02-21 12:29] rustatian commented on #1021
Hey @nunomaduro. Yeah, the version check is made before the configuration options overwrite. I'll fix that in the 2.8.2 today, thanks for the report.

[2022-02-21 16:54] #1021 closed, assigned to rustatian

[2022-02-21 17:02] rustatian commented on #1021
@nunomaduro https://github.com/roadrunner-server/roadrunner/releases/tag/v2.8.2 Done 🚀

[2022-02-22 06:23] antikirra opened #1024 "[🐛 BUG]: Call of kv.TTL return unexpected string format"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

**Final error:**
Spiral\RoadRunner\KeyValue\Cache::dateFromRfc3339String(): Return value must be of type DateTimeImmutable, bool returned (cause `getMultipleTtl` return unexpected string format `4319h59m53s` instead of `2022-08-21T03:36:12+00:00`)

**Trace:**
[code

[2022-02-22 06:43] rustatian commented on #1024
Hey @antikirra, thanks for the report, I'll check that.

[2022-02-22 06:53] rustatian commented on #1024
@antikirra Redis driver according to the specs returns the remaining time in seconds, but not the expiration time in the RFC3339 format.
I guess that the issue in the PHP client library which incorrectly parses the `-1` (no TTL) and `-2` (no key) returned values.

[2022-02-22 07:11] antikirra commented on #1024
@rustatian may be problem in redis plugin?
https://github.com/roadrunner-server/redis/blob/7645cc291c7efedd7f30889e809b3b6b47881238/kv/kv.go#L242

[2022-02-22 07:34] rustatian commented on #1024
RR doesn't interpret the values. So, the RR Redis driver just returns the value obtained from the Redis.

[2022-02-22 08:05] antikirra commented on #1024
Is it right behavior? I thought, that rr should be provide ubiquitous interface for any kv drivers, because kv.memory.TTL return RFC3339 string https://github.com/roadrunner-server/memory/blob/2124cbe7fa93d5808300e878215dc24e8a04b811/memorykv/kv.go#L183

[2022-02-22 08:12] rustatian commented on #1024
At the moment this is the right behavior. I will think about unifying it.

[2022-02-22 08:19] rustatian commented on #1024
We will discuss this with @butschster (PHP team leader) on how to better handle that. Most probably RR will convert the payload into the RFC3339 time format, and exclude from the return payload keys with -1 and -2 values.

[2022-02-22 08:38] #1024 closed, assigned to rustatian

[2022-02-23 11:11] #974 closed, assigned to rustatian

[2022-02-23 15:32] litan1106 opened #1027 "[💡FEATURE REQUEST]: Add OpenTelemetry API support"
### Plugin

Server

### I have an idea!

Please add OpenTelemetry support. With OpenTelemetry https://opentelemetry.io/, you don't have to add the support for each vendor. aka: NewRelic, Datadog, AppInsight, etc.

EDIT (@rustatian):
Update middleware:
- [x] gzip
- [x] headers
- [x] static
- [x] sendfile
- [x] cache

[2022-02-23 15:35] rustatian commented on #1027
Hey @litan1106. Yeah, we have plans about adding a unified standard for the traces and metrics information. But, still, vendor-specific drivers have better support for its API. I'll put that ticket for the ~`v2.10.0` RR version initially. Thanks for the proposal 👍🏻

[2022-02-24 01:33] WagnerPMC commented on #958
@rustatian How do you like this? 🐷
![Снимок](https://user-images.githubusercontent.com/97305733/155440085-cee5c46b-545f-42ad-af80-a208b8c485b3.PNG)

[2022-02-24 01:34] WagnerPMC commented on #958
@rustatian And according to your documentation, the roadrunner server can be run without pre-build. In practice, this is not the case. The pre-build version is "local", and there is a version conflict between RoadRunner and its configuration when it is started. 🤡

p.s. https://roadrunner.dev/docs/beep-beep-build

[2022-02-24 06:26] rustatian commented on #958
There is no version `local` in the official builds.

This is the outdated part of the documentation, use `Velox` and set the proper version in the linker flags.

[2022-02-26 04:20] WagnerPMC commented on #958
@rustatian
I figured out the reason for the bug

Pleasee see https://github.com/roadrunner-server/roadrunner/blob/44b96e63c97081cf7566cbdf81554d22176ba379/internal/cli/root.go#L69
On this line, you do not have the RoadRunner version passing to the file that matches that version and the configuration version

And then let's look at the following file:
https://github.com/roadrunner-server/config/blo

[2022-02-26 06:24] rustatian commented on #958
You are referring to the old RR plugin and RoadRunner versions. There is no such bug in the recent versions.

[2022-02-26 08:07] WagnerPMC commented on #958
@rustatian

How can I build RR from the latest versions?
I've built it two ways, through Velox and by cloning this repository.
RR version 2.8.2

[2022-02-26 08:16] rustatian commented on #958
As I mentioned earlier, use Velox and set the proper version in the build-flags (linker options). Current RR version - 2.8.x. If you wanted to use your own versions, clone and modify the config plugin then replace it in the Velox configuration.

[2022-02-26 08:18] WagnerPMC commented on #958
@rustatian

I reiterate that there is an error in the configurations when building RR with my custom plugin. And it is solved as I wrote above. The version of RR is the latest.

[2022-02-26 08:20] rustatian commented on #958
There is outdated RR version by your link.

[2022-02-26 08:21] WagnerPMC commented on #958
@rustatian

I repeat that the RR version used was 2.8.2. I don't care about the link

[2022-02-26 08:23] WagnerPMC commented on #958
You can go to https://github.com/roadrunner-server/roadrunner/blob/v2.8.2/internal/cli/root.go and see for yourself

[2022-02-26 08:35] rustatian commented on #958
You said, that you figured out where is the bug, but provided a link to the outdated RR (yeah, you don't care about the links, I got u). You proposed a fix, with the particular code line number. Now, please, have a look at the RR 2.8.2 you are referring to. You'll see, that the version already passed to the bundled config plugin: https://github.com/roadrunner-server/roadrunner/blob/master/internal

[2022-02-26 08:36] rustatian commented on #958
Version passed only in the serve, not in the root

[2022-02-26 08:41] rustatian commented on #958
If you still think, that there is a bug, feel free to create a ticket with the sample to reproduce.

[2022-02-26 09:30] WagnerPMC commented on #958
That's the problem. The problem is that you have a PersistentPreRunE hook configured in root.go that runs before the RunE hook of https://github.com/roadrunner-server/roadrunner/blob/master/internal/cli/serve/command.go.

You can read about this very well in the official documentation of the Cobra library

And since the PersistentPreRunE hook of root.go is executed first, this is where the error c

[2022-02-26 09:32] WagnerPMC commented on #958
How do you like this, Elon Musk
@rustatian

[2022-02-26 09:41] WagnerPMC commented on #958
@rustatian
Therefore, in my Docker image with my private plugins for RR, I have to patch the root.go file

[2022-02-26 09:46] WagnerPMC commented on #958
And by the way, your trusted_subnets plugin does not work correctly. It reads the IP from the X-Forwarded-For header, and should be from r.remoteAddr. That's why I had to write my own plugin
![dsds](https://user-images.githubusercontent.com/97305733/155838508-1683e579-3b11-424b-8aa9-bb1dc1b07875.PNG)

[2022-02-26 16:09] rustatian commented on #958
Be respectful to the community.

Init in the root.go used to get a pointer to the plugin. Actual `Init` called by Endure.

Should be? Remote address in case of XFF contains the proxy address, not the real remote address, thus to get a real address, RR should parse XFF/F if exists.

[2022-02-26 16:11] rustatian commented on #958
I kindly suggested you ways, how to report the issues.
If you think, that there is an bug -> create a ticket with a sample to reproduce -> wait until resolved/send the PR -> bugfix release.

[2022-03-02 15:22] OO00O0O commented on #965
Rcomendation to check out redis streams for that(symfony redis messenger implementation).

[2022-03-03 13:33] OO00O0O opened #1033 "[🐛 BUG]: `rr workers -i` do not return all services"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

I have running 2 services, that are defined in `rr.yaml` under `service`.
They are not displayed in `rr workers -i` inspect window.

### Version

2.8.2

### Relevant log output

_No response_

[2022-03-03 15:56] tony-sol opened #1034 "[🐛 BUG]: Env variables values from global env is not used in server.env"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

System env vars are not used in config file server.env section.

Config example:
[code]
Env is definitely exists:

![Снимок экрана 2022-03-03 в 18 53 27](https://user-images.githubusercontent.com/33671815/156601078-2c52569e-7feb-4e94-933b-279fd98b4807.png)

but aft

[2022-03-03 16:13] rustatian commented on #1034
Hey, @Tony-Sol. The config should be as follows:

[code]
But, to use the `${}` notation, you should set that by yourself via: https://github.com/spiral/roadrunner-docs/blob/master/php/environment.md#using-environment-variables-in-the-configuration

[2022-03-03 16:14] rustatian commented on #1033
Hey @OO00O0O, thanks for the report. Will be fixed in the next bugfix release.

[2022-03-03 16:21] tony-sol commented on #1034
Thanks for answer

It's aclually a bad formatting, but envs are not substituted neither with
[code]
nor
[code]
syntax.

Also, i had suggestion that it's similar to [this issue](https://github.com/roadrunner-server/roadrunner/issues/142) or that env usage also requires `-o` flag?

[2022-03-03 16:24] rustatian commented on #1034
You are welcome. But RRv2 doesn't support such notation like: `${}`. If you use configuration with that notation, you should have a look at this approach: https://github.com/spiral/roadrunner-docs/blob/master/php/environment.md#using-environment-variables-in-the-configuration

[2022-03-03 16:26] rustatian commented on #1034
No, env variables don't require the `-o` flag. However, you may use it, but this is not required.

[2022-03-03 16:59] tony-sol commented on #1034
Maybe, i'm wrong, but it seems to me kind a bad practice 😞
For example:

i have 2 separate configs: `dev.yml` and `prod.yml` and docker development environment, included via git submodule.

in `prod.yml` i have ansible-value encrypted REDIS_DNS, DATABASE_URL, etc. - those variables also defined in docker .env for local development

So it looks more clear for others to have identical keys dev and p

[2022-03-03 17:48] rustatian commented on #1034
That's not a bad practice 😃 That's how to set the env variables. If you wanted to have that as a feature request, please, describe your case, create a new ticket (because that's not a bug) and we will plan it for the next sprints 😃

[2022-03-04 07:49] rustatian commented on #1034
@Tony-Sol I'll close this ticket (since that's not a bug). Feel free to create a feature request if you need to have that as a new feature. Thanks.

[2022-03-04 07:49] #1034 closed, assigned to rustatian

[2022-03-05 00:31] tony-sol opened #1035 "[💡 FEATURE REQUEST]: Substitute system env variables in *.env section in config"
### Plugin

Server

### I have an idea!

### Substitute system env variables in processing *.env section in config file
Like:
 - server.env
 - server.on_init.env

### When it may be useful:

For example, app has 2 config files depend of env - dev or prod and for better maintainability, assume that both files has exactly the same structure.

Also, dev environment is provided by docker-compose with

[2022-03-05 09:17] rustatian commented on #1035
Hey, @Tony-Sol 👋🏻 Yeah, we can use the `ExpandEnv` method since the call to that method is idempotent. I'll include this in the `v2.9.0`, thanks 👍🏻

[2022-03-08 03:26] jeremy-smith-maco opened #1043 "[🐛 BUG]: Workers command fails if RPC port is not 6001 and using RR_RPC environment variable"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

We are running roadrunner workers using Laravel Octane. We are running the `rpc.listen` setting on port 6002. We are able to run the `rr workers` command just fine and returns the correct results. If we then add the `RR_RPC` environment variable it tries to dial po

[2022-03-08 07:17] rustatian commented on #1043
Hey @jeremy-smith-maco, nice to meet you 👋🏻
So, basically, you should not define the `RR_RPC` env variable by yourself, that is not allowed. RR will set it according to the `-o` flags or configuration.

[2022-03-09 00:50] jeremy-smith-maco commented on #1043
We are going to switch over to using the RPC from within the worker to get the work status but I don't think that having the `RR_RPC` variable set should break `rr workers` command. I agree I shouldn't be setting it myself which we don't. It's only a problem if we try and call `rr workers` from inside our workers. I still think it should be looked at.

I've tried looking through the code but I can

[2022-03-09 03:28] jeremy-smith-maco commented on #1043
Okay, after some more digging we found out that the currently released version of the RPC client uses the config class which uses the RR_RPC and overwrites config variables which is causing it to be invalid and use the default RPC port.
The current master version updates the RPC client to load into Viper directly without auto setting variables from the environment.
So it's already been fixed lol.

[2022-03-09 03:28] #1043 closed, assigned to rustatian

[2022-03-10 08:18] OO00O0O opened #1045 "[💡 FEATURE REQUEST]: RPC documentation"
### Plugin

Server

### I have an idea!

Would be nice to have documentation for RPC methods and arguments.

Lowest expectation for this would be, having an explanation how to read Go code to understand what methods could be called, and with what arguments.

[2022-03-11 14:36] rustatian commented on #1045
Thanks for the FR @OO00O0O, that's a good idea.

[2022-03-11 17:10] iKevinShah commented on #887
Hey @rustatian ,

Makes sense :)

Thank you for updating.

[2022-03-11 22:27] #1009 closed, assigned to rustatian

[2022-03-11 22:27] #1033 closed, assigned to rustatian

[2022-03-12 09:49] butschster commented on #1009
Thank you! You are the best!

[2022-03-12 09:51] butschster commented on #1009
@rustatian could you provide information about actual RPC methods?

[2022-03-12 09:56] rustatian commented on #1009
Sure, will be in the release notes 😃

[2022-03-12 11:17] #1035 closed, assigned to rustatian

[2022-03-12 13:43] sergey-telpuk opened #1050 "[🐛 BUG]: configuration version can't be greater that RR version"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?
See error after updating RR from 2.7.1 to 2.8.2 my config bellow
[code]

### Version

2.8.2

### Relevant log output

[code]

[2022-03-12 15:38] rustatian commented on #1050
Hey @sergey-telpuk.
Everything is fine with the `v2.8.2`. I made the following steps:
1. Download `v2.8.2` from the releases page
2. Used your configuration:
[code]

Output:
![image](https://user-images.githubusercontent.com/8040338/158024591-4fce3733-d3f9-472b-893d-a740b1a917cd.png)

[2022-03-12 15:38] #1050 closed, assigned to rustatian

[2022-03-12 16:07] sergey-telpuk commented on #1050
@rustatian I built on my own, 2.7.1 works properly but now it dosent

[2022-03-12 16:13] rustatian commented on #1050
We don't support your own build 😃

As for the advice I can give to you: pass the proper version to the configuration plugin. Current version: `2.8.0`. Configuration plugin checks the RR version and configuration version.

[2022-03-12 16:26] sergey-telpuk commented on #1050
I used the https://github.com/roadrunner-server/roadrunner/blob/v2.8.2/internal/container/plugins.go and built with the
[code]
as I mentioned it works in 2.7.1. Anyway the errors look strange, not enough information. I dont see the current version and what RR compares

[2022-03-12 16:31] rustatian commented on #1050
As I mentioned, everything is fine for the `v2.8.2`. Smt wrong with your build script. We don't support the third-party builds.

[2022-03-12 16:31] rustatian commented on #1050
`./rr --version`

[2022-03-12 16:32] rustatian commented on #1050
You can also try the current master branch.

[2022-03-12 16:33] sergey-telpuk commented on #1050
It's not the third party built. It's an integration, a custom plugin into RR. Does RR support it now?

[2022-03-12 16:34] rustatian commented on #1050
Have you used `velox` ?

[2022-03-12 16:35] sergey-telpuk commented on #1050
Does velox support private Bitbucket? and how do you resolve HTTP API limit for gihub or other services? Anyway It dosent touch the issue above. I want to see the good reason why it can be built properly.

[2022-03-12 16:38] rustatian commented on #1050
No. And if you used the private Bitbucket, have you tried to create a ticket to request support ?

I kindly proposed you how to resolve the problem. Carefully inspect your build (since it works with the oficial build).

Use the GitHub token in the velox config.

[2022-03-12 16:40] sergey-telpuk commented on #1050
You suggest to use velox,  but It's not ready for using :)

[2022-03-12 16:42] rustatian commented on #1050
It works fine for people who use GitHub. But you didn't even request Bitbucket support.

[2022-03-12 16:44] rustatian commented on #1050
To summarize:
1. We don't support the third-party builds
2. To use RR with your custom plugin, try the `master` branch or request support for the BitBucket.
3. Carefully inspect your build, check the RR version and version passed to the configuration plugin.

EDIT: If you want to discuss the issue -> please use Discord.

[2022-03-14 07:47] OO00O0O opened #1052 "[💡 FEATURE REQUEST]: `workers -i` new columns/data and/or `-e --extended` mode"
### Plugin

Server

### I have an idea!

This would really help debugging requests that hit pool limits.
This could be extended information mode.

[code]

[2022-03-14 08:58] OO00O0O opened #1053 "[💡 FEATURE REQUEST]: `workers -i` services has no information about amount of them running"
### Plugin

_No response_

### I have an idea!

Now `workers -i` show `services` but it's missing column of how many of that service instances are running. It's hard to know if I have to multiply memory by amount of instances or not.

MVP would be NUM INSTANCES column or one instance per line.

Maybe current state of service too: waiting(`remain_after_exit: true`), running, stoping(`exec_timeout`)

[2022-03-14 09:47] OO00O0O commented on #1052
This is implemented in Prometheus. RR soon will have(rumors) it's own dashboard too.

[2022-03-14 09:47] #1052 closed, assigned to rustatian

[2022-03-14 13:49] OO00O0O opened #1054 "[💡 FEATURE REQUEST]: WorkersPool supervisor config separation for workers/jobs or etc."
### Plugin

HTTP

### I have an idea!

It's very easy to misuse/misunderstand this config value, because it's only one for job. Everything else is for workers.

Example:
[code]

Long term proposal:
[code]

MVP would be renaming `exec_ttl` to `job_exec_ttl`

[2022-03-14 14:54] andrei-dascalu opened #1055 "[🐛 BUG]: No longer able to set environment variables for service"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Service configuration:

[code]

in 2.8.2, the php script running could access the value of MY_VAR
in 2.8.3, the value of MY_VAR is always seen as empty

### Version

2.8.3

### Relevant log output

_No response_

[2022-03-15 12:32] #1055 closed, assigned to rustatian

[2022-03-15 12:34] rustatian commented on #1055
Hey @andrei-dascalu, fixed ⚡  Fix will be released in the `v2.8.4`

[2022-03-17 09:22] rustatian commented on #1053
Hey @OO00O0O. Yeah, agree. Will be added in `2.10`. Thanks for the FR 👍🏻

[2022-03-17 11:12] #1054 closed, assigned to rustatian

[2022-03-17 12:25] OO00O0O opened #1060 "[🧹 CHORE]: Trim spaces and new lines from cli output"
### No duplicates 🥲.

- [X] I have searched for a similar issue.

### What should be improved or cleaned up?

Would be nice to have nicer output, like first lines. Maybe RR could trim line ends from whitespaces like `\t \n` etc.

<img width="1111" alt="image" src="https://user-images.githubusercontent.com/766148/158807714-daeea958-7769-4d4e-85a8-ecd92d1338b2.png">

[2022-03-23 01:07] steffendietz opened #1064 "[🐛 BUG]: Websocket access validator requests don't send cookies"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Before accepting a Websocket connection, the received request is mapped to a `PSR-7` request object and sent to PHP for access validation.

It seems, that during the translation to `PSR-7` critical information like Cookies are lost. This in turn prevents use of `Au

[2022-03-23 07:00] rustatian commented on #1064
Hey @steffendietz 👋🏻 , thanks for the report. Could you please provide some samples to reproduce that?

[2022-03-23 11:06] rustatian opened #1066 "[🐛 BUG]: Incorrect pointer assign to read the configuration"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

[code]
should be
[code]

### Version

2.8.3, 2.8.4

### Relevant log output

[code]

[2022-03-23 11:48] steffendietz commented on #1064
Hi. So I have set up a reproduction project here: https://github.com/steffendietz/ws_reproduction

From the `README.md`. I hope you can track down the bug with this.

## Reproduce

### HTTP Request

From the host run

[code]

Observe output in the container console

[code]

### WS Request

From the host run

[code]

Observe output in the container console

[code]

[2022-03-23 11:48] #1066 closed, assigned to rustatian

[2022-03-23 12:03] rustatian commented on #1064
@steffendietz Got it, thank you 👍🏻

[2022-03-23 12:05] rustatian commented on #1064
I'll dig into it today, so if it is something easy to fix, it'll be released tomorrow in the `v2.8.6`.

[2022-03-23 12:09] steffendietz commented on #1064
Sounds great. I suspect it has something to do with the difference how the go http requests are mapped to the PSR-7 struct.

Maybe it would make sense to DRY this up regardless and extract the `Request` struct defined [here](https://github.com/roadrunner-server/websockets/blob/e4a8f6be0be879aa2c07f994e741667e8e00aaeb/validator/access_validator.go#L28) and [here](https://github.com/roadrunner-serve

[2022-03-23 12:12] rustatian commented on #1064
Yeah, this structure will be moved to the `roadrunner-server/api`. Now I have a chance to do that 😃

[2022-03-23 20:22] rustatian commented on #1064
@steffendietz Found the problem. I forgot to add them to the request, which will be an easy fix. I'll release a bugfix version tomorrow.

[2022-03-24 09:00] #1064 closed, assigned to rustatian

[2022-03-24 13:37] rustatian commented on #1064
@steffendietz https://github.com/roadrunner-server/roadrunner/releases/tag/v2.8.6

[2022-03-24 14:21] steffendietz commented on #1064
Thanks a lot! I will test as soon as the release assets are generated. 👍

[2022-03-24 14:41] rustatian commented on #1064
I guess, it'll be 2.8.7, because linters failed in 2.8.6 which leads to failure in build generation.

[2022-03-24 16:07] rustatian commented on #1064
@steffendietz https://github.com/roadrunner-server/roadrunner/releases/tag/v2.8.7

[2022-03-28 09:09] OO00O0O opened #1077 "[💡 FEATURE REQUEST]: .env file path configuration in .rr.yaml"
### No duplicates 🥲.

- [X] I have searched for a similar issue.

### What should be improved or cleaned up?

By default - none.

.rr.yaml example
[code]

[2022-03-28 09:20] rustatian commented on #1077
Hey @OO00O0O 👋🏻 I guess it's more like a feature request 😃 Thank you for the proposal. Let's wait for more feedback because we already have a flag to load `.env` files.

[2022-03-28 15:26] rustatian commented on #1027
repo for the middleware: https://github.com/roadrunner-server/otel

[2022-03-29 23:01] steffendietz commented on #1064
@rustatian Sorry, I didn't come around with feedback earlier, but everything works as expected now. Thanks for your 🚀 support.

[2022-03-30 01:34] brettmc commented on #1027
Hello, I'm a maintainer of [opentelemetry-php](https://github.com/open-telemetry/opentelemetry-php). I love the idea of having otel support in roadrunner.
I'd be happy to help/test/collaborate to try to ensure that code instrumented with the php library plays nicely with RR's implementation. Also as an FYI, there is a PSR proposal being worked on for tracing (I'm assuming we're talking about open

[2022-03-30 06:37] rustatian commented on #1027
Hey @brettmc, nice to meet you 👋🏻 . That's great, thank you very much 👍🏻 I plan to start working on that plugin somewhere at the end of April (Go part). That would be nice if you could review the otel PHP part or test the beta version of the RR; when it is ready ⚡

[2022-04-06 21:19] steffendietz opened #1080 "[💡 FEATURE REQUEST]: auto-reload for the `service` plugin"
### Plugin

Service

### I have an idea!

It would be very convenient if the `reload` plugin would support restarting services defined using the `service` plugin.

A challenge is certainly to decide how services which should be reloaded are targeted. Reload all services vs. targeting specific service by name.

[code]

This was also [discussed](https://discord.com/channels/538114875570913290/538114

[2022-04-06 21:25] rustatian commented on #1080
Hey @steffendietz 👋🏻 . Thanks for contributing 👍🏻 . I'll put this feature for the `2.10`, since the merge window for the `2.9` is closed. After an internal discussion, I'll return to you to discuss the final details.

[2022-04-07 18:46] rustatian commented on #904
Done: https://github.com/roadrunner-server/roadrunner/tree/master/grafana

[2022-04-07 18:46] #904 closed, assigned to nobody

[2022-04-08 08:04] lanphan opened #1082 "[💡 FEATURE REQUEST]: Metric about the number of failed jobs due to job timeout"
### Plugin

JOBS

### I have an idea!

version 2.9 offers metric "Failed job" which help us to know the total number of failed jobs,  it's great.
I'd like to add my 2cent to improve it more: we can categorize 2 types of "failed" here:
1. failed due to logic, app or system
2. failed due to resource shortage (configure number of jobs + max timeout, 1 failed I can think in this type is failed jobs du

[2022-04-14 11:52] rustatian commented on #1080
Hey @steffendietz 👋🏻 The `reload` plugin will restart all processes inside the service plugin. We don't have the ability to pass a particular service process name to the reloader to restart a particular process (service).

[2022-04-14 11:53] #1080 closed, assigned to rustatian

[2022-04-14 12:52] rustatian commented on #1053
Hey @OO00O0O 👋🏻 . RR will show all the processes. There was a bug that prevented showing info about all processes. You'll see every process with its resources, memory, PID, etc.

That feature closes by: https://github.com/roadrunner-server/service/pull/12

[2022-04-14 12:52] #1053 closed, assigned to rustatian

[2022-04-15 21:40] tntrex opened #1088 "[💡 FEATURE REQUEST]: Add commands to pause/resume job pipelines"
### Plugin

JOBS

### I have an idea!

[Documentation describes](https://roadrunner.dev/docs/beep-beep-jobs#advanced-functionality-pausing-a-queue) how to pause/resume jobs pipelines using RPC calls from PHP. It would be nice if the `rr` binary itself had cli commands for this.

[2022-04-15 22:27] tntrex opened #1089 "[💡 FEATURE REQUEST]: handle failed jobs when worker haven't responded"
### Plugin

JOBS

### I have an idea!

Currently, when PHP worker process exits without responding back to RoadRunner (for example, a PHP fatal error occurred or the process got `kill -9`ed), RoadRunner will send job to the next worker over and over again.

Some logs to demonstrate case when PHP process fails with fatal error:

[code]

It will be great if we can configure how RoadRunner should han

[2022-04-19 18:08] rustatian opened #1092 "[💡 FEATURE REQUEST]: Use `buf` to describe the proto api"
### Plugin

_No response_

### I have an idea!

Use [buf](https://docs.buf.build/introduction) to create an API scheme.

[2022-04-25 23:24] rustatian commented on #1027
Update: In the initial implementation, RR via `rr-otel` HTTP middleware will support the following exporters:
1. All who support the OTLP protocol (datadog, new_relic, etc).
2. `stdout` exporter.
3. [Zipkin](https://zipkin.io)

I have plans to add support for the OTLP protocol also to the `gRPC` and `jobs` plugins (likely in the v2.11)

Draft configuration:

[code]

![image](https://user-images.gi

[2022-04-26 13:48] rustatian commented on #1060
Done: https://github.com/roadrunner-server/service/commit/83bce5ff6bf5cfbfd81c8c62b5d0962c6f82685f

[2022-04-26 13:48] #1060 closed, assigned to rustatian

[2022-04-27 08:48] rauanmayemir opened #1101 "[🐛 BUG]: Grpc plugin crashes the server"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

My rr grpc plugin config is:
[code]

RR server is failing to start with:
[code]

The path `proto/server.proto` is relative to the server root (as well as CWD).

It also fails with `/absolute/path/to/proto/server.proto`:
[code]

### Version

2.9.1

### Relevant log

[2022-04-27 15:54] tntrex opened #1103 "[🐛 BUG]: Jobs plugin stops consuming tasks from RabbitMQ after reaching consumer_timeout"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

I got some kind of task that could run for a long time. I haven't know before that RabbitMQ has `consumer_timeout` option which is 30 minutes by default. And it seems that connection from RoadRunner to RabbitMQ breaks after reaching this timeout while processing th

[2022-04-28 10:13] #1101 closed, assigned to rustatian

[2022-04-29 12:23] gam6itko opened #1107 "[🧹 CHORE]: HTTP. Wrong response status code exception. Better looking error message"
### No duplicates 🥲.

- [x] I have searched for a similar issue.

### What should be improved or cleaned up?

If I return incorrect HTTP status code in response from php worker when I get message like this:

This message is very scary for php developer. I propose to make the message clearer and without stacktrace.

[2022-04-29 12:31] #1103 closed, assigned to rustatian

[2022-04-29 12:33] rustatian commented on #1107
done by: https://github.com/roadrunner-server/http/commit/14dc4130d13310bf38f3ee06db7b9a0e8846f5e4

[2022-04-29 12:33] #1107 closed, assigned to rustatian

[2022-04-29 17:50] maximal opened #1108 "[🐛 BUG]: `reset` command gets stuck when using output redirection"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Hi there!

I’m trying to use `rr reset` in my GitLab CI/CD workflow to restart application workers but it gets stuck every time.
I tried to dig deeper and found out that `reset` command never ends when we use output redirection (which obviously used to get CI/CD pi

[2022-04-29 18:13] rustatian commented on #1108
Hey @maximal, nice to meet you 👋🏻. Thanks for the report. This is a known issue with the progress-bar writer library we use. It hangs on the first write to the stderr/stdout.
So, it'll not grow, you'll see only the first write: `Res...`. I can guess, that the file growth is a pipeline issue.

[2022-04-29 18:20] maximal commented on #1108
@rustatian, it grows. As I understand, the library constantly writing `\rRes...` to the output. Thus the file size will increase.
Anyway, the process should end regardless of the output options/pipes/etc I guess.

Any methods to disable the output for `reset` completely (or just the “progress” thing)?

[2022-04-29 18:28] rustatian commented on #1108
It hangs on the first write.
![image](https://user-images.githubusercontent.com/8040338/166001670-b5d00a50-4aee-42b8-8e50-4ee5ce9a2b0c.png)

But if you write to some shared file or write in a loop, it'll undoubtedly grow. I mean, write-per-run.

We have a `--silent` flag, but it applies only to the startup message. Now we have a reason to extend the relevant field for that flag.
I'll put it in the

[2022-04-29 19:18] maximal commented on #1108
Yeah, I tried that `--silent` flag, but it won’t help.

As for growing. In the terminal you only see the `Res…` message because that progress library sends `\r` character in every iteration (maybe along with some other control characters like terminal color setting or similar ones), which returns the caret to the beginning of the line.
If you could watch the file size in bytes it’ll grow during th

[2022-04-29 20:00] rustatian commented on #1108
My pleasure.

I checked with `du -sh` and you're right. The file is growing. The bizarre behavior of that library. I'll consider replacing it with stdlib. Thanks for pointing that out 👍🏻

[2022-04-29 20:06] maximal commented on #1108
You’re welcome!

[2022-04-29 20:43] #1108 closed, assigned to rustatian

[2022-04-30 15:37] rustatian commented on #1092
done: https://buf.build/roadrunner-server/api/docs

[2022-04-30 15:37] #1092 closed, assigned to rustatian

[2022-04-30 19:28] rustatian commented on #1089
Hey @hustlahusky. In the `v2.10` will be a new `Job` option: `auto_ack`. You'd be able to ack such jobs after RR get it from the driver but before the actual worker processing starts.

[2022-05-03 01:53] brettmc commented on #1027
If I were to instrument PHP code using opentelemetry-php, how would I get access to the parent trace id (probably the `http` span in the image above) from RR? I think that's critical to enable the [distributed trace part of the otel spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/overview.md#tracing-signal).
Also, either RR or opentelemetry-php (or userl

[2022-05-03 09:25] rustatian commented on #1027
In the next alpha/beta release you'll be able to get the spans from the `OTLP` http request [field](https://github.com/roadrunner-server/http/blob/master/handler/request.go#L60). At the moment, it exists only on the RR side, but the idea is to use `opentelemetry-php` to extend these spans inside the PHP code.
OTLP structure field looks like [this](https://github.com/open-telemetry/opentelemetry-sp

[2022-05-04 00:52] brettmc commented on #1027
That sounds like what otel calls "trace context propagation" - the data an otel trace implementation passes along that is understood by all other implementations. e.g PHP's implementation of the feature is https://github.com/open-telemetry/opentelemetry-php/blob/main/src/API/Trace/Propagation/TraceContextPropagator.php - note that it's agnostic as to where the info comes from, provided the keys ma

[2022-05-04 11:47] rustatian commented on #1027
This is a little bit different. I meat OTEL structure field, from the Go's POV this is `SpanContext` in the [docs](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/overview.md#spancontext). They are similar from the information POV, but has a different structure.

Yeah, you're right. We use propagators as well: https://github.com/roadrunner-server/otel/blob/mas

[2022-05-04 16:37] fwolfsjaeger opened #1111 "[💡 FEATURE REQUEST]: mTLS authentication"
### Plugin

HTTP

### I have an idea!

mTLS authentication is available for NGINX or Apache, it would be a nice addition to RoadRunner.
- NGINX: https://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_verify_client
- Apache: https://httpd.apache.org/docs/current/mod/mod_ssl.html#sslverifyclient

Configuration could be similar to the gRPC plugin: grpc.tls.client_auth_type

[2022-05-04 16:39] rustatian commented on #1111
Hey @fwolfsjaeger, nice to meet you. Yeah, recently, we discussed that feature. It would be nice to have it. I'll plan for the versions `2.11` or `2.12` approx (1-2 months).

[2022-05-04 16:43] fwolfsjaeger commented on #1111
That is good news, thank you!

Let me know if I can help in any way.

[2022-05-04 16:49] rustatian commented on #1111
Sure, thank you 🤝

[2022-05-05 05:15] rauanmayemir commented on #1111
I wonder if it's possible to do termination on the dispatcher part, or make it somewhat compliance-friendly, i.e pass-through mTLS requests to the gRPC server so that termination happens there.

[2022-05-05 11:15] rustatian commented on #1111
@rauanmayemir The dispatcher part? I'm not sure that I understand you correctly.

[2022-05-06 14:35] rustatian opened #1114 "[💡 FEATURE REQUEST]: Byu-byu JSON 👋🏻"
### I have an idea!

Eliminate ALL internal communication via json and move it to [Protobuf](https://buf.build/roadrunner-server/api). Todo [WIP]:

- [ ] HTTP Plugin
   - [ ] Request
   - [ ] Response
- [ ] JOBS drivers (Item's context)
- [ ] ?

[2022-05-06 14:47] Colomix commented on #979
Is very need, roadrunner does not allow integration through RabbitMQ's queues, because jobs require rr_id and rr_job in message's header. Not the fact that another system uses roadrunner jobs for publishing

[2022-05-06 14:51] rustatian commented on #979
Ok, it'll be planned for the `2.11` version. Thanks for the feedback.

[2022-05-06 15:44] Opekunov opened #1115 "[🐛 BUG]: v2.9.3 — request max body size is exceeded"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Uploaded file - 16kb
rr.yaml settings —  max_request_size: 256

Http response:
`http_handler_max_size: request body max size is exceeded`

Docker log:
`2022-05-06T15:33:27.102Z ERROR http         request max body size is exceeded {"allowed_size (MB)": 256, "actual_

[2022-05-06 15:54] #1115 closed, assigned to rustatian

[2022-05-07 17:10] rustatian commented on #1027
Ok, guys, this is the almost final configuration version:
[code]

The `v2.10.0-beta.1` will be available early next week.
All the tracing data as we agreed (w3c) will be in the request headers and can be accessed w/o any modifications on the PHP worker's side.

I'll also provide a docker-compose.yaml with preconfigured zipkin endpoint. So, to test, you'll need to exec `docker compose up` and start

[2022-05-09 22:07] rustatian opened #1120 "[💡 FEATURE REQUEST]: RR as a Caddy module"
### Plugin

_No response_

### I have an idea!

Implement a RR as a Caddy module.

Draft notes:
Implement a `RoundTripper` to have a RR as a Caddy transport (http). Since this is good for the HTTP, other plugins, such as [rr-temporal](https://github.com/temporalio/roadrunner-temporal) or those, that don't use an HTTP as a transport can't be easily integrated (for example, the whole queues bundle (

[2022-05-09 22:28] mholt commented on #1120
Following. Let me know if you have any questions!

[2022-05-09 22:36] rustatian commented on #1089
Hey @hustlahusky. This will be covered by docs, since the `v2.10` you'll be able to use the `auto_ack` job option to ACK the job right after RR receives it from the queue (similar to rabbitmq auto_ack).

[2022-05-09 22:36] #1089 closed, assigned to rustatian

[2022-05-10 12:09] rustatian commented on #1082
Hey @lanphan 👋🏻. After a brief internal discussion, we decided to postpone this ticket. The reason is: that the information about the particular reason can be found in the logs. I guess, would be better to send logs to a `loki` or directly to the graphana dashboard to see all the jobs failed reasons.

[2022-05-10 12:10] rustatian commented on #1082
Let's see for more feedback on that. Thanks for the contribution 👍🏻

[2022-05-10 13:17] rustatian commented on #940
Done in `v2.10`

[2022-05-10 13:17] #940 closed, assigned to rustatian

[2022-05-10 13:24] rustatian commented on #1027
@brettmc Here you are: https://github.com/roadrunner-server/roadrunner/releases/tag/v2.10.0-rc.2
With pre-release notes: https://github.com/roadrunner-server/roadrunner/releases/tag/v2.10.0-rc.1

[2022-05-10 19:18] #907 closed, assigned to nobody

[2022-05-11 04:55] brettmc commented on #1027
Hi @rustatian - it integrates well with opentelemetry-php!
![Screenshot from 2022-05-11 14-17-15](https://user-images.githubusercontent.com/4978962/167768223-e074730e-8b7b-4bb0-99bb-b163ca54e74f.png)

My only observation is that the incoming trace parent is the "gzip" span, but I would have thought the "http" one would make more sense (ie, in the above screenshot, both "rr/http" and "php/root" hav

[2022-05-11 06:37] rustatian commented on #1027
Hey @brettmc 👋🏻. Thank you very much for your help. I'll investigate the issue with the wrong parent span.

[2022-05-11 09:45] rustatian commented on #1027
@brettmc Found the issue, fixed:

![image](https://user-images.githubusercontent.com/8040338/167820692-77effecc-e7f9-4624-b06a-dbe242e552cd.png)

Now everything looks pretty 😄

[2022-05-11 10:43] rustatian commented on #1027
One note on how-to-use env variables:
Option1 (`.rr.yaml`):

[code]
Option2: (via docker-compose):

[code]

Both are valid.

[2022-05-11 11:32] rustatian commented on #1027
@brettmc You can try `v2.10.0-rc.3`: https://github.com/roadrunner-server/roadrunner/releases/tag/v2.10.0-rc.3

[2022-05-11 12:40] brettmc commented on #1027
@rustatian - rc3 works perfectly in my testing. Thankyou so much!

[2022-05-11 12:43] rustatian commented on #1027
Thank you, @brettmc; I really appreciate everything you've done 🤝

[2022-05-11 13:00] ykweb opened #1127 "[💡 FEATURE REQUEST]: Increase error message length"
### Plugin

Logger

### I have an idea!

Encountered an error creating php worker
But the length of the message does not allow us to understand what the error is.
`{"level":"ERROR","ts":"2022-05-11T15:38:15.012+0300","logger":"jobs        ","msg":"job execute failed","error":"goridge_frame_receive: CRC verification failed, bad header: TypeError {#209\n"}`

The full message looked like this:
`TypeE

[2022-05-11 22:01] rustatian commented on #1127
Hey @ykweb 👋🏻 . Thanks for the contribution. I'll try to find a way to show an entire error message during the worker boot-up.

[2022-05-11 22:03] rustatian commented on #1127
Source: https://github.com/roadrunner-server/goridge/blob/master/internal/receive.go#L53

[2022-05-11 22:24] Smolevich opened #1128 "[💡 FEATURE REQUEST]: Kafka driver"
### Plugin

JOBS

### I have an idea!

I have an idea, listen to me!!
I propose to add support kafka driver in jobs like as [amqp](https://roadrunner.dev/docs/beep-beep-jobs#configuration-amqp-driver) driver
**Reason:**
Event-driven architecture based on events in different topics in kafka often requires many consumers with some logic of processing events in topics

[2022-05-12 08:02] Grokon opened #1130 "[🐛 BUG]: Service - EPIPE (Broken pipe)"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

I create simple service and log output  is broken ( empty). Strace a php process is showing error: `-1 EPIPE (Broken pipe)`. It's happened  after upgrade rr from 2.9.1 to 2.9.2~2.10.0.rc3
rr.yaml:
[code]
qq.php:
[code]

### Version

roadrunner version >= 2.9.2
I'll

[2022-05-12 08:52] rustatian commented on #1130
@Grokon Hey 👋🏻. Thanks for the report. Could you please also include your configuration (`.rr.yaml`) and describe the way of creating services (via RPC or in the config)?

[2022-05-12 08:56] rustatian commented on #1130
@Grokon Nevermind, missed from the description 😆

[2022-05-12 09:31] rustatian commented on #1130
@Grokon ok, I was able to reproduce the problem. Fix will be in the `v2.10.0`.

[2022-05-12 10:02] #1130 closed, assigned to rustatian

[2022-05-12 10:14] rustatian commented on #1128
Hey @Smolevich, thanks for contributing. Planned for the `v2.12.0`

EDIT: `v2.11.0`

[2022-05-13 04:49] brettmc commented on #1027
@rustatian - I think I have found one more issue. The RR otel plugin seems to disregard an incoming `traceparent` header and always generates a new trace, with no parent. In order for traces in a distributed system to be correctly related, the trace id and parent id should be extracted from the traceparent header, if available (and valid). See https://www.w3.org/TR/trace-context/#trace-id

[2022-05-13 07:49] rustatian commented on #1027
@brettmc hmm.. yeah, good catch. I guess this is my issue: https://github.com/roadrunner-server/otel/blob/master/middleware.go#L28

[2022-05-13 08:25] Colomix commented on #979
It would also be useful to give the opportunity to make several connections for jobs. For example, RabbitMQ's vhost for internal bus and vhost for reading external data without headers in messages.

[2022-05-13 08:31] rustatian commented on #979
@Colomix You may start a second RR instance to have a second connection.

[2022-05-13 09:03] rustatian commented on #1027
@brettmc Could you please try: https://github.com/roadrunner-server/roadrunner/releases/tag/v2.10.0-rc.6

[2022-05-13 12:26] brettmc commented on #1027
@rustatian Fantastic, rc6 works as expected for distributed traces!

[2022-05-13 12:32] rustatian commented on #1027
Great, thank you ⚡

[2022-05-16 23:30] inmanturbo opened #1133 "[🐛 BUG]: Can not open the archive "roadrunner-2.10.0-linux-amd64.deb""
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

No matcher for deb archive? On ubuntu `vendor/spiral/roadrunner-cli/src/GetBinaryCommand.php` atttemps to download and use .deb archive then throws the error shown below. RR was running just fine on this system the other day.

I was looking through the code a bit a

[2022-05-16 23:41] #1133 closed, assigned to rustatian

[2022-05-16 23:43] inmanturbo commented on #1133
This was missfiled. apologies

[2022-05-17 08:39] rustatian opened #1134 "[💡 FEATURE REQUEST]: Centrifugal plugin"
### Plugin

New Plugin

### I have an idea!

Integrate a centrifugal go client as a RR plugin.
ref: https://github.com/centrifugal/centrifuge

[2022-05-17 10:35] rustatian commented on #1002
Sorry for the delay. This issue might happen when some error occurs, and we won't properly close the `MultipartForm`.

[2022-05-17 10:59] rustatian commented on #979
The feature will be in `v2.10.1`. The name of this option will be `consume_all`. If set to true and if RR was unsuccessful in parsing the incoming payload (`RR_ID` is absent, etc). It'll create a `Job`, based only on the incoming headers and body.
The `Job` name and `pipeline` for this case will be `deduced_by_rr`.

[2022-05-17 11:10] rustatian commented on #979
Also, the message will be ack-ed/nack-ed as the usual message, and the message ID will be unique. Priority for such messages is constant and equal to 10 (since we can't deduce or get it from the user).

[2022-05-17 12:08] #1002 closed, assigned to rustatian

[2022-05-17 12:59] rustatian commented on #1002
![image](https://user-images.githubusercontent.com/8040338/168816291-15f6c601-3f22-4390-b33e-03783e721c6a.png)
tmp
![image](https://user-images.githubusercontent.com/8040338/168816381-b414833f-cd51-4020-80a5-945d1cd92681.png)
deleted
![image](https://user-images.githubusercontent.com/8040338/168816499-5f1367d8-313c-4f3e-a1a0-e4768f679bc8.png)

[2022-05-17 13:47] Meroje opened #1136 "[🐛 BUG]: unknown status code from worker"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

My APIs are making use of custom 4xx codes to signal specific conditions but the http plugin is now transforming those to 500s since https://github.com/roadrunner-server/http/commit/14dc4130d13310bf38f3ee06db7b9a0e8846f5e4. There doesn't seem to be a way to disable

[2022-05-17 13:54] rustatian commented on #1136
Hey @Meroje, nice to meet you 👋🏻. I'm curious. On the prev versions, should be an error in that case: https://github.com/roadrunner-server/roadrunner/issues/1107.

[2022-05-17 13:56] Meroje commented on #1136
Hi :) I'm not seeing any log when using a 4xx code (498 in the log I posted above), I guess the issue you linked was about going beyond 999 (or 599) ?

edit: the godoc indeed mentions this "The provided code must be a valid HTTP 1xx-5xx status code."

[2022-05-17 13:58] rustatian commented on #1136
Yeah, I checked this case. Agreed; I'll revert this change.

[2022-05-17 14:00] rustatian commented on #1136
I'll limit the status code to fit the documentation (<600).

---
The fix will be in `2.10.1`, scheduled on Thursday (19th of May).

[2022-05-17 14:02] Meroje commented on #1136
Sounds good to me thank you :)

[2022-05-17 14:02] rustatian commented on #1136
My pleasure 🤝 And sorry for the bad UX.

[2022-05-17 14:14] #1136 closed, assigned to rustatian

[2022-05-18 09:47] #980 closed, assigned to rustatian

[2022-05-18 12:07] rustatian commented on #979
`consume_all` option will be available for the `amqp`, `sqs`, `beanstalk`, and `nats` drivers.

[2022-05-18 12:17] #979 closed, assigned to rustatian

[2022-05-18 12:57] rustatian commented on #1111
@fwolfsjaeger Hey, the feature will be available in the `2.10.1` (release date: 19.05).

[2022-05-18 13:05] rustatian commented on #1111
config:
[code]

[2022-05-18 13:08] #1111 closed, assigned to rustatian

[2022-05-20 00:17] jwillp commented on #1133
@inmanturbo I am encountering the same issue since the new deploys today, how did you fix it?

[2022-05-20 00:20] inmanturbo commented on #1133
Upgrade the roadrunner cli to the latest release.

[2022-05-20 00:22] inmanturbo commented on #1133
@jwillp go here: https://github.com/spiral/roadrunner-cli/issues/31

[2022-05-20 00:25] jwillp commented on #1133
@inmanturbo Thank you, I will update my dependencies

[2022-05-25 11:02] #1127 closed, assigned to rustatian

[2022-05-30 08:31] Grokon opened #1157 "[🐛 BUG]: service not finished after php fatal error"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

If we have fatal error in PHP - roadrunner process is not finished.
In version < 2.10.r5 - it finished correctly.

rr.yaml:
[code]

rr.php:
[code]

### Version

roadrunner version >= 2.10.0.r5

### Relevant log output

[code]

[2022-05-30 10:21] #1157 closed, assigned to rustatian

[2022-05-30 10:55] s1lver opened #1159 "[🐛 BUG?]: TLS connection not working for PHP client using with gRPC plugin"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

A bug happened!

- Docker
- PHP 8.0.16
- gRPC 1.44.0

Continued discussion https://github.com/roadrunner-server/roadrunner/discussions/1102

I am trying to use TLS connection but I am getting an error:

I have created two containers. One is running a server applica

[2022-05-30 11:01] rustatian commented on #1159
Hey @s1lver 👋🏻. I guess you used the wrong `rooCA.pem` certificate. As you may see here: https://github.com/roadrunner-server/rr-e2e-tests/blob/master/.github/workflows/linux_on_push.yml#L1162
I use generated certificates on every run, and `mTLS` works fine (with `requeire_and_verify_client_certs` option). Unfortunately, I can't help you with the PHP worker in that case (I'm not a PHP dev), but he

[2022-05-30 11:07] rustatian commented on #1159
@s1lver You may also ask support in the `#rr-general` channel in our discord server about your problem. Also, it would be great if you provided a full worker and `proto` files to have the ability to reproduce your issue.

[2022-05-30 11:15] s1lver commented on #1159
I took the example https://github.com/spiral/roadrunner-grpc/tree/master/example/echo

[2022-05-30 11:27] rustatian commented on #1159
What about the `php ping.php`?

[2022-05-31 11:52] Baiquette opened #1162 "[💡 FEATURE REQUEST]: Create a "stop" command"
### Plugin

_No response_

### I have an idea!

Hey,
I have an idea!

**Introduction**
Roadrunner is able to reset the workers with `./rr reset` command but there is no command to "stop" the main process and the running workers.
It will be great to have a command like `./rr stop` to stop RR and the workers.

**Why ?**
In some case we need to start some custom services defined in the `.rr.yaml` fil

[2022-05-31 13:51] rustatian commented on #1162
docs: https://roadrunner.dev/docs/app-server-cli/2.x/en

[2022-05-31 14:01] #1162 closed, assigned to rustatian

[2022-06-02 11:05] rustatian commented on #1162
@Baiquette Done: https://github.com/roadrunner-server/roadrunner/releases/tag/v2.10.3

[2022-06-02 15:19] rustatian commented on #1159
@butschster We need to check this by creating a sample of the grpc TLS connection from the PHP. I tested this with the Go client, with `mkcert` certificates, and everything works fine.
mkcert: https://github.com/FiloSottile/mkcert

[2022-06-10 16:28] obrazkowv opened #1168 "[🐛 BUG]: RR [`v2.5.7`] doesn't construct new workers after call resetting command"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Sometimes i faced with issue when rr doesn't start workers after resetting

I use the command for reloading application after deploying new version
[code]
And this works fine. In logs of the roadrunner, i can find such logs.
[code]

But sometimes when i tried to re

[2022-06-10 16:29] rustatian commented on #1168
Hey @obrazkowv 👋🏻 . Could you please try the `2.10.4-rc.1` bugfix release?

[2022-06-10 16:30] rustatian commented on #1168
Also, `rr version 2.5.7` is unsupported. Please, upgrade to the most recent version: `v2.10.3`

[2022-06-10 19:34] obrazkowv commented on #1168
This issue is difficult to reproduce. It appears at different moment of time and i don't know what is the cause of this issue.
Can you help me figure out or decrease the range of possible problems? Is operation atomic? Can be this operation interrupted or once the line "HTTP plugin got restart request. Restarting"  was logged it must be successfully reloaded in any case ?

[2022-06-10 20:07] obrazkowv commented on #1168
I removed redirect stderr to /dev/null from resetting script and started to reset rr workers. After that i found, that sometimes i get different errors:
[code]

```PHP Fatal error:  Uncaught Spiral\Goridge\Exception\RelayException: Connection refused in /var/www/release/1654890903_e93bd70a-495c-4e8c-839f-e63c0bc12bad/..../vendor/spiral/goridge/src/SocketRelay.php```

[code]

[2022-06-10 20:30] keywan-ghadami-oxid commented on #1168
@obrazkowv was that after upgrade or still with the old version?

[2022-06-10 21:11] obrazkowv commented on #1168
I was still on same version, but few minutes ago i upgraded the version to "rr version 2.10.3 (build time: 2022-06-02T10:51:28+0000, go1.18.2)" and even after that i faced with issue.

P.S. i found, that i have different version between rr binary and php lib. The version of php lib was 2.0.0, that already outdated and besides this, it mismatched to the version of the rr binary. So i will try to re

[2022-06-10 21:25] obrazkowv commented on #1168
After upgrading to 2.10.3, unfortunately, nothing changed

[code]

That's what i am doing, maybe it can help:
I use for project symbolic link for releasing new deploys, so i extract project in some directory, usually it's unique hash (1654895170_2c910500-12dd-479a-9b04-df78feed7509) and after i change symbolic link to this directory and call reset api.

I will try to debug what is happening via st

[2022-06-10 21:44] obrazkowv commented on #1168
I started to call rr reset and at some moment it was stuck without any response. And any other command doesn't respond(rr workers). I have simple endpoint, that always answer with 200 code and i wrote the bash script, in which there is infinite loop that makes 10 calls simultaneously each iteration
[code]

This logs i found in syslog
[code]

And that what i found in rr logs

[code]

[2022-06-10 22:47] rustatian commented on #1168
@obrazkowv Could you please update to `v2.10.4-rc.1` ?

EDIT: `v2.10.4`

[2022-06-10 22:53] rustatian commented on #1168
RR won't re-read a new path when you update a symlink. You have to restart RR in that case.

What's the name of the lib?

[2022-06-11 16:35] obrazkowv commented on #1168
What do you mean when you said restart rr? Do you mean reset workers or i need to restart the application fully? If i need to restart the application by stopping the serving process, how can i avoid downtime during restarting the application?

I mean spiral/roadrunner lib, that use in the application(workers)

[2022-06-11 16:36] obrazkowv commented on #1168
No problem, i will try to test with new version today lately or tomorrow

[2022-06-11 17:33] rustatian commented on #1168
@obrazkowv

I'm not quite sure what are doing. You may explain your approach if you want.

It's not quite necessary to have the same version. IIRC there were no BCs between RR-PHP and RR server.

[2022-06-12 15:26] 7krasov opened #1171 "[🐛 BUG]: RR samples a large log message in STDERR on few chunks"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Hi everyone,
I'm reporting an issue discussed here https://github.com/roadrunner-server/roadrunner/discussions/1170
I would like to have a log message entire when I'm logging to STDERR stream (via PHP, Monolog, StreamHandler('php://stderr')) from the worker, but it

[2022-06-13 21:03] StreetYo opened #1172 "[🐛 BUG]: POST too large"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Hi everyone!
When I'm trying to send more than 8M POST data, I'm getting 500 error with message:

Use https://github.com/StreetYo/rr-post-error to reproduce the error.

1. rr.exe serve
2. php test.php

### Version

php: 8.1
rr.exe version 2.9.4

### Relevant log ou

[2022-06-13 21:36] obrazkowv commented on #1168
I faced with same behavior after upgrading to 2.10.4. I will try to reproduce this issue from scratch project, but i think that nothing will change because the answer from go is wrong as i think

For reproducing this issue, i start the app, and in another tab start simple bash script, that creates calls to the app(i think, that ab or wrk also will be good for this purpose) and finally, i do reset

[2022-06-13 21:54] obrazkowv commented on #1168
I was able to reproduce this with code from scratch

[code]

[2022-06-14 14:24] 7krasov-casafari commented on #1172
Hi,
I've got the same problem
I tried without `max_request_size`, with 0, and with 256 but was unable to pass 12M POST data (it takes 12M if put to the file, but I don't send it as a file)
PHP ini settings are available to accept such size:
[code]

A request is:
`curl -v -X POST http://0.0.0.0:8082/test -H "Content-Type: application/x-www-form-urlencoded"  -d @post.txt`

It is tested wit both  2.8

[2022-06-15 06:45] rauanmayemir opened #1179 "[💡 FEATURE REQUEST]: RPC response error code classification"
### Plugin

_No response_

### I have an idea!

I have an idea, listen to me!!

The latest direction of RR giving control of the server via RPC commands with protobuf messages is absolutely amazing. In the same spirit, it would be nice to have a way to distinguish response errors. E.g, consider Jobs pipeline creation:

[code]

If the pipeline already exists, `JobsInterface` will throw `JobsExcepti

[2022-06-15 19:33] obrazkowv commented on #1168
Also, i found, that you can skip sending requests and just create the loop of resetting commands.

So, i started the rr and started script
[code]

And script stuck on receiving the signal

[code]

[code]

[2022-06-15 20:28] rustatian commented on #1168
It's not possible to reset workers from workers.

[2022-06-15 20:31] rustatian commented on #1168
I mean, you should use the `./rr reset` command, but not the same command from the worker.

[2022-06-15 20:31] obrazkowv commented on #1168
what do you mean?
I did reset from another shell. In one shell i started rr process and from another, i did the loop in which sequentially do resetting of workers

[2022-06-15 20:33] rustatian commented on #1168
I started the same command on the server, which worked in the loop for eight days.

[2022-06-15 20:35] rustatian commented on #1168
So, first of all, lets clarify some things:
[code]
Doing reset from the PHP is not possible because this command wasn't designed to work with PHP.

[2022-06-15 20:37] obrazkowv commented on #1168
Can the power of server be related to the problem? I am testing this behavior on aws t3.medium. But I doubt this...

[2022-06-15 20:38] obrazkowv commented on #1168
I have already changed the command, i am using "rr reset" command near with rr.yaml file, so i don't call it through php, but it doesn't help

[2022-06-15 20:39] rustatian commented on #1168
Second, I tried to repro this issue with the following steps:
1. Started RR
2. Started work (1000 connections, 6 threads, 30s + 30s sleep in the loop)
3. At the same time, I started simple bash command: ` while true; ./rr reset -c .rr-sample-bench-http.yaml ;sleep 1 ; end`
It worked for the eight days, and I'm still won't able to get the issue you described 😞

[2022-06-15 20:41] rustatian commented on #1168
I don't think so. If the prev command is still in progress (resetting), the next will wait till the previous leave the mutex.

[2022-06-15 20:43] obrazkowv commented on #1168
i attached strace output of the process that is running right now, i have "rr reset" stuck command and "rr serve" command is doing something and consuming cpu.
[strace.log](https://github.com/roadrunner-server/roadrunner/files/8912939/strace.log)

[2022-06-15 20:45] rustatian commented on #1168
Did you attach `strace` to the `rr serve` process?

[2022-06-15 20:46] obrazkowv commented on #1168
yes

[2022-06-15 20:48] obrazkowv commented on #1168
![image](https://user-images.githubusercontent.com/107269769/173923909-2916e1fc-0f35-4b22-b3dc-d77470f57ae4.png)
I have such situation right now.
And as you see, the resetting command is still performing
![image](https://user-images.githubusercontent.com/107269769/173924019-8df2b885-78cc-426b-8eff-9c624e2dc1de.png)

[2022-06-15 20:50] rustatian commented on #1168
I dunno how that's possible. By some reason, you started a lot of the RR's. `rr reset` don't start a processes.

[2022-06-15 20:51] rustatian commented on #1168
You also started a lot of the `rr reset` processes. Why did you do that?

[2022-06-15 20:56] obrazkowv commented on #1168
I'm trying to reproduce the problem on my production server, so i did "stress test" of resetting the roadrunner. I didn't do it in parallel, and i assume, that it must work without any error regardless of number of sequential calls
I started only one-time "rr serve" and in my config i have 12 workers.

[2022-06-15 20:59] obrazkowv commented on #1168
I'm currently trying to read the rr code of http plugin and static_pool to understand how it works and what can go wrong
But i have never used GO, so it can take some time

[2022-06-15 21:01] rustatian commented on #1168
Could you please try to do that with 1 RR and 1 `rr reset` in the loop? This is not a stress test, this is the test of the `SO_REUSEPORT` I guess.

[2022-06-15 21:04] obrazkowv commented on #1168
Do you mean 1 worker in the config when you told 1 RR?
rr rest already 1 in the loop, it doesn't run in parallel, each iteration wait finish of prev iteration

[2022-06-15 21:05] rustatian commented on #1168
I tried to do the same, at least for the last 10m there are no issues
![image](https://user-images.githubusercontent.com/8040338/173929702-c465e512-95cf-47b1-ab4b-98cd9ef8821a.png)

[2022-06-15 21:05] rustatian commented on #1168
![image](https://user-images.githubusercontent.com/8040338/173929824-f7f3c5ea-3995-4a24-80b3-c1d4095ff183.png)

[2022-06-15 21:08] rustatian commented on #1168
I assume that there is smt wrong with your test cases. Keep in mind of `SO_REUSEPORT` used by the RR.

[2022-06-15 21:10] rustatian commented on #1168
I mean 1 RR process. You have dozen of them running in your `htop` screenshot. Some of them running under `root`, some under the `ubuntu` user. That's incorrect for sure.

[2022-06-15 21:11] obrazkowv commented on #1168
i'll try to find what can be cause of this issue, maybe it's related to the settings of the OS.
If you didn't face with the problem, so maybe i did something wrong. Thank you for hint with SO_REUSEPORT.
I started such test because sometimes i faced with problem on production, when call reset command, so i guess, that i can reproduce this problem in such way.

[2022-06-15 21:13] rustatian commented on #1168
As you may see here, there is no even 1 missed request:
![image](https://user-images.githubusercontent.com/8040338/173930846-c4cae763-cf66-4fcb-ba07-2982cb0d86ae.png)

(4 RR processed and 6 `rr reset` in a loop + wrk)

[2022-06-15 21:13] obrazkowv commented on #1168
You are wrong, i have only one main process. "rr reset" was called by ubuntu user
ps -aux | grep rr
ubuntu    6126  0.0  0.0  15872  1072 pts/5    R+   21:12   0:00 grep --color=auto rr
root     21640  136  0.9 741508 35880 pts/0    Sl+  19:58 100:34 rr serve
ubuntu   28408  0.0  0.6 740676 26544 pts/1    Sl+  19:59   0:00 rr reset

[2022-06-15 21:16] rustatian commented on #1168
You have a lot of the `rr serve` processes:
![image](https://user-images.githubusercontent.com/8040338/173931369-3fa7e3a1-e1f9-453e-aa83-b7ef51cd7e7d.png)

[2022-06-15 21:18] rustatian commented on #1168
Also, as I mentioned (in general, this is not the issue, but...) you are running an `rr serve` processes from the `root` and `rr reset` from the `ubuntu` user.

[2022-06-15 21:20] obrazkowv commented on #1168
![image](https://user-images.githubusercontent.com/107269769/173931744-ac6af963-067e-430f-9138-5c49cbfbe547.png)
I think that it can be threads or something anything.

[2022-06-15 21:20] rustatian commented on #1168
It might be a child PHP processes; however, I don't know.

[2022-06-15 21:27] rustatian commented on #1168
So, to summarize, I was trying to reproduce your case for eight days with a RR (with 30 workers, the latest PHP) and didn't see the result you showed.
I may only give you general advice:
1. Use the same user for the rr and rr reset.
2. Try a fresh ubuntu install.
3. Use the same worker as I used: https://github.com/roadrunner-server/rr-e2e-tests/blob/master/php_test_files/psr-worker-bench.php

[2022-06-15 21:38] obrazkowv commented on #1168
I already said that you can skip the step of sending requests. The reset command freezes when you do sequential reset. Try to remove the sleep after each call, idk

I did it on ubuntu 18.04, Is it enough fresh?

I already have similar code
[code]

And finally, i think, that different user doesn't matter to this issue, because i would be faced with this on first iteration.

Okey, i will try to find

[2022-06-15 22:53] obrazkowv commented on #1168
When i have changed relay from pipe to socket, after some time i got warning. I hope it can help...
rr serve
[INFO] RoadRunner server started; version: 2.10.4, buildtime: 2022-06-10T23:29:30+0000
[WARN]: socket server listen, error: pipes frame send: write unix rr.sock->@: write: broken pipe

[2022-06-15 22:58] rustatian commented on #1168
I tried different scenarios, but no freezes.

It is fine. This is not an error, that might happen when you're doing a lot of resets.

It's very old.

[2022-06-15 23:38] obrazkowv commented on #1168
I found the cause of issue, we are using OS signals in our php application, so each time, when i send the signal to the process, rr will freeze...

[code]

So, now you should be able to reproduce this problem and i hope it helps you

[2022-06-16 06:20] rustatian commented on #1168
If you send a SIGUSR2 syscall to the PHP app, this is not a problem. If you are using reset at the same time - this is a problem. You're not allowed to do that at the moment. This is not a bug, this is expected behavior.

[2022-06-16 06:26] rustatian commented on #1168
I don't understand, why you need to stop your worker and then stop all the workers at the same time with `rr reset`? If you want to stop a worker - just send a SIGUSR2 and RR will reallocate such worker automatically. If you want to restart all the workers, send to all of them SIGUSR2 OR use `rr reset`. Why use both these approaches at the same time?

[2022-06-16 07:01] obrazkowv commented on #1168
Why do you think, that i can use it only for signaling to stop? I use this signal to notify about something another process and i have used it in the application before i started to use roadrunner, so i didn't even assume that it can be the problem. I think, that you should add this point in the documentation because it can be unexpected behavior for someone like me because you can change of the r

[2022-06-16 07:29] rustatian commented on #1168
Because if you send a syscall and worker won't stop, this is not a problem for the `rr reset`. The only problem was when the process exited after this signal.
So, generally speaking, you're free to use syscalls, but these syscalls should not stop the worker at the same time you're calling `reset`.

We're always welcome to the PRs 😉

You may also create a `feature request` with a proper description

[2022-06-16 07:40] obrazkowv commented on #1168
I think that this cannot be resolved in roadrunner app(application written on go) because you don't know which sent the signal and how it must handle. Developer must care about this when he starts using this library, but he must be aware of this potential issue.
But you can add tips to the site documentation if you think that it matters.

[2022-06-16 08:00] rustatian commented on #1168
Sorry for repeating this, but again, you're free to use system calls until they won't stop the worker. The problem is not in the syscall (any of them), the problem is in the syscalls which **stop** the worker at the same time with the `rr reset`. RR doesn't need to listen to syscalls sent to a PHP process or from a PHP process.
For example, `kill -12 <PID>` will stop the worker at the moment.

[co

[2022-06-16 08:18] obrazkowv commented on #1168
The main problem is that you don't know can you use signals or not right now, i mean simultaneously. I know how to resolve the issue in my environment, but it can be not so obvious in another case. And i need to add a point, that i use the signal to notify that something changed, so i use the signal not for stopping. You can set up the reaction on the specific signal in php and the worker won't st

[2022-06-16 08:23] rustatian commented on #1168
My pleasure 🤝

[2022-06-16 08:23] #1168 closed, assigned to rustatian

[2022-06-16 08:29] rustatian opened #1180 "[🐛 BUG]: RR hangs on the `wait4` syscall when `rr reset` is using at the same time"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

RR uses `wait4` syscall to be notified for the PHP process exit. Suppose the user stops the worker for any purpose (syscall or just an internal issue) and is using an `rr reset` simultaneously. In that case, that will lead to deadlock in the `worker_watcher`, becau

[2022-06-16 08:30] rustatian commented on #1168
@obrazkowv This is the correct description of the problem: https://github.com/roadrunner-server/roadrunner/issues/1180.

[2022-06-17 08:21] rustatian commented on #1172
Hey 👋🏻 Thanks for the report, I'll try to reproduce the bug, and in case of success, I will fix it in the 2.10.5 (next bugfix release 23.06).

[2022-06-17 12:42] rustatian commented on #1172
Ok guys, this issue is confirmed. The current limit for the `x-www-form-urlencoded` is 10MB, and I will sync it with the `max_request_size` limit.

[2022-06-17 12:45] rustatian commented on #1172
Notes (@rustatian): Use the `MaxBytesReader` here: https://github.com/roadrunner-server/http/blob/master/handler/request.go#L94
[code]

[2022-06-17 12:46] rauanmayemir opened #1181 "[🐛 BUG]: Use amqp queue name as routing key by default"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

If one specifies a pipeline config like this:

[code]

Both queues will be bound to the `direct` exchange without routing key. This could lead to issues and even undesirable outcomes when pipelines process different kinds of messages.

I think amqp queue name shoul

[2022-06-17 18:56] rustatian commented on #1181
Hey @rauanmayemir 👋🏻
Thanks for the contribution. I will fix this behavior in the `2.10.5` (release cycle - 23.06).

[2022-06-21 13:44] rustatian commented on #1159
According to the discord discussion, seems that everything works fine.

[2022-06-21 13:44] #1159 closed, assigned to rustatian

[2022-06-22 11:11] #1181 closed, assigned to rustatian

[2022-06-22 22:54] #1172 closed, assigned to rustatian

[2022-06-23 08:55] rustatian commented on #1171
Hey @7krasov 👋🏻
The problem was not the sampling but the `stderr` buffer size. I've increased it to 64kb, which should be enough for the one log-send.

[2022-06-23 09:07] rustatian commented on #1171
That is the default pipe capacity for Linux (https://linux.die.net/man/7/pipe, look at the pipe capacity paragraph).

[2022-06-23 09:33] 7krasov commented on #1171
Hi @rustatian :wave:
Thanks for the investigation!
I see here that "Since Linux 2.6.11, the pipe capacity is 65536 bytes.". And I understand that the log message length > 65536 bytes (64k) will be always split. Well, 64k is better than now ( I suppose it is 32k). Could we adjust to 64к at least? It will be better anyway so I can split my messages for > 64k within PHP less often than now ... As I u

[2022-06-23 09:45] rustatian commented on #1171
Yeah, correct :)

It's not a problem; performance will be the same since we allocate a buffer only once.

[2022-06-23 10:02] rustatian commented on #1171
Yeah, correct

Yeah, the limit will be increased to 65536 bytes in the `v2.10.5`.

[2022-06-23 10:07] 7krasov commented on #1171
Thank you for your help!

[2022-06-23 10:17] rustatian commented on #1171
Just to be sure, please, keep in mind, that `monolog` adds additional fields to your structured log, like
`{"level":"info","ts":1655979301.839286,"logger":"server","msg":"{\"@timestamp\":\"2022-06-23T10:15:01.839179+00:00\",\"@version\":1......`

So, if you send a `$logger->info(str_pad('', 65536, 'A'));` log like this one, it'll be split into 2 parts, because it would be 65536 + `{"level":"info",

[2022-06-23 10:27] 7krasov commented on #1171
Yeah, I understand that my message is being extended with Monolog LogstashFormatter or any other formatter so my max payload length by a fact is less than 64k. I think we left a rather clear explanation for other users who will bump into that :muscle:
Thanks Valery!

[2022-06-23 10:29] rustatian commented on #1171
My pleasure @7krasov 👍🏻

[2022-06-23 11:40] #1171 closed, assigned to rustatian

[2022-06-27 16:49] voskobovich opened #1191 "[🐛 BUG]: Let's Encrypt certificate not issued in Docker"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

I try to set up SSL for my project on RR. I follow this [documentation](https://roadrunner.dev/docs/app-server-https/2.x/en#let-s-encrypt), but after day I don`t have success result.

## Case 1 (main)

If I run the RR server with this config, the ports `80` and `44

[2022-06-27 16:58] rustatian commented on #1191
Hey @voskobovich 👋🏻
[code]

These ports are used to solve the `ACME` challenge. They are not RR endpoints, and RR endpoints in your case are [8080 and 8433].

[2022-06-27 17:00] rustatian commented on #1191
Also, I see from the logs that you have errors when obtaining certs.

[2022-06-27 17:00] rustatian commented on #1191
Have you tried to run RR with certs but w/o docker?

[2022-06-27 17:54] rustatian commented on #1191
I guess the problem is in the configuration. You exposed only RR endpoints, not ACME (Let's encrypt) (I mean 80 and 443 ports). That's because you have an error in the logs:

[code]

ACME endpoints are not accessible from the outside to solve the ACME challenge. To fix that, you should also map ACME endpoints (via `EXPOSE`, for example).

[2022-06-27 20:55] voskobovich commented on #1191
Hi @rustatian 👋🏻

Yes, I understand. My `docker-compose.yaml` contains port mapping between 80->8080 and 443 -> 8443.
[code]

Yes! It`s general problem.

No, but I will try.

Yes. I exposed from container ports 80 and 433. This should be enough for ACME (or not?). The ACME fetching challenge by URL `http://mydomain.com/.well-known/...` over HTTP (port 80). But RR is not listening on port 80 before

[2022-06-27 21:06] rustatian commented on #1191
@voskobovich

The order is correct. But who will validate the challenge if the endpoint (which is in the docker and serving the token in this file) is not accessible 😃 ? The RR endpoint doesn't serve this token, the ACME solver serves it.
You may see it in the error message `urn:ietf:params:acme:error:connection`.

[2022-06-27 21:14] rustatian commented on #1191
`static.dir` is used for the static files served by the RR, and it has nothing to do with the ACME challenge.
To clarify, the HTTP plugin (except `acme` configuration section) does not relate to the ACME challenge.
Your certs will be stored, prolonged, and managed in the following folder:
[code]
but only after the ACME challenge is solved.

[2022-06-27 21:24] voskobovich commented on #1191
@rustatian This is probably my biggest misconception. I was sure that RR serves `.well-known` folder.

I solved my problem now :) I changed values for these config rows:

[code]

and all works!

Thanks a lot!

[2022-06-27 21:24] #1191 closed, assigned to rustatian

[2022-06-27 21:26] rustatian commented on #1191
My pleasure ❤️🇺🇦💪

[2022-06-28 09:09] roxblnfk opened #1193 "[🐛 BUG, PLATFORM: Windows]: the gRPC plugin prints a cutted error message on server starting"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

I want to know, how to be cool. But RoadRunner doesn't tell me. He cuts the message. Can you help me?

![{D8702E5E-1294-444E-8FBA-3B08C6C622C4}](https://user-images.githubusercontent.com/4152481/176140812-358d89fb-5013-4366-b261-9c3bfa91a7dd.png)

### FIles:

`rr.y

[2022-06-28 10:47] #1193 closed, assigned to rustatian

[2022-06-29 09:15] rustatian opened #1194 "[🧹 CHORE]: Extend existing metrics"
### No duplicates 🥲.

- [X] I have searched for a similar issue.

### What should be improved or cleaned up?

It would be nice to have the following metrics:

`gRPC` plugin: [Server-side interceptors](https://github.com/roadrunner-server/roadrunner/issues/973)
- [x] Response codes
- [x] Latency
- [x] RPM

`Jobs` plugin:
- [x] Latency
- [x] RPM

`temporal` plugin: [interceptors](https://github.com/

[2022-07-01 08:14] kafkiansky opened #1195 "[💡 FEATURE REQUEST]: Cover all (or most of them) redis features"
### Plugin

KV

### I have an idea!

We are developing a large distributed application where redis is actively used. We often need to use increments and decrements, which must be protected from data race. Because redis is thread safe by its nature, thats why we need its native incr/decr features.

[2022-07-01 11:59] #1180 closed, assigned to rustatian

[2022-07-02 10:55] rustatian commented on #1179
@rauanmayemir Hey 👋🏻
This is a nice feature; however, we can't send an error code, the only error itself for the RPC. Also we can't break an API to send an error code in the return value (avoiding sending the error).

This feature will be nice in the RRv3.

[2022-07-05 08:01] rauanmayemir opened #1197 "[🐛 BUG]: Prefetch option is ignored when jobs pipelines are created via RPC"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

`Prefetch` option is ignored when creating jobs pipelines via RPC:

[code]

<img width="969" alt="image" src="https://user-images.githubusercontent.com/9691/177279667-40815e62-12e0-4544-ab7b-b2af9a4093c7.png">

### Version (rr --version)

2.10.4

### Relevant log o

[2022-07-05 09:23] rustatian commented on #1197
@rauanmayemir Hello 👋🏻

Yep, confirmed. Fix will be released on Thursday (07.07.2022).
The reason is in an incorrect string to int conversion.

[2022-07-05 09:51] #1197 closed, assigned to rustatian

[2022-07-07 13:15] rustatian commented on #1027
Ok, the last step is finished; all middleware now supports otel headers and propagators.

[2022-07-07 13:15] #1027 closed, assigned to rustatian

[2022-07-07 14:38] L3tum opened #1205 "[🧹 CHORE]: OTEL UDP Client"
### No duplicates 🥲.

- [X] I have searched for a similar issue.

### What should be improved or cleaned up?

We're trying to use the Jaeger Agent with Roadrunner, but it seems like this is not supported by the OTEL Plugin for Roadrunner.
Specifically the Agent only [exposes UDP ports](https://www.jaegertracing.io/docs/1.6/deployment/#agent) while Roadrunner needs HTTP or gRPC.

I don't think this

[2022-07-07 14:42] rustatian commented on #1205
Hey @L3tum 👋🏻
`HTTP` or `gRPC` clients are used only for the `OTLP` protocol and do not affect Jaeger. You may try to remove the `client` option and set a UDP endpoint for the Jaeger exporter.

[2022-07-07 16:30] L3tum commented on #1205
Hey @rustatian ,
unfortunately I'm getting an `unsupported protocol schema "udp"` in that case. Same with adding `http://` in front of the host.
So far I've tried:
- udp://jaeger:6831 -> Unsupported protocol schema "udp"
- http://jaeger:6831 -> Connection Refused
- jaeger:6831 -> Unsupported protocol schema "jaeger"
- jaeger -> Unsupported protocol schema ""
- http://jaeger -> Connection Refused
-

[2022-07-07 16:34] rustatian commented on #1205
Got u. I'll try to reproduce the problem, thanks for the report.

[2022-07-07 18:14] ekisu opened #1206 "[💡FEATURE REQUEST]: Requests with `application/x-www-form-urlencoded` content-type are not parsed when request method is `DELETE`"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

When sending requests with `application/x-www-form-urlencoded` parameters with the `DELETE` request method, it seems that the parameters are lost somewhere inside Roadrunner, a simple way to test is to use the following (assuming Roadrunner is listening in the port

[2022-07-07 18:17] rustatian commented on #1206
👋 Hey. Please, update to the latest version. We support only the latest minor releases.

[2022-07-07 18:47] ekisu commented on #1206
Sure, I've updated both the server and the PHP library to the latest minor version (2.10.6), and I managed to reproduce this issue following the same steps

[2022-07-07 19:18] rustatian commented on #1206
Got u, thanks for the report. I'm unsure where this happens (PHP side or RR side), because RR doesn't limit the `application/x-www-form-urlencoded` to the only POST method...
Anyway, I'll have a look.

[2022-07-07 19:42] rustatian commented on #1206
@ekisu According to the existing HTTP RFC-7231, the `DELETE` (https://httpwg.org/specs/rfc7231.html#DELETE) method has no defined behavior on parsing body (which you sent with `application/x-www-form-urlencoded` header).

So, technically, RR behavior is correct.

You may use either `POST`, `PUT`, or `PATCH` methods with the `application/x-www-form-urlencoded` if you want to be sure that RR will pa

[2022-07-07 19:58] ekisu commented on #1206
I see, using `PUT` or `PATCH` does work indeed. In this case (using `DELETE` with the `application/x-www-form-urlencoded` content-type), shouldn't Roadrunner forward the request body to the PHP application as is? I would be fine with parsing it on the application side, but as seen on the logs, the entire request body seems to be replaced by an empty body

[2022-07-07 20:19] rustatian commented on #1206
@ekisu It's actually not replaced, but not parsed at all 😃. Unfortunately, this is not possible to send the entire body with the `application/x-www-form-urlencoded`, and method which has no defined semantics in your case, according to the specs.

[2022-07-07 21:53] ekisu commented on #1206
I've taken a look a bit deeper on what happens on PHP-FPM in this specific case, and here's what I've found:
- when it receives an `POST` request with the `application/x-www-form-urlencoded` content-type, it parses the data into the `$_POST` superglobal
- when it receives a request with the `application/x-www-form-urlencoded` content-type with any other request method rather than `POST`, it does n

[2022-07-07 22:10] rustatian commented on #1206
I'm not a PHP dev, so, sorry, I cannot refer to the `PHP-FPM`.

You're right, but this is old behavior, and it should be updated to skip any method except PUT, PATCH, and POST.

Yes, `ParseForm` also follows the defined part of the standard and skips all methods, but PUT,POST,PATCH.

That is awesome that you find ways to bypass this limitation.

Might be. But, say in truth, we didn't follow `PHP-F

[2022-07-07 22:24] ekisu commented on #1206
Sure, I can't change the labels though :thinking:

Would it be possible to treat it as a `contentStream` instead? Not sure if this would abide to the standards, but it would mimic the "send it as a stream" part

[2022-07-07 22:48] rustatian commented on #1206
I can send a `raw` body in the RR's body field (we can't stream it so it might be just a binary body). I need to sync with a PHP part of the worker. We should be careful here not to break the existing behavior.

[2022-07-08 08:31] rustatian commented on #1206
Hey @ekisu 👋🏻

We discussed this FR with our PHP team, and as promised, I'm here with the results.

Since this is not a standard, we put this ticket in the `Low` priority. But, if this proposal is popular, we'll introduce a flag for the `http` plugin to redirect the payload to the PHP worker with minimal processing by RR.

[2022-07-09 07:11] rauanmayemir commented on #1197
Confirming this is fixed. 🔥

[2022-07-09 15:55] IgorDePaula opened #1207 "[🐛 BUG]: proto file 'first.proto' does not exists"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

I installed the project via composer. But on run it, he crashes with error message: proto file 'first.proto' does not exists.

![Captura de tela de 2022-07-09 12-52-03](https://user-images.githubusercontent.com/2833993/178113173-336dfc09-b7f4-4dbd-b68c-ee25c3fe4ea6

[2022-07-09 16:29] rustatian commented on #1207
Hello 👋
You used a configuration sample. Inspect your rr.yaml config and remove not needed plugins.

[2022-07-09 16:29] #1207 closed, assigned to rustatian

[2022-07-09 16:31] rustatian commented on #1207
You may have a look at the docs: https://roadrunner.dev/docs/php-worker/2.x/en

[2022-07-09 16:55] IgorDePaula commented on #1207
@rustatian I got run it, but your php example has 2 errors, on line 20 and 28, the correct is ```\Throwable $e```, not ```\Throwable``` only

[2022-07-09 17:50] rustatian commented on #1207
Could you please send a PR to the https://github.com/spiral/docs ?

[2022-07-11 07:08] rustatian commented on #1205
@L3tum Hey 👋🏻
I guess that the Jaeger OTEL client doesn't support UDP protocol because there is no sense in keeping it since we have the `gRPC` and `HTTP` endpoints.

The endpoint for the `Jaeger` should be in the following form (example):
http://localhost:14268/api/traces (full endpoint URL)

[2022-07-11 07:17] rustatian commented on #1205
RR sends the traces directly to the Jaeger. However, Jaeger **agent** and OTEL SDK support the UDP protocol. The problem is that RR doesn't support agents.

[2022-07-11 08:15] rustatian commented on #1205
I'll add a new `jaeger_agent` exporter to support the `udp` agents.

[2022-07-11 08:44] L3tum commented on #1205
Hey @rustatian !

Ah, it's one of those mismatches. Sometimes I'd like my org to switch to anything else from Jaeger^^

The `jaeger_agent` sounds good, thank you!
Will that be part of 2.10.7 or the next minor release? It's not time critical for us though, so no worries

[2022-07-11 08:46] rustatian commented on #1205
np 😃 It'll be part of the `2.10.7` ⚡

[2022-07-11 10:09] rustatian opened #1208 "[💡 FEATURE REQUEST]: `gRPC` reflection server support"
### Plugin

GRPC

### I have an idea!

Support for the `gRPC` reflection server: https://github.com/grpc/grpc-go/blob/master/Documentation/server-reflection-tutorial.md

[2022-07-11 11:57] rustatian commented on #1205
[code]

[2022-07-11 11:59] rustatian commented on #1205
Misclicked.

This is the sample configuration with the `jaeger_agent`, which will be available in `2.10.7`. There is no need to use the `UDP` scheme in the endpoint because jaeger agents work only via UDP.

[2022-07-11 12:19] L3tum commented on #1205
Oh wow, that was fast! Thank you, that looks pretty good. I'll test it out as soon as 2.10.7 is released :)

[2022-07-11 12:22] rustatian commented on #1205
@L3tum PR will be merged today. You may build RR from the `master` branch with Velox. Release scheduled for this Thursday 😃

[2022-07-11 12:58] #1205 closed, assigned to rustatian

[2022-07-11 14:15] L3tum commented on #1205
Tested and it works!
![grafik](https://user-images.githubusercontent.com/9307432/178284776-d61f5a84-cd68-44a0-bc5e-2f3171ae5cac.png)

Thank you very much! I don't think I've had a turnaround for a bug/request this fast ever before^^

[2022-07-11 14:17] rustatian commented on #1205
My pleasure ⚡  Enjoy RR 😃

[2022-07-13 08:44] rustatian commented on #1001
In progress, planned to be in the `v2.11.0` (two weeks from now approx).

[2022-07-18 09:15] #1001 closed, assigned to rustatian

[2022-07-21 11:28] L3tum opened #1221 "[🐛 BUG]: Duplicate Metrics Collector Registration Attempted"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Expected: RR starts 😆

Actual: On start we get a multitude of errors logged such as "metric with provided name already exist". As far as I know this seems to be "intended" or at least okay behaviour.
However, sometimes, often multiple times, we get the error `"Erro

[2022-07-21 11:34] rustatian commented on #1221
Hey @L3tum 👋🏻
I don't think this is RR related issue because it relates to the [`roadrunner-worker`](https://github.com/spiral/roadrunner-worker).

Since RR start several workers, they are trying to declare the same metrics. To sound metrics only once, you may try to use a `server.on_init` feature (to declare metrics in the prometheus). And then you may use it in your app.

EDIT: https://github.co

[2022-07-21 11:39] L3tum commented on #1221
Hey @rustatian!

Thanks for the info. So this is essentially expected behaviour since we, for example, start 8 workers they'll try to declare the same metrics and fail?

It seems to be a bit weird to me that we haven't triggered this behaviour before when we've been using 2-4 workers, and only now with 8 workers it happens somewhat reliably.

It also seems like the Baldinof Bundle uses it without

[2022-07-21 11:43] rustatian commented on #1221
I'll check; I might skip these errors on the RR's side (if possible).

Yeah, please, try the `on_init`. We will update the docs to include that note if it would be fine.

[2022-07-21 11:47] L3tum commented on #1221
Thanks!

It seems to be possible to declare the metrics without the `on_init` via the [rr-config](https://github.com/roadrunner-server/roadrunner/blob/master/.rr.yaml#L950), right?

[2022-07-21 11:49] rustatian commented on #1221
Yeah, sure. I guessed that you needed to declare them from the PHP, but if not, feel free to use the config 😃

[2022-07-21 11:50] L3tum commented on #1221
Cool, thank you for your help! 😄

[2022-07-21 11:51] rustatian commented on #1221
My pleasure. Feel free to close the bug if that wouldn't be an issue with declaring via configuration.

[2022-07-21 11:55] L3tum commented on #1221
Seems to be working well and the `duplicate metric` errors are also gone. Thanks again, I'll close the issue

[2022-07-21 11:55] #1221 closed, assigned to rustatian

[2022-07-24 16:45] rustatian opened #1224 "[🐛 BUG]: GRPC Reflection server on 2.11.0-beta.1"
### Discussed in https://github.com/roadrunner-server/roadrunner/discussions/1223

<div type='discussions-op-text'>

<sup>Originally posted by **genhoi** July 23, 2022</sup>
I tried the new RoadRunner beta (2.11.0-beta.1) for GRPC Reflection for Postman and GrpcUI, for some reason it didn't work for me, is there any way to tell me what I'm doing wrong?

I added a flag to the settings to enable.

!

[2022-07-24 19:21] rustatian commented on #1224
@genhoi 👋🏻
I guess I found the issue. We missed in our docs that you should use a `--php_out=<OUTPUT DIRECTORY>` `protoc` option.
W/o this option, the `protoreflect` server can't find the `proto_description` of the service. I recompiled my `test` proto files and was able to see the full description of the `gRPC` methods:
![image](https://user-images.githubusercontent.com/8040338/180662581-5f125f5b

[2022-07-24 21:27] rustatian commented on #1224
Ah, that won't help you. I found a real issue, the fix will be in the `beta.2`.

[2022-07-25 10:21] Warxcell opened #1225 "[🐛 BUG]: RR doesn't respect logs.output *[correct docs]*."
### No duplicates 🥲.

- [x] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

I have following config:

[code]

After starting road runner I see the output in the console, rather than in the file.

### Version (rr --version)

2.7.5
2.11.0-beta.1

### Relevant log output

[code]

[2022-07-25 10:24] rustatian commented on #1225
Hey @Warxcell 👋🏻 .
For the file logger, we have a separate configuration: https://github.com/roadrunner-server/roadrunner/blob/master/.rr.yaml#L115

[2022-07-25 10:26] Warxcell commented on #1225
Not according docs: :man_shrugging:

https://roadrunner.dev/docs/beep-beep-logging

![image](https://user-images.githubusercontent.com/3340882/180755806-36687cdf-ae67-422e-a131-0c31710945bc.png)

[2022-07-25 10:27] rustatian commented on #1225
Nice catch; I guess we missed this 👍🏻
Could you please try to use a `file_logger` configuration above?

[2022-07-25 10:29] Warxcell commented on #1225
That would be hard to configure thru ENV variables. I will try standard redirect `command > file` :)
Thanks for quick reply.

[2022-07-25 10:30] rustatian commented on #1225
My pleasure ⚡

I'll reopen this issue to have a reference to fix our docs if you wouldn't mind.

[2022-07-25 13:56] Warxcell opened #1226 "[🐛 BUG]: RR doesn't respect `http.pool.allocate_timeout`"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

I have

[code]

but it tells

[code]
elapsed is 1m, so it doesn't respect 120s (2m)

and there is a typo in the docs: https://roadrunner.dev/docs/http-available-middleware/2.x/en

it should be `http.pool.allocate_timeout` not `pool.allocate_timeout`.

### Version (

[2022-07-25 14:00] rustatian commented on #1226
Hey @Warxcell 👋🏻
The workers' pool is not an `http` plugin property.
But `allocate_timeout` is the property of the `pool`. It can be `jobs.pool.allocate_timeout`, `http.pool...`, `grpc.pool...`, etc. Thus in the docs, we used a more general term, `pool.allocate_timeout`.

[2022-07-25 14:06] rustatian commented on #1226
Regarding the first part of the issue, about `allocate_timeout` not taking into account, I'll have a look; Thanks.

[2022-07-25 14:37] rustatian commented on #1226
@Warxcell Is this all configuration? Might be you have a `supervisor` section?

[2022-07-25 14:38] Warxcell commented on #1226
This is whole conf:

[code]

[2022-07-25 14:39] rustatian commented on #1226
Could you please try to use `relay: pipes`?

[2022-07-25 15:27] wolfy-j opened #1227 "[💡 FEATURE REQUEST]: PSR-3 compatible logger RPC"
### Plugin

RPC logger

### I have an idea!

I have an idea, listen to me!!

It would be amazing if we can can publish to logger channels at RR side using PHP SDK via PSR-3 compatible API.

At the moment ALL the application logs can only be published to STDERR to be seen by RR, log context logs, all logs put using INFO level, all logs captured using `server` channel.

- Add the ability to publish

[2022-07-25 16:17] #1226 closed, assigned to rustatian

[2022-07-25 16:48] Warxcell commented on #1226
Yeah, with pipes it seems to work.

[2022-07-25 16:50] rustatian commented on #1226
Nice. I fixed the issue for the sockets/tcp. It will be later today in the `beta.2`.

[2022-07-27 06:44] Warxcell opened #1235 "[🐛 BUG]: Healthcheck returns 503 if http.pool.debug=true"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Healthcheck returns 503 if http.pool.debug=true

I would expect it to return 200 as well.

### Version (rr --version)

2.11.0-beta.2

### Relevant log output

[code]

[2022-07-27 06:46] rustatian commented on #1235
Hey @Warxcell 👋 Healthchecks are not working in the debug mode since there are no workers in it.

[2022-07-27 06:48] Warxcell commented on #1235
Shouldn't they just return 200 always? The inconvenience comes from the fact that I'm using same configuration in ALL environments for readiness/liveness probes.

[2022-07-27 18:11] rustatian commented on #1235
Debug mode doesn't meant to be used anywhere except the local dev env. Status plugin doesn't know anything about the pool's debug mode. Plugins decoupled from each other.

[2022-07-27 18:13] rustatian commented on #1235
So, basically, status plugin checks the worker status. And if there are no workers at all, according to the plugin's logic - it returns 500.

[2022-07-27 19:18] Warxcell commented on #1235
Ok, I see. Thanks.

[2022-07-27 19:18] #1235 closed, assigned to rustatian

[2022-07-28 02:14] ilsenem opened #1236 "[🧹 CHORE]: Change timestamp formats for raw and production mode in log messages"
### No duplicates 🥲.

- [X] I have searched for a similar issue.

### What should be improved or cleaned up?

For now I have some problems to parse logs RR produces.

Cases:

1. In `raw` mode HTTP log provides pretty useful information but timestamp is unparsable with standart log parsers because most of them use some kind of format parsing e.g. `%Y-%m-%dT%H:%M:%S`. There is no way to distinct epo

[2022-07-28 08:09] rustatian commented on #1236
Hey @ilsenem 👋🏻
Fair enought, I'll put this ticket to the 2.11 milestone, since it'd be easy fix that. Thanks 👍🏻

[2022-07-28 13:25] seregazhuk opened #1237 "[💡 FEATURE REQUEST]: Temporal: support TLS connection"
### Support TLS connection

Need to support TLS connection. Our case is Temporal server, that works under TLS. It can be reached by grpcurl:

[code]

but at the same time while connecting to it with RR it throws error:

[code]

Temporal part of rr.yaml is the following:

[code]

[2022-08-03 18:00] #1237 closed, assigned to rustatian

[2022-08-04 22:07] #1088 closed, assigned to rustatian

[2022-08-06 15:43] rustatian commented on #1224
Reopening. Include files from the imports.

[2022-08-06 15:51] rustatian commented on #1225
docs updated: https://github.com/spiral/roadrunner-docs/commit/5ffca23bfdff3a23cd308a335516c22b5eabab84

[2022-08-06 15:51] #1225 closed, assigned to rustatian

[2022-08-06 18:15] rustatian opened #1249 "[💡 FEATURE REQUEST]: Overwrite `client-name` and `client-version` in Go client to represent PHP-SDK"
### Plugin

Temporal

### I have an idea!

In order to track the temporal usage all the client calls, workflow and activity polling calls, must container an SDK version header. Since Golang SDK represents PHP one - we have to adjust this header as well, via GRPC interceptor or another way.

See: https://github.com/temporalio/sdk-php/issues/220
Also: https://github.com/temporalio/sdk-php/blob/maste

[2022-08-07 12:09] paulermo opened #1250 "[🐛 BUG]: SQS plugin not working without static credentials when using IMDSv2"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

A bug happened!

While connecting to SQS the plugin needs to retrieve the credentials from AWS (or we have to provide static creds). But prior to this RR tries to check if it is "inside of AWS" or not.

This is done using call to well-known url: `awsMetaDataURL str

[2022-08-07 12:17] rustatian commented on #1250
Hey @paulermo 👋🏻
Thanks for the report. Planned for the `v2.11.1`.

[2022-08-09 11:23] alamagus opened #1257 "[🐛 BUG]: Too many copies of the same log message"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Not sure whether it's a bug though :) Take a look at the log output down below

xdebug is enabled in RR and listening to debug connections is turned off on the client(IDE)

.rr.yaml:
[code]

### Version (rr --version)

2.10.7

### Relevant log output

[code]

[2022-08-09 11:25] rustatian commented on #1257
Hey @alamagus 👋🏻
These messages are produced by the PHP worker, not by the RR.

[2022-08-09 11:28] rustatian commented on #1257
Also, you used a `pool.debug: true` option. In this case, RR won't allocate a PHP worker. The RR allocates the PHP worker after the request arrives at the RR endpoint and is destroyed after RR sends the response.

[2022-08-09 11:31] rustatian commented on #1257
Since this is not a RR issue, I will close this report. However, it's not locked, so you may respond and discuss this case here.

[2022-08-09 11:31] #1257 closed, assigned to rustatian

[2022-08-09 11:58] alamagus commented on #1257
Commented out  `pool.debug: true` option, and now everything works just as I expected (debug application state in a single worker through consequent requests)

Feels like you meant the contrary - with that option I get new worker allocated per every new request

Thanks for help :)

[2022-08-09 12:07] rustatian commented on #1257
Not exactly. With that option, RR doesn't allocate workers at the start (even if you set a particular number of workers).

Worker allocated right after RR accepts a request and destroyed after response. So, after response, RR still has 0 workers allocated. This is done because you may change a code and requests with the latest version of your changes will be loaded into a PHP worker. Thus you don'

[2022-08-09 12:26] alamagus commented on #1257
Thanks for such an elaborate answer
I still find it a bit confusing that `pool.debug=true` is equivalent to, say, pool.php_fpm_mode/pool.reload=true or stateful_mode=off :)

[2022-08-09 12:30] rustatian commented on #1257
RR has its abstractions. They're not necessarily equivalent to the PHP-FPM 😃 Therefore, we have a discord server (feel free to join) and answer our users' questions very fast ⚡

[2022-08-09 15:41] rustatian commented on #1236
done: https://github.com/roadrunner-server/logger/commit/de97180d319f41a1e707256f1b2f027a8b98ce55

[code]

[2022-08-09 15:41] #1236 closed, assigned to rustatian

[2022-08-09 15:42] rustatian commented on #1236
The fix will be in the `beta.4` release (2022-08-11)

[2022-08-15 17:32] bc-anton-k commented on #979
Saved my week. Thanks a lot!

[2022-08-15 22:30] rustatian commented on #1224
ref: https://github.com/roadrunner-server/roadrunner/issues/1208

[2022-08-15 22:30] #1224 closed, assigned to rustatian

[2022-08-17 15:24] viktorprogger opened #1262 "[🐛 BUG]: Environment variables in services are lowecased"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

This sample config
[code]

`test.php` file contents:L
[code]

`rr serve` will output environment variables in php process. You'll see `xdebug_mode` instead of `XDEBUG_MODE`.

### Version (rr --version)

2.10.6

### Relevant log output

_No response_

[2022-08-18 08:52] rustatian commented on #1262
fixed by: https://github.com/roadrunner-server/service/commit/b41e9e59e6b9b46d9a112b1941ca5e4ee6b4ecd7

[2022-08-18 08:52] #1262 closed, assigned to rustatian

[2022-08-18 14:57] rlanting-framna opened #1264 "[💡 FEATURE REQUEST]: Pass the entire HTTP request body to the PHP"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Sending a POST request with Content-Type `application/x-www-form-urlencoded` does not pass the original body to the PHP worker.

Why do I need the original body? Slack apps can send requests to your own endpoint. To verify it comes from slack, you need the original

[2022-08-18 15:04] rustatian commented on #1264
Hey @rlantingmove4mobile 👋🏻
If I understand correctly, the problem is in JSON formatted body, am I right?
`id=123%` -> `{"id":"123"}%`

[2022-08-18 19:22] #1128 closed, assigned to rustatian

[2022-08-19 06:31] rlanting-framna commented on #1264
Correct, the problem is that RR transforms the incoming body into JSON while I need the original.

[2022-08-19 06:45] rustatian commented on #1264
But they are precisely the same. Are there any problems transforming the RR's JSON formatted body to the needed format?

[2022-08-19 07:37] rlanting-framna commented on #1264
True, I could encode it myself after extracting it from the request. But that's not always the case.

If I send this as payload:

[code]

I get this as body:

[code]

As you can see, the order is not the same. Which means I will never be able to reconstruct the original. To get ahead of any more issues like this, sending along the original would always work.

[2022-08-19 07:59] rustatian commented on #1264
So, the problem is that args are sorted (which is fine because there is no RFC or standard on this). But in your case, if I understand correctly, Slack requires precisely the same URL-encoded params (which is strange). But, ok. If I turn the sorting off, would you be able to reconstruct the body?

[2022-08-19 09:12] rlanting-framna commented on #1264
It's not strange if you consider that `sha1sum('a=1&b=2&z=3&c=4') != sha1sum('a=1&b=2&c=4&z=3')`, which is basically how signatures work.

From what I can see, yes I would be able to reconstruct the body in my use case.

Perhaps also take into account https://github.com/roadrunner-server/roadrunner/issues/1206#issuecomment-1178710104 because there are now two use cases for getting the original bod

[2022-08-19 09:32] rustatian commented on #1264
It's still strange from my POV that someone lay on order when computing a sha1sum (which is broken). For sure, in this case, these are different strings.

This ticket is about a different problem. As I mentioned, the HTTP DELETE method has not defined behavior on the body parsing. Your case is about POST.

Unordered doesn't mean that you will have the same order after parsing. For example, the Go

[2022-08-19 09:32] rustatian commented on #1264
Sorry, misclick 😞

[2022-08-19 09:34] rustatian commented on #1264
I'm just asking what will work for you. There is no intention of changing the HTTP plugin atm.

[2022-08-19 09:37] rustatian commented on #1264
But, I agree with you, that having some option to send a raw request body will help here. Something like:

[code]

[2022-08-19 09:49] rlanting-framna commented on #1264
Alright, so if that's the case then the following would be the best way forward:

1) Create an issue detailing that the http plugin needs a toggle and why. Link this issue and [#1206](https://github.com/roadrunner-server/roadrunner/issues/1206) to it. This makes it visible instead of having it buried in a comment somewhere.
2) Schedule/prioritise/label it accordingly
3) Disable the sorting on the

[2022-08-19 09:51] rustatian commented on #1264
Have you tried to use the `$request->query` to obtain the raw query?

[2022-08-19 10:04] rustatian commented on #1264
@rlantingmove4mobile
There is no need to create an additional issue. I'll rename this one since this is not a bug, but you need another feature like having the raw request body. Since we have at least 2 cases, we will plan it. `2.11.1` milestone is already full, so I'll try to fit it for the `2.11.2` (approx. three weeks from now).

[2022-08-19 11:14] rlanting-framna commented on #1264
I have not looked at the query, only the body.

We might disagree about bug vs feature, but you're going to fix it so it doesn't really matter. Three weeks also short enough that I can plan for it. Thanks!

[2022-08-19 11:15] rustatian commented on #1264
I briefly looked at the current parsers logic, and if everything is fine, I'll try to resolve this ticket in the `v2.11.1`.

EDIT: `v2.11.1` is planned for the following Thursday.

[2022-08-19 12:56] rustatian commented on #1264
Ok, this is what you'll get in the PHP worker from the post form values in raw mode:

![image](https://user-images.githubusercontent.com/8040338/185622232-0ce95561-2bd5-4819-960b-e84a58f66929.png)

It would be just a string; you'll have to parse it on your own.

RR will not touch the order of the keys.

[2022-08-19 13:00] rustatian commented on #1206
@ekisu Hey 👋🏻

After some discussion in the nearby ticket, we decided to send the untouched post form values data to the worker even if this is the `DELETE` method. The feature will be in the `v2.11.1`. (https://github.com/roadrunner-server/roadrunner/issues/1264#issuecomment-1220644959) and must be activated by the additional http plugin option (TBD).

[2022-08-22 07:06] rlanting-framna commented on #1264
That looks fine to me. Awesome!

[2022-08-22 12:16] rustatian commented on #1264
Please remember that the `raw_body` feature will be available only for the `application/x-www-form-urlencoded` request type. For the `multipart/form-data` it's recommended to use a `application/x-www-form-urlencoded` to send a values.

[2022-08-22 12:17] #1206 closed, assigned to rustatian

[2022-08-22 12:17] #1264 closed, assigned to rustatian

[2022-08-22 17:28] #1249 closed, assigned to rustatian

[2022-08-22 19:08] ekisu commented on #1206
Whoa, this is great news! Thanks @rustatian

[2022-08-22 19:11] rustatian commented on #1206
Remember that that is valid only for the `x-www-form-urlencoded` values. Not for the `multipart` form values.
The release is scheduled for Thursday, 25 Aug.

[2022-08-23 09:26] rustatian commented on #1250
@paulermo Hey 👋🏻
Could you please confirm (I don't have an EC2 with IMDSv2 atm) that the request to the `http://169.254.169.254/latest/api/token` returns a 200 status code?

[2022-08-25 09:07] Baiquette opened #1267 "[💡 FEATURE REQUEST]: Add automatic retry on Kafka connection failure"
### Plugin

JOBS

### I have an idea!

I have an idea, listen to me!!

Hey!
When we start RoadRunner with Kafka not available yet (for eg when it is starting), the RR binary stops immediately with the following error:
[code]
It will be great to have an automatic retry with options configurable in the `.rr.yaml` file, for eg:
[code]

Thank you

[2022-08-26 10:20] rustatian commented on #901
Done, removed/deprecated this method everywhere 😃

[2022-08-26 10:20] #901 closed, assigned to rustatian

[2022-08-26 15:13] route33 opened #1270 "[🐛 BUG]: PHP ReflectionException on Google\Protobuf\GPBEmpty when using Dependency Injection"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

The following error occurred after RR upgrade to V2, on V1 works fine.

I created also a ticket on protobuf's side https://github.com/protocolbuffers/protobuf/issues/10465, as I don't know exactly who's the culprit here. You may check it for additional screenshots.

[2022-08-26 15:21] rustatian commented on #1270
Hey @route33 👋🏻. Thanks for the contribution.
First, there is no `-d` option for the RRv2. It starts an internal pprof server instead of showing some debug logs. Please, don't use this option if you won't intend to profile the internals 😃

Could you please try to use an old proto plugin that you used for the RRv1? Or use the same protoc plugin for RRv1 and RRv2?

[2022-08-26 15:23] rustatian commented on #1270
And, could you please show your `.proto` file and command which you used to generate the PHP classes (`protoc ...`)?

[2022-08-26 15:35] route33 commented on #1270
[code]

[code]

[2022-08-26 15:38] rustatian commented on #1270
@route33 I don't see that you used our plugin to generate PHP classes -> https://roadrunner.dev/docs/app-server-grpc/2.x/en

[2022-08-26 16:05] route33 commented on #1270
Nice catch, I had the plugin but did not notice the new flag. Either way, the error persists.

[code]

The newly generated service class is:
[code]

[2022-08-26 16:15] rustatian commented on #1270
Ok, got u.
Did you upgrade the worker's code to be compatible with the RRv2?

[2022-08-26 16:33] route33 commented on #1270
yes, I followed the same steps on this commit https://github.com/spiral/roadrunner-grpc/commit/85c2c58eb59fb569ae7e329376185ebc6449592f

[2022-08-26 16:42] rustatian commented on #1270
Ok 😞, then I need a sample to reproduce your issue. It might be a repo with steps to reproduce or just a manual, what did you do, what is the difference between your use case for the RRv1 and v2, a command used, your worker.php code, and so on.

[2022-08-26 18:46] route33 commented on #1270
That will take some time. I forgot to mention that when I disable protobuf extension written in C and use the php implementation of "google/protobuf", everything works fine

[2022-08-26 22:09] rustatian commented on #1270
That is the main feature of the `gRPC` plugin: you don't need any PHP extensions, only PHP native things.

[2022-08-27 06:11] route33 commented on #1270
Ok, but isn't there a performance penalty?

[2022-08-27 08:58] rustatian commented on #1270
The plugin is written in Go. In Go, we don't need any extensions. The layer responsible for transferring data is very fast. But, for sure, you may test that on your case.

[2022-08-28 20:31] iluuu1994 opened #1271 "[💡 FEATURE REQUEST]: Use opcache shared memory by forking workers"
### Plugin

_No response_

### I have an idea!

Hi rr team! :wave::blush:

As far as I can tell, right now RoadRunner always spawns new php-cli processes per worker. When using opcache this has the significant limitation that each process will have it's own shared memory segment. Opcache caches scripts, classes, functions and also de-duplicates constant strings and arrays in this shared memory seg

[2022-08-28 20:42] rustatian commented on #1271
Hey, @iluuu1994 👋🏻 Thanks for the contribution and a very nice idea 👍🏻

Yeah, we had some internal discussion about that. I'm not a PHP dev, so, waiting for our PHP team, which is currently busy with the SF v3.

We had a similar idea, and I am pretty sure that that approach will work from the RR's POV.

[2022-08-28 20:57] iluuu1994 commented on #1271
Hi @rustatian! Thanks for your very speedy reply! Great to know this is on the roadmap :slightly_smiling_face:

Luckily, I don't think there's anything in php-src that needs to change. Running PHP with `opcache.enable_cli=1` will automatically create the given shared memory segment. The mapping of the segment is handled by the operating system when the process is forked. RR could then notify the m

[2022-08-28 20:59] rustatian commented on #1271
Thank you 👍🏻

[2022-08-29 21:52] route33 commented on #1270
This is not an issue related to RR, more like protobuf-C extension and Reflection (php-di). Thank you, @rustatian, for clarifications and your time

[2022-08-29 21:52] #1270 closed, assigned to rustatian

[2022-08-30 10:14] #1250 closed, assigned to rustatian

[2022-09-05 04:51] rauanmayemir opened #1273 "[🧹 CHORE]: Allow sending gRPC status code payload as json or base64 encoded binary"
### No duplicates 🥲.

- [X] I have searched for a similar issue.

### What should be improved or cleaned up?

Since roadrunner-server/grpc#38, it's possible to return error as a legitimate response as part of rpc metadata.
However, error payload is expected to be binary which is not possible in json.

So payload has to be either json or base64-encoded binary. I.e this:

[code]

has to become eithe

[2022-09-06 09:10] pjtuxe opened #1274 "[💡 FEATURE REQUEST]: Create NATS stream on connect if needed"
### Plugin

JOBS

### I have an idea!

Hey Roadrunner Team,

I'm facing a problem connecting consumers to a fresh-new stream. If the stream is not created yet, the consumer won't be able to start as by design NATS Jetstream streams should be made before the first connection.

The current Roadrunner implementation throws this error:

[code]

It would be much appreciated if you can create a facility

[2022-09-08 10:35] seregazhuk opened #1278 "[🐛 BUG]: segmentation violation when using TLS"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Trying to run Temporal worker with mtls support. Have generated certs and using the following config:
[code]

When running RR receive the following error:
[code]

### Version (rr --version)

2.11.1

### Relevant log output

[code]

[2022-09-08 10:37] rustatian commented on #1278
fixed by: https://github.com/temporalio/roadrunner-temporal/commit/c72aab8f38d7920968a2942f06cd7ab1519d918e

[2022-09-08 10:37] #1278 closed, assigned to rustatian

[2022-09-10 06:33] acelaya opened #1286 "Allow rr get without generating a config file sample"
### Plugin

_No response_

### I have an idea!

I have a project where roadrunner's config already exists in a different folder than the one where the rr binary is downloaded, and I pass it t with `-c path/to/.rr.yml` when starting the server.

Would you be open to add a flag (let's say `--no-config`, or something in those lines) to the `./vendor/bin/rr get` command to not generate a config file?

[2022-09-10 06:39] acelaya commented on #1286
I just realized that tool actually lives in https://github.com/spiral/roadrunner-cli, so I guess this issue should be transferred there.

[2022-09-10 08:00] #1286 closed, assigned to rustatian

[2022-09-12 13:29] cv65kr opened #1288 "[💡 FEATURE REQUEST]: Statsd support for tagged metrics"
### Plugin

Metrics

### I have an idea!

It is a follow up ticket to https://github.com/temporalio/roadrunner-temporal/issues/265

Would be nice to have support for multiple statsD format. In my case I am looking for Datadog format https://docs.datadoghq.com/developers/dogstatsd/datagram_shell?tab=metrics

[2022-09-12 14:20] #1274 closed, assigned to rustatian

[2022-09-12 14:48] #1267 closed, assigned to rustatian

[2022-09-13 12:26] zdraganov opened #1294 "[🐛 BUG]: Building with velox 1.1.3 fails with roadrunner v2.11.1 as reference"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

Trying to build roadrunner binary with velox 1.1.3 and roadrunner ref v2.11.1. Build fails with error of some type inconsistency.

Using the following velox.toml configuration for the build.
[code]

### Version (rr --version)

2.11.1

### Relevant log output

[code

[2022-09-13 12:53] rustatian commented on #1294
Hey @zdraganov 👋🏻
Could you please try to use the `ref="release/v2.11.2"` RR's branch? Unfortunately, I have to move some of the internals 😢 , thus the build fails.

[2022-09-13 13:20] zdraganov commented on #1294
Updated the ref in the velox.toml file and now get this error:

[code]

[2022-09-13 13:23] zdraganov commented on #1294
Just managed to make it working with this git tag - [343c5be](https://github.com/roadrunner-server/roadrunner/commit/343c5be977b1ca8d1cad0b821cf3cd38d49974ef) which has to be the latest in the mentioned release/v2.11.2 branch.

[2022-09-13 13:25] rustatian commented on #1294
Good, sorry for the inconvenience. I'll release `v2.11.2` on Thursday, so the problem should be gone.

[2022-09-13 13:32] rustatian commented on #1294
The problem with the `release/v2.11.2` branch is in the `/` in the branch name. It is recognized as a path, and I'll fix that.

[2022-09-13 14:05] rustatian commented on #1294
@zdraganov, Could you please try to use Velox `v1.1.4` with the branch name `release/v2.11.2`?

[2022-09-13 17:00] zdraganov commented on #1294
Yeah, looks like working with those versions! Great!

[2022-09-15 08:17] #1294 closed, assigned to rustatian

[2022-09-15 11:21] cv65kr commented on #1288
Hi @rustatian
Today I tested and

1st thing which is not working is using environment variables in own tags (visible below)
[code]

2nd.
prefix is duplicated - `my_name.my_name`
[code]

3rd that mentioned, metrics tags are combined in names so extremely hard to prepare some dashboards in DD (example above)

[2022-09-15 11:32] rustatian commented on #1288
Hey @cv65kr 👋🏻

Thanks for the feedback.
1. You may edit the description of the issue and add the request to parse env variables.
2. RR doesn't touch the metrics; it only redirects the configuration to the Tally and Temporal. We are limited atm by that implementation.
3. Yeah, that'll be implemented somewhere after 2.12.0 (~2 months).

[2022-09-15 11:35] cv65kr commented on #1288
@rustatian about point 3 do you have plan for big modification inside RR or Temporal plugin is enough? I can prepare PR for that in RR Temporal plugin

[2022-09-15 11:47] rustatian commented on #1288
Nothing special. We have ~30 plugins, you know, everyone wants some improvements and new options 😃 So, If I spend a week per plugin...
I would appreciate you if you submit a PR; I'll review it, merge and release it in the next bugfix release (every Thursday if we have fixes/internal improvements).

[2022-09-19 05:16] rauanmayemir opened #1297 "[💡 FEATURE REQUEST]: `buf` remote plugin for `protoc-gen-php-grpc`"
### Plugin

GRPC

### I have an idea!

I have an idea, listen to me!!

It would be nice to have a `protoc-gen-php-grpc` [remote plugin](https://docs.buf.build/bsr/remote-generation/plugin-example) on buf.build to simplify gRPC bindings generation.

I might take a stab at it later and send a PR.

[2022-09-19 11:56] rustatian commented on #1297
Hey @rauanmayemir 👋🏻
Yeah, excellent proposal 👍🏻 I was waiting for at least **beta**, but it would be nice if you sent a PR (to the `gRPC` plugin).

[2022-09-19 16:49] rustatian commented on #1267
Hey @Baiquette 👋🏻 Have you tried the v2.11.2?

[2022-09-20 08:10] rustatian opened #1299 "[📖 DOCS]: Velox with private repos configuration"
### I have an idea!

Docs about Golang configuration with private repositories:
- Exclude imports `GOPRIVATE` and `GONOSUMDB`:
[code]
- `ssh-agent` (Linux) configuration with a GitHub key.

[2022-09-21 11:28] seregazhuk opened #1300 "[💡 FEATURE REQUEST]: Add mTLS support for the temporal plugin"
### Plugin

Temporal

### I have an idea!

Need support for mTLS. Temporal server sample - https://github.com/temporalio/samples-server/tree/main/tls/tls-simple
Ref: https://github.com/temporalio/samples-php/issues/23

[2022-09-25 10:14] egonbraun opened #1306 "[🐛 BUG]: Enabling PHP 8.1 opcache leads to ERROR"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

We are following the recommendations for Roadrunner in production described in [this](https://roadrunner.dev/docs/app-server-production/2.x/en) link and one of the things it asks us to do is to enable opcache in PHP. We have done it in this way:

[code]

However, t

[2022-09-25 10:19] rustatian commented on #1306
Hey @egonbraun 👋🏻
The `STDOUT` is reserved for communication between RR and PHP workers by the defined protocol. When RR receives some unknown message, it fails.
The message `Warning: JIT is incompatible with third party extensions that...` is from PHP; you should turn off the warnings in the `php.ini` file.

[2022-09-25 10:21] egonbraun commented on #1306
True! That's why it is crashing and I will be able to fix it following the tips in the link.

I was more worried about the warning messages, is this warning a problem for Roadrunner as well? Is it safe to ignore it?

[2022-09-25 10:23] rustatian commented on #1306
Yeah, you may safely ignore it (if it's safe for you to neglect this warning in PHP).

[2022-09-25 10:25] egonbraun commented on #1306
Thanks, @rustatian !

[2022-09-25 10:25] #1306 closed, assigned to rustatian, dpodoliak

[2022-09-25 10:25] rustatian commented on #1306
Also, I saw in your config: `max_jobs: 64`. You may also remove this option. This option should be used for the apps which leak memory to restart the worker (in your case) for every 64 requests.

[2022-09-25 10:27] rustatian commented on #1306
I'll also add your case to the docs. Thank you 👍🏻

[2022-09-25 10:38] egonbraun commented on #1306
One more piece of information that might help someone, the above message is generated by XDebug. So make sure you do not enable XDebug together with opcache.

[2022-09-27 09:35] rustatian opened #1308 "[🐛 BUG]: replacing an array config option using environment variables doesn't work."
### Discussed in https://github.com/roadrunner-server/roadrunner/discussions/1307

<div type='discussions-op-text'>

<sup>Originally posted by **lyt8384** September 27, 2022</sup>
Sorry about my poor English~ I am try to using the environment variables to replace a array config options, but isn`t work, like this.
[code]

but it got
`Error 'rpc_mget:  redis_driver_mget: dial tcp: address ${REDIS_HO

[2022-09-27 22:09] #1308 closed, assigned to rustatian

[2022-09-27 22:13] #1300 closed, assigned to rustatian

[2022-09-29 12:01] #1273 closed, assigned to rustatian

[2022-09-29 12:02] rustatian commented on #1273
Done; PHP worker may send the `base64` encoded string via the `error` metadata key.

[2022-09-29 12:03] rustatian commented on #1273
Base64 used to leave the proto structures on the PHP side for the future move on the protobuf messages.

[2022-09-29 14:04] #1297 closed, assigned to rustatian

[2022-09-30 07:39] rauanmayemir commented on #1273
Amazing work, thank you! 🙏

[2022-10-06 10:27] Baiquette opened #1311 "[🐛 BUG]: RR crashes when Kafka message has no content"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

A bug happened!

Hi,
I use RoadRunner to consume messages in Kafka topic.

When I produce an empty message (I mean I have a key but no content), RR crashes.

**Case 1**: I produce a message with a key but without content:
![image](https://user-images.githubusercont

[2022-10-06 14:40] rustatian opened #1313 "[💡 FEATURE REQUEST]: Add OpenTelemetry to the `Jobs`, `gRPC` and `Temporal` plugins"
### Plugin

JOBS, gRPC, Temporal

### I have an idea!

We currently have opentelemetry added to the only `http` plugin. That was the first plugin with OT support, and we wanted to see how it would work with the PHP worker. We also see that the community is interested in this feature for the other plugins. So, it's time to extend the OT support with other plugins.

[2022-10-06 18:55] egonbraun opened #1314 "[🐛 BUG]: Fail to upload files"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

When we tried to upload an image to our backend service the worker failed and the client received an HTTP 500 error message, the logs just stated that the file did not exist.

Our stack is running:
- PHP 8.1
- Laravel 9.28.0
- Roadrunner 2.11.3
- spiral/roadrunner-

[2022-10-06 20:51] rustatian commented on #1314
Hey @egonbraun 👋🏻
Could you please try to remove:
[code]
I suspect, that there are not enough permissions to open the file.

[2022-10-07 15:02] egonbraun commented on #1314
Hey @rustatian !

Surprisingly that fixed it. But now I have even more questions! hahahaha

I checked /tmp and it is properly set in my system:

[code]

And this is how the `www-data` user is set:

[code]

So, are you suggesting this is a permissions issue or is Roadrunner doing something wrong?

Thanks for the fix!

[2022-10-07 15:03] rustatian commented on #1314
Hey @egonbraun 👋🏻
So, I guess you started RR from the `root` user, right?

[2022-10-07 15:34] egonbraun commented on #1314
Correct.

[2022-10-07 15:39] rustatian commented on #1314
So, when the RR process creates a file in the `tmp` folder, it creates it with the `root` permissions. But child processes are created with a different user (`www-data`).
Then, when a PHP process touches this file, it just has no permission to do that. In this case, I highly recommend using a regular user to start a RR with proper permissions.

[2022-10-10 07:05] rustatian commented on #1314
Hey @egonbraun 👋🏻
If the issue was resolved, feel free to close it (if you don't have any questions) 😃

[2022-10-10 17:26] egonbraun commented on #1314
Done! Thanks!

[2022-10-10 17:34] egonbraun commented on #1314
But one thing I still don't get.

Roadrunner was indeed set to start as `www-data` user as you can see in my config, and Roadrunner is the one responsible for starting the PHP process.

The main Roadrunner process was root but the workers were `www-data` which I believe is a common daemon behaviour in Linux systems.

So, how can I do what you are proposing?

Thanks again!

[2022-10-10 18:19] rustatian commented on #1314
It would be best if you did not generally start RR from the `root` permissions. RR is not a webserver, it's the application server. It won't require `root` permissions. Just create a user, then put www-data and the created user in the same group.

Not all daemons require a `root`. For example `systemctl --user` systemd unit services.

[2022-10-10 18:33] egonbraun commented on #1314
Maybe I am just being dumb, so apologies for that. :)

Do you mean that the binary of roadrunner should be started as a user different than root? I mean, we user supervisor, so I can ask supervisor to start the roadrunner bootstrap script as a different user.

Yeah, if that's the case, then this is something I was definitely not doing. But it's totally doable.

[2022-10-10 18:48] rustatian commented on #1314
No no, you're asking good questions. I'm thinking about the permissions... I mean, should we create `tmp` files from the same user specified in the configuration? I guess yes. In this case, this is the RR bug... But, I don't think that the RR should be executed from the `root` user.

[2022-10-10 18:49] rustatian commented on #1314
But, PHP should not touch these files. The original problem I guess is the `roadrunner-laravel` package, it should not touch the external files created by the RR.

[2022-10-10 18:52] rustatian commented on #1314
Since we're not actively supporting this package (you know, we're busy with the `SpiralFramework`, which doesn't have this problem), The better way to solve this problem would be a PR 😃

[2022-10-11 07:40] rustatian commented on #1314
@egonbraun Hey 👋🏻
I looked at this problem a bit deeper; RR sends a file link to the PHP worker. So, this is a RR bug.

[2022-10-11 08:46] butschster commented on #1311
Hi @Baiquette

Could you check https://github.com/spiral/roadrunner-jobs/releases/tag/v2.5.1 ?

[2022-10-11 09:40] egonbraun commented on #1314
Got it! For now I will keep running `rr` as root until this issue is fixed then.

Thanks @rustatian :)

[2022-10-11 09:42] rustatian commented on #1314
My pleasure 👍🏻
It'll be fixed this week, and since we're already started `v2.12.0` preparation, I'll release a `v2.12.0-beta.1` with this fix, so you may safely use it.

[2022-10-11 15:29] wolfy-j commented on #1227
Up.

[2022-10-11 15:30] rustatian commented on #1227
Ok, guys, I see the demand ⚡ Will be in the `v2.12.0`.

[2022-10-12 09:17] Baiquette commented on #1311
Hi @butschster
Thank you it is OK for me :)

[2022-10-12 09:55] #1311 closed, assigned to rustatian

[2022-10-14 09:31] #1314 closed, assigned to rustatian

[2022-10-14 10:16] rustatian commented on #1314
@egonbraun 👋🏻
done: https://github.com/roadrunner-server/roadrunner/releases/tag/v2.12.0-alpha.1 😃

[2022-10-17 08:32] rustatian commented on #1271
Hey guys 👋🏻
RR part will be ready in the `v2.12.0`. The specs with the protocol to allocate new `fork`-ed workers I'll put in the docs and share the link here to discuss additionally 😃

[2022-10-17 08:35] iluuu1994 commented on #1271
@rustatian That's fantastic to hear! Thank you for your continued dedication to RoadRunner :hearts: Were you able to observe improvements in memory consumption?

[2022-10-17 08:41] rustatian commented on #1271
My pleasure ❤️

Not at the moment. For the `v2.12.0`, I'm planning to finish with POC. Since I have 0-knowledge of PHP, I need to create an async worker in `Rust` (guess why 😄), create a simple protocol, and test the RR part. Then, our PHP team will create a PHP master worker, and we will be able to see the results of our experiment 😃

[2022-10-18 06:10] rustatian commented on #1314
Hey @egonbraun 👋🏻
Have you had a chance to test the fix?

[2022-10-18 20:05] rustatian opened #1318 "[📖 DOCS]: Docs for the RoadRunner v2.12.0 release"
### No duplicates 🥲.

- [X] I have searched for a similar issue.

### What should be improved or cleaned up?

- [x] Since we're deprecating our existing `WebSocket` and `Broadcast` plugins before `v2.12.0`, we should provide a complete walkthrough on how-to build RR with the deprecated plugins for the user who still has to use them or needs some migration period: https://hackmd.io/@rustatian/HyrVz

[2022-10-20 08:33] masterjus opened #1321 "[🐛 BUG]: woff2 fonts are detecting with the wrong mime type"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

We're using the Static Midleware to proxy static files. During the test we've found that .woff2 fonts are respond with the "content-type: text/plain" header.

Expected:
The Content-type header is font/woff2;

### Version (rr --version)

2.11.4

### Relevant log out

[2022-10-20 08:57] rustatian commented on #1321
Hey @masterjus 👋🏻
Yeah, that's weird; I'll double-check that case and release a fix.

[2022-10-20 09:08] masterjus commented on #1321
In addition I'd add that fonts are preloading with the meta tag `link`.

`<link rel="preload" href="/fonts/static/Lato-Regular.woff2" as="font" crossorigin="anonymous">`

[2022-10-22 13:29] dwgebler opened #1324 "[💡 FEATURE REQUEST]: Expose client certificate to PHP"
### Plugin

HTTP

### I have an idea!

mTLS works great, would be even better if this plugin and the PHP worker library could expose variables representing the parsed client certificate in PHP's `$_SERVER` superglobal or environment or PSR `ServerRequest`, in the same way for example on Apache you'd get:

`$_SERVER['HTTPS'] = "on"`
`$_SERVER['SSL_CLIENT_VERIFY'] = "SUCCESS"`
`$_SERVER['SSL_CLIENT_

[2022-10-22 13:32] rustatian commented on #1324
Hey @dwgebler 👋🏻
Thanks for the proposal. I'll discuss it with our PHP team 👍🏻

[2022-10-22 13:37] dwgebler commented on #1324
Thanks @rustatian this would be particularly useful for

a) a service which may run on RR via either HTTP or HTTPS and you'd like to be able to know which method was used by the client

b) a service is running via HTTPS with mTLS but you'd like to be able to distinguish between clients based on the DN of the certificate issued to them, to identify the user

[2022-10-22 13:53] rustatian commented on #1324
Yeah, thanks for the clarification. I'll discuss that with the PHP team on Monday 😃. This is, for sure, entirely not a problem to pass some envs to the PHP process (with the parsed certs data), I just need to sync with the PHP team on that (since I'm not a PHP dev 😢).

[2022-10-22 14:22] rustatian commented on #1324
specs:
1. https://www.cryptosys.net/pki/manpki/pki_distnames.html
2. https://www.alvestrand.no/objectid/2.5.4.html
3. https://httpd.apache.org/docs/2.4/mod/mod_ssl.html

[2022-10-22 17:49] dwgebler commented on #1324
As a quick and dirty draft, here are the changes I made in `roadrunner-http` (Go) and `roadrunner-http` (PHP) to get what I wanted:

In HTTP `handler` `getReq`:

[code]
And just modified `request` to include these in the JSON payload which the PHP worker receives.

[code]

Then in PHP `roadrunner-http` package:

- Add `tlsParams` as array to `Request`
- In `HttpWorker::hydrateRequest`:

[code]
In

[2022-10-22 17:56] rustatian commented on #1324
Yeah, nice 😃
It should be in the separate middleware generally. I'm also not a big fan of the json'ing everything, but as the POC looks nice, thanks.

If you need this functionality ASAP, you may also fork the HTTP plugin and build your custom RR with the [Velox](https://github.com/roadrunner-server/velox/). You may have a look at the tutorial here: https://youtu.be/h5PPvc_YOtg

[2022-10-23 01:12] dwgebler commented on #1324
Cheers for that, I've re-written what I need as a custom middleware plugin which adds a flag for whether the request was HTTP/HTTPS and the client certificate data if present through the existing PSR-7 attributes on the ServerRequest, so very minimal change. Compiled RR binary with the plugin and enabled it in my application .rr.yaml and it all works a treat :) obviously would be great to have thi

[2022-10-23 10:33] rustatian commented on #1324
Nice, yeah, I'll create an smt like a `mod_tls` middleware. We just need a little bit more upvotes on your proposal 😃

Excellent, my idea about plugins was precisely about what you did. Anyone can create a plugin for the RR, even with a small Go experience, and then compile its RR binary for any OS.

Wow, that's impressive 👍🏻 Very glad to hear that 😃 Enjoy RR ❤️

You may also join our discord serv

[2022-10-23 15:13] Baiquette opened #1325 "[🐛 BUG]: Kafka - The auto-commit is applied even if PHP process crashes"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

A bug happened!

Hi,

I am using Kafka job and consuming a topic called "my-topic".
My `kafka-worker.php` file:
[code]

My `.rr.yaml` file:
[code]

When a message is produced into my Topic, the PHP process crashes because the `Hello` class does not exist but the of

[2022-10-23 15:31] rustatian commented on #1325
Hey @Baiquette 👋🏻

Yeah, RR commits the offset after it receives a message from Kafka. Since we don't have a particular order. For example, imagine we have 3 workers who are busy with 3 messages with offsets 1,2, and 3. Then, worker 3 (with offset 3) finished its work and committed offset 3. Workers 1 and 2 crash, but still, Kafka has committed offset 3.

I'll try to see if there are any options t

[2022-10-26 16:55] joaopbnogueira opened #1332 "[💡 FEATURE REQUEST]: Kafka Topic Subscription Patterns / Regexes"
### Plugin

JOBS

### I have an idea!

For setups with many Kafka topics it's very convenient to be able to subscribe to a topic pattern (e.g. `*.topic$` or `^(topic1|topic2)` under the same consumer group instead of having to specify individual configurations for each one with a lot of repeated settings yet necessarily different consumer groups and topic names.

This would allow the same consumer

[2022-10-26 22:44] rustatian commented on #1332
Hey @joaopbnogueira 👋🏻
Thanks for the FR 👍🏻

As far as I understand, Kafka doesn't have an API to consume topics by pattern. The drivers implement that feature by periodically checking the list of the available topics and, if they match the pattern - auto-subscribe on them.

[2022-10-27 08:33] joaopbnogueira commented on #1332
Thanks for considering it @rustatian. Another approach that would also work for me would be the ability to provide a list of topics instead of a single one on the configuration, i.e. supporting something like:

[code]

instead of the current
[code]

[2022-10-27 09:14] masterjus opened #1336 "[🐛 BUG]: Headers size is too small for our needs"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

We're using a lot of services that sets their cookies. While the switch our app to use  the fileserver plugin we've got the response with the `431 Request Header Fields Too Large` status code.

Looks like 4kb is not enough for apps like our.

### Version (rr --vers

[2022-10-27 11:54] #1336 closed, assigned to rustatian

[2022-10-27 13:07] phroggyy opened #1337 "[🐛 BUG]: protobuf compiler plugin segfaults on import statements"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

When compiling protobuf definitions using the `protoc-gen-php-grpc` plugin, the plugin segfaults due to a nil pointer when the service has an `import` statement.

## Steps to reproduce

I have a reproduction repo at https://github.com/phroggyy/protoc-php-failure-sa

[2022-10-27 13:10] rustatian commented on #1337
Hey @phroggyy 👋🏻

Yeah, that's because you should add the `package` specifier: https://developers.google.com/protocol-buffers/docs/proto3#packages in your proto.

But either, we should not try to deref a nil pointer for the optional feature :) I'll fix that in a moment.

[2022-10-27 13:13] phroggyy commented on #1337
We definitely _should_ add a `package` :smile: ain't nothing like a bit of legacy to spice things up though!

[2022-10-27 13:14] rustatian commented on #1337
Could you please verify, that with `package` it works?

[2022-10-27 13:15] phroggyy commented on #1337
Confirmed.

[2022-10-27 13:26] rustatian commented on #1337
done: https://github.com/roadrunner-server/grpc/pull/50

[2022-10-27 13:29] #1337 closed, assigned to rustatian

[2022-10-27 13:31] rustatian commented on #1337
Thank you, @phroggyy 👍🏻

Merged, will be released on Thursday (3rd of November) (v2.12.0-beta.x). Please keep the `package` statement in your proto until that.

[2022-10-28 19:08] rustatian commented on #1134
Hey, community 👋🏻 ❤️

Centrifugal plugin (+ PHP client) will be available next Thursday in the `v2.12.0-beta.1` release.

[2022-10-29 18:09] rustatian commented on #1271
Hey @iluuu1994 👋🏻

As far as I understand, the PHP doesn't have a bundled [fork](https://man7.org/linux/man-pages/man2/fork.2.html) syscall, only [`pcntl_fork`](https://www.php.net/manual/en/function.pcntl-fork.php), am I right?

[2022-10-29 18:24] rustatian commented on #1321
@masterjus, Could you please provide some test cases to reproduce this behavior? (`.rr.yaml`,sample of the request with woff2, etc).

[2022-10-29 18:58] iluuu1994 commented on #1271
@rustatian I'm afraid so, yes 😕

[2022-10-29 19:33] rustatian commented on #1271
Good 😃 It's not a problem since our target platforms for this feature are UNIX platforms (Linux, macOS, WSL2, etc). I checked Ubuntu/Fedora and Arch, and they all have this extension enabled and included by default.

[2022-10-31 07:45] butschster opened #1339 "[🐛 BUG]: Service plugin - getting services list via RPC"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

When I try to get list of services by RPC with broken service I got an error

[code]

### Version (rr --version)

2.11.4

### How to reproduce the issue?

Add to config non runnable service and try to get the list of services by RPC

### Relevant log output

_No re

[2022-10-31 10:50] butschster opened #1340 "[💡 FEATURE REQUEST]: Broadcast RR staring to another sevice"
### Plugin

_No response_

### I have an idea!

I have an idea, listen to me!!!

What if RoadRunner will have the ability to send information about running to another server

[code]

[2022-10-31 11:48] rustatian commented on #1227
Hey, community ❤️

About this feature, I guess it would be better to print to the `stderr` completely untouched log from the PHP side. I mean, in the PSR-3 recommendation, we have a message (string) and an array (which I suppose is also a string), and we have two ways for the output:

- using RR logger (like it works currently), but we have to map a Go's logger approach and PHP. In Go, we don't ha

[2022-10-31 12:37] benalf commented on #1227
The PHP `context` array can actually be anything and _usually_ is an associative array (`HashMap<String, Any>`) with possibly deeply nested garbage. It even allows and reserves the `exception` context key in case the user also wants to provide an exception object with a stack trace.

What's the idea on how to _combine_ the message and the context? Serializing in some way? Is it possible to get a f

[2022-10-31 12:56] rustatian commented on #1227
It'll be serialized into a string on the PHP side (options?). I guess, in the RPC we can accept only 1 arg - string and let PHP decide how to combine the `context` and `message`. Because, you know, we should send the data to the RR somehow.

[2022-10-31 13:03] rustatian commented on #1227
Here is a very draft `protobuf` message: https://buf.build/roadrunner-server/api/file/main:proto/logger/psr3/v1/psr3.proto

And RR RPC part: https://github.com/roadrunner-server/psr-3-logger/blob/master/rpc.go
(you may see the 1st option implemented, where we use an RR logger mapped to the PSR-3 severity levels)

[2022-10-31 14:02] rauanmayemir commented on #1340
It's called heartbeat. I think there are plenty ways to do it outside of RR's scope.

[2022-10-31 14:06] benalf commented on #1227
OK, I see. Second option means PHPland is fully responsible of building the whole log entry string and therefore can produce funky levels like "critical" in whatever syntax they want. RR just accepts a new stderr entry as a single string and simply vomits it out, correct?

I'm personally totally down with such approach. Gives complete flexibility and doesn't enforce any serialization constraints.

[2022-10-31 16:07] #1339 closed, assigned to rustatian

[2022-10-31 21:22] rapita opened #1341 "[🐛 BUG]: Remote protoc-gen-php-grpc plugin error"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

The remote plugin https://buf.build/roadrunner/plugins/protoc-gen-php-grpc don't work.
After the command `buf generate` receive error: `Failure: internal error, contact support, reference code: a1c92b`.
With the local plugin, all works fine.

### Version (rr --vers

[2022-10-31 22:17] rustatian commented on #1341
Hey @rapita, nice to meet you 👋🏻

Yeah, I heard about this error; I'll try to resolve it, but, `buf` remote code generation is currently in the [alpha stage](https://docs.buf.build/bsr/remote-generation/plugin-example). So please, use our regular, stable builds until resolved.

[2022-10-31 22:55] rustatian commented on #1341
@rapita Could you please try version `2.11.5` of the plugin?

[2022-11-01 08:18] rapita commented on #1341
Thanks @rustatian
All works fine with `2.11.5`.

[2022-11-01 10:12] rustatian commented on #1341
Great 👍🏻

[2022-11-01 10:44] #1341 closed, assigned to rustatian

[2022-11-01 11:11] butschster opened #1344 "[💡 FEATURE REQUEST]: Get config by RPC"
### Plugin

_No response_

### I have an idea!

I have an idea, listen to me!!!
I want to have the ability to get rr config by RPC

[2022-11-01 11:13] butschster opened #1345 "[💡 FEATURE REQUEST]: RPC method to manage process num"
### Plugin

_No response_

### I have an idea!

I have an idea, listen to me!!

It would be great to have the ability to  manage process num by RPC. Something like

[code]

[2022-11-01 11:42] butschster opened #1346 "[🐛 BUG]: Jobs worker doesn't have statusStr in RPC"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

When I get inforamation about Jobs plugin workers there isn't information about worker status in string format

### Version (rr --version)

2.11.4

### How to reproduce the issue?

Just get information about workers by RPC

### Relevant log output

_No response_

[2022-11-01 13:48] rustatian commented on #1227
Ok, I merged these two approaches. Here is the PHP client (the RR part will be in the next beta in a few days): [link](https://github.com/roadrunner-php/app-logger)

So, `debug`, `warning`, `info`, and `error` are RR logger methods. The logger configuration is applied to these methods.

Next, the `log` method prints directly to the `stderr`. RR doesn't touch in any way this payload.

All methods r

[2022-11-01 14:06] rustatian commented on #1345
dup: https://github.com/roadrunner-server/roadrunner/issues/97

[2022-11-01 14:06] #1345 closed, assigned to rustatian

[2022-11-01 14:12] rustatian commented on #1340
I guess, that the idea (correct me if I'm wrong @butschster) is in something like server-side service discovery. Because `heartbeat` means to ping something (for example, to ping RR by some service to check if it's alive), but here, the idea is to say to some server, that the RR instance is ready, send an IP address + I guess other meta info. But it's just my guess. I need more details in the tick

[2022-11-01 14:33] benalf commented on #1227
So in case somebody wants to wrap it into PSR3 compatible interface, it's up to them to map the available RR logger methods to PSR3 verbosity as they see fit?

Sounds like a great middleground, thanks. :+1:

[2022-11-01 14:58] rustatian commented on #1227
Yeah, in Go, generally, we have only `error`, `warn`, `info`, and `debug` + some like `fatal`, which sends os.Exit(1) to the process.

In this case, if you want to use the RR logger - feel free to use these methods. Otherwise - `log` method is your bridge to the RR's `stderr`.

EDIT: This feature is in beta (until `v2.13`). Discussion is in the process and feedbacks are welcome 😃

[2022-11-01 15:07] rustatian commented on #1346
We have a common mechanism to get info about workers (http, jobs, grpc, etc). Specifically to the jobs, here is the method:
https://github.com/roadrunner-server/jobs/blob/master/plugin.go#L270

And here, you may see the output: `StatusStr` = `ready`
![image](https://user-images.githubusercontent.com/8040338/199266294-a9cf5aee-2716-4d9c-a5ae-0c3eeccf1c05.png)

[2022-11-01 15:07] #1346 closed, assigned to rustatian

[2022-11-02 08:20] rauanmayemir commented on #1340
I see, the discovery service could easily be done via something like consul.io.

Hate to be a downer, just expressing the sentiment that RR is better kept its scope to backend and surrounding infra.

[2022-11-02 09:09] rustatian commented on #1340
Yeah, consul.io is a good instrument for that. I guess it might be better to add a docs section about RR <-> consul.io configuration rather than creating a dedicated plugin for that.