[2019-11-22 15:44] Smolevich commented on #208
Useful case for us - throw log events catched from php://stderr by roadrunner as is.

[2019-11-24 11:28] wolfy-j commented on #208
We need another log listener instead of logrus for that.

[2019-11-25 13:20] #209 closed

[2019-11-25 19:35] coxa opened #211 "Symfony 5 support"
Problem 1
    - spiral/roadrunner v1.5.1 requires symfony/console ^2.5.0 || ^3.0.0 || ^4.0.0 -> no matching package found.
    - spiral/roadrunner v1.5.0 requires symfony/console ^2.5.0 || ^3.0.0 || ^4.0.0 -> no matching package found.
    - Installation request for spiral/roadrunner ^1.5 -> satisfiable by spiral/roadrunner[v1.5.0, v1.5.1].

I'm using "symfony/console": "5.0.*",

[2019-11-25 19:45] wolfy-j commented on #211
PR will he appreciated. Otherwise, will be patched tomorrow.

[2019-11-26 11:12] #211 closed

[2019-12-03 15:08] bognerf opened #213 "Possibility to set cipher suite and TLS version"
Hi,

I recently SSL-tested some RoadRunner-based microservices (raw, **not** behind any SSL terminating proxy), here is an example:

[code]
Test was performed usingt the most recent version of testssl.sh, see [https://github.com/drwetter/testssl.sh
](https://github.com/drwetter/testssl.sh
)

As we can see, **SSLv3** and **TripleDES** is offered. I would like to remove such old protocols (ideally,

[2019-12-03 15:21] wolfy-j commented on #213
Most likely yes, RR is based on net/http and it offers are variety of config options, most of them are simply not exposed.

see https://github.com/spiral/roadrunner/blob/master/service/http/service.go#L141

[2019-12-04 20:33] bognerf commented on #213
Well, I can't help implementing this, but I gladly would like to offer my help in testing and verifying whenever you have a (Linux) binary ready.

I would imagine that RR should take allowed protocols (TLSv1.2, _TLSv1.3 if possible_) as well as desired cipher suites. A good starting point to grasp which values make sense may be https://ssl-config.mozilla.org/

So, if I can be of service, drop me a

[2019-12-08 11:14] xepozz opened #215 "Symfony Debug bar: Wrong request processing time"
I started RR.
I wait some minutes and do request.

![DeepinScreenshot_выберите-область_20191208141146](https://user-images.githubusercontent.com/6815714/70388576-dbcab200-19c4-11ea-8a61-db04722ce0e6.png)

[2019-12-09 09:08] wolfy-j commented on #215
I think the Symfony Debug bar relies on some SERVER value. Not really RR bug but we can set the header if needed.

[2019-12-09 09:35] xepozz commented on #215
About half of year ago I was tested Yii2+RoadRunner and has the same problem

[2019-12-09 09:36] wolfy-j commented on #215
Because this frameworks was build for dying model, so their debut bars rely on script start time which is not relevant for long running apps.

[2019-12-11 16:44] sikhlana opened #216 "Does Roadrunner use multiple threads?"
I was just curious if Roadrunner handles all the HTTP requests in a single thread or each request is handled on a different thread?

[2019-12-12 08:25] wolfy-j commented on #216
Yes, each worker is an isolated process with its own thread.

[2019-12-12 08:28] sikhlana commented on #216
@wolfy-j That I am aware of. I am asking about the main process that passes the HTTP requests to the workers.

[2019-12-12 08:34] wolfy-j commented on #216
Yes, it workers over multiple threads.

[2019-12-12 08:37] sikhlana commented on #216
Got it. Thanks for the info!

[2019-12-12 08:37] #216 closed

[2019-12-12 12:12] camohob commented on #122
execTTL is solution for http service, but if i using `roadrunner.Server` directly, how can i use exec TTL?

[2019-12-12 14:26] wolfy-j commented on #122
Hi,

you can attach the controller to any Server:

https://github.com/spiral/roadrunner/blob/master/server.go#L67
https://github.com/spiral/roadrunner/blob/master/controller.go#L4

You can implement any control logic inside it... or use the controller from Limit service:

https://github.com/spiral/roadrunner/tree/master/service/limit (you'll have to grab it from the config).

Or you can make your

[2019-12-17 09:48] saviorlv opened #217 "Is thinkphp6 Supported?"
Is thinkphp6 Supported?

[2019-12-17 11:41] wolfy-j commented on #217
It should work with roadrunner since it can work with Swoole.

[2019-12-18 06:00] tarampampam opened #218 "RR binary in Docker"
Currently for docker images building that contains RR binary I prefer to use:

[code]

It works, but maybe we can create `Dockerfile` in this repository and setup image building _(with RR binary)_ using `hub.docker.com`? If this is possible - I will create an PR

[2019-12-18 07:39] tarampampam commented on #218
PR with required changes was made. Ping @spiralscout

[2019-12-18 08:21] Reallife commented on #218
@tarampampam @spiralscout Yep, it would be usefull.

[2019-12-18 08:31] alexey-tester opened #220 "ERRO[0000] [metrics]: .... bind: address already in use"
Hello!

When I restart RoadRunner daemon it can not bind to the same port it was opened and returns errors like ERRO[0000] [metrics]: .... bind: address already in use

If i check thoses ports it says
tcp        TIME_WAIT   -

I googled the issues and looks like there's a issue with go lang when it does not reuse ports

https://github.com/nordicdyno/golang-tcp-port-reuse

Tested on linux \ ubuntu

[2019-12-23 04:05] wppd opened #222 "support gzip compression?"
hi,
I wonder if roadrunner supports gzip compression? conduct a "gzip" search in the reposiotry but no luck.

[2019-12-23 08:10] wolfy-j commented on #222
Currently, it does not support it, but it can be achieved using simple http middleware. Like https://github.com/nytimes/gziphandler

[2019-12-23 08:11] wolfy-j commented on #222
We can add it as default implementation if someone will send us a PR.

[2019-12-23 08:12] wolfy-j commented on #220
Yeah, similar issues are causing some tests to fail periodically. I'm not seeing quick way to fix it yet.

[2019-12-23 08:58] wolfy-j commented on #215
Did you get the answer from @stof ? Can i close this issue now?

[2019-12-23 09:37] xepozz commented on #215
Yes, sure.
There is my temporary solution:
[code]

[2019-12-23 09:37] #215 closed

[2019-12-23 11:55] #207 closed

[2019-12-23 12:03] wolfy-j commented on #195
Closed as stalled issue.

[2019-12-23 12:03] #195 closed

[2019-12-23 12:04] wolfy-j commented on #170
Closed as a stalled issue.

[2019-12-23 12:04] #170 closed

[2019-12-23 12:38] #194 closed

[2019-12-23 13:10] wolfy-j commented on #150
![gif](https://i.makeagif.com/media/4-03-2017/LTnIcf.gif)

[2019-12-23 13:42] wolfy-j commented on #213
The minimum version has been bumped to TLS 1.2, also `Strict-Transport-Security` has been added. I don't want to give a config option yet, as older ciphers considered non-secure anymore.

[2019-12-23 14:00] wolfy-j commented on #213
See 1.5.3

[2019-12-23 14:00] #213 closed

[2019-12-23 14:00] wolfy-j commented on #150
See 1.5.3

[2019-12-23 14:00] #150 closed

[2019-12-24 08:27] codysnider opened #226 "Missing $_SERVER['REQUEST_METHOD'], breaks Symfony routes"
The Symfony PSR-7 bridge requires that `$_SERVER['REQUEST_METHOD']` has the request method (e.g. POST) present to properly match a route when two routes have the same path but different http methods/verbs.

[2019-12-24 09:04] codysnider commented on #226
Adding this to the configureServer method of PSR7Client would take care of the Symfony requirements, but it throws out `invalid data found in the buffer`:

[code]

[2019-12-24 10:19] wolfy-j commented on #226
`invalid data found in the buffer` is most likely caused by the error in the Symfony app, it usually caused by error or echo sent to STDOUT. Try switching to UNIX or TCP relay to debug it. I'm fine adding (or accepting PR) to fix it as far as it is not root cause of issue with Symfony.

[2019-12-25 02:34] codysnider commented on #226
PR submitted. Tested both with and without and this covers the creation of a `\Symfony\Component\HttpFoundation\Request` for use with the standalone annotation-based router. Otherwise, routes restricted to methods that aren't GET are not matched.

Happy holidays! Let me know if you need anything else on this. For the time being, I'm pointing my composer installation to my fork. Looking forward to

[2019-12-25 08:14] wolfy-j commented on #226
Nope, all good! Thank you for your PR. Can't guarantee quick release due to the holidays.

[2019-12-25 08:18] codysnider commented on #226
Understood, no rush. Best get to bed, friend. Santa is on the way!

[2019-12-25 08:18] #226 closed

[2019-12-25 08:30] #218 closed

[2020-01-03 19:04] wolfy-j opened #230 "Remove the dependency on Zend Diactoros"
Zend is now officially the Laminas project and we have to redo the dependency. This will be addressed in the next major release. Currently, we are thinking about removing Zend dependency entirely and replace it with https://github.com/Nyholm/psr7.

Note, you will experience BC break if you use Zend dependencies indirectly.

[2020-01-03 19:08] rustamwin commented on #230
Agreed

[2020-01-03 19:12] wolfy-j commented on #230
I'm trying to pick the best approach currently. Either do it in 2.0 (will take a while) or 1.6.0. Later will cause issues for the users who use Zend indirectly... won't affect frameworks and bridges.

[2020-01-03 21:39] Alex-Bond commented on #230
Maybe it's better yo just copy one of the solutions and just embed it to our repo? We will kill a lot of conflicts problems with that...

[2020-01-03 21:47] wolfy-j commented on #230
It won’t solve the problem for people with indirect decencies unfortunately. Ideally I would like to remove PSR-7 implementation from this repository completely and depend on the standard only.

[2020-01-03 21:50] Alex-Bond commented on #230
Can you name an example of the situation? If we copy code and change namespace to ours - no conflicts will occur.

[2020-01-03 21:53] wolfy-j commented on #230
See the example at README.md, it will stop working after removing zend dependency. :(

[2020-01-03 22:04] Alex-Bond commented on #230
Well, just release a new version and mention that it has a BC breaker. Or tell that you can manually add zend library to your deps if you want to stay with them.

[2020-01-04 09:32] genhoi commented on #230
IMHO, do it in 2.0

[2020-01-10 00:16] fenric commented on #230
[code]

why? why don’t you give me the right to install any others PSR-7 implementations?

[code]

why not? i don't use no `zend/diactoros` no `nyholm/psr7`.

please let us decide for ourselves which PSR-7 implementations to use.

[2020-01-10 00:17] fenric commented on #230
please listen to yourself, you say the right thing!

[2020-01-10 05:13] Alex-Bond commented on #230
Well, you still can do your own implementation using just RAW client.

[2020-01-10 05:30] fenric commented on #230
I understand all this. I'm against it:

https://github.com/spiral/roadrunner/blob/4016bdf2d53faca43408dd28b0809a45d508d338/composer.json#L22

[2020-01-10 16:00] wolfy-j commented on #230
RR won’t include any concrete PSR-7 implementation in 2.0. This question is more about 1.*

[2020-01-11 04:00] fenric commented on #230
https://github.com/middlewares/utils
https://github.com/middlewares/utils/blob/master/src/FactoryDiscovery.php

this implementation could help... at least 5 other implementations are listed there.

[2020-01-11 21:59] artemmolotov commented on #186
@rustamwin

Perhaps launching through `screen` is suitable for you? Example:
[code]
And you can easily attach window later by: `screen -x roadrunner`.

Or as a second (less elegant) way:
`rr serve -v -d >/dev/null 2>&1`
`rr serve -v -d STDOUT>/dev/null STDERR>&STDOUT`

[2020-01-15 17:45] andrew-s commented on #230
@wolfy-j What's the status on 2.0? I'd be looking to use this with Phalcon's 4.x PSR7 implementation, happy to help and/or test in any way I can

If 1.x is going to be non-breaking, then is it worth moving at all? Since Zend has 100% coverage anyway and this sounds like a solution that will be replaced by 2.0

[2020-01-15 17:51] wolfy-j commented on #230
The 2.0 lives in our minds, there a bunch of things we have to do for it:
1) upgrade Goridge to 3.0
2) implement cascade service container
3) implement proper logging convention (yes, Golang does not have anything close to PSR-3)
3) move all services
4) remove unnecessary dependencies

So it will take some time. We are currently at 1) and 2).

[2020-01-15 18:05] wolfy-j commented on #222
Merged, I'll polish the test and add it to the next release.

[2020-01-16 01:38] wppd commented on #222
thanks man

[2020-01-16 01:38] #222 closed

[2020-01-16 16:02] andrew-s commented on #230
@wolfy-j Okay sure, that makes sense - let me know if I can help with that

[2020-01-21 09:57] irLinja opened #231 "any configuration key to disable logging"
We are running rr in our k8s cluster and since the INFO log is active, apps generate a useless massive amount of log.
is there any configuration key or cli option to disable the log or maybe filter it to only errors?

[2020-01-21 09:59] wolfy-j commented on #231
Do not set “-d” flag.

[2020-01-21 10:19] irLinja commented on #231
Seems there is no documents on what actually `-d` do.
also I found that `-d` is present on all examples either in the [Wiki](https://roadrunner.dev/docs/intro-config) or in [project Readme file](https://github.com/spiral/roadrunner#run).

is it going to change anything other than logging behavior?

[2020-01-21 10:21] wolfy-j commented on #231
It’s just about exposing extra logs. The description is located in binary itself (-h). It’s safe to turn it off.

[2020-01-24 11:18] marliotto opened #232 "Wrong REQUEST_URI when uses FastCGI"
Hello,
REQUEST_URI has duplicated hostname.
My request
POST http://nginx.local:8082/?site=1

I have result
[code]

$_SERVER['REQUEST_URI'] = 'http://nginx.local:8082http://nginx.local:8082/?site=1'

Nginx access.log
[code]

My Environments
Windows 10
PHP 7.3.12
Nginx 1.17.5
RoadRunner 1.5.3

.rr.yaml
[code]

nginx.conf
[code]

[2020-01-24 11:47] #231 closed

[2020-01-26 08:19] luza opened #234 "[RFC] Make possible for server to listen unix socket as well"
Currently, the only way to run RR is to listen regular ports 80, 443 for accepting requests. I would like to have an option to listen unix socket as well. This is useful for cases when RR is set up for running behind an edge nginx.

If community accepts such an initiative, I would be able to prepare a PR.

[2020-01-26 08:45] wolfy-j commented on #234
No objections on me, check utils. We already have some base code for setting connection up.

[2020-01-28 10:22] scapital opened #236 "Fix typo in a link to docs with Symfony integration"
As GitHub does not support PR to Wiki, I leave it here.

Link at [the page](https://github.com/spiral/roadrunner/wiki/Symfony-Framework),
have to be followed
to https://roadrunner.dev/docs/integration-symfony
instead of https://roadrunner.dev/docs/integrations-symfony

[2020-01-28 10:28] wolfy-j commented on #236
Hi, you can click edit this page at top of every article on the website.

[2020-01-28 12:09] scapital commented on #236
Only maintainers have permission to do that.

[2020-01-28 12:23] wolfy-j commented on #236
We accept PR via forks.

[2020-01-29 06:05] scapital commented on #236
Wiki does not support fork.
If there was a way to change the wiki page, I would to do that.

You can unselect "Restrict edits to collaborators only", so, community would have ability to change pages.
https://help.github.com/en/github/building-a-strong-community/changing-access-permissions-for-wikis

[2020-01-29 08:07] wolfy-j commented on #236
Oh yeah, I forgot we still have the Wiki, sorry about that. I fixed the typos.

FYI, all of the online documentation is driven by this repository:
https://github.com/spiral/roadrunner-docs

You can create PRs to it and the changes will be delivered to the website.

[2020-01-29 08:07] #236 closed

[2020-02-01 16:36] nvtv15 commented on #64
Wordpress works with mysql ok. There is a lot of plugin for example,woocommerce or other similar ( mycred  https://wordpress.org/plugins/mycred/  )  plugin saves transactions in mysql. Is it possible to use part with this db, that tables carrying transactions from mysql partly go into blockchain?

[2020-02-03 09:12] wolfy-j commented on #64
If you are talking about Golang to PHP SDK to communicate with blockchain - yes, it is possible.

[2020-02-04 03:25] persevereVon opened #237 "How to schedule a task?"
Recently, I was working on a project to migrate my laravel project to roadrunner. During the migration process, I found a problem, how do I run the `php artisan schedule:run` command on a regular basis, which was previously handled by crond.
Thank you.

[2020-02-04 07:58] wolfy-j commented on #237
The Console part of your application will work as it was before, you can keep invoking this command via crontab.

[2020-02-04 08:09] persevereVon commented on #237
Ok, I'm wondering if I could not use cron, I wanted to keep my docker image as small as possible.

[2020-02-04 08:22] wolfy-j commented on #237
On a later date, we will build cron like a module (create Issue if you interested in adding it sooner), for now, you can use default cron.

[2020-02-04 08:37] rauanmayemir commented on #237
There are already two issues including this one: https://github.com/spiral/framework/issues/212

I wonder what would be the proper place to add the scheduler. It has to be a semaphore-like feature to account for multi-instance setups and `spiral/jobs` also needed a coordinator.

RR feels like an appropriate place for a 'source of config' kind of entity. (I mean framework could have cron-like sched

[2020-02-04 09:48] persevereVon commented on #237
A cron module is a good solution, I try to write it first. After all, I'm a newbie to roadrunner. Thank you @wolfy-j

[2020-02-04 12:29] #232 closed

[2020-02-04 22:45] nvtv15 commented on #64
My site galonet.eu/wallet. It's a little harder to sign in because I put in double e-mail because of spammers. When you first sign up you get 8000 dolars, there are options to send to another user. I'd like to put that transaction in the blockchain.

[2020-02-05 07:14] wolfy-j commented on #64
You can implement it using Golang SDK, there are examples in roadrunner docs how to create your own service.

[2020-02-07 05:23] Veratyr opened #239 "Dead link to Docker Hub in README.md"
In the "[installation](https://github.com/spiral/roadrunner#installation)" section in README.md there is a paragraph with dead link and with the mention of container which currently does not exist on Docker Hub:

[2020-02-07 06:34] wolfy-j commented on #239
It should be pushed automatically on next build.

[2020-02-07 09:36] 48d90782 opened #240 "Switch to Github Actions"
- Remove Travis CI and replace it with GithubActions [Also README.md]
- Add golangci-lint metalinters to Actions
- Check golang and other packages version in Actions

[2020-02-07 13:00] #240 closed

[2020-02-07 13:54] wolfy-j commented on #203
https://github.com/spiral/roadrunner/tree/master/service/metrics This service provides the ability to push metrics from PHP only based on metrics defined in confirm. New new set of RPC methods to declare metrics dynamically.

[2020-02-10 04:32] tarampampam commented on #239
@Veratyr Previos versions in docker available here: https://github.com/512k/roadrunner-docker

[2020-02-10 19:04] #203 closed

[2020-02-11 10:31] tarampampam commented on #239
@wolfy-j Something goes wrong:
![image](https://user-images.githubusercontent.com/7326800/74229087-7dcb8b00-4ce3-11ea-954e-b9b1a9660e87.png)

[2020-02-11 10:35] wolfy-j commented on #239
Yeah, we are going to check it. @48d90782

[2020-02-11 12:15] 48d90782 opened #243 "Investigate RR performance"
1. TBD benchmarks. Separate PHP frameworks
2. RR performance alalysys (pprof, gdb, pointers, data structures).
3. Repeatable benchmark.
4. Perform escape alalysys.

[2020-02-11 12:18] 48d90782 opened #244 "Reorganize github labels"
We need to have clean and understandable labels.
Samples:
1. https://medium.com/@dave_lunny/sane-github-labels-c5d2e6004b63
2. https://docs.saltstack.com/en/latest/topics/development/labels.html

[2020-02-11 12:37] wolfy-j commented on #244
approved

[2020-02-11 15:34] tarampampam commented on #239
Any news?

[2020-02-11 15:39] 48d90782 commented on #239
Not yet. I'll dig into that problem, but a little bit later. I'll keep you posted :)

[2020-02-12 09:05] wolfy-j commented on #239
Fixed!

[2020-02-12 09:05] #239 closed

[2020-02-12 09:06] wolfy-j opened #246 "Check if gzip extension working"

[2020-02-12 09:12] 48d90782 commented on #239
@tarampampam https://hub.docker.com/r/spiralscout/roadrunner/

[2020-02-12 15:11] tarampampam commented on #239
Hell yeah! Great!

[2020-02-13 08:09] 48d90782 commented on #246
Work like a charm :)
![Screenshot-20200213110849-1009x460](https://user-images.githubusercontent.com/8040338/74413846-41b63880-4e51-11ea-86e5-b512675cc43f.png)

[2020-02-13 08:09] #246 closed

[2020-02-14 09:45] Baldinof commented on #18
Hi, I wrote a symfony bundle that works with sessions: https://github.com/baldinof/roadrunner-bundle

It also has a Flex recipe for easy installation.

Hope it can help!

[2020-02-14 13:50] 48d90782 opened #249 "File watcher module with auto-reload capabilities"
RR module which will auto-reload worker in case of FS changes.
Linked issue: #102

[2020-02-15 11:26] Radiergummi commented on #18
...to chime in, I wrapped the magnificent bundle by @Baldinof in a Docker image: https://github.com/Radiergummi/roadrunner-symfony-skeleton

May be helpful too :)

[2020-02-15 17:01] #217 closed

[2020-02-15 17:03] 48d90782 commented on #217
@saviorlv Thanks for the question. Feel free to re-open this ticket if you have any other questions :)

[2020-02-15 17:09] 48d90782 commented on #186
@rustamwin Thanks for the question. Feel free to re-open this ticket if you have any more questions :smile:

[2020-02-15 17:09] #186 closed

[2020-02-15 17:14] #80 closed

[2020-02-15 17:16] 48d90782 commented on #80
@Alex-Bond @wolfy-j @grachevko I am going to close this issue due to age. Feel free to reopen it if you have any questions.

[2020-02-15 17:19] 48d90782 commented on #77
Merged with #124

[2020-02-15 17:19] #77 closed

[2020-02-15 19:02] 48d90782 commented on #244
@wolfy-j Done
https://github.com/spiral/roadrunner/labels

[2020-02-16 09:05] wolfy-j commented on #244
Perfect!

[2020-02-16 09:05] #244 closed

[2020-02-16 15:43] wolfy-j commented on #18
I would appreciate if someone can add this information to https://github.com/spiral/roadrunner-docs/blob/master/integration/symfony.md

I hope we can finally close this ticket!

[2020-02-16 16:33] Baldinof commented on #18
👍 I will make the PR.

[2020-02-17 08:39] #243 closed

[2020-02-17 08:52] wolfy-j commented on #249
- list of directories and file extwnsion

[code]

[2020-02-17 09:25] wolfy-j commented on #153
Closing this issue due to inactivity. Please reopen if you have more comments or wait till we will create a forum.

[2020-02-17 09:25] #153 closed

[2020-02-17 09:26] wolfy-j commented on #78
Closing this issue due to the inactivity. Please take a look at the upcoming Yii3 for the integrated RoadRunner support.

[2020-02-17 09:26] #78 closed

[2020-02-17 09:30] lkraav commented on #64
...

I'm confused - RR does or does not require a strictly PSR7-compatible app, or can you run any PHP script with it?

[2020-02-17 09:34] wolfy-j commented on #64
RoadRunner is not only a web server but an application server. This means you can move some of your functionality to golang and still serve the app using the classing PHP-FPM method.

In this case, it makes sense to move Blockchain communication methods to Golang.

On another end, RoadRunner does not require PSR-7 (you can use low-level HTTP protocol instead).
But it does require your application

[2020-02-17 10:27] lkraav commented on #64
I am not sure I understand. WP's only "state" mechanism is cookies. It doesn't use sessions, or anything else. How is this "incapable of running in stateless mode" claim determined?

[2020-02-17 10:47] wolfy-j commented on #64
You are not able to pass more than one request through the WP. Since WP treats the request as a global instance it will cache its values inside the config and other functions. This makes impossible to reuse already initiated application. This is caused by the fact that WP does not use any request/response abstraction.

[2020-02-23 12:45] 48d90782 opened #254 "Bors for automated CI checks"
- Turn off CI checks on all events [push, pull]
- Integrate BORS
- URL https://bors.tech/

[2020-02-23 14:00] #249 closed

[2020-02-24 14:49] wolfy-j commented on #18
And the story is over. Let me know if this ticket should be reopened!

[2020-02-24 14:49] #18 closed

[2020-02-24 14:49] wolfy-j commented on #18
https://roadrunner.dev/docs/integration-symfony

[2020-02-26 11:01] 48d90782 opened #258 "Provide binaries for Alpine linux (and others) with musl-gcc"
Add new target to build.sh called `roadrunner-<version>-unknown-musl`

[2020-02-27 08:18] #258 closed

[2020-02-27 16:02] alexeyshockov commented on #77
So was it implemented or just closed? Both issues point one to another at the moment, both are closed, but looks like nothing was implemented.

[2020-02-27 16:05] wolfy-j commented on #77
See #208

[2020-03-01 14:24] rustatian opened #261 "[💡TESTS]: Fuzz testing"
Add fuzz-testing for golang (PHP ?) part of the application
https://github.com/dvyukov/go-fuzz
@wolfy-j

[2020-03-02 08:45] #220 closed

[2020-03-03 12:39] 48d90782 commented on #234
@luza Hey :) I want to clarify a little bit your request. At the moment you can listen unix sockets via FastCGI option in config. You can replace `TCP` in the sample with `unix://rr.sock`. Is that what you need?
[code]

[2020-03-03 12:46] 48d90782 opened #264 "[BUG] Ephemeral plugin prevents the RR process to exit"
From the discord: When the app tries to listen already bound 2112 port, it just freezes w/o notifications or errors to end-user.

[2020-03-03 13:30] luza commented on #234
Yes, FastCGI is an option. Already this ticket created, I realised that there is no reason why fcgi socket can't fit my needs.

[2020-03-03 13:43] 48d90782 commented on #234
@luza Great. Thanks

[2020-03-04 08:02] Alexfilus opened #266 "[BUG] Problem with http:reset"
Gitlab CI pipeline ended with that:
`$ ./rr http:reset
 Restarting http worker pool: Error: unexpected EOF
 ERROR: Job failed: exit status 1`
Site was not worked about a minute (502 response), and after that just started automatically.

[2020-03-04 08:11] 48d90782 commented on #266
@Alexfilus Could you please post the link to the related GitlabCI pipeline? And what site wasn't worked?

[2020-03-04 08:22] wolfy-j commented on #266
Sounds like the http:reset can’t connect to the server. Make sure to specify the correct config for rpc. Was it working before?

[2020-03-04 08:22] wolfy-j commented on #266
Also, can you share roadrunner logs?

[2020-03-04 08:28] 48d90782 commented on #264
Clarifications:
1. Everything ok with the port 2112.
2. The problem in plugin [ephemeral] which prevent the RR process to exit.

[2020-03-04 09:09] Alexfilus commented on #266
Next deploy finished by that:

 Error: dial tcp 127.0.0.1:6001: connect: connection refused
 ERROR: Job failed: exit status 1

Only the first one pipeline worked successful.

Where can I see RR logs?

[2020-03-04 09:10] wolfy-j commented on #266
Do you have rr server running? You can only reset already running server.

[2020-03-04 09:12] Alexfilus commented on #266
I can't show the code. Project isn't opensource, but I can say, it is Laravel based.

[2020-03-04 09:15] Alexfilus commented on #266
Yes. Looks like pm2 keeps it running.
And I see 68 restarts since this morning... May be are they conflicting?

[2020-03-04 09:28] Alexfilus commented on #266
On another server everything works fine, but RR keep running by systemd.

[2020-03-04 21:17] #234 closed

[2020-03-06 14:30] dkarlovi commented on #230
The best way forward here to me seems to be to require `psr/http-message-implementation`, which is a virtual package.

It's a way for packages to declare they support this and [a bunch of them do](https://packagist.org/providers/psr/http-message-implementation) (including Zend and Nyholm). This means the developer would be free to wire any implementation they see fit.

[2020-03-06 15:14] dkarlovi opened #269 "Move symfony/console dependency to require-dev"
Since the `vendor/bin/rr` command (built with Console) is primarily for fetching the binary and to init config, it doesn't make sense to me to have it be a production dependency, it should really be dev-only (it assumes your deployment already has the binary and the config file).

As soon as you have the Golang binary, you no longer need the `symfony/console` (AFAIK?). This also means the change I

[2020-03-06 15:18] wolfy-j commented on #269
Agreed.

[2020-03-06 16:31] #269 closed

[2020-03-07 14:31] wolfy-j commented on #266
Your pipeline does not have access to running instance of RR. This is not the server issue but rather a configuration of your env.

I will close this issue since it's is not a bug and I can't help debugging it without seeing your configuration. If you'll have more details please post here.

[2020-03-07 14:31] #266 closed

[2020-03-08 15:16] #264 closed

[2020-03-08 15:16] #254 closed

[2020-03-09 07:21] dkarlovi commented on #269
Note, this was fixed in #268 but then reverted since Composer will not enforce / install deps from `require-dev`.

[2020-03-09 07:38] haozige90 opened #271 "Any way to output app logs without -d flag?"
1. Is there any way to output application logs without '-d' flag?
     cos we want to collect logs from stderr.

2. I saw runDebugServer in debug mode, is it safe to use '-d' flag for logs collection?

[2020-03-10 08:19] wolfy-j commented on #271
Yes, it is safe to use -d for log collection. We will provide a centralized way to manage logs in future versions, see #208

[2020-03-13 10:49] vvval opened #275 "Serve failed with showing local package paths"
On `v1.6.3` after using `vendor/bin/rr get-binary` I've launched the `rr` binary file and got the next error output:
[code]

[2020-03-13 10:57] vvval opened #276 "Launched instance without config stuck"
I've launched the instance and haven't specified the config file, after that the rr stuck without any response and no chance to be terminated using `ctrl+c`
[code]

[2020-03-13 19:52] 48d90782 commented on #275
@vvval All golang packages paths are statically built into binary (excluding OS dependent packages like `netgo`, `osuser`, etc), so, we can only trim my dirs from paths.
`home/valery/Projects/opensource/roadrunner/cmd/rr/cmd/root.go:109 +0x1f5` --> `cmd/rr/cmd/root.go:109 +0x1f5`

[2020-03-14 10:44] #275 closed

[2020-03-14 10:44] #276 closed

[2020-03-15 20:08] 48d90782 opened #279 "Rename gzip module to compression"
Rename gzip module to compression
Update configuration

[2020-03-16 09:03] itskevinsam opened #280 "Documentation for roadrunner ?"
Is there a documentation available for the product *go-source code* ?

[2020-03-16 09:07] wolfy-j commented on #280
https://roadrunner.dev/docs
https://pkg.go.dev/github.com/spiral/roadrunner?tab=doc

[2020-03-16 09:07] #280 closed

[2020-03-19 09:09] 48d90782 opened #281 "tune json.unmarshall package"
Replace standard json package with faster analog (fastjson, go-json, etc..)

[2020-03-21 09:57] #281 closed

[2020-03-23 08:22] vvval opened #283 "Prometheus metrics can break the roadrunner launch"
when having metrics config section with invalid Prometheus host
[code]

[2020-03-23 08:24] vvval opened #284 "[RFC] Add a flag in the config allowing to interpret sub-service failure as a warning or error"
Can we have a flag in the config allowing to control whether the sub-service failure may be ignored or should it cause a fatal error?

[2020-03-23 08:26] wolfy-j commented on #284
No flag. RR can only start as whole or fail. Partial running in case of the error forbidden.

[2020-03-23 08:58] 48d90782 opened #286 "Create environment for benchmark testing"
We need to have a benchmark testing env in which we could test every commit on performance changes.

[2020-03-23 18:27] wolfy-j commented on #286
![Screenshot_43](https://user-images.githubusercontent.com/796136/77349987-e8dd9800-6d4c-11ea-8ea9-c66060a54a09.png)

[2020-03-26 05:27] adhocore opened #290 "How to run the workers as non root (or any) user ?"
Mainly useful for dockerized app but should be added advantage elsewhere as well.

[code]

what i am looking for is `workers.user: %user%`
and not `  workers.command: "su %user%  -c 'php worker.php'"`

---

Finally, thanks for roadrunner 🥇

[2020-03-26 09:21] 48d90782 commented on #290
@adhocore Thanks for your proposal. I think that would be good also from security POV, since you will be able to run a worker from a particular user. We will think with @wolfy-j how to implement that.

[2020-03-26 09:23] #284 closed

[2020-03-26 17:59] #283 closed

[2020-03-26 19:54] 48d90782 opened #292 "vendor folder conflict"
In hybrid PHP + Go applications, the vendor folder created by composer conflicts with golang modules. Starting from golang version 1.14 vendor mode will be activated automatically if near the go.mod file present vendor folder.

[2020-03-27 07:17] wolfy-j commented on #292
You can change the dir in roadrunner in componser.json.

[2020-03-27 07:26] xorock opened #293 "Update dependency from Zend to Laminas"
Zend is now Laminas and there is an old dependency for diactoros
https://github.com/laminas/laminas-diactoros

[2020-03-27 07:28] #293 closed

[2020-03-27 07:28] wolfy-j commented on #293
See #230

[2020-03-31 09:50] adhocore commented on #290
while at it, can we also support running ./rr in background with `-b` flag? thanks

[code]

[2020-03-31 09:54] 48d90782 commented on #290
@adhocore Not to mix the tasks, could you please create a separate ticket for that?

[2020-04-08 14:50] 48d90782 opened #296 "Create unit file to run RR in linux in daemon mode"
Create `rr.service` unit file to run with systemd on linux-based systems.

[2020-04-08 15:22] wolfy-j commented on #296
Please make sure to add it to docs.

[2020-04-08 15:24] 48d90782 opened #298 "Documentation update about usage of rr unit file"
Create a new page with a description of rr systemd unit file
#296
Create a new page with a description of #302

[2020-04-08 15:54] #292 closed

[2020-04-08 15:58] #296 closed

[2020-04-10 21:41] ramainen opened #299 "Loading worker after request in development mode"
Actually this is not a platform issue and I understand why it happens. But there is still some behaviour thats looks not normal.

When I develop app, I use next configuration.

[code]

So, lets look at next scenario: I change code X to code Y and press F5 (command+R) on browser.

1. worker ran with X code
2. I press F5, see X in browser
3. worker reloads and ran with X code
4. I change code to Y
5

[2020-04-11 09:58] wolfy-j commented on #97
https://books.google.by/books?id=OoX0BwAAQBAJ&pg=PA146&lpg=PA146&dq=realtime+balancing+algos&source=bl&ots=OSCB1TbdJt&sig=ACfU3U0T39kPXUUCvb-usC1nco7nwWSDZw&hl=en&sa=X&ved=2ahUKEwi07MX2jeDoAhVOUZoKHdiXBHkQ6AEwAnoECAsQLw#v=onepage&q&f=false

[2020-04-11 11:05] stefanos82 commented on #97
@wolfy-j It's not visible for me I'm afraid.

Can you take a screenshot and paste it here please?

[2020-04-11 11:24] 48d90782 commented on #97
@stefanos82 [link](https://imgur.com/S3EFMd5.png)

[2020-04-11 13:48] ncou opened #300 "[Question] Is there a constant RR_BINARY like PHP_BINARY ?"
Hi,

Just a silly question is there a way to get the roadrunner binary path ? using something like the existing PHP_BINARY constant for example ?

I know i can check if the "rr" or "rr.exe" file is present at the root dir, but i am looking for a more clean solution (in case the "--location" param is used in the "get-binary" command).

Keep up the good work.

[2020-04-11 14:18] wolfy-j commented on #300
Doable. May I ask for the use case? In an ideal world, the PHP should know nothing about RR binary and relay on RR_RPC address to communicate with the parent server.

[2020-04-11 14:36] ncou commented on #300
In our use case it's to have the possibility to start the RR server using a console Command (and i don't want the user to manualy pass the binary path). I used the reference to PHP_BINARY because you can fire the build-in server using someting like `exec(PHP_BINARY . '-S')`. So I was searching for a similar way.

[2020-04-12 04:30] itsursujit commented on #134
@wolfy-j If we do rever-proxy with nginx, won't that affect overall performance of application running on rr?

[2020-04-12 06:23] wolfy-j commented on #134
It will affect it a little bit but not significant, nginx won’t be a bottle neck in this case.

[2020-04-12 22:30] ramainen commented on #299
I created working fix (works for me).

https://github.com/ramainen/roadrunner/commit/1187f6a5d396b6c584a3d7abee0ca3ffebb1510b

Still not error handling (so this is not actual good for real pull request), but works.

Option must named as developerMode, in http.workers section.

[2020-04-13 08:09] wolfy-j commented on #299
That's not a proper way to do that sadly. @48d90782 let's discuss.

[2020-04-13 09:47] 48d90782 opened #301 "Panic when stress testing the Spiral app (demo)"
Reported via Discord.
[code]
error log: [link](https://cdn.discordapp.com/attachments/630702117249875988/699188443128922152/error.log)
STR - I set pool.numWorkers to 40 and did stress test on endpoint (to fetch 10 records) ab -c 1000 -n 20000 -k http://127.0.0.1:8080/
OS - Ubuntu 18.04
Other running software: Beside IDE and Browser nothing else

[2020-04-13 19:02] ramainen commented on #299
Yes, there is issues that I can see:

- No golang errors handling (easiest part).
- No submitting errors to response (free bonus).
- Still unnecessary reloading workers (once after handling, once after getting request). But this can be fixed by setting `maxJobs` to 0 actually.

[2020-04-13 19:09] wolfy-j commented on #299
I think we have to approach it at StaticPool level implementation. It would work for all the drivers then.

[2020-04-15 17:42] 48d90782 commented on #286
@wolfy-j Done via internal server for benchmarking

[2020-04-15 17:42] #286 closed

[2020-04-16 09:22] 48d90782 commented on #290
@adhocore In the maser now. At the moment command `workers.user: %user%` is supported only on Linux. If the user is specified, the whole worker process will be started with permissions from that particular user and user group.

[2020-04-16 09:23] #290 closed

[2020-04-16 12:06] adhocore commented on #290
thanks, i would not mind if you create another issue yourself 😎

[2020-04-16 13:00] 48d90782 commented on #290
@adhocore np :) But we decided to create systemd unit file for that particular request. It's already in master `rr.service`. We will also update docs shortly.

[2020-04-16 19:26] 48d90782 commented on #298
resoved by https://github.com/spiral/roadrunner-docs/pull/27

[2020-04-16 19:26] #298 closed

[2020-04-17 12:55] 48d90782 opened #303 "support unix sockets on windows"
AF_SOCK supported from windows 10 17063 build version. Goridge already supports it.
Remove test limitation like if GOOS==Windows from tests.

[2020-04-17 13:47] 48d90782 opened #305 "reduce syscalls usage in Worker.php send function"
Combine data to send via one send syscall

[2020-04-17 14:21] #303 closed

[2020-04-19 04:38] Umid-Berdiev opened #306 "unable to connect to worker: invalid data found in the buffer (possible echo)"
Hello there!

I've installed roadrunner in two computer in the same way as you instructed in https://packagist.org/packages/spiral/roadrunner. But it works in one of my comps. in another computer i've got only the same error:
Error: [http]: unable to connect to worker: invalid data found in the buffer (possible echo): exit status 1

Any issues, please

[2020-04-19 07:14] wolfy-j commented on #306
Hi, make sure to read about troubleshooting here: https://roadrunner.dev/docs/php-worker

[2020-04-19 07:50] Umid-Berdiev commented on #306
Yes, I've checked this troubleshoot too, worker behaves as expected

[2020-04-19 07:53] wolfy-j commented on #306
Do you invoke php directly or via bat/shell file on other machine? Do you have this error immediately after start or after request?

[2020-04-19 07:57] 48d90782 commented on #306
@Umid-Berdiev What OS do you use?

[2020-04-19 08:08] 48d90782 opened #307 "Create basic template for the error reporting"
Create in the folder .github/ISSUE_TEMPLATE basic templates for the error reporting. A good sample can be found here: https://github.com/rust-lang/rust/tree/master/.github/ISSUE_TEMPLATE

[2020-04-19 08:27] Umid-Berdiev commented on #306
Windows

[2020-04-19 08:33] Umid-Berdiev commented on #306
I've invoked $ php worker.php in windows command-prompt and in the phpstorm terminal and when I press enter btn there coming error logs

[2020-04-19 08:34] Umid-Berdiev commented on #306
![image](https://user-images.githubusercontent.com/25151053/79683274-68726000-8242-11ea-8552-6f9054242d76.png)

[2020-04-20 08:09] 48d90782 commented on #305
worker.php

[code]

We need to concatenate two sends into one like this. All, that needs to be done, is to put correct binary letters in `pack` first argument

[code]

[2020-04-21 12:31] 48d90782 opened #308 "Update according to php 7.2"
Use new language features in the php source code

[2020-04-21 12:33] 48d90782 commented on #308
Please sync with goridge

[2020-04-21 17:28] #305 closed

[2020-04-21 17:43] 48d90782 commented on #301
@wolfy-j I cannot verify it. Tested on the latest techempower env and also with wrk. Closing now.

[2020-04-21 17:43] #301 closed

[2020-04-21 21:05] 48d90782 commented on #306
@Umid-Berdiev Sorry, we can't verify the problem you are met. Feel free to re-open the ticket and provide more details in case if the problem still exists.

[2020-04-21 21:05] #306 closed

[2020-04-24 07:40] Alexfilus opened #312 "gzip not working"
Hi. GZIP compression not working.
My config:
[code]

[2020-04-24 07:58] 48d90782 commented on #312
@wolfy-j @Alexfilus We should update docs according the https://github.com/nytimes/gziphandler/blob/master/gzip.go#L36
So, fo myself gzip is working https://imgur.com/ZLcheja.png

[2020-04-28 21:10] vsychov opened #313 "[RFC] Proxy protocol support reqest"
Hi guys,

First of all thanks for you great job, and great software.

Will be very good if roadrunner can support ha-proxy protocol - https://www.haproxy.org/download/1.8/doc/proxy-protocol.txt.

It will allow use RR in digitalocean cloud with load balancers (https://blog.digitalocean.com/load-balancers-now-support-proxy-protocol/), without proxy protocol support imposible to get real client IP, a

[2020-04-28 21:10] vsychov opened #937 "[💡FEATURE REQUEST]: HAProxy protocol support"
Hi guys,

First of all thanks for you great job, and great software.

Will be very good if roadrunner can support ha-proxy protocol - https://www.haproxy.org/download/1.8/doc/proxy-protocol.txt.

It will allow use RR in digitalocean cloud with load balancers (https://blog.digitalocean.com/load-balancers-now-support-proxy-protocol/), without proxy protocol support imposible to get real client IP, a

[2020-04-29 02:27] ghost opened #314 "[BUG] http:reset seems not working"
roadrunner 1.7.1

background:
1, laravel 7.8.1 with https://github.com/avto-dev/roadrunner-laravel integration
2, roadrunner rpc enabled.
3,
opcache.enable => On => On
opcache.enable_cli => Off => Off
4, systemd unit file
[code]
4, systemctl reload rr.service,  success
5, ./rr  -c .rr.yaml http:workers. all workers are "created x seconds ago"
6, new code doesn't work.
~~7, systemctl restart rr.ser

[2020-04-29 02:36] wppd commented on #314
here is my rr.yaml
[code]
when reload: true, its working as expected, no need to call http:reset. I don't really want to use reload in production. thanks

[2020-04-29 08:08] 48d90782 commented on #313
@vsychov Thanks for the proposal. We talked with @wolfy-j  and decided to investigate the possibility to integrate ha-proxy protocol support into RR :) Stay tuned :+1:

[2020-04-29 13:09] wppd commented on #314
it's so weird. I can't reproduce this problem...
one more thing to add is that, I'm using deployphp/deployer to deploy code.
the file structure is
[code]
so the complete serve command is `/usr/local/bin/rr serve -c /xxx/current/.rr.yaml`

once the code was deployed, I invoked

`/usr/local/bin/rr -c /xxx/current/.rr.yaml http:reset`

but the new code didn't work.

Right now, I change code (some wor

[2020-04-29 13:27] 48d90782 commented on #314
@wppd np, thanks for the comments. A little bit later I'll try to reproduce your problem with provided scenarious.

[2020-04-30 08:37] haozige90 opened #315 "[RFC] Support for NATS"
Hi guys,

Thanks for great job, we have run RR in production for months, so far so good.

We are trying to use nats for async service communication, and we decide to use nats golang client.

Reasons:
1. As you mentioned in Spiral doc, due to the blocking nature of PHP.
2. Nats PHP client is unofficial, and it has no good support from community.

May I know do you have any suggestions for us?

[2020-04-30 09:20] 48d90782 commented on #315
We talked with @wolfy-j about supporting other than only RabbitMQ brokers. It's true that NATS for golang is very popular. And from my POV we should support at least NATS and KAFKA in addition to RabbitMQ.
@wolfy-j What do you think?

[2020-04-30 09:22] wolfy-j commented on #315
I'm fine with it but it's not something we can build quickly.

[2020-04-30 10:35] 48d90782 commented on #315
@haozige90 So, now it's in an `unplanned` milestone. The next release will be `1.8.0` on the 5th of May (according to the Milestones). After that, we will discuss the next release with @wolfy-j and talk about including this RCF into the roadmap. Thanks for the proposal :)

[2020-04-30 11:14] wolfy-j commented on #315
I'm not even sure this is part of queue/job abstraction. More like a message-bus focused abstraction with its own rules. Need to think it though.

[2020-04-30 11:15] 48d90782 commented on #315
Agree, we need to desighn new category of plugins.

[2020-04-30 14:16] wppd commented on #314
uh... it's so confusing..  it happens again.
I've done two deployments.
in each deployment, new code still not working. manually trigger http:reset twice and same thing. gotta restart rr to make new code works.

it's hard to reproduce. @48d90782 if you need anything, I'd be happy to provide!

[2020-04-30 16:56] haozige90 commented on #315
@wolfy-j @48d90782
appreciate for reply guys.
you are right, it is not a queue/job.
It is more like the event broadcasting you build for spiral, nats-go client runs somewhere, and once it receive message, then it pass this message to php to do stuff.
In this case, we can use nats-go ability to deal with message, and use php to deal with business logic.

[2020-05-04 12:33] vvval opened #316 "Add ability to use non-optimized relays"

[2020-05-04 12:54] #316 closed

[2020-05-04 19:00] wolfy-j commented on #300
Unfortunately, it's not possible to define the ENV variable outside of RR binary process tree. Try to use an OS-specific ENV variable.

[2020-05-04 19:09] 48d90782 commented on #300
Say in truth it's possible, but not necessary :) @ncou I agree with @wolfy-j, If that solves your problem, you can define ENV variable with `path to RR` and download `RR` into that path (and then use that ENV var). Or you can provide a more relevant sample why do people need this :)

[2020-05-04 19:29] ncou commented on #300
Thank you for your feedbacks, I will try to do a workaround. Have a good day.

[2020-05-04 19:29] #300 closed

[2020-05-05 14:55] #308 closed

[2020-05-07 06:19] vvval opened #319 "Fix static code analysis issues based on improved goridge relays"

[2020-05-12 07:18] Hunternnm opened #321 "Add to TLS config CA certs"
Add the ability to specify a CA in a TLS

[2020-05-12 09:59] 48d90782 commented on #312
@Alexfilus I cannot verify the issue and going to close it. Fell free to open a new one with a little bit more details. Thanks.

[2020-05-12 09:59] #312 closed

[2020-05-19 12:51] cidious opened #326 "[RFC] [FEATURE REQUEST] QUIC or HTTP/3"
Hi guys,
thank you for the project.

Do you plan to implement the QUIC protocol AKA HTTP/3?

I cannot into Golang, but i've found several implementations of QUIC: [1](https://github.com/lucas-clemente/quic-go) [2](https://github.com/pion/quic) [3](https://github.com/romain-jacotin/quic)

According to the [article](https://eng.uber.com/employing-quic-protocol/) from Uber, this should be a very prom

[2020-05-19 12:51] cidious opened #926 "[💡FEATURE REQUEST]: Support for QUIC or HTTP/3"
Hi guys,
thank you for the project.

Do you plan to implement the QUIC protocol AKA HTTP/3?

I cannot into Golang, but i've found several implementations of QUIC: [1](https://github.com/lucas-clemente/quic-go) [2](https://github.com/pion/quic) [3](https://github.com/romain-jacotin/quic)

According to the [article](https://eng.uber.com/employing-quic-protocol/) from Uber, this should be a very prom

[2020-05-19 13:05] 48d90782 commented on #326
@cidious Quick is currently in the beta stage (or alfa might be). There is a draft document about standard [link](https://quicwg.org/base-drafts/draft-ietf-quic-transport.html). I think, when it is supported by default by major browsers (not via the config flags) we will add the support of QUIC.

[2020-05-19 13:07] 48d90782 commented on #326
Also, if this request is popular, we will add support for sure ASAP :)
From my POV I totally agree with you, this def will be a very promising feature.

[2020-05-19 15:51] #319 closed

[2020-05-20 01:23] Alex-Bond commented on #326
Technically it's still in draft, but Google already using it in production.

[2020-05-20 08:21] #307 closed

[2020-05-21 09:49] ilsenem opened #328 "[BUG] fork/exec : no such file or directory"
OS: Manjaro 20.0.1 (fresh install)
Runtime: Docker
RR Version: 1.8.1 (1.8.0, 1.7.1)

Dockerfile:
[code]

.rr.yaml:
[code]

Worker (RR tutorial example):
[code]

Output:
[code]

Tried different RR versions, different PHP images (no Alpine based). Same result. It easily could be OS issue, but i want to be sure it is.

[2020-05-21 09:50] ilsenem commented on #328
I am dumb, don't mind me. (

[2020-05-21 10:00] ilsenem commented on #328
Sorry, i thought i forget to add dependencies. Thing is: problem is reproducing on my project and i tried to create as simple as possible environment. So i fixed dependencies issue and problem stays.

[2020-05-21 10:05] ilsenem commented on #328
OK, i deleted my previous comment where i was saying that i was dumb. It looks like i was right. The whole time there was a typo in `.rr.yaml`, and i noticed it just now. Sorry for disruption.

[2020-05-21 10:05] #328 closed

[2020-05-21 10:55] 48d90782 commented on #328
Np @ilsenem :) Thanks for the great explanation)

[2020-05-22 11:54] maxbaldanza opened #329 "[BUG] worker error: invalid data found in the buffer (possible echo) when using large Json"
Hi,

We're using roadrunner with docker and PHP but we seem to be getting `worker error: invalid data found in the buffer (possible echo)` when outputting a large json file.
I've tried using the [skeleton docker image](https://github.com/n1215/roadrunner-docker-skeleton) provided and can replicate the issue by changing the `worker.php` to output json like so:

[code]

I don't see where I have an e

[2020-05-22 12:02] 48d90782 commented on #329
@maxbaldanza Thanks, we already figured out the problem. New version will be in a moment.

[2020-05-22 12:08] 48d90782 commented on #329
@maxbaldanza Could you please make `composer update` and re-run this case? Note: Goridge version should be 2.4.3

[2020-05-22 12:20] maxbaldanza commented on #329
Thanks for jumping on that so quickly I can now see that I'm using version 2.4.3 of `spiral/goridge` but seem to be getting similar issues:

<img width="904" alt="Screenshot 2020-05-22 at 13 14 22" src="https://user-images.githubusercontent.com/2786820/82666809-8c083c00-9c2e-11ea-949d-b91da026ab7f.png">
<img width="1438" alt="Screenshot 2020-05-22 at 13 15 03" src="https://user-images.githubuserco

[2020-05-22 12:31] 48d90782 commented on #329
@maxbaldanza You are welcome) Hmm, so, it doesn't relate to the Goridge... I need an extra time to debug the issue.
Have you tried to revert to the RR 1.8.0 ?

[2020-05-22 12:42] maxbaldanza commented on #329
Thank you. It does seem that reverting to roadrunner `1.8.0` does solve the issue 👍

[2020-05-22 12:44] vvval commented on #329
One question now: what is the version of `goridge` after reverting the `roadrunner`?

[2020-05-22 12:50] maxbaldanza commented on #329
Using road runner `1.8.0` with either goridge version `2.4.3` or `2.4.2` solves my issue.
I can try with another version if it helps you find the issue?

[2020-05-22 12:57] 48d90782 commented on #329
I'll temporarily remove v1.8.1 tag from RR until we will found and test the issue

[2020-05-25 08:19] 48d90782 commented on #329
I have pushed the corrected 1.8.1 tag, w/o this bug. But I'll keep this issue opened until I properly investigate the under the hood behavior of this error.

[2020-05-25 09:59] #321 closed

[2020-05-25 10:00] #271 closed

[2020-05-25 10:06] 48d90782 commented on #230
laminas/laminas-diactoros is used instead of zend dictators

[2020-05-25 10:06] #230 closed

[2020-05-25 12:06] 48d90782 opened #331 "[BUG] http/config.go correct the error message when RootCA is not empty but path does not exist"
[code]
Replace c.SSL.Key --> c.SSL.RootCA

[2020-05-28 13:32] mqwerty opened #332 "[BUG] Worker user permissions issue"
I send file using POST request to the server.

[code]

Getting error:
[code]

Trace
[code]

Permissions for /tmp directory - 1777

The version of RR used: 1.8.1

PHP 7.4.6, Alpine Linux v3.11

[2020-05-28 13:36] 48d90782 commented on #332
@mqwerty Did you use "worker.user" option in .rr.yaml?

[2020-05-28 13:40] mqwerty commented on #332
Yes.

Config:
[code]

[2020-05-28 13:42] andrei-dascalu opened #333 "[BUG] Hitting superfluous response.WriteHeader during stress test"
I tried this code:

Symfony 5 out of the box (then add roadrunner integration) or a simple php router (I can provide access to my repo). Running stress test with autocannon

`autocannon -c 100 -d 40 -p 10 -t 120 http://127.0.0.1:8080`

Seems to be in line with issue #301

I expected to see this happen:
no logs

Instead, this happened:
[code]

The version of RR used: 1.8.1

[2020-05-28 13:49] mqwerty commented on #332
@48d90782 Without worker.user option work fine

[2020-05-28 13:54] 48d90782 commented on #332
@mqwerty Set 777 for the folder is not enough in general. Because permissions are valid only for the folder, but not necessary for the nested folders. I can guess, that `upload192874436` file has different permissions than the root folder.
W/o `worker.user`, the process will be spawned by the `current user`, not the `app` user. Also, keep in mind, that RR process and the `worker` processes spawnin

[2020-05-28 14:02] 48d90782 commented on #333
@andrei-dascalu Thanks for the report. Seems, that I need to deeper investigate this bug :)
Linked: #301

[2020-05-28 14:28] mqwerty commented on #332
@48d90782 `stat($f['tmpName'])` gives the following result:
[code]

The problem seems to be that the file is created with root user (uid 0) permissions, but readed by app user. Previously i started RR process by app user, but there was another problem with this.

[2020-05-28 15:28] mqwerty commented on #332
When i try to start RR process from app user, i'm getting error `Error: [http]: process error: fork/exec /usr/local/bin/php: operation not permitted`

[2020-05-28 17:23] 48d90782 commented on #332
@mqwerty `fork/exec` here is because there is no separate commands `exec` and `fork`  in golang when doing smt like command.Exec.
When the `user` is not empty, the process executes not only under this particular `user process attributes` but also with the `user` group Id attached to the process.
`/usr/local/bin/php` is the general path for the PHP binary in Linux systems, and it definitely (99.9%)

[2020-05-28 19:43] mqwerty commented on #332
This error disappears when i remove worker.user option.

That is Roadrunner crashes with error when launched from user app with option workers.user="app".

[2020-05-28 20:09] mqwerty commented on #332
But I am sure that the problem originally described is a bug.

I have 2 process:
* rr - launched by the `root` user
* worker - child rr process, spawned by `app` user

Why owner of uploaded file is `root`, not `app`?

![20200528_230750](https://user-images.githubusercontent.com/1752799/83188281-1e7d7380-a138-11ea-80c0-58a4c0a3d5c6.png)

[2020-05-29 06:06] 48d90782 commented on #332
@mqwerty Ok, I reproduced this behavior, and I agree, that this is a bug, thanks. The problem here is in the process attributes attached to the RR process and the `worker` process. The main RR process has attached group 0 (root), but the worker uses the userId group (995 for example). And they can't communicate in this case. I'll fix this in the next release (2nd of June).

[2020-05-29 12:38] andrei-dascalu commented on #333
Hi,

I've made some other tests using RR and might be useful info:
- tried a basic setup with Ubiquity framework (using their integration, though their README is outdated, their CLI tool can do `biquity serve -t=roadrunner` and will setup some sane defaults). They don't seem to setup a relay via socket and using the same stress test I got a much weaker general result, but no such errors across a d

[2020-05-29 13:14] 48d90782 commented on #333
@andrei-dascalu Thank you for the information. In high overview I know the root cause of such errors, just need to allocate some time to dig into :)

[2020-05-29 20:26] 48d90782 opened #334 "[FEATURE REQUEST] Upgrade `std http` to fasthttp"
Replace standard `net/http` module with the `fasthttp`. With this enhancement, we can reduce memory usage (because of sync.Pool which is used under-the-hood of fasthttp, and etc...) and provide a way more performant solution for the HTTP transport layer (see the benches here: https://github.com/valyala/fasthttp).

[2020-05-29 20:26] rustatian opened #927 "[💡FEATURE REQUEST]: Upgrade net/http to fasthttp"
Replace standard `net/http` module with the `fasthttp`. With this enhancement, we can reduce memory usage (because of sync.Pool which is used under-the-hood of fasthttp, and etc...) and provide a way more performant solution for the HTTP transport layer (see the benches here: https://github.com/valyala/fasthttp).

[2020-05-31 08:48] mqwerty opened #335 "[Question] Can i set Access-Control-Allow-Origin header for static files?"
This would be useful for local dev environment (AWS S3 in production). Now i have to create additional container with nginx for this.

[2020-06-02 09:12] maxbaldanza opened #336 "Adding headers to static files"
We are using roadrunner with PHP and docker and have the following `.rr.yaml`:

[code]

This adds the headers to PHP requests but for static files the headers aren't added. Is there a way to do this?

[2020-06-02 09:22] 48d90782 commented on #336
@maxbaldanza no at the moment. We also have similar feature-request #335. I'll merge these two proposals in one, and we will track the feature here. Thanks.

[2020-06-02 09:23] 48d90782 commented on #335
I'll merge your request with #336

[2020-06-02 09:23] #335 closed

[2020-06-02 09:24] 48d90782 commented on #336
@mqwerty https://github.com/spiral/roadrunner/issues/335#issue-627920717

[2020-06-02 09:28] 48d90782 commented on #336
I have moved our 1.8.2 milestone to the 16 of June, and I hope I would have a time to finish all included tickets.

[2020-06-02 09:31] maxbaldanza commented on #336
Thank you @48d90782 much appreciated.

Sorry for the duplicate issue

[2020-06-02 19:35] jasonmccallister opened #337 "Support LetsEncrypt for TLS certificates"
**Is your feature request related to a problem? Please describe.**
Instead of needing to provide TLS certificates, it would be awesome if roadrunner supported Lets Encrypt.

**Describe the solution you'd like**
A configuration option to use Lets Encrypt for TLS.

**Describe alternatives you've considered**
Considering Caddy since it has built in TLS, but it lacks many of the features Roadrunner ha

[2020-06-02 19:58] 48d90782 commented on #337
@jasonmccallister Thanks for the proposal, I think this is a good idea because a lot of people use LetsEncrypt (myself especially). We will discuss it with @wolfy-j and put it on the roadmap :)

[2020-06-03 05:35] rauanmayemir commented on #337
Fwiw, I think letsencrypt is out of scope for roadrunner because there are other solutions like caddy or cert-manager integrations for ingress if you're running in kubernetes.

Imo, trying to make roadrunner full blown server would decrease the focus on streamlining the bridge between Go and PHP (both literal IPC bridge and figurative: writing performant Go services and bridging from PHP).

Being

[2020-06-03 07:04] wolfy-j commented on #337
We are going to bring up better plugin system in 2.0 as well as other changes. It will make CERT generation and signature easier to alter, so for example you will be able to use LetsEncrypt.

[2020-06-03 07:09] 48d90782 commented on #337
This is just a plugin, similar to a caddy plugin.

RR was designed as the bridge between Go and PHP. Implementing LE support does not change the focus and the main target of RR.

As almost every module, LE can be turned off and removed from config if you don't need it. But can be safely used in production.
But, ok, let's discuss that proposal. And also, please, leave the `thumbs up` or `thumbs dow

[2020-06-04 10:02] 48d90782 opened #338 "Create separate repository for the RFCs"
Not only for the RR, but for the whole Spiral framework (separated by folders).

[2020-06-10 09:40] beanhacker opened #339 "[BUG] unable to connect to worker: invalid data found in the buffer (possible echo): exit status 1"
C:\Users\yanyouwei\Downloads\roadrunner-1.8.1-windows-amd64\roadrunner-1.8.1-windows-amd64>rr -c rr.yaml -v serve
DEBU[0000] [metrics]: disabled
DEBU[0000] [headers]: disabled
DEBU[0000] [static]: disabled
DEBU[0000] [health]: disabled
DEBU[0000] [reload]: disabled
DEBU[0000] [rpc]: started
DEBU[0000] [http]: started
ERRO[0000] [http]: [http]: unable to connect to worker: invalid data found in the

[2020-06-10 09:46] wolfy-j commented on #339
Hi,

this error caused by incorrect worker configuration, broken PHP process, or echo in STDOUT. Please check the Troubleshooting section - https://roadrunner.dev/docs/php-worker

[2020-06-10 09:49] 48d90782 commented on #339
#329

[2020-06-10 09:54] wolfy-j commented on #339
I do not think they are connected since we already patched protocol. Didn't we?

[2020-06-10 09:55] 48d90782 commented on #339
Yup, we reverted changes, but debugging wasn't started yet :disappointed: I just stacking issues with a similar problem.

[2020-06-14 04:14] wppd opened #340 "[Question]: how to add extension, spiral/jobs for example, to roadrunner?"
Didn't find the info in the doc.
If I want to use spiral/jobs extension with roadrunner, do I need to edit cmd/rr/main.go, add spiral/jobs service, and rebuild roadrunner?
thanks.

[2020-06-14 08:18] 48d90782 commented on #340
@wppd `Jobs` module already contains RR, so, it is a self-sustained module. If you need only Jobs, you can safely use `spiral/jobs`. If you need to add other modules, you can add needed modules to the `spiral/jobs`.
You can see here a sample of all modules in one place: [Repo](https://github.com/spiral/framework/blob/master/main.go)
Note: we are working on the better module system for the RR 2.0

[2020-06-14 08:54] wolfy-j commented on #340
You can also spiral binaries which already include jobs: https://github.com/spiral/framework/releases

[2020-06-15 11:36] 48d90782 commented on #340
@wppd Feel free to close the ticket if you have no other questions.

[2020-06-15 11:37] 48d90782 commented on #332
@mqwerty We shifted release to the early July due to high load

[2020-06-15 21:57] #340 closed

[2020-06-29 11:32] vvval opened #341 "[BUG] golang "invalid memory address or nil pointer dereference" error"
Unfortunately, I can't provide any details on that, bc roadrunner crashes every now and then based on incorrect PHP worker (yes, they're always present some app PHP error for these cases). It's run under docker container and `serve` command is an entry command

[code]

[2020-06-29 23:43] jimu-liubin commented on #341
+1

[2020-06-30 06:29] rauanmayemir commented on #341
Confirming this to be the case.
For me, this happens during the pod startup.

[code]

It didn't really bother me as supervisord just kept retrying until it worked fine and I discovered this only accidentally in the log.

My docker container is based on fresh-ish debian buster and spiral binary version 2.4.18. Here's the RR config I'm using:

[code]

[2020-06-30 07:18] 48d90782 commented on #341
Thanks, @rauanmayemir @vvval , I'll take a look.

[2020-07-03 13:38] porozhnyy opened #928 "[💡FEATURE REQUEST]: Provide GRPC health check support"

[2020-07-06 10:04] 48d90782 commented on #339
@beanhacker Hey, please, try to update RR to 1.8.2?

[2020-07-06 10:04] 48d90782 commented on #329
@maxbaldanza Hey, could you please try to update to RR 1.8.2 version?

[2020-07-19 17:53] #331 closed

[2020-07-20 23:04] l0gicgate commented on #208
@wolfy-j is there a way to tie into the logger within the `worker.php` file and set log levels? Currently I'm outputting to `php://stderr` but the formatting from my Monolog handler gets removed within the `stdout` logs and they show up as `WARN`:
<img alt="example" src="https://puu.sh/G9cUE/949bb22eb9.png" />

[2020-07-21 07:38] wolfy-j commented on #208
This is something we are def going to improve in 2.0 version. At the moment you can only send text stream to RR so there are no way to group it by the worker. I would recommend using default Monolog handlers in addition to STDERR.

[2020-07-21 07:47] l0gicgate commented on #208
@wolfy-j I’m currently using Slim 4 and the StreamRelay/PSR7 Client only to run my my app. I looked at the docs and it didn’t seem like there was a solution for my application.

How do I access the default Monolog handlers? And will those enable me to set the log levels in the STDOUT output from the rr binary?

[2020-07-21 07:52] wolfy-j commented on #208
You can’t control the log level in rr stderr at the moment, we will need new api for that. As for monolog - https://github.com/Seldaek/monolog/blob/master/doc/02-handlers-formatters-processors.md

You can send the output to file (do not use ex lock!).

[2020-07-21 07:56] l0gicgate commented on #208
Okay great thank you @wolfy-j

[2020-07-24 10:42] Shikachuu commented on #341
Hey,
I might run into the same isssue as the others above me,
[code]

Weird fact, this panic only appears 3 starts from 5 , at least for me.
`process error: fork/exec : no such file or directory ` <- this appears every single time, don't mind it, it was just a typo, I fixed it since.
.rr.yaml:
[code]

[2020-07-24 10:45] 48d90782 commented on #341
@Shikachuu Thank you for the report. I'll take a look.

[2020-08-01 18:47] l0gicgate opened #344 "[Question] Services timing out"
So after our app runs in production for about 8 hours we start getting timeouts from MySQL and Redis.

“MySQL server has gone away” but we are still able to connect to the service manually which indicates that the worker’s connection is gettint closed/reset.

Could this be due to workers staying bootstrapped for too long? What is the default amount of time a worker will stay bootstrapped if you do

[2020-08-02 21:55] 48d90782 commented on #344
@l0gicgate The default timeout for allocateTimeout is one minute.

[2020-08-02 21:58] 48d90782 commented on #344
Try to set timeout to some big number, for example, 10000days. In case the issue still presents, the problem is somewhere else.

[2020-08-03 07:25] ramainen opened #346 "[Question] Best way to handle PHP sessions"
Not actual issue, but advice needed.

I write PHP application, and I want to use PHP sessions. I can write it, and modify roadrunner binary, this is not a problem.

PHP sessions in "usual" PHP+apache are blockable, when script one still worked, second tab in this browser will be wait for response, only one PHP program with same session_id can work in same time.

What is correct way to do this in R

[2020-08-04 15:05] wolfy-j commented on #344
The question and answer to it are way more complex than "what TTL to set", so let me explain:

1) Some databases will close the connection after some IDLE time
2) Some infrastructures MIGHT close connection of firewall level after some IDLE time or some MAGIC time

If you experiencing connection drop after your application is idle for long - set max Idle time option for workers, you can set it as

[2020-08-04 15:11] wolfy-j commented on #346
The answer we found - do not open session unless you absolutely need it, and close it right after you don't need it. In many cases using sessions can be avoided, the most horrible example - using sessions for CSRF protection.

We use default PHP session wrapper to make it work - https://github.com/spiral/session

[2020-08-04 15:37] l0gicgate commented on #344
@wolfy-j thank you for the explanation. Currently we’re using a mix of PDO and Doctrine ad DBAL. If I set the `allocateTimeout` to be `60` that means the workers will only be bootstrapped for 60 seconds correct? That means it would never reach any db idle connection timeouts right? I was reading the default max connection lifetime is like 8 hours for MySQL default settings.. this seems like a real

[2020-08-04 15:46] wolfy-j commented on #344
No, `allocateTimeout` will control the timeout to the browser when the system is busy.

You are looking for: https://roadrunner.dev/docs/php-limit

[2020-08-04 15:52] l0gicgate commented on #344
So `idleTtl` would be the setting? Sorry if I'm misunderstanding.

[2020-08-04 15:56] wolfy-j commented on #344
Yes

[2020-08-04 15:57] l0gicgate commented on #344
Awesome, thank you @wolfy-j !

[2020-08-06 18:22] l0gicgate commented on #344
The issue was resolve using sensible `idleTtl` and `TTL`!

[2020-08-06 18:22] #344 closed

[2020-08-09 17:21] saalexeev opened #347 "[Question] Can I run roadrunner with php executable via tcp socket?"
Hello, I want to split project into 2 docker containers: php executable, which accessible via tcp://:9000 and roadrunner server. But I can't make roadrunner execute php via tcp socket like nginx. Is it possible? I tried to link containers by network, but roadrunner says: "exec: "php": executable file not found in $PATH"

[2020-08-09 17:41] 48d90782 commented on #347
Hello @saalexeev. It is not possible at the moment as far as I know. You can try to create volume in the docker with `php` script and make it available for the second container. But I am not sure, if that possible. Also, you can create a RFC and describe feature, that you want to see in the future versions of RR.

[2020-08-09 19:40] evonicgu opened #348 "Example debugging configuration"
I have a vagrant VM with php7.4-cli and RoadRunner installed. My /etc/php/7.4/cli/conf.d/20-xdebug.ini looks like:
[code]

When i start the server with `rr serve -d -v` command and refresh the page nothing happens. Breakpoints are set of course and PHPStorm is tuned right (it listens for 9001 port, accepts external connections and max simultaneous connection amount is set to 20). Where am I wrong?

[2020-08-10 09:28] wolfy-j commented on #348
This is the approach we use https://spiral.dev/docs/debug-xdebug

[2020-08-10 09:29] evonicgu commented on #348
Tried it and it worked. Thanks a lot.

[2020-08-10 09:29] #348 closed

[2020-08-12 11:39] wolfy-j commented on #347
It is not possible since RR can not longer manage PHP process in remote container.

[2020-08-12 12:45] #347 closed

[2020-08-15 03:41] wppd opened #349 "[Question] recommendations on linux sysctl.conf and limits.conf ?"
Hi,
just wonder if there is a general guideline of sysctl.conf and limits.conf configuration for  roadrunner application.

[2020-08-15 06:52] 48d90782 commented on #349
Hey @wppd. We use just standard limits and sysctl. Nothing special.

[2020-08-15 08:07] #349 closed

[2020-08-24 17:17] klkvsk commented on #314
This is due to that symlink resolving only once at rr startup.

You start with `-c .../current/.rr.yaml`, rr resolves working dir to `releases/26` and keeps it in memory. Even after you point `current` to `releases/27`, it still starts new workers in 26th.  Calling `http:reset` doesn't help here, as it only respawns workers, it does not reload configuration and pathes.

I use same way of deploying

[2020-08-24 17:33] 48d90782 commented on #314
Sorry for the delay. @klkvsk you are right. Config structure will be placed in memory, so, `http:reset` will not reload it. The only way to reload config in such case is to restart the roadrunner.

[2020-08-24 17:43] klkvsk opened #350 "[FEATURE REQUEST] A command to refresh working dir (re-resolve symlink)"
**Is your feature request related to a problem? Please describe.**
A popular automatic deployment technique is to upload each release in separate folder, then switch symlink that points to latest one, like so:
[code]
Switching symlink is "atomic", it helps to prevent problems when you get requests while uploading new release.
At this time, roadrunner does not allow that technique, due to symlink b

[2020-08-24 17:43] klkvsk opened #929 "[💡FEATURE REQUEST]: A command to refresh working dir (re-resolve symlink)"
**Is your feature request related to a problem? Please describe.**
A popular automatic deployment technique is to upload each release in separate folder, then switch symlink that points to latest one, like so:
[code]
Switching symlink is "atomic", it helps to prevent problems when you get requests while uploading new release.
At this time, roadrunner does not allow that technique, due to symlink b

[2020-08-24 17:44] klkvsk commented on #314
Opened a feature request about this: #350

[2020-08-24 19:09] 48d90782 commented on #350
@klkvsk Ok, I see your problem. We will discuss it with @wolfy-j, thanks for the proposal.

[2020-08-26 07:25] antonydevanchi opened #352 "[FEATURE REQUEST] PCI DSS compliant TLS configuration"
Roadrunner run with support a few legacy TLS ciphers and not compliant PCI DSS requirements now.

Changes required to start compliant PCI DSS standard looks like a very simple and «why not?». As bonus Roadrunner will can add «PCI DSS compliant» in marketing things :)

I can't deep dive into Roadrunner code base and request some help from mainteners (@48d90782 ?).

Reference:

https://www.immuniweb

[2020-08-26 10:13] wolfy-j commented on #350
@48d90782 I think it's a great idea but wonder if it already should be working since the link should be resolved by PHP interpreter at start...

[2020-08-26 11:46] 48d90782 commented on #352
@antonydevanchi Thanks for the request. I'll take a look and test PCI DSS support.

[2020-08-26 11:55] 48d90782 commented on #352
@antonydevanchi Also, could you please provide open reference? You need to be registered by provided link.

[2020-08-26 12:34] antonydevanchi commented on #352
@48d90782 definitely you not need membership for viewing results, but you can be misled by aggressive pop-ups. I check link from my first post with cell phone / gsm carrier and with private browsing mode on laptop and all things available without any additional credentionals.

Please, try now?

[2020-08-26 12:58] 48d90782 commented on #352
You are right :) I guess that I clicked by some pop-up :)

[2020-08-26 19:21] 48d90782 commented on #352
@antonydevanchi Could you please try to deploy https://github.com/spiral/roadrunner/pull/353 ?

[2020-08-26 19:30] antonydevanchi commented on #352
@48d90782 [in live](https://psknv.ru).

New tests report:
https://www.immuniweb.com/ssl/?id=I4pDyQOr

[2020-08-26 19:36] 48d90782 commented on #352
@antonydevanchi Nice :)

[2020-08-26 19:37] 48d90782 commented on #352
@antonydevanchi Ok, it will be in the master and later in the 1.8.3 version. Thanks )

[2020-08-26 20:24] evonicgu opened #354 "[QUESTION] Is there any way to handle request to a certain subdirectory?"
I want to hold my php api and react application on one web domain. Roadrunner accepts all requests on it's port (80). But I want all requests to be handled by react, and only requests to /api subdirectory to be handled by workers. Is there any way to implement it?

[2020-08-26 21:20] 48d90782 commented on #354
@evonicgu You can bind RR to the different port or redirect `/api` requests to the RR handler from your app.

[2020-08-27 05:59] wolfy-j commented on #354
Use ingress server for such purposes. For example Nginx as reverse proxy.

[2020-08-27 06:04] evonicgu commented on #354
Ok, thanks, closing issue.

[2020-08-27 06:04] #354 closed

[2020-08-27 06:49] #352 closed

[2020-08-27 08:01] 48d90782 commented on #339
@beanhacker I am going to close this issue since the same problem was fixed in the 1.8.2 release.

[2020-08-27 08:01] #339 closed

[2020-08-27 08:02] #346 closed

[2020-08-27 09:45] 48d90782 commented on #336
@maxbaldanza In the master now. Now in the master #345

[2020-08-27 09:46] #336 closed

[2020-08-27 20:52] 48d90782 commented on #329
@maxbaldanza fixed in RR 1.8.2. Feel free to reopen the issue if you will see this error again.

[2020-08-27 20:52] #329 closed

[2020-08-28 15:26] #341 closed

[2020-08-28 15:26] #333 closed

[2020-09-01 17:24] 48d90782 commented on #332
@mqwerty Sorry for the delay. To use this feature, you need to execute RR from the `root`. But, workers will be allocated under the particular user which you set in the `.rr.yaml`

[2020-09-01 18:02] #332 closed

[2020-09-02 13:46] nuharaf commented on #315
NATS will have queue semantic with jetstream and the good thing is standard NATS client library will work with it

[2020-09-08 13:12] hugochinchilla opened #359 "[BUG, RR1] "max allowed memory reached" should not be reported as ERROR"
When maxMemory is reached a line is written to the logs as ERROR, as the maxMemory is a soft limit it should be treated as an INFO or a NOTICE.

[2020-09-08 15:19] 48d90782 commented on #359
@hugochinchilla I am going to agree with you. Would you mind to make a PR?

[2020-09-15 21:33] andrei-dascalu commented on #208
I'm having a similar issue in that I'm able to format my logs as I need them with Monolog formatters and processors but:

1. RR wraps all my logs in warnings regardless of level. This is a dealbreaker since I need my logs in stderr/stdout to be JSON but due to RR wrapping my messages, they come out escaped so my log shipper loses all my extra data.
2. I can't use files at all (I am using Kubernete

[2020-09-15 21:46] 48d90782 commented on #208
@andrei-dascalu Thanks for the comment. This issue will be solved in RoadRunner 2.0 with our new container [Endure](https://github.com/spiral/endure). In this case, we will provide some basic logger which could be easily overloaded by the user.

[2020-09-24 08:58] siamskoi opened #362 "[BUG] Sometimes the file watcher stops working"
My config rr.yaml
[code]

I edit some files, and see:
[code]

It's ok. But, sometimes file watcher stops working. And I must restart RR, or wait 5 minutes and more.
~100 files in catalog /var/www/app/src

</p>
</details>

[2020-09-24 10:40] 48d90782 commented on #362
@siamskoi Thanks for the report, I'll take a look.

[2020-09-24 11:18] 48d90782 opened #363 "[WATCHER TEST] Create a test with a huge number of files"
Linked issue: #362

[2020-09-27 16:32] veleton777 opened #364 "Unpack error for BotMan telegram bot"
`[2020-09-27 16:22:13] local.ERROR: unpack(): Type C: not enough input, need 1, have 0 {"exception":"[object] (ErrorException(code: 0): unpack(): Type C: not enough input, need 1, have 0 at /Users/veleton777/sites/php/roadrunner/laravel-roadrunner/vendor/spiral/goridge/src/StreamRelay.php:152)
[stacktrace]
#0 [internal function]: Illuminate\\Foundation\\Bootstrap\\HandleExceptions->handleError(2,

[2020-09-27 19:04] 48d90782 commented on #364
@veleton777 Seems, that smt with your payload. Looks like the issue from PHP, @wolfy-j could you please take a look?

[2020-09-28 08:53] wolfy-j commented on #364
Most likely something echoed to the STDOUT, check your Loggers or switch to Unix sockets.

[2020-09-28 19:27] veleton777 commented on #364
`2020-09-28 19:18:49 [52.0.253.201][-][-][error][Spiral\Goridge\Exceptions\PrefixException] Spiral\Goridge\Exceptions\PrefixException: unable to read prefix from socket: Undefined error: 0 in /Users/veleton777/sites/php/services-site/yii-bot/vendor/spiral/goridge/src/SocketRelay.php:305`

**rr config**
[code]

**roadrunner.php**
[code]

**roadrunner.php**
[code]

now an error of a different type

[2020-09-28 19:39] 48d90782 commented on #364
@veleton777 I can guess, that there is no data in the socket `$prefixBody === null || $prefixLength !== 17`, but, we definetely should make error messages more user friendly.

[2020-09-29 16:14] 48d90782 commented on #364
@veleton777 Could you please check the data availability in the socket?

[2020-09-29 20:36] veleton777 commented on #364
Как мне можно проверить наличие данных в сокете?

[2020-09-29 20:38] veleton777 commented on #364
Через сервер workerman сокеты работают

[2020-09-29 23:18] 48d90782 commented on #364
Не мог бы ты писать на английском, так как данная проблема может возникнуть у тех, кто не говорит по русски.
1.  How could I check the data in the UNIX socket.
I am not very familiar with PHP, but I found this function in PHP stdlib (I guess) [link](https://www.php.net/manual/en/function.socket-read.php).
2. Socket works as expected with workerman.
Could you please provide the following:
1. Operat

[2020-10-01 19:51] veleton777 commented on #364
OS:  mac os catalina
php 7.4
laravel 7
roadrunner 1.83

[2020-10-01 19:53] veleton777 commented on #364
psr-worker.php
[code]

[2020-10-01 19:59] veleton777 commented on #364
[code]
this error appears when running roadrunner

[2020-10-01 20:01] veleton777 commented on #364
on ubuntu the same error

[2020-10-01 21:35] 48d90782 commented on #364
Ok, thanks a lot. @Hunternnm, could you please take a look?

[2020-10-03 20:03] veleton777 commented on #364
I solved the error, the Viber library code contained the `file_get_contents ('php://input');` I replaced it with fetching via laravel requests

[2020-10-03 20:03] #364 closed

[2020-10-08 14:58] broken-ufa opened #366 "Please, make builds with turned off pprof"
When I trying to run 2 instances or roadrunner, I got an error:
**listen tcp :6061: bind: address already in use**
and I can't found any arguments to turn off pprof.

Please, make builds with turned off pprof also in releases.

(I'm not familiar with golang)

[2020-10-08 17:42] 48d90782 commented on #366
@broken-ufa oh... let me check

[2020-10-08 17:44] 48d90782 commented on #366
@broken-ufa I guess that you use a command like: `./rr serve -d ...`. In this case `-d` is the debug mode. Just you RR without this option.

[2020-10-08 18:32] 48d90782 commented on #366
@wolfy-j 6061 is a hardcoded port for the standard golang pprof endpoint. It is active only in the Debug mode.

[2020-10-08 18:45] broken-ufa commented on #366
Oh yes, thank you!
port 6061 opened because I use flag -d
It not RPC port (see https://github.com/spiral/roadrunner/pull/248#issuecomment-586863008)

[2020-10-08 18:45] #366 closed

[2020-10-08 18:47] wolfy-j commented on #366
O__o

Then it conflicts with the default RPC port:

[code]

[2020-10-09 13:42] xxxjio opened #367 "[FEATURE REQUEST] Add ARM build to the releases"
I wanna use linux-arm64

[2020-10-09 14:27] 48d90782 commented on #367
@xiaohao0416 Thanks for the FR. It's totally not a problem to build a golang binary with ARM/ARM64 support, but I have to test RR on that platform to make sure, that everything goes fine.

[2020-10-14 10:27] 48d90782 opened #368 "Tracking issue for the RoadRunner 2.0"
In RR 2.0 with the rest features and improvements, we will introduce a new container for plugins based on the graphs with topological sorting.
This is the tracking ticket with the features we plan to implement in RR 2.0. Here is (not a complete) list with features:
## TODO in 2.0:
- [x] New golang plugin container [endure](https://github.com/spiral/endure)
- [x] Loading worker after request in dev

[2020-10-14 11:17] bjuri commented on #368
1. Add this feature [Loading worker after request in development mode](https://github.com/spiral/roadrunner/issues/299)
2. Add global reset command that just run resets all available modules in roadrunner instance, e.g.:
We have http, grpc and jobs modules, we need to reset all modules.
Currently we have to run 3 times: `spiral <module>:reset`
We would like to have an alternative, like: `spiral al

[2020-10-14 11:35] bjuri opened #369 "[FEATURE REQUEST] Add possibility to use dynamic modules like in nginx, apache, php, etc."
The main idea of the request is to have CORE of the roadrunner with minimal necessary functionality, e.g. http module, or probably more general (logging, monitoring, workers scheduling, ...) and have dynamic pluggable modules for the main roadrunner role.

As result we can have robust core with officially supported main-modules:
1. roadrunner binary with: logging, monitoring, scheduling, ...
2. pl

[2020-10-14 11:36] bjuri commented on #368
Another one feature: [[FEATURE REQUEST] Add possibility to use dynamic modules like in nginx, apache, php, etc.](https://github.com/spiral/roadrunner/issues/369)

[2020-10-14 12:00] bjuri commented on #368
4. Add roadrunner command to reload RR configs without full stop and start of the entire instance, like in nginx.
Way to handle this also could be borrowed from nginx, e.g. using command: `nginx -s reload`, using signals like `HUP`

[2020-10-14 12:26] 48d90782 commented on #368
I quite agree that this is a very cool feature. I'll update the ticket in the Endure

[2020-10-15 12:00] evonicgu opened #370 "Too many opened tcp connections on low load"
Recently I tried to do some stress testing stuff with my application (works with RR). I used artillery (https://artillery.io) to do this. When I firstly run the tests for 60 seconds with 10 requests/sec everything was fine, but many tcp connections were opened by RR process. On a longer distance (3 minutes) errors start to happen.

[code]

`lsof -a -p $(pidof rr)` shows 30 worker pipes, some other

[2020-10-15 12:56] 48d90782 commented on #370
@evonicgu I may guess, that this is expected behavior because such load testing frameworks generate a huge number of TCP connections. Each open TCP connection is a file-descriptor (aka open file, active TCP socket). Also, in the case of a TCP4 listener, we use a few optimizations like `SO_REUSEPORT, TCP_DEFER_ACCEPT, and TCP_FASTOPEN` if acceptable. I may guess, that this tool leaves a connection

[2020-10-15 13:06] evonicgu commented on #370
Sorry, I forgot to give some more information. RR is running on Ubuntu VM, and the testing framework makes requests not from that VM, so they are separated, and tcp connection overuse is detected on VM only. Maybe, this is an issue with net/http package you are using.

[2020-10-15 13:31] 48d90782 commented on #370
We are using the standard `net/tcp` package. I am not very familiar with `artillery` framework, but can you please try `wrk` with, let's say 10 number of connections for the same period of time? `wrk -t1 -c10 -d360s http://127.0.0.1:8080/index.html`

[2020-10-15 17:31] evonicgu commented on #370
I've tried `wrk`  making requests from VM, but there are still too many connections errors sometimes. `lsof -a -p $(pirof rr)` shows that there are some connections opened. The connection amount doesn't increase, however I don't think, that it is a good result, because when I set `-c` option to `1000` there are nearly 50 opened tcp connections.

[2020-10-15 17:55] evonicgu commented on #370
Also, the performance is bad, despite the only thing the worker was doing is making a response and responding.

[2020-10-15 17:55] 48d90782 commented on #370
Could you please provide a PHP script which you are trying to bench (if possible) and your TCP connections limit? I tried to bench with `-t12 -c1000 -d60s` on default worker (from docs) and everything went fine.

[2020-10-15 17:55] 48d90782 commented on #370
There is no bad or good performance. You have to measure and show the stat 😄

[2020-10-15 18:00] evonicgu commented on #370
The script is pretty simple:

[code]

It's very strange, that your benchmark went fine.

[2020-10-15 18:03] evonicgu commented on #370
Let me give you benchmark results with your configuration (`-t12 -c1000 -d60s`).

[code]

[2020-10-15 18:06] 48d90782 commented on #370
@evonicgu Do you use Ubuntu? Send me please your OS details.

[2020-10-15 18:19] evonicgu commented on #370
Yep, I use Ubuntu20.04 installed on a VM powered by Vagrant + Virtualbox. Php version is 8.0 RC1. RR version is 1.8.2.

[2020-10-15 18:25] 48d90782 commented on #370
@evonicgu Few notes: PHP 8.0RC1 is not supported. RR should be 1.8.3. Also, can you please share your `ulimit` stats with max number of TCP connections?

[2020-10-15 18:41] evonicgu commented on #370
Just now I'm going to switch my PHP version to 7.4 and update RR. Here is `ulimit -a` output.

[code]

[2020-10-15 18:49] evonicgu commented on #370
Tested that benchmark with PHP7.4 and RR 1.8.3. Nothing changed, there are still loads of opened TCP connections.

[2020-10-15 18:50] 48d90782 commented on #370
`open files (-n) 1024` I will try to test with `-c 100` and open files limit 1024.

[2020-10-15 18:55] evonicgu commented on #370
Do you think, that it is ok, that connections are even opened? I think they should be closed just after the response is sent.

[2020-10-15 19:11] 48d90782 commented on #370
That depends. You are making a request to the application. The application listens on a passive TCP socket. When OS handles the incoming TCP connection it will copy the passive socket, and it becomes an active TCP socket (open file in term of Linux). So, you can have only 1 passive socket (for the port, interface) and in your case (or default case) up to `1024` active sockets (in a very ideal worl

[2020-10-15 19:26] 48d90782 commented on #370
Tested on Ubuntu 20.04 with the worker in docs.
[code]
[code]

[2020-10-15 19:29] 48d90782 commented on #370
@evonicgu You can ask for help with your PHP worker from our PHP programmers and community in our Discord channel.

[2020-10-15 19:43] evonicgu commented on #370
So, to have all tcp connections closed immediately after response I have to set `Connection` header to `Close` value?

[2020-10-15 19:45] evonicgu commented on #370
That seems to be very strange, because my test with that worker was awful. Does the hardware affect the results?

[2020-10-15 19:47] 48d90782 commented on #370
For sure )

[2020-10-15 20:08] evonicgu commented on #370
So, can you give me some info about your VM (RAM, CPU cores)?

[2020-10-15 20:08] evonicgu commented on #370
My VM has 2GB RAM and 2 CPU cores.

[2020-10-15 20:27] evonicgu commented on #370
By the way, what is in your `.rr.yaml`?

[2020-10-15 20:49] 48d90782 commented on #370
8 CPU cores, 64 Gb of RAM.

Here is my .rr.yaml
[code]

[2020-10-15 20:50] evonicgu commented on #370
That's why you have so amazing results)

[2020-10-16 07:03] 48d90782 commented on #370
We are not comparing our hardware here. It's obvious, that VM with limited resources will be slower than non virtualized host OS with better hardware.
To summarize: I could not reproduce your issue nor on VM nor on host OS. Feel free to open a new issue with steps to reproduce.

[2020-10-17 00:27] #370 closed

[2020-10-19 17:10] littlexiang commented on #370
try to increase open files (-n) to much larger
every tcp connection entering TIME_WAIT takes fd

[2020-10-26 15:33] lanlin commented on #100
the `stop` command not work for me.

RoadRunner, PHP Application Server
Version: 1.8.4, 2020-10-21T14:07:46+0300

php 7.4.4
osx 10.15.7

after run `stop`, it shows:

[code]

it just removes the RPC Unix socket file,
but the rr & php workers process still there

[2020-10-26 18:02] wolfy-j commented on #237
Well, we decide not to do crons. We are going to bring the full-blown workflow engine to roadrunner. See Temporal.io. We will make it portable down the road.

[2020-10-26 18:03] wolfy-j commented on #350
We are going to do something very crazy in 2.0 to solve it.

[2020-10-26 18:48] wolfy-j commented on #368
Done #299

[2020-10-27 03:41] lanlin opened #374 "[FEATURE REQUEST] Need more detailed and accurate documentation"
hi there,

I find the documentation may out of date.

some configuration property not found in there, like `-c` `-w` `-l`

does all property has `enable`? or just remove it when not needed, like `static`

[2020-10-27 04:10] lanlin opened #375 "[BUG] Error after set http.workers.user"
[code]

all users were not working, even set to root.
but after comment out this line, it works fine.

[2020-10-27 09:15] 48d90782 commented on #375
@lanlin What version of RR do you use?

[2020-10-27 09:18] 48d90782 commented on #375
@lanlin To use that feature you should run RR from the root with the `user` option in the config.

[2020-10-27 09:39] 48d90782 commented on #374
@lanlin Yes, there is no documentation from these flags, but you can use `rr help` to show description for all the CLI flags.
`-c` -> `config file (default is .rr.yaml)`
`-l` -> `select log formatter (color, json, plain)`
`w`  -> `working directory`

[2020-10-27 09:39] 48d90782 commented on #374
Thanks for the proposal, we will add all CLI flags to the docs.

[2020-10-28 01:32] lanlin commented on #375
PHP 7.4.4 (cli) (built: Mar 20 2020 16:29:47) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.4, Copyright (c), by Zend Technologies
    with Xdebug v2.9.4, Copyright (c) 2002-2020, by Derick Rethans

RoadRunner, PHP Application Server
Version: 1.8.4, 2020-10-21T14:07:46+0300

mac os 10.15.7

I run RR with sudo but it not working n

[2020-10-28 01:41] lanlin commented on #374
@48d90782 thanks a lot

[2020-10-28 07:03] 48d90782 commented on #375
@lanlin At the moment, this is the Linux only feature.

[2020-10-28 07:14] lanlin commented on #375
@48d90782 so sad to hear that, would it be supported in future?

[2020-10-28 07:17] 48d90782 commented on #375
@lanlin Hard to say, but you may create a ticket and if that feature is really required by the community, we will definitely support it :)

[2020-10-28 07:19] lanlin commented on #375
@48d90782 ok, thanks very much

[2020-10-28 07:19] #375 closed

[2020-10-29 02:21] #237 closed

[2020-11-03 19:00] AnticDroid opened #381 "[BUG] Systemd keeps starting / stopping rr service endlessly"
I am using builded RR service(go build). It was actively tested for several months and it works fine.
Before that I used SCREEN and switched  to systemd...

According to the system logs systemd keeps starting/stopping RR service endlessly and sometime service becomes unavailable(not every time it appear stopped in logs) , where is no any error on php layer and no other duplicated process.

Can som

[2020-11-03 19:58] 48d90782 commented on #381
Hey @AnticDroid, nice to meet you.
1. Go version 1.12 is not supported at the moment. It may work, but the minimum supported version is 1.14. [TIP]
2. `#033[31mERRO#033[0m[0000] [rpc]: listen tcp 127.0.0.1:6003: bind: address already in use` Here is the issue, as you see, try to change port 6003 by some other free port (use `netstat -tulpn | grep LISTEN` to see allocated ports).
3. You are using:

[2020-11-03 20:01] 48d90782 commented on #381
Also, try to find all `cms-handbook-api` processes and kill it before enabling  systemd unit file (`ps aux | grep cms-handbook-api`)

[2020-11-04 09:02] AnticDroid commented on #381
Thanks for the help

[2020-11-04 09:02] #381 closed

[2020-11-04 09:06] 48d90782 commented on #381
You are welcome. Feel free to join our discord channel https://discord.gg/TFeEmCs

[2020-11-04 09:28] 48d90782 opened #382 "[RR2] Switch to the spiral/errors package [golang]"
1. Eliminate all `pkg/errors`, `errors.wrap`, and others in the flavor of our package `spiral/errors` [fully compatible with std errors].
2. Use operations at the start of function (`const op = errors.Op("operation")`), or in the `errors.E(errors.Op("some operation I did", errors.TimeOut, err)`
3. spiral/errors support stacktraces in the error types by default when compiling with `-tags=debug`, so

[2020-11-04 10:51] wolfy-j opened #383 "[RR2] Finish RR test suite"
Need to complete tests for the current plugin set in the second branch of RoadRunner. Add new tests to the GHA.
1. Logger
2. RPC
3. App

[2020-11-04 10:51] wolfy-j opened #384 "[RR2] Complete test suite for Logger service"
We need to complete tests for the new logger plugin. Add new tests to the GHA.

[2020-11-04 10:52] wolfy-j opened #385 "[RR2] Complete tests for new App provider"
Need to ensure that the app provider and worker methods behave according to specs. Add new tests to the GHA.

[2020-11-04 10:53] wolfy-j opened #386 "[RR2] Complete tests for new RPC service"
Need to ensure that the new RPC plugin behaves according to specs. Add new tests to the GHA.

[2020-11-04 10:55] #383 closed

[2020-11-04 10:56] wolfy-j opened #387 "[RR2] Migrate Metrics service from RR1.0 to RR2.0"
We need to migrate the metrics service from RR1.0 to RR2.0, no major design changes (except adaptation for Endure) expected.

https://github.com/spiral/roadrunner/blob/master/service/metrics/service.go

--

We need a method which will collect all classes which declare the following interface:
[code]

`MetricsCollector()` method should be invoked when Metric service starts. Similar to RPC service.

[2020-11-05 14:59] #384 closed

[2020-11-05 14:59] #385 closed

[2020-11-05 14:59] #386 closed

[2020-11-09 10:28] 48d90782 opened #389 "[RR2] Migrate HTTP plugin from RR1.0 to RR2.0"
We need to migrate the http service from RR1.0 to RR2.0, no major design changes (except adaptation for Endure) expected.

[2020-11-09 12:12] Radiergummi opened #391 "[FEATURE REQUEST] Configuration reference"
**Is your feature request related to a problem? Please describe.**
I'm preparing for a migration from a classic php-fpm+nginx setup in Docker to RR. While I'm pretty confident with optimizing FPM configuration for performance and our workload, I'm not sure how well that transfers to Roadrunner: I have a _feeling_ the FPM thread pool size should match `http.workers.pool.maxWorkers` somehow, but I'm

[2020-11-09 12:27] 48d90782 commented on #391
Hey @Radiergummi, nice to meet you.

It really depends. But the general advice is to have the following number - `cpu_cores * 1.5`. It also depends on the type of the cores (Intel HT or real cores). `cpu_cores * 1.5` is to have some processes prepared to do work (let's say in a hot state like with intel HT technology).

Yes, the default is the number of CPU cores (with HT cores).

Yes, see the pre

[2020-11-09 12:45] Radiergummi commented on #391
Hi @48d90782! Thank you for the detailed answer, that helps a lot in planning. I'll keep an eye on RR 2.0.

[2020-11-09 12:55] #382 closed

[2020-11-10 08:05] wolfy-j commented on #391
We will update the documentation with RR2.0 since a lot of configuration will change (for the better).

But in general, there are no direct correlation between the number of FPM childs and RR workers. RR does not destroy workers between requests which is the core of its performance boosts, so you typically don't need that many workers sitting around (only if you have long IO operations). It's reco

[2020-11-10 13:09] wolfy-j opened #393 "[RR2] Resetter plugin"
**Is your feature request related to a problem? Please describe.**
The service must collect all Resettable plugins and trigger Reset via RPC call and CLI command:

[code]

**Describe the solution you'd like**
Plugin must collect all named and resettable services and allow them to perform folllowing RPC commands.

[code]

Need to add cli command:

To reset all services:
[code]

To reset specific se

[2020-11-10 13:16] wolfy-j opened #394 "[RR2] Informer Plugin"
**Is your feature request related to a problem? Please describe.**
Need a plugin to collect and render (via RPC) information about running worker containers.

[code]

**Describe the solution you'd like**
The CLI command to view infromation about specific plugin or plugins:

[code]

About specific plugin (identical to named commands now):
[code]

Both commands should support `-i` flag to refresh st

[2020-11-11 22:27] themaiby opened #395 "[BUG] Malformed worker response"
[code]
RR launched in docker.

I expected to see paginated result on my index route, instead RR shows error: **malformed worker response**.

**Console output:**
[code]

The version of RR used: *1.8*
As worker used: https://github.com/spiral/roadrunner-laravel
Laravel version: 8.14

In **laravel telescope** I can see 200 OK response with all data, in Postman I see only this RR error.

**.rr.yml**
[

[2020-11-12 08:19] wolfy-j commented on #395
Do you echo anything to STDOUT? Maybe Monolog? Check the troubleshooting here https://roadrunner.dev/docs/php-worker

If none of the recommendations works, try switching to unix socket relay for your workers.

[2020-11-12 09:35] themaiby commented on #395
Switching to the socket solved my problem. Thanks!
There was no echo in the application and no output in STDOUT, so I never figured out the reason for what was happening.

Now there is a small problem with the fact that you need to move the Worker.php file and change line 264 to:
[code]
and change rr-worker binary on 69 line to call Worker.php from new place.

I haven't found a better solution yet

[2020-11-12 09:45] wolfy-j commented on #395
If this solves your case you 100% have something echoing to STDOUT. We currently do not provide a way to collect the output of this pipe, but we will check the ability to do so in 2.0+.

[2020-11-12 09:47] wolfy-j commented on #395
Can you file a ticket for an easier relay configuration into roadrunner-laravel repository?

[2020-11-12 09:47] #395 closed

[2020-11-12 11:12] wolfy-j opened #396 "[RR2] Abnormal job distribution in 2.0 static pool"
With 2.0 pool it seems that faster job completes - less workers used (it seems to be use FIFO instead of LIFO). This is not a critical issues but might mislead some users.

https://image.prntscr.com/image/IhzTceX3QfW9DzT-gyld6w.png

To reproduce execute 100 jobs with intervals between them enought to return worker to stack.

[2020-11-14 13:37] 48d90782 opened #397 "[RR2] Provide a linux packages for the Debial/Ubuntu apt, Archlinux pacman"
Provide standard Linux packages for the apt, pacman package managers.
In addition, try to provide packages for the new `winget` package manager.

[2020-11-14 13:37] rustatian opened #1685 "[💡FEATURE REQUEST]: Provide a packages for the Debial/Ubuntu apt, Archlinux, Windows and macOS (brew)"
Provide the packages for the OS-specific software management systems:
1. Windows `winget`
2. Linux - `rpm`, `deb`, `pacman`
3. macOS - `brew`

[2020-11-15 09:26] 48d90782 commented on #299
done by #376
Will be in RR 2.0

[2020-11-15 09:26] #299 closed

[2020-11-15 09:32] 48d90782 opened #398 "[RR2] Native platform implementation of file watcher events"
1. Linux - `inotify`.
2. MacOS - `kqueue`.
3. Windows - `ReadDirectoryChangesW`.

Fallback implementation - current.

[2020-11-15 09:32] rustatian opened #930 "[💡FEATURE REQUEST]: Native platform implementation of file watcher events"
1. Linux - `inotify`.
2. MacOS - `kqueue`.
3. Windows - `ReadDirectoryChangesW`.

Fallback implementation - current.

[2020-11-15 09:36] rustatian opened #399 "[RR2] RFC for the Raft plugin implementation"
This is just an RFC. Implement `Raft plugin` to make a cluster from RR.

[2020-11-16 11:52] wolfy-j opened #401 "[RR2] Static pool should trigger event when all workers are dead"
The static poll should trigger an event when all workers are dead.
After timeout on getting new worker, pool should trigger an event `EventNoFreeWorkers`. Timeout should be in the workers_watcher.go instead of hardcoded :
[code]
Add new error type in the RR error codes section: `NoFreeWorkers`.
Requested changes:
[code]

[2020-11-16 12:10] 48d90782 commented on #368
This is the tracking ticket for the new RR 2.0 config:
[code]

[2020-11-16 12:46] #387 closed

[2020-11-16 16:56] rustatian opened #402 "[RR2] Update `gRPC` plugin"
Update php-grpc plugin to be compatible with the RR2

[2020-11-16 16:57] rustatian opened #403 "[RR2] Update `Jobs` plugin"
1. Update Jobs plugin to the actual RR version
2. More description in the related PR.

All information about implementation, features, load testing can be found in the attached PR.

[2020-11-16 17:02] 48d90782 opened #404 "[RR2] Gzip plugin update"
Transition gzip plugin to new the container in the form of middleware. Merge config into the `http` config section. Add plugin name to the `http.middlewares` config section. The consumer of the `gzip` plugin is `http` plugin.

[2020-11-16 17:04] 48d90782 opened #405 "[RR2] Static plugin update"
Update plugin `static`. Transition to the new container. Merge config with `http` config. The consumer of the `static` plugin is the `http` plugin.

[2020-11-16 17:06] 48d90782 opened #406 "[RR2] Headers plugin update"
Update the` headers` plugin. It should be a middleware for the `http` plugin. Merge `headers` config section with `http` config, add plugin name to the `http.middlewares` config section.

[2020-11-16 17:11] 48d90782 opened #407 "[RR2] Health plugin update"
Health plugin should collect all plugins which implement `Informer` and `endure.Named` interface. It should take all workers and when at least one worker per plugin gets active, assume that the plugin is ready. It also should have a check interval in the config. When all workers per plugin get inactive, `health` plugin assumes, that the other plugin is down.

[2020-11-18 07:50] #394 closed

[2020-11-18 08:19] #393 closed

[2020-11-18 20:14] darakanoit opened #410 "[BUG] rr-worker.bat - stdout error"
Stdout error when running `command: 'php vendor/bin/rr-worker.bat'`
.bat in Windows should run without "php" at the beginning of the command, since there is already a php call inside .bat.
A temporary solution is to run the php worker you need directly,(`command: 'php vendor/spiral/roadrunner-laravel/bin/rr-worker'` [issue](https://github.com/spiral/roadrunner-laravel/issues/19) ) as you constantl

[2020-11-20 08:38] hugochinchilla commented on #359
@48d90782 I'm sorry for the late reply, I'm not familiar with golang but this did not prevent me from taking a look at the source code to see if it was possible with my limited knlowledge, sadly I don't know how to do it.

[2020-11-20 08:41] 48d90782 commented on #359
Got you 😃 Likely we will update RR 2.0 first and then I return back to the 1.x version. Thanks for the proposal 😃

[2020-11-21 19:22] raoptimus commented on #174
Известна дата релиза?

[2020-11-21 19:37] 48d90782 commented on #174
@raoptimus После РР 2.0 (1Q2021), после него вероятно будем планировать горидж 3.0.

[2020-11-21 22:05] raoptimus commented on #174
спасибо

[2020-11-24 11:39] 48d90782 commented on #410
Hello @darakanoit. What is the reason to leave a PHP command in the `.bat` file instead of direct command? I'm not sure that we should support such commands thus we may have a lot of different errors with this pattern (for sure we may discuss the use-cases). @wolfy-j What do you think?

[2020-11-24 12:19] 48d90782 opened #411 "[RR2] Protocol upgrade support"
At the moment, if we want to use the `http2` server instead of `http1`, we may enable `h2c: true` in the `.rr.yaml`. But, if we want to use the `Upgrade` header, we do not support this, because `HTTP` handler will use the same `ResponseWriter` as in the previous step. As a result, the user receives the error: `http: response.WriteHeader on hijacked connection`. The same approach we may use to supp

[2020-11-25 11:29] 48d90782 opened #413 "[RR2] Middlewares by transport"
At the moment we have middlewares in RR2 which can be collected by interface from middleware-provider plugins. But we do not have a separation between `http`, `https`, `http2`, `fcgi` middleware. This ticket is RFC to discuss our strategy to handle such cases.

[2020-11-25 20:19] rustatian opened #414 "[RR2, DELETE?] Backoff for the http.Reset function"
Add backoff for the HTTP plugin pool reset. Set the max timeout to 15 minutes.

[2020-11-26 13:40] 48d90782 opened #415 "[RR2] Check logger messages in the all plugin tests with mock logger"
At the moment we have some plugin tests which positive finish we can only verify by log messages. Replace ZapLogger with mock_logger and verify these messages.

[2020-11-26 15:36] wolfy-j commented on #401
Alternative - event when a worker can not be recreated.

[2020-11-27 11:29] cidious opened #417 "[FEATURE REQUEST] make PHP 8 compatible"
**Is your feature request related to a problem? Please describe.**
I cannot update to PHP8 because the composer package requires php: ^7.2 which is not compatible with 8.0

**Describe the solution you'd like**
test against 8.0 and update the requirements

[2020-11-28 20:53] leoqbc commented on #417
Hi @cidious I did ```--ignore-platform-reqs``` over composer to get it forced, workeddocker i fine for me, I even got the rr binary to.

Maybe it could be a temporary turn around.

[2020-11-30 08:24] #404 closed

[2020-11-30 08:26] wolfy-j commented on #417
https://github.com/spiral/roadrunner/pull/419

[2020-11-30 09:39] #389 closed

[2020-11-30 09:41] #401 closed

[2020-11-30 09:44] 48d90782 commented on #417
@48d90782 (note) Should be 2 PRs, for RR1 and RR2

[2020-11-30 11:50] #405 closed

[2020-11-30 12:59] #417 closed

[2020-11-30 13:08] 48d90782 commented on #417
@cidious @leoqbc Now in the `master` branch. `1.9.0` relese expected by end of the week.

[2020-11-30 13:31] 48d90782 opened #422 "[RR2] Update PR to be compatible with release 2.0 branch"
@Hardrain980
#412

[2020-11-30 13:32] 48d90782 commented on #422
@Hardrain980 You can take this issue and update #412 to be compatible with 2.0 release. Thanks.

[2020-11-30 14:36] leoqbc commented on #417
Uou NICE! thanks Valery!

[2020-12-01 18:11] 48d90782 commented on #120
@ValeraBot At the moment in the RR2 HTTP plugin, we don't support the `Upgrade` command to upgrade HTTP to Websocket..yet.

[2020-12-01 18:12] 48d90782 commented on #120
@ValeraBot Feel free to create a `feature request` ticket and describe use-cases, we will be glad to help you.

[2020-12-02 07:37] hugochinchilla opened #425 "[BUG] RPC connection refused"
Hello, first of all thank you for this software, it's being super useful for me and  my team.

We have been using the prometheus metrics reporter for a while and yesterday I got an error because the RPC server did not accept the connection, here are the logs from the server:

[code]

The first thing I thought was that the rpc server was failing, but after seeing the logs I'm not sure if maybe this

[2020-12-02 07:43] hugochinchilla commented on #425
Another thing I noticed is that there is no logged message fgor the RPC being shut down, for other pods I can see this message being logged on anormal shutdown, I think this may be related because the error ocurred on a slow path and the wait time for a pod to stop after a SIGKILL is too low, so maybe this is a problem of configuration on my own.

If you think the situation I described is well han

[2020-12-02 07:45] 48d90782 commented on #425
Hey @hugochinchilla . Thanks for the detailed description. I'll take a look at this behavior.

[2020-12-02 07:57] #406 closed

[2020-12-02 10:36] wolfy-j opened #426 "[PHP 2.0] Create WorkerInterface"
**Is your feature request related to a problem? Please describe.**
Need a proper WorkerInterface instead of the current Worker class. Need to extract worker code into a separate repository.

[2020-12-02 10:37] wolfy-j opened #427 "[PHP 2.0] Move PSR-7 and HTTP connector into separate repository."
PST7 connector and HTTP code should not be part of the main repository as they are not required for alternative execution models.

[2020-12-03 21:17] #407 closed

[2020-12-07 07:27] 48d90782 opened #430 "[RR2] CLI commands (copy from RR-T)"
1. Serve
2. Workers
3. Reset
4. Stop

[2020-12-07 10:26] 48d90782 opened #431 "New releases and binaries build automation"
At the moment we write a RR version on the linking stage with `LDFLAGS` manually. And forming releases also manually. Now, it's time to move forward. The scope of this issue is the following:
1. Support automatic version creation on the CI stage.
2. Automated releases and binaries build.

[2020-12-07 10:29] tarampampam commented on #431
Example CI: https://github.com/tarampampam/tinifier/blob/master/.github/workflows/release.yml

[2020-12-07 16:59] tarampampam commented on #431
@48d90782 Please, rename this issue to `New releases and binaries build automation` (one task - one issue)

[2020-12-07 20:12] 48d90782 opened #434 "[rr version] flag"
Automatically assign version during CI build and support [rr version] flag.

[2020-12-08 08:00] Logioniz opened #435 "[FEATURE REQUEST] Roadrunner stderr and application log"
Hello.

I couldn't find a support channel to ask questions, so I came here.

I want to run roadrunner in a docker container and write application logs to stderr.

Is there a way to output the stderr in roadrunner that is passed by the worker via stderr?

At this point, I found a way to get a stderr by running roadrunner with the -d (debug) flag. In my opinion, this imposes additional overhead on r

[2020-12-08 08:38] #431 closed

[2020-12-08 10:53] 48d90782 commented on #435
Hi @Logioniz. I guess it's not possible in RR version 1 (@wolfy-j correct me if I wrong). But will be definitely possible with the new RR version 2 which is coming very soon :)

[2020-12-08 11:42] 48d90782 opened #436 "[RR2] Update Reload plugin"
1. Update reload plugin to be compatible with RR2
2. Fix issues #363, #362

[2020-12-08 15:28] #434 closed

[2020-12-08 17:08] fr05t1k opened #439 "[FEATURE REQUEST] Prometheus metrics. Objectives for summary metrics type."
Hey guys,

Thanks for your great software.
I have a suggestion. I didn't find ability to specify `objectives` for `summary` metrics type. Did I miss something?
If there is no ability to specify `objectives` for `summary` then there no different between `histogram` without `buckets` and `summary` without `objectives`.

![image](https://user-images.githubusercontent.com/2131624/101516699-cb3d7680-39

[2020-12-08 19:55] 48d90782 commented on #439
Hi @fr05t1k. Thanks for the feature request. You are right, objectives for summary metrics type not presented in the config and `Collector` struct. We are planning a release next week, so, I think I can possibly have `objectives` ready in this release.

[2020-12-10 07:53] #439 closed

[2020-12-10 15:08] connerbw opened #443 "[FEATURE REQUEST] Google Cloud SQL inside Roadrunner Server"
**Is your feature request related to a problem? Please describe.**

Right now, to access Google Cloud SQL I run two Dockers inside a Kubernetes pod (my app, and gcr.io/cloudsql-docker/gce-proxy) Instead, I would like the proxy to be available as a service such as `service/metrics` or `broker/sqs` inside roadrunner server.

**Describe the solution you'd like**

When I start cloud-sql proxy I get:

[2020-12-10 15:08] connerbw opened #931 "[💡FEATURE REQUEST]: Google Cloud SQL inside Roadrunner Server"
**Is your feature request related to a problem? Please describe.**

Right now, to access Google Cloud SQL I run two Dockers inside a Kubernetes pod (my app, and gcr.io/cloudsql-docker/gce-proxy) Instead, I would like the proxy to be available as a service such as `service/metrics` or `broker/sqs` inside roadrunner server.

**Describe the solution you'd like**

When I start cloud-sql proxy I get:

[2020-12-10 15:56] wolfy-j opened #444 "[RR2] Integrate KV plugin"
Move from our KV impl:
1. Remove Flatbuffers from the original implementation.
2. Move all sub-plugins

[2020-12-10 16:19] 48d90782 commented on #443
Hi @connerbw. Thanks for the request. It will be very easy to add a new plugin after we will release the 2.0 version with the new plugin system.  So, let's return to the discussion after 2.0.

[2020-12-11 08:54] wolfy-j commented on #435
The solution for this problem alteady exists in 2.0, so please wait. Though, you'll have to rewrite some of the worker code.

[2020-12-13 12:31] 48d90782 opened #445 "[RR2] Push RR2 to the #the-benchmarker and #TEB"
Push RR2 beta version to the:
1. https://github.com/TechEmpower/FrameworkBenchmarks
2. https://github.com/the-benchmarker

[2020-12-14 11:30] 48d90782 opened #446 "[RR2] goridge3 integration"
Redesign stderr buffer.
1. Aggregate errors to the event
2. Truncate buffer when event sent
3. Wait should return the last error

Integrate goridge3 beta.

[2020-12-15 23:04] 48d90782 opened #449 "[RR2] Remove PHP sources from RoadRunner repository"
Remove PHP `src` folder from `tests` folder. Provide instruction on how-to run golang tests without PHP sources. Correct `CI`, `build.yml`, section `Install Composer dependencies`.

[2020-12-16 09:40] EchoYJJ opened #450 "[WRONG REPO] How to merge two-way lanes based on xodr into 'Freeway' pattern?"
After importing xodr(OpenDrive file) into Roadrunner, I noticed that lanes in different directions are divided far apart.
![image](https://user-images.githubusercontent.com/75726020/102330442-7b515600-3fc4-11eb-842b-389076c4221b.png)
However, for a more realistic simulation, what I really want is the 'Freeway' pattern provided by roadrunner itself.
![image](https://user-images.githubusercontent.co

[2020-12-16 09:46] wolfy-j commented on #450
I'm pretty sure our product has nothing to do with roads. You have probably mistaken the repository.

[2020-12-16 09:56] 48d90782 commented on #362
Hi @siamskoi, I guess, that described behavior related to HTTP service (slowing down restart), because in RR2 I have created a test with 4000 files with random changes in it. I was waiting for about an hour and seems that all working fine. Do you still have this issue in RR1?

[2020-12-16 10:14] #450 closed

[2020-12-17 07:12] #436 closed

[2020-12-17 07:12] #363 closed

[2020-12-17 09:28] #449 closed

[2020-12-17 09:29] #446 closed

[2020-12-17 12:30] 48d90782 opened #454 "[RR2] Better project structure"
Take a look: https://github.com/golang-standards/project-layout
We need to split our core domain layer (interfaces) from implementation.
Move all public implementation to the `pkg`, resolve cyclic dependencies. All interfaces and events should lay in the `interfaces` folder.
Move all internal structures and interfaces to the `internal` folder.

[2020-12-17 12:30] #454 closed

[2020-12-19 15:28] #362 closed

[2020-12-21 08:50] 48d90782 opened #457 "[RR2] Extend http server configuration options"
Extend `http` section with http server configuration options, such as: `read-write timeouts`, `header size` etc..

[2020-12-21 08:50] rustatian opened #932 "[💡FEATURE REQUEST]: Extend http server configuration options"
Extend `http` section with http server configuration options, such as: `read-write timeouts`, `header size` etc..

[2020-12-21 11:22] 48d90782 opened #458 "[RR2] Use underscore notation in the yaml config keys"
use `some_key` instead of `someKey`, check config.

[2020-12-22 03:20] lishiling5121 opened #461 "[QUESTION] What's the difference between roadrunner and fpm"
The document says, roadrunner  can avoid restarting the PHP worker process once for each request, but the FPM woker process is resident in memory. How to understand the document says ?

[2020-12-22 08:43] 48d90782 commented on #439
@fr05t1k https://github.com/spiral/roadrunner/releases/tag/v1.9.1

[2020-12-23 08:51] 48d90782 commented on #461
@wolfy-j Could you please describe the differences? :)

[2020-12-23 08:59] wolfy-j commented on #461
FPM PHP process is resident in memory but only during the request execution, worker process will be destroyed or memory wiped after every request. RoadRunner avoids that.

[2020-12-25 22:20] #430 closed

[2020-12-26 12:11] 48d90782 commented on #461
@lishiling5121 Thanks for the question, if you have any other questions, feel free to re-open this issue.

[2020-12-26 12:11] #461 closed

[2020-12-26 12:13] 48d90782 commented on #457
We can extend http server options with the following:
[code]

[2020-12-28 14:56] ramainen opened #464 "[RR2] Instructions for 2-beta"
Trying to run version 2 in my project.

PHP Fatal error:  Uncaught Error: Class 'Spiral\RoadRunner\PSR7Client' not found

Is there example of worker code (PSR-7 hello, world or something)?

[2020-12-28 15:25] wolfy-j commented on #464
Hi,

we did not complete the docs yet, but the new HTTP worker is here:
https://github.com/spiral/roadrunner-http

We unified method names, added proper interfaces, and removed the dependency on Zend.

[2020-12-28 15:25] wolfy-j commented on #464
https://github.com/spiral/roadrunner-http/blob/main/src/PSR7Worker.php

[2020-12-28 16:48] 48d90782 opened #465 "[RR2] Sample of code for the PSR-7 Worker"
Provide a sample of the PSR-7 worker in the `tests` folder.
linked: #464

[2020-12-28 16:52] 48d90782 commented on #396
Fixed by #462 , removed debug mutex from the ServeHTTP method.
 https://media.discordapp.net/attachments/428563026560679975/791413317197234198/unknown.png

[2020-12-28 16:52] #396 closed

[2020-12-28 16:54] 48d90782 commented on #464
@ramainen Did this advice help you?

[2020-12-28 17:15] wolfy-j commented on #396
This is painful to hear. Good to go.

[2020-12-28 19:54] ramainen commented on #464
@48d90782  yes, it works.

Thank you very much!

Still do not understand how to work with RPC calls, but I believe I will do it later.

For example, I used information about parse errors in previous version like this:

[code]

[2020-12-28 20:54] 48d90782 commented on #464
I think @wolfy-j can explain better how to work with RPC (new worker) from the PHP side :) But a few notes from my side:
`http.Reset` will not exist in RR2. In RR2 we introduced a new interface - `Resetter` which with `Endure` container can reset any service via RPC call. For example `http.Reset` will be rewritten to `resetter.Reset` (call to the plugin) with plugin name as argument. For example,

[2020-12-28 20:55] 48d90782 commented on #464
Also, we will definitely cover all this stuff in the documentation for the RR2 :)

[2020-12-29 11:10] wolfy-j opened #466 "[RR2] Add global ENV variables for server.Cmd"
Need 2 default env variables set for every process:

RR_RPC = address of RPC service listener
RR_RELAY = communication relay (pipes, tcp://...)

[2020-12-29 11:21] wolfy-j commented on #466
Also RR_CONFIG = JSON(full config)

[2020-12-30 08:05] darakanoit commented on #410
I think these scripts should be removed. And directly call the php worker.

[2020-12-30 08:47] wolfy-j commented on #410
Bats will intercept pipes, this method won't work with RR.

[2020-12-30 13:03] 48d90782 commented on #410
In the RR2, only commands in form of `php <script>.php` will be accepted. Please, feel free to reopen this ticket if you have the reason to run other types of commands. Thanks.

[2020-12-30 13:03] #410 closed

[2021-01-05 08:41] 48d90782 opened #467 "[RR2, BUG] On one of the windows machine, stderr messages showing inconsistent"
Take a look, that the messages separated randomly.
OS Build: `10.0.18363.1256`
![test](https://user-images.githubusercontent.com/8040338/103624238-5197a900-4f4a-11eb-84f7-3f3db47909c8.png)

[2021-01-07 11:25] wolfy-j opened #469 "[BUG] Services do not receive named logger"
In the current roadrunner build, no services write named logs, they all go into the default logger.

[2021-01-07 12:53] #444 closed

[2021-01-09 13:37] jjsaunier opened #471 "[FEATURE REQUEST] Customization of behavior when rr is unable to allocate worker"
:wave: @48d90782

follow up after discord discussion

**Goal** : Distinct error from worker allocation to be able to retry on another rr instance at load balancer level.

**Current State** : When rr is not able to allocate a worker, it's send a 500, which is not the best option because application that rr serve could also send 500 HTTP code.

IHMO, rr should give the possibilty to the user to:
- s

[2021-01-09 15:30] 48d90782 commented on #471
:wave:  @jjsaunier
I quite agree with your proposal. I'll think about implementation because there is not only an `"allocate worker"` error that can be returned from the `pool.Exec` method. There are also `fmt.Errorf("payload can not be empty")`, `fmt.Errorf("worker is not ready (%s)", w.state.String())` and may be more.
I think that it is better to distinct all RR errors from the errors which com

[2021-01-09 17:34] jjsaunier commented on #471
Indeed, i'm only experiencing the issue with `allocate worker`, so no experience on  `payload can not be empty`, `worker is not ready` but sounds good to dissociate all rr error vs app error :+1:

Thanks for the quick solution, unfortunately traefik (which I'm using) does not support retry based on status code at this time... (I hope a day it will!)

So currently my trick to let traefik retrying,

[2021-01-11 10:17] 48d90782 commented on #471
@jjsaunier https://github.com/spiral/roadrunner/pull/472
1.9.2 milestone

[2021-01-12 02:52] jjsaunier commented on #471
You rocks @48d90782! :1st_place_medal:

Left comment on pr

[2021-01-12 09:29] wolfy-j commented on #466
This issue is a high priority due to non-compatibility with RR 1.0.

[2021-01-12 14:51] 48d90782 commented on #466
RR 2 is not-compatible with RR 1. You can use `env` variables directly in the `server`:
[code]
`RR_RELAY` can be deduced from its internal parameters (`relay` key), and then it can be set automatically. Other env variables should not be hidden and should be set via the `env` key in the `server` explicitly (from my POV).

[2021-01-12 15:37] 48d90782 commented on #464
I am closing this ticket. Documentation will be improved before release :) If you have any other questions, feel free to open a new ticket :)

[2021-01-12 15:37] #464 closed

[2021-01-12 18:24] #338 closed

[2021-01-12 18:26] #279 closed

[2021-01-12 18:45] 48d90782 commented on #445
RR2 can't be pushed as a standalone application. Instead, the Spiral app should be updated. Closing this issue.

[2021-01-12 18:45] #445 closed

[2021-01-12 19:16] 48d90782 commented on #208
Closed via #378

[2021-01-12 19:16] #208 closed

[2021-01-12 21:24] Shikachuu commented on #435
@48d90782, I might be mistaken, but this should be closed in favor of #378, right?

[2021-01-12 21:41] Shikachuu commented on #16
Is this about `Etag` response header only or we are talking about also `If-Match` and `If-None-Match` request headers?

[2021-01-12 22:57] 48d90782 commented on #435
@Shikachuu Yep, you are correct. The fully customizable log will be in the RR2. Unfortunately, it's impossible to do that in the RR1 :(

[2021-01-12 23:52] 48d90782 commented on #16
@Shikachuu I am open to suggestions :) I can implement both )

[2021-01-13 07:11] #471 closed

[2021-01-13 09:45] Shikachuu commented on #16
@48d90782 I think that `If-Match` and `If-None-Match` is out of context for a static file serving.
I was asking, cause soon I'll have some freetime and this issue seems like a good match to shake up my rusty go skills.
Seems like `Etag` hasn't got any specific requirements for hash algorithm, is plain old sha1 fine?

[2021-01-13 09:54] 48d90782 commented on #16
@Shikachuu Yeah, according to the RFC https://tools.ietf.org/html/rfc7232#section-2.3, the hash algorithm is not defined, but according to the google docs https://cloud.google.com/storage/docs/hashes-etags#_ETags, MD5 is historically used as the hash for the `Etag`.

Awesome :smile:
Make sure, that the target branch for the RR2 is https://github.com/spiral/roadrunner/tree/2.0

[2021-01-13 12:31] #458 closed

[2021-01-13 12:31] #466 closed

[2021-01-13 16:08] 48d90782 commented on #467
After discussion with @SerafimArts , we think, that the buffer instantiated in the PHP script which flushes data to the `stderr`, should be set to the `10240 bytes`.

[2021-01-13 17:09] SerafimArts commented on #467
Just in case, I will give an example of the current code, which is the output buffer to the stderr (to avoid getting extra data into the output buffer, which breaks the protocol):
[code]

Possible cause of the problem is the output buffer (OB) redirection function `ob_start` without specifying the size of chunks (second argument of the function): https://www.php.net/manual/en/function.ob-start.php

[2021-01-14 08:50] rustatian opened #474 "[RFC] Native plugins support (so, dll)"
At the moment we use plugins `roadrunner/plugins` folder as golang code. This means that is impossible to load a plugin in runtime without recompile the whole RR code with a new plugin. Golang at the moment supports native plugins via `plugin` package but only on Linux and macOS [Link](https://golang.org/pkg/plugin/).
And according to the discussion in the issue below:

Tracking issue https://gith

[2021-01-14 08:50] rustatian opened #933 "[💡FEATURE REQUEST]: Native plugins support (so, dll)"
At the moment we use plugins `roadrunner/plugins` folder as golang code. This means that is impossible to load a plugin in runtime without recompile the whole RR code with a new plugin. Golang at the moment supports native plugins via `plugin` package but only on Linux and macOS [Link](https://golang.org/pkg/plugin/).
And according to the discussion in the issue below:

Tracking issue https://gith

[2021-01-14 18:51] 48d90782 commented on #471
@jjsaunier https://github.com/spiral/roadrunner/releases/tag/v1.9.2

[2021-01-18 12:36] ohDaddyPlease commented on #457
why is **config** there?
is it an abstract type?

[2021-01-18 13:06] 48d90782 commented on #457
It's just a placeholder for GitHub, which means, that value should be taken from the config.

[2021-01-18 13:48] wolfy-j opened #478 "[BUG, RR2] HTTP plugin should be disabled when no config provided"
Currently it's not possible to run RR without HTTP plugin.

[2021-01-18 14:17] 48d90782 opened #479 "[BUG, RR2] Incorrect env variables"
At the moment RR_RPC env variable is absent, which leads to the following result `RR_RELAY=pipes =tcp://127.0.0.1:6001`
Also, RR_HTTP should be moved to the HTTP plugin, because it is specific to the HTTP workers.

[2021-01-18 14:19] 48d90782 opened #480 "[RR2] Better HTTP debug log messages"
The HTTP handler log message should be in the form of:
`{status}:{method}:{address}` / `INFO[0006] 127.0.0.1 {313ms} 404 GET http://localhost:8080/`

[2021-01-18 14:35] 48d90782 opened #481 "[RR2] Change server log level to the Debug"
All logs in the `server` plugin should be at the `Debug` level:
1. `func (server *Plugin) collectPoolLogs(event interface{})`
2. `func (server *Plugin) collectWorkerLogs(event interface{}) `

[2021-01-18 14:39] 48d90782 opened #482 "[RR2] Include Temporal plugins into the 2.0 release"
repo: https://github.com/temporalio/roadrunner-temporal

[2021-01-18 15:42] ohDaddyPlease commented on #457
@48d90782 do i understand correctly, we extends [FCGIConfig](https://github.com/spiral/roadrunner/blob/2.0/plugins/http/config.go#L74) and [HTTP2Config](https://github.com/spiral/roadrunner/blob/2.0/plugins/http/config.go#L80)?
also we need to add options to server config for [Fcgi ](https://github.com/spiral/roadrunner/blob/2.0/plugins/server/config.go#L63) and [HTTP2](https://github.com/spiral/r

[2021-01-18 18:35] #479 closed

[2021-01-18 18:43] 48d90782 opened #484 "[RR2] Refactor error operations"
At the moment there are a lot of variations of the `error.Op("message")`, such as:
1. `errors.Op("Message")`
2. `errors.Op("Message_message")`
3. `errors.Op("message message")`

All errors operations should be in one form:
1. No mixed caps
2. Start from the lower-cased letter
3. No dots at the end
4. Use `_` instead of space
5. Operation should start from the structure name (if applicable)
6. For

[2021-01-18 20:20] #478 closed

[2021-01-19 11:58] #480 closed

[2021-01-19 12:18] 48d90782 commented on #457
Let me explain, it's my bad :)
We extend the `http` section in the `.rr.yaml` (which is located in the root). You need to add, right after the `http` section, configuration options for the `http` (yaml), and `http2` options, right after the `http2` key in the `http`. It should look like the following:
[code]
Default values should be taken from the `http.Server` standard library, and should be set

[2021-01-19 14:28] wolfy-j opened #488 "[Docker] PHP GRPC, Protobuf and Msgpack extensions should be available in base image by default"
These are common extensions required by Temporal, KV, and GRPC plugins. We should enable them by default.

[2021-01-19 14:42] 48d90782 commented on #488
@rauanmayemir It's a very popular serialization format. Like protobuf or JSON. You can take a look at: https://msgpack.org/index.html

[2021-01-19 19:19] wolfy-j commented on #488
It’s alternative format for new RPC codes. It needed to properly pass binary data. It’s optional but provide performance benefits.

[2021-01-20 09:32] wolfy-j commented on #413
I think this ticket can be closed as I can hardly imagine the situation when RR serves multiple endpoints with different middleware at the moment.

[2021-01-20 09:33] wolfy-j commented on #482
Needs to wait for temporal GO SDK release. The rest is ready for it!

[2021-01-20 11:11] 48d90782 commented on #413
@wolfy-j Yep, agree

[2021-01-20 11:11] #413 closed

[2021-01-21 08:46] #488 closed

[2021-01-21 08:46] wolfy-j commented on #465
https://github.com/spiral/roadrunner-http

[2021-01-21 08:46] #465 closed

[2021-01-21 09:31] wolfy-j opened #489 "[RR2] RoadRunner 2.0 should expose HTTP metrics"
In the first version, HTTP published metrics to metrics plugin during it's work. RR2 does not do that so it's impossible to get stats on how the server operates.

Reference:
https://github.com/spiral/roadrunner/blob/master/cmd/rr/http/metrics.go

[2021-01-21 09:37] wolfy-j opened #490 "[RR2, BUG] HTTP log does not show any message"
Expected:
As a user, I expect to see a proper log message on the HTTP requests.

[code]

Message body: `{status code} {http method} {url}`

Current:
I see no message.

[code]

[2021-01-21 09:57] wolfy-j commented on #435
It is partially resolved as now you can isolate the server/application log from the rest of the system. But now we have the possibility to add a separate channel for domain-specific logs.

[2021-01-21 09:58] wolfy-j commented on #467
Sample code to reproduce.

[code]

[2021-01-21 11:24] wolfy-j opened #492 "[BUG, RR2] Add composer.json to the repository"
It's not possible to properly split PHP and Golang codebases without breaking past dependencies. We need a composer file that will reference to new PHP source code.

[2021-01-21 13:49] #484 closed

[2021-01-21 15:43] #492 closed

[2021-01-22 08:04] #422 closed

[2021-01-24 17:58] 48d90782 opened #496 "[RR2, Next] Events package update"
At the moment `event` pkg in the RR2 lays mostly on the `interface{}` as the event. It's not the best solution, because:
1. We have to use type casting for every event to search for the event of need type.
2. We can't subscribe only to the particular event (for example `EventMaxMemory`).
3. When printing the event, we have to guess if there is `Payload` or `Worker` in the event or not, so no unifi

[2021-01-25 12:43] #415 closed

[2021-01-26 13:21] #482 closed

[2021-01-26 15:47] iluuu1994 commented on #205
Parts of it can be solved with [this](https://github.com/php-pm/php-pm/issues/455#issuecomment-516656319) but New Relic will still be missing a lot of information (like request url, headers, params, etc). It doesn't look like you can set these manually in the extension at the time.

[2021-01-26 16:37] wolfy-j commented on #205
It might make more sense to add new relic as rr plugin rather than tackle PHP code.

[2021-01-26 17:30] iluuu1994 commented on #205
Possibly. Although allowing to configure a custom request would also solve the problem for other services with a similar architecture as RoadRunner (like PHP-PM).

[2021-01-26 20:20] eldario opened #504 "[BUG, RR1] superfluous response in console"
_Hello_,
Maybe I'll repeat #301 and #333 then I'll just share my problem.

I start the server with the settings:
[code]
and this command:
[code]

I begin to conduct a stress test:
[code]

During the test and after the end of it, **everything** works properly. I don't see any new lines, since the `-v` `-d` options are off.

I start the test again and after a while I lower `CTRL` + `C` (SIGINT)
And

[2021-01-26 20:45] iluuu1994 commented on #205
See [this comment](https://github.com/php-pm/php-pm/issues/455#issuecomment-767785419). A simple solution would be to offer something like PHP-PM does with `populate-server-var` that populates the `$_SERVER` variable which would allow New Relic to look up the given request details. This can be implemented in user land but it might still be convenient for RoadRunner to offer such an option.

[2021-01-26 21:50] 48d90782 commented on #504
Thanks for the report @eldario. I'll dig into this problem and notify you, when this issue will be fixed.

[2021-01-28 15:23] sergey-yabloncev opened #509 "[BUG?, RR1] Unable to connect to worker: invalid data found in the buffer (possible echo)"
I use RoadRunner for a project on laravel in docker. When I add extension xdebug server not work.
But if I remove extension xdebug all working well.

Errortrace, Backtrace or Panictrace

[code]

Dockerfile

[code]
docker-compose

[code]

.rr.yaml
[code]

### System information

PHP version 8,0,1
roadrunner-laravel 3.7
RoadRunner version 1.9.2
Environment docker

[2021-01-28 15:41] wolfy-j commented on #509
Does manual `php worker.php` work and does not produce any output until you type anything in CLI?

Check Troubleshooting here https://roadrunner.dev/docs/php-worker

[2021-01-28 16:02] sergey-yabloncev commented on #509
if you log in to the container and run it in manual mode

[code]

if start server
[code]

[2021-01-28 16:56] sergey-yabloncev commented on #509
if disable JIT in PHP, all work well, but I think its not correct behavior. If start script in PHP CLI  JIT disabled and we see the warning

[2021-01-28 19:03] wolfy-j commented on #509
Sounds like your version of xDebug conflicts with JIT, RR has nothing to do with it. But such behavior breaks the communication protocol. You can try to use Unix pipes but the problem still is there.

[2021-01-29 06:25] sergey-yabloncev commented on #509
Thank's!

[2021-01-29 10:49] wolfy-j opened #511 "[RR2] Command limitation"
It is impossible to run RR2 with a custom path to PHP executable (which was possible in RR1).

I tried this code:

[code]

I expected to see this happen:
RR should use given PHP path.

Instead, this happened:
RR failed with:
[code]

The version of RR used: v2.0.0-beta9

Errortrace, Backtrace or Panictrace
[code]

[2021-01-29 17:40] #511 closed

[2021-01-29 21:18] 48d90782 commented on #509
@sergey-yabloncev If your problem was solved, feel free to close the issue :)

[2021-01-29 21:23] 48d90782 opened #513 "[RR2] Broadcast and broadcast-ws plugins migrate"
Migrate the following plugins to the RR2:
1. https://github.com/spiral/broadcast
2. https://github.com/spiral/broadcast-ws
3. Have a look to the following issue: https://github.com/spiral/broadcast-ws/issues/2

[2021-01-30 17:14] SerafimArts opened #514 "[FEATURE REQUEST, RR2] Simplify RR2 error messages"
## Problem

- RoadRunner 1.x contains concise and clear error messages:
[code]

- RoadRunner 2.x сontains several tens of trace lines from which it is not clear what happened.
[code]

## Solution

I propose to simplify error messages, or highlight the message directly, so that it would be clear what exactly happened.

[2021-01-30 20:45] 48d90782 commented on #514
Thanks for sharing your thoughts. That can be easily tuned by setting endure log level to panic. We haven't decided yet what the error messages will be. This option will most likely be set through the configuration.
[code]

[2021-01-31 08:13] wolfy-j opened #515 "[BUG] RR2 fails on 'rr workers' when http disabled"
I tried this code:

[code]

Config:

[code]

I expected to see this happen: see only workers from enabled plugins

Instead, this happened:

[code]
The version of RR used: v2.0.0-beta9

Errortrace, Backtrace or Panictrace
[code]

[2021-01-31 08:26] wolfy-j commented on #515
Also fails on reset and reloader.

[2021-01-31 08:29] wolfy-j commented on #515
Also, the informer did not pick up the "activities" plugin for some reason.

[2021-01-31 09:51] wolfy-j commented on #514
Let's discuss this on Monday.

[2021-01-31 13:33] 48d90782 commented on #515
https://github.com/spiral/endure/issues/81

[2021-02-01 07:21] #509 closed

[2021-02-01 14:06] wolfy-j opened #521 "[BUG] RR2 Does not render channel name for channels with explicit configuration"
I tried this code:

[code]

Ref:
https://github.com/spiral/roadrunner/blob/roadrunner-core/plugins/logger/plugin.go#L56

I expected to see this happen:
[code]

Instead, this happened (no temporal name):

[code]

The version of RR used: v2.0.0-beta20

[2021-02-02 16:30] #521 closed

[2021-02-04 17:49] 48d90782 commented on #515
fixed by https://github.com/spiral/endure/pull/83
Endure version: `beta.22`

[2021-02-04 17:49] #515 closed

[2021-02-05 10:01] wolfy-j opened #531 "[BUG, RR2] Inconsistent worker list under load"
I tried this code:

[code]

I expected to see this happen:

See all available workers.

Instead, this happened:

[code]

Missing workflow worker (sounds like it's under load).

The version of RR used: v2.0.0-beta25

[2021-02-05 14:22] 48d90782 commented on #467
@wolfy-j Please, post here the link to the commit fixing that issue

[2021-02-05 15:25] wolfy-j opened #532 "[FEATURE REQUEST, RR2] Parse ENV variables in config"
In RoadRunner:

[code]

I expected to see this happen:
Set num workers using ENV variable.

Instead, this happened:
Config failed to replace the value.

The version of RR used: v2.0.0-beta.24

Reference in RR1:
https://github.com/spiral/roadrunner/blob/v1.9.2/cmd/util/config.go

[2021-02-05 15:31] wolfy-j opened #533 "[FEATURE REQUEST, RR2] Add support for -o (overwrite) console flag"
**Is your feature request related to a problem? Please describe.**
I need the ability to overwrite the config section using the config flag as in RR1.

**Describe the solution you'd like**
Set configuration value from the console using `-o` flag as mentioned here - https://roadrunner.dev/docs/intro-config

**Additional context**
https://github.com/spiral/roadrunner/blob/v1.9.2/cmd/util/config.go#L

[2021-02-07 06:29] beanhacker opened #534 "[BUG] why the builded binary can not run directly?"
run:
     rr.exe serve
    use config i copyed(.rr.yaml):
          http: address: 0.0.0.0:8080
          workers.command: "php worker.php"

error:
2021/02/07 14:24:48 handle_serve_command: Init error:
        endure_initialize:
        endure_add_edges:
        endure_add_init_deps:
        endure_add_interface_dep: can't find dependency: logger.Logger for the vertex: memcached.Plugin

suggest:

[2021-02-07 09:56] 48d90782 commented on #534
Hey @beanhacker. Nice to meet you. Thanks for the report and sorry for the bad UX. At the moment RR2 in the beta stage, so, there are expected to be some bugs inside :)
If I understood correctly, you tried to run RR2 with the following configuration:
[code]
You have to rewrite this config to be compatible with RR2:
[code]

I found a bug in the endure interfaces resolving mechanism. And that's why

[2021-02-08 12:02] wolfy-j commented on #534
The answer: we have changed the config for RR2 and it's not 100% compatible with RR1.

[2021-02-08 12:06] wolfy-j opened #537 "[FEATURE REQUEST, RR2] Logs config should be optional"
**Is your feature request related to a problem? Please describe.**
Almost every service now depends on the logger and its new service. It will be nice to enable it by default.

**Describe the solution you'd like**
Enable logger in console mode and INFO level when no logs config found.

**Describe alternatives you've considered**
None.

[2021-02-08 12:08] beanhacker commented on #534
@48d90782  thanks, solved it.
but a new question is: we need php rel package also when use roadrunner? can not put it all in one roadrunner?
nginx && apache do the same thing as roadrunner now. what we feel bad is that php need to be deployed with 3rd server.
so i think roadrunner want to solve this problem. do i understand wrong?

[2021-02-09 08:03] wolfy-j commented on #467
The actual bug is located in the error_log function. It can not be used for reliable logging purposes due to internal implementation. It's recommended to write directly to `stderr`, for example:

[code]

[2021-02-09 08:20] #467 closed

[2021-02-11 10:21] andrei-dascalu opened #540 "[BUG, RR2] Error when starting RR2"
Hello,

I've tried a simple default setup with RR2 beta24 but when starting up with

`rr serve -d` I am getting an error as per backtrace below.
I've also attached the yml I used (basically the default one with the php entrypoint changed).

Version: v2.0.0-beta.24

[code]

I expected to see this happen: php file served

Instead, this happened: error

The version of RR used: v2.0.0-beta.24

Errortr

[2021-02-11 10:25] wolfy-j commented on #540
@48d90782 I don't think we should enable Redis and boltdb in sample config. We can write about it separately.

@andrei-dascalu You are using a sample full configuration reference. I do not think you need ALL RR plugins at once. Try minimal config like that to start:

[code]

[2021-02-11 10:30] andrei-dascalu commented on #540
@wolfy-j  thanks for the suggestion. Unfortuantely, this minimal version results in

[code]

I've added then this

[code]

and then got this error

[code]

[2021-02-11 10:31] 48d90782 commented on #540
@wolfy-j Sample reference is just to show all configurable plugins and options for the RR2. It's not supposed to use. All fields should be presented in the `.rr.yaml`. As the option, we may provide a minimum configuration to run.

[2021-02-11 10:32] 48d90782 commented on #540
The issue will be resolved in the next release. Please, take a look at the https://github.com/spiral/roadrunner/issues/534

[2021-02-11 10:38] andrei-dascalu commented on #540
@wolfy-j @48d90782 ok, then it was on the right track.

As a doc suggestion: would be good to have all the options in the sample yml, but commented out with only the minimal needed to execute enabled.

[2021-02-11 10:50] 48d90782 commented on #540
@wolfy-j @andrei-dascalu Generally I'm ok to comment out options, which are not needed to run minimum RR2 assembly. But in the `yaml` files, commented lines look very ugly (having also comments as the description for the keys) and if you uncomment them, `yaml` might be broken because of root section shifted 1mm left :( So, it's very annoying.
[code]

[2021-02-11 10:58] andrei-dascalu commented on #540
@48d90782    I see your point. I sortof got used to this (and a good IDE helps with yaml) as it's pretty common in Helm charts yml files so I keep an eye out for the caveats of de-commenting but I can see why it wouldn't be comfortable for everyone.

[2021-02-11 13:28] 48d90782 commented on #540
@andrei-dascalu Please, try RC -> https://github.com/spiral/roadrunner/releases/tag/v2.0.0-RC.2

[2021-02-11 14:02] andrei-dascalu commented on #540
@48d90782

Using the v2.0.0-RC.2 binary and the minimalist yml (without `temporal`) I got this:

[code]

what is the CRC mentioned, what does it check for ?

[2021-02-11 14:06] 48d90782 commented on #540
@andrei-dascalu There is might be an issue with your worker (PHP). Keep in mind, that the old RR1 worker is not compatible with theRR2 worker. Take a look at this worker: https://github.com/spiral/roadrunner/blob/master/tests/psr-worker-bench.php

[2021-02-11 14:16] wolfy-j commented on #540
Yes, make sure to include `roadrunner@2.0` to your PHP workers. We are going to polish all the documentation before moving RR2 from the beta so it won't be possible to mistaken the RR1 worker with RR2.

This is a simple worker for rr2 you can use:

[code]

[2021-02-11 14:20] wolfy-j commented on #534
Can you re-phrase your question? PHP package for RR provides easier, PSR compatible abstraction for PHP only. But the general point for RR is to replace nginx+php-fpm pair or apache.

RoadRunner does not work via default stateful SAPI (dying model) of PHP which is the core root of its performance benefits.

[2021-02-11 14:22] andrei-dascalu commented on #540
Hmmm, this is weird. My worker was close to that but I updated to match the above. I have.

./public/index.php
[code]

composer

[code]

.rr.yml

[code]

[code]

But the error is the same

[code]

[2021-02-11 14:25] andrei-dascalu commented on #540
edit: removed previous post saying I still had the issue. I had an issue with my IDE, left some whitespace in my PHP file that apparently messed it up. It's good now, thanks!

[2021-02-11 14:26] 48d90782 commented on #540
@andrei-dascalu Feel free to close the issue if your problem was solved :)

[2021-02-11 14:27] wolfy-j commented on #540
@SerafimArts is working on a special update which hopefully going to make the experience with whitespaces easier.

[2021-02-12 08:51] 48d90782 commented on #534
@beanhacker Reported bug was resolved. Could you please verify that and if everything is good, close this issue?

[2021-02-12 13:52] rustatian opened #543 "[RFC] Build constraints to include only needed plugins at compile time"
We provide a full set of the `plugins` in the `main.go` file. If a user removes unneeded plugins, they are regardless will present in the binary increasing its size.
This proposal is to use build constraints to mock unused plugins at build time. For example, to build RR with `http` and `gzip` support only, we can use the following command: `go build -tags=http,gzip -o rr`. Other plugins will be mo

[2021-02-14 22:03] 48d90782 commented on #534
@beanhacker I'm going to close this issue. Feel free to re-open it if the problem is still exists.

[2021-02-14 22:03] #534 closed

[2021-02-14 22:05] 48d90782 commented on #540
@andrei-dascalu I'm going to close the issue. Feel free to reopen it if the problem still exists.

[2021-02-14 22:05] #540 closed

[2021-02-14 22:09] 48d90782 commented on #531
Fixed with new worker container by providing a copy of the pointers to the actual workers to RO (read-only) operations like `workers -i`.

[2021-02-14 22:10] 48d90782 commented on #531
@wolfy-j Please confirm that the bug was fixed in the latest `RC.2`

[2021-02-14 22:15] #481 closed

[2021-02-15 08:45] wolfy-j commented on #531
The bug gone. List looks stable now.

[2021-02-15 11:04] #531 closed

[2021-02-16 06:53] #533 closed

[2021-02-16 08:05] rustatian opened #545 "[FEATURE REQUEST, RR2] Log rotation support"
**Is your feature request related to a problem? Please describe.**
Log rotation is a technique not to waste too much disk space for the logs. The log might be overwritten, deleted, archived or etc...
https://en.wikipedia.org/wiki/Log_rotation
At the moment, RR supports a classic `stderr` log which can be grabbed by log-collector systems (like datadog) or file log without rotation.
ref: https://git

[2021-02-16 15:02] #537 closed

[2021-02-16 19:49] 48d90782 commented on #504
@eldario I had a look at this issue.  The connection, which RR processes at the moment interrupts when you hit `CTRL+C` during the testing. But, in the RR this connection is still in the handler `ServeHTTP`. Then when RR sees the error (can't respond back, because the connection is broken) it tries to write to the closed `ResponseWriter` which leads to this issue. This is not something critical, b

[2021-02-16 19:55] 48d90782 commented on #504
@eldario You can also try RR2 RC build. I tried your test and didn't see any issues.

[2021-02-17 06:24] #532 closed

[2021-02-23 10:09] changwuf31 opened #555 "[FEATURE REQUEST] Graceful Shutdown"
**Is your feature request related to a problem? Please describe.**
Graceful shutdown of temporal workers if requested

**Describe the solution you'd like**
When SIGTERM is sent, then I'd like for roadrunner to:
- stop receiving jobs
- process all pooled jobs
- shutdown workers after all pooled jobs has been processed.

**Describe alternatives you've considered**
A clear and concise description of

[2021-02-23 12:39] wolfy-j opened #556 "[BUG, RR2] Static does not work"
I tried this code:

[code]

I expected to see this happen: serve file via `localhost:8080/hello.txt` where hello.txt located in public dir.

Instead, this happened: requested falled back to PHP script.

The version of RR used: v2.0.0-RC2

[2021-02-23 13:25] wolfy-j commented on #471
I believe we will need to add the same thing for RR2 down the road.

[2021-02-23 15:05] wolfy-j opened #557 "[RR2, FEATURE REQUEST] Remove v1 in checker plugin"
**Describe the solution you'd like**
Remove v1/ prefix. Add `status` to the default config reference.

[2021-02-23 15:46] 48d90782 opened #558 "[RR2] TTL, MaxMemory, Idle_ttl should be perceived as soft errors"
Supervisors options like `ttl`, `max_memory`, and `idle_ttl` are soft errors. That means if a worker consumes `max_memory+1mb` over allowed memory it should be marked as invalid and stopped after the job will be done. This also applies to the `idle_ttl` and `ttl` options.
1. Update supervisor_pool.go. Use `worker[i].Status().Set(worker.Invalid)` instead of `sp.pool.RemoveWorker(workers[i])`.
2. Up

[2021-02-23 15:51] 48d90782 commented on #556
ref: #368

[2021-02-23 15:52] 48d90782 commented on #557
ref: #368

[2021-02-23 15:55] wolfy-j commented on #558
ref #368

[2021-02-23 16:12] #557 closed

[2021-02-23 16:12] #556 closed

[2021-02-23 16:15] 48d90782 opened #560 "[RR2] Supervisor exec_ttl doesn't work as expected"
The supervisor should kill the worker if it exceeds `exec_ttl` time.

[2021-02-23 16:16] 48d90782 commented on #560
ref: #386
ref: #558

[2021-02-23 16:54] Anlamas opened #561 "[FEATURE REQUEST] Rate limitter"
**Is your feature request related to a problem? Please describe.**
A rate limitter for requests. I'm guessing it will be much faster than php middleware.

**Describe the solution you'd like**
If it is possible i'd like to pass number of limit from the framework side(spiral), eg number of limit for specific user stored in database.
If not, a simple limitter is still a nice-to-have thing.

**Describ

[2021-02-23 16:54] Anlamas opened #934 "[💡FEATURE REQUEST]: Rate limitter"
**Is your feature request related to a problem? Please describe.**
A rate limitter for requests. I'm guessing it will be much faster than php middleware.

**Describe the solution you'd like**
If it is possible i'd like to pass number of limit from the framework side(spiral), eg number of limit for specific user stored in database.
If not, a simple limitter is still a nice-to-have thing.

**Describ

[2021-02-24 10:47] #560 closed

[2021-02-24 10:47] #558 closed

[2021-02-24 20:57] steffendietz opened #563 "[BUG] v2.0.0-RC.4 not buildable"
I tried building the project using:
[code]

I expected to see this happen: to get a built `rr` binary as per the `build` target of the `Makefile`.

Instead, this happened: I received an error:
[code]

The version of RR used: v2.0.0-RC.4

Further detail:
The changelog of `v2.0.0-RC.4` specifically mentions:
* :construction_worker: Add static, headers, status, gzip plugins to the `main.go`.

But I c

[2021-02-24 21:58] 48d90782 commented on #563
Hey @steffendietz. RR2 repository does not contain `main.go` and thus can't be built. I'll remove the `build` target in the Makefile. To build your own RR2 binary or download release, please take a look at the https://github.com/spiral/roadrunner-binary repository.

[2021-02-24 22:05] 48d90782 opened #564 "[RR2] Remove any mentions that RR2 main repo can be built as standalone"
1. Update all Makefiles (RR2, RR2-binary)
2. Double check the documentation @wolfy-j (that the RR2 main repo does not contain binary)
3. Make and pin a ticket with an explanation, why the new RR2 doesn't contain binaries anymore and what is the RR2 releases.

[2021-02-24 22:06] 48d90782 commented on #564
ref: #368
ref: #563

[2021-02-24 22:06] 48d90782 commented on #563
ref: #564

[2021-02-24 22:08] 48d90782 commented on #563
@steffendietz `main.go` mentioned in the commit related to the `roadrunner-binary` repository. Sorry for the confusion, we will cover that case in the documentation.

[2021-02-24 22:26] steffendietz commented on #563
Got it. Thanks for clearing it up. :+1:

[2021-02-24 22:26] #563 closed

[2021-02-24 22:34] steffendietz commented on #563
If you click through the mentioned tags above, there could still be some undesired artifacts. Namely that not all RC or beta releases of the `spiral/roadrunner` repository sharing the same ancestry.

[2021-02-25 06:38] 48d90782 commented on #563
This is because earlier was a branch called `roadrunner-binary` related to those commits in this repository. We deleted it and thus you see this message. Thanks to your observation looks :+1:

[2021-02-26 21:50] steffendietz commented on #563
I still seem to have trouble finding the changes (static, headers, status, gzip plugins) to the `main.go` file mentioned in the changelog.
I mean they are not in the `spiral/roadrunner-binary` repository.

Also, one could argue that this changelog entry would belong to the `CHANGELOG.md` of the `spiral/roadrunner-binary` repository entirely.

[2021-02-26 21:53] 48d90782 commented on #563
@steffendietz You are right. These changes are still in progress (but prepared from the RR2 core library). Will be in the `roadrunner-binary` soon.

[2021-02-26 21:59] steffendietz commented on #563
Alright. Things are still heavily in flux, obviously. I just had to wrap my head around them.

I'll try importing and registering the plugins in my clone of the `roadrunner-binary` repo as a personal excercise.

Thank you, for your help so far. :+1:

[2021-02-26 22:01] 48d90782 commented on #563
You are welcome) Also, you can take my `main.go` as a temporary solution:
[code]

[2021-03-01 07:04] SerafimArts opened #566 "[BUG] RPC call inside http exeution"
I tried this code:

[code]

I expected to see this happen:
- Response message

Instead, this happened:
[code]

The version of RR used: RC3

Errortrace, Backtrace or Panictrace
[code]

[2021-03-01 07:12] #566 closed

[2021-03-02 07:53] hugochinchilla opened #568 "[BUG, RR1] Proxy IP logged instead of client IP when requests fails due to an internal error"
I have noticed that when an error ocurrs the IP logged is from the ingress-controller and not the one from the client.

Here is an extract of the logs (ips redacted for privacy concerns):

[code]

As you can see the first request is logging the client IP, the followig lines show the IP of the pod running the ingress-controller.

I think the problem originates here:

[code]

The code checks for err

[2021-03-02 08:16] 48d90782 commented on #568
Hello @hugochinchilla. Nice catch, thanks. I'll take a look.

[2021-03-03 14:51] SerafimArts opened #570 "[BUG] Incorrect RR2 version"
## Environment

- Windows

## Steps To Reproduce

- Execute `$ rr get`
  - Follow installation instructions
- Execute `rr --version`

## Expected

`rr version 2.0.0`

## Actual

`rr version local`

[2021-03-03 16:01] 48d90782 commented on #457
@ohDaddyPlease Do you any plans to work on this ticket?

[2021-03-03 16:07] 48d90782 commented on #570
@SerafimArts The issue does not relate to the RR repository. I will transfer it to the RoadRunner-binary repo.

[2021-03-03 22:44] dstrop opened #571 "[BUG, RR2] Metrics example not working"
i am testing v2 and it seems the example code is broken

i have taken code from https://github.com/spiral/roadrunner-metrics readme

and got
[code]
<details><summary>full error</summary>
<p>

[code]
</p>
</details>

it only worked when i moved metric declaration into the while loop

also if i moved metric declaration from code to .rr.yaml as in https://roadrunner.dev/docs/beep-beep-metrics
i got a

[2021-03-04 05:59] wolfy-j commented on #571
Can you show full config file? Are you sure that RPC enabled?

[2021-03-04 06:32] 48d90782 commented on #571
@dstrop Could you please show the full config (`.rr.yaml`) ?

[2021-03-04 09:19] dstrop commented on #571
i took both from https://github.com/spiral/roadrunner-metrics
<details><summary>.rr.yaml</summary>
<p>

[code]
</p>
</details>

<details><summary>worker.php</summary>
<p>

[code]
</p>
</details>

and with this i got the
[code]

<details><summary>full error</summary>
<p>

[code]
</p>
</details>

what else i tried:

i tried moving the metrics declaration into the while loop

<details><summary>worker

[2021-03-04 09:39] 48d90782 opened #572 "Why we deciced to make RR2 as the library and where is the RR2 binaries?"
As you can see, now, RR2 does not contain `cmd` folder with `main.go` thus RR2 can not be run as a standalone program. Instead, RR2 is a runtime for the plugins and `PHP` processes management.  We did so because of circular dependencies. Imagine the following concept:
1. We have an external plugin (let it be: https://github.com/temporalio/roadrunner-temporal - RRT).
2. RRT plugin need to have `pkg

[2021-03-04 10:18] 48d90782 commented on #391
@Radiergummi We have updated our documentation (https://roadrunner.dev/), feel free to open a new ticket if some section contains mistakes or confusing.

[2021-03-04 10:18] #391 closed

[2021-03-04 10:19] 48d90782 commented on #368
The rest tickets from the `Later 2.0 releases` will be in the separate sprint tracking tickets.

[2021-03-04 10:19] #368 closed

[2021-03-04 10:19] Radiergummi commented on #391
@48d90782 I read the announcement on Discord tonight. Incredible work, kudos to your team! I'll make sure to give it a thorough read later today 🥳

[2021-03-04 10:21] 48d90782 commented on #391
@Radiergummi Thank you very much :)

[2021-03-04 10:44] sudevva opened #573 "[BUG] Can not run php with xdebug or any arguments for php"
I tried this code:

[code]

We have basic image with xdebug. We disable it by default for performance reason.

I expected to see this happen: run php with xdebug extension, in earlier version < 2.0.0 it was running as expected

Instead, this happened: server_plugin_cmd_factory: stat : no such file or directory

The version of RR used: 2.0.0

Errortrace, Backtrace or Panictrace
[code]
Mb it is no s

[2021-03-04 11:19] 48d90782 commented on #573
@sudevva Yeah, I guess I'll lay on the provided command without limitation.

[2021-03-04 14:00] #490 closed

[2021-03-04 14:11] #573 closed

[2021-03-04 14:45] sudevva commented on #573
Thank you!

[2021-03-04 15:24] 48d90782 commented on #573
You are welcome :+1:

[2021-03-04 19:05] hugochinchilla commented on #568
Hi, I'm looking at the code trying to provide a fix but I'm having trouble understanding how everything works (I don't know golang actually).

My first thought was what I explained in the issue description, but taking a look at the code, this would be the cause only if the error happens while creating the request object, but that doesn't seem to be the case, the problem I'm encountering seems to h

[2021-03-04 19:49] wolfy-j commented on #568
Quick question: did you set the trusted proxies list?

[2021-03-04 19:53] 48d90782 commented on #568
And also, what version do you use? It seems, that logs from the 1.9.2, but code sample from 2.0.

[2021-03-04 20:25] hugochinchilla commented on #568
@wolfy-j I don't have the trusted proxies set, but for what I could see in the code it's automatically populated if not present with good default values.

@48d90782 you are right, I was navigating the code in the master branch, I will look again in the proper version and update you if I need any help.

[2021-03-05 17:34] 48d90782 commented on #555
I am going to implement a graceful shutdown like in the Kubernetes. First CTRL+C (SIGINT, SIGTERM) hit will stop the execution but wait for the requests which already came to the RR. The second hit will force RR to exit.

[2021-03-06 20:27] 48d90782 opened #576 "[RFC] Adopt branching strategy and transparent release cycle"
Starting from RR 2.0.1 we will try to adopt the following branching strategy with master as `nightly`, `beta` and `stable` releases:
https://internals.rust-lang.org/t/release-channels-git-branching-and-the-release-process/1940

From my POV at the moment we have our releases in chaos. There is no particular time when the feature will be released. A transparent release process also doesn't exist. Us

[2021-03-08 07:32] #555 closed

[2021-03-09 06:57] alexpts opened #579 "[RR2, RFC] Shared FD"
The file descriptor can be passed from `rr` process to the `worker` process.
The worker process will read from socket direct and write to socket direct. Possible it increases performance.

Edited:
1. RR accepts the connection and receives the client socket file descriptor (FD).
2. RR doesn't read data from the socket, instead, it sends FD to the `worker` via the defined in the `.rr.yaml` transport

[2021-03-09 07:02] 48d90782 commented on #579
Hey @alexpts. Thanks for the proposal. Could you please replace the discord link with the description here?

[2021-03-09 23:11] jwillp commented on #572
In light of this, maybe the documentation at <https://roadrunner.dev/docs/intro-install> should be updated to reflect these changes since the `releases page` link still points to this repository.

[2021-03-09 23:15] jwillp opened #581 "[BUG] Unable to install using composer"
I tried installing the project using the composer method as outlined here: https://roadrunner.dev/docs/intro-install, in a fresh empty composer project, however, I get the following error:

[code]

I tried this code:

[code]
The version of RR used: ^2.0 (v2.0.1)

[2021-03-10 05:45] SerafimArts commented on #581
Hello @jwillp, thanks for feedback!

Can you please tell us the version of the `roadrunner-worker` you are using?

[2021-03-10 06:39] 48d90782 commented on #572
Hey @jwillp. You are totally right, nice catch. Will do 👍🏻

[2021-03-10 07:06] jwillp commented on #581
I did get to setup the worker.
I simply followed the documentation step about composer.

Here's what I did

[code]

I tried this on WSL, I will try again later on a native Linux machine.

[2021-03-10 08:29] SerafimArts commented on #581
@steffendietz Have you managed to reproduce this error on composer 1.x?

[2021-03-10 09:13] 48d90782 opened #582 "[RR2, HTTP] Max request size validation"
At the moment, RR lays on the `content-length` HTTP header for the body size verification. This is not enough, because this field might be filled with an incorrect value.
1. Make a two-factor validation of the body through a buffer with the read size validation.
2. Flush buffer to the `/dev/null` (or similar on other systems) when the size of the body exceeds the limit.
3. Return `413 Payload Too

[2021-03-10 09:13] #564 closed

[2021-03-10 09:13] 48d90782 commented on #564
ref: https://github.com/spiral/roadrunner/issues/572

[2021-03-10 09:14] 48d90782 commented on #573
@sudevva Done https://github.com/spiral/roadrunner/releases/tag/v2.0.1

[2021-03-10 09:24] 48d90782 opened #583 "[RR2, HTTP] Update redirect flags to the config"
If HTTP plugin uses `ssl` with `redirect` key set to the `true` RR return code would be `307 Temporary Redirect`. On the other hand, a user might need the `308 Permanent Redirect` response but have no ability to configure that.
1. Add `permanent` flag to the `http.ssl` config section with the bool values.
[code]
2. If `permanent` is set to `true` user the `308 Permanent Redirect`, otherwise use `3

[2021-03-10 09:42] tarampampam opened #584 "[RR2, HTTP] Stange error message when request size is too large"
RoadRunner config contains:

[code]

And when I try to send request with size more then 1 Mb - I got next response (500 status code):

[code]

So, my questions is:

- Why this error messaage contains `"OK"` at the end on the line
- RR logs does not contains any error message (`logs.mode: "development"`)

[2021-03-10 09:46] 48d90782 commented on #584
Notes:
1. "OK" message likely passed from this place https://github.com/spiral/roadrunner/blob/b3cb0cd2428f1bfdd959ea8f3461e2992b6acdb2/plugins/http/handler.go#L167.
2. Errors from the app and the RR should be split. (TODO: Create separate ticket)

[2021-03-10 10:18] SerafimArts commented on #581
@steffendietz Yes, this is one of the solutions to the problem.

However, I am not sure that in this case the composer 1.x will not try to install a version that is compatible with it. That is, if we publish a new version `roadrunner 2.0.2` with a dependency on `roadrunner-worker ^2.0.1`, then it (composer 1.x) will try to install `roadrunner 2.0.1`. Because this is the most recent version satisfy

[2021-03-10 10:24] tarampampam opened #585 "[RR2, LOG] Missed logger for the http.Server"
I have following RR config:

[code]

And when some "unexpected" error occurs (like TCP handshake error) - RR logs contains non-json error lines, for example:

[code]

Expected behavior: all lines will be json-formatted strings.

[2021-03-10 13:46] Baldinof commented on #571
Hi, same for me on macOS (php 8.0.2), with same code snippets.

It seems that the php worker is started before the metrics plugin, it works with code like this:

[code]

[2021-03-10 14:09] jwillp commented on #581
@SerafimArts @steffendietz
I can confirm that the machine I was having trouble with was on composer 1.x, good catch!

After upgrading and reinstalling the dependencies, I was able to complete the installation.
Thanks for the support.

[2021-03-10 14:30] wolfy-j commented on #571
Are you getting a connection error or a declaration error?

[2021-03-10 15:14] jwillp opened #586 "[Documentation] Autoreload configuration example possibly out of date"
The documentation for auto-reloading at <https://roadrunner.dev/docs/beep-beep-reload>
displays the following configuration:

[code]

However, I could not get it to work this way. Looking at the tests [here](https://github.com/spiral/roadrunner/blob/b9c9909b98c1b3e15421a4bcad9e8fcc01332d37/tests/plugins/reload/configs/.rr-reload.yaml) I saw that instead of the `plugins` key the `services` key was

[2021-03-10 15:20] 48d90782 commented on #586
@jwillp Thanks, good catch. There is an issue with the config. The key should be `services`, but in future releases, it will be changed to `plugins`.

[2021-03-10 15:21] SerafimArts commented on #581
The dependencies in the 2.0.0 tag were corrected, now this problem should not arise: https://packagist.org/packages/spiral/roadrunner-worker#v2.0.0

[2021-03-10 15:23] #586 closed

[2021-03-10 15:26] Baldinof commented on #571
It's a connection error on metric declaration :D

I guess connection is opened on first RPC usage which happens to be the metric declaration. The stack trace is the same as @dstrop

I also tried with a sleep, but it's still failing. It seems that the metric service is mounted after the worker is ready to handle requests.

[code]

[2021-03-11 05:17] tarampampam opened #587 "[RR2, SSL] Root CA (in config) should be optional"
Right now, without Root CA defining SSL will not works:

[code]

https://github.com/spiral/roadrunner/blob/8f6cafdc0948a5ea13bf9a811b576aa4b3ef7e4a/plugins/http/config/http.go#L55-L57

Maybe we can make Root CA optional?

[2021-03-11 05:55] 48d90782 commented on #587
Hey @tarampampam, sure, `root_ca` is definitely optional.

[2021-03-11 05:59] 48d90782 commented on #581
@jwillp Feel free to close the issue if the problem was resolved.

[2021-03-11 06:02] #576 closed

[2021-03-11 06:02] 48d90782 commented on #576
Moved to the discussions: https://github.com/spiral/roadrunner/discussions/588

[2021-03-11 07:25] #581 closed

[2021-03-13 13:02] #587 closed

[2021-03-13 17:53] 48d90782 commented on #585
Error message from the `http/https/fcgi` server will be of the level - `Info` and looks like:
[code]

Or in case of `json` encoder:
[code]

IMPORTANT NOTICE: We have no control over the standard library internal ErrLog output. First of all because instead of an interface, the structure was used. So, we can't mock or re-implement this structure and have to use `log.New` standard package with our im

[2021-03-13 20:15] alxbndrs opened #593 "[QUESTION] Websocket example."
Hello there! I want to implement some kind of backend chat service. And I want to make it using PHP and RR. But I didn't find any documentation about WS in the RR. Maybe you have any code-example how to deal with WS in RR ? Or maybe you can forward me to some documentation instead ?

Thank you in advance!

[2021-03-13 21:05] 48d90782 commented on #593
Hey @alxbndrs. It's a pleasure to meet you. You can have a look at the documentation here: https://spiral.dev/docs/broadcast-websockets
But please, note, that at the moment we didn't update `broadcast` and `broadcast-ws` to the RR v2, so, you have to use v1.9.2.

[2021-03-14 11:47] alxbndrs commented on #593
Thanks! I'm already using rr 1.* on the production, so it's not a problem. =)

[2021-03-14 11:48] #593 closed

[2021-03-15 10:43] #585 closed

[2021-03-15 13:50] hugochinchilla opened #595 "[QUESTION] What can cause roadrunner to respond with a 502 status code? [1.9.2]"
Hi, I'm trying to debug some issues I'm having with my app and I have stumbled upon some logs I can't explain with RR docs in hand, maybe you can help me understand what's happening.

Redacted for clarity:
[code]
What you can see here is a line of my ingress retrying 3 times a request, the relevant part from the log line is at the end:

[code]

this are the 3 response times from the three retries,

[2021-03-15 16:07] 48d90782 commented on #595
@hugochinchilla Hey. Is that possible to provide steps to reproduce this behavior? Because RR doesn't send 502 error code until it set in the config as the `internal_error_code`: https://github.com/spiral/roadrunner/blob/v1.9.2/service/http/handler.go#L69:2

[2021-03-16 08:25] #579 closed

[2021-03-16 09:31] hugochinchilla commented on #595
I don't know how to reproduce it, I'm starting to suspect it may be generated from nginx side, but as far as I know the response status logged at the end of the line is the response from the upstream server. If you know for sure that RR does not respond with a 502 in any case, and I know for sure neither does my app, it may be some obscure corner case inside nginx which causes the problem.

The is

[2021-03-16 09:52] 48d90782 commented on #595
I can give you the advice to use `Wireshark` to track the network connection and find a place where this code arrived. Also, you can use `tcpdump` as a little bit low-level solution. Because 502 Bad Gateway not related to the RR, because it's HTTP service working as a proxy between a worker and a browser (for example) and hasn't own error codes except for the internal errors which are equal to `50

[2021-03-16 09:55] 48d90782 commented on #595
Also, for the server without GUI you can use `tshark` as a terminal clone of the `Wireshark` (or tcpdump).

[2021-03-16 10:47] 48d90782 commented on #583
Not applicable as redirect used as internal code. PHP worker instead sends its own status code. Only change from Temporary to Permanent, no additional flags needed.

[2021-03-16 11:09] hugochinchilla commented on #595
I'm not sure how could I use this inside a kubernetes cluster to dump network info because of the SDN, but I will talk to the sysadmin team, maybe they can help me put tools in place to make this easier, I know [itsio](https://istio.io/) has tools with this kind of situations in mind.

[2021-03-16 11:23] hugochinchilla commented on #595
I think the problem I have is something to ask in stack exchange as it's very niche. I will put it here just for context, maybe will be useful for someone later.

* I have a deployment in kubernetes with 2 replicas
* One service to expose the nodes trough DNS discovery
* nginx ingress controller queries the individual pods behind the service to build an upstream list
* A readiness probe checks the

[2021-03-16 11:40] 48d90782 commented on #595
Thank you very much for the detailed explanation.
As I see, you are using the internal RR1 healthcheck endpoint. This endpoint has its own HTTP server inside which sends 500 status if there are no alive workers in the pool (https://github.com/spiral/roadrunner/blob/v1.9.2/service/health/service.go#L87).

1. You mean, that RR1 healthcheck failed itself by some reason?
2. I guess (I might be wrong),

[2021-03-16 11:48] #583 closed

[2021-03-16 12:16] hugochinchilla commented on #595
- I created a test endpoint which sleeps for 2 seconds and then responds with a 200 status.
- I serve the controller with RR using 4 workers and 20 secs allocateTimeout
- I monitor the workers status with `rr http:workers -i`
- I use bombardier to generate 100 concurrent requests for 10 seconds

While I can see all workers busy and bombarider receiving 503 errors because RR can't allocate workers

[2021-03-16 12:42] 48d90782 commented on #595
Thus when the RR checks the worker state, this is not related to the actual load made by the external load-testing tool except all the workers fall in the error state.

[2021-03-16 13:06] hugochinchilla commented on #595
Well, that explains it. I will request the feature then. It would be very useful to have this to use with the readinessProbe in kubernetes.

[2021-03-16 13:16] 48d90782 commented on #595
There is one problem with a such request. Imagine the following situation:
1. You made a request to the healthcheck (HC) endpoint.
2. HC endpoint return 200OK, because there is at least 1 worker in the state `Ready` at this particular moment.
3. Based on this information you are trying to send a request, but receive a 503 (for example) response.

How is this possible?
Between p2 and p3 other user

[2021-03-16 13:32] hugochinchilla commented on #595
Yeah, I know it's not perfect, but it's a best effort to handle heavy loads with limited resources, when this happens ingress will retry against other RR isntance, the problem with retries is that you have to wait up to allocateTimeout before you know you need to retry.

With this mechanism you can proactively try to detect this situations and stop sending new traffic to the instance, waiting for

[2021-03-16 13:39] 48d90782 commented on #595
Thank you 😄
I completely understand what are you trying to achieve. Could you please then create an RFC with the proposal on the behavior of the `healthcheck` endpoint? Please, keep in mind, that at the moment we support the RR1 version only for security issues and some destructive bugs.

[2021-03-16 13:47] 48d90782 commented on #584
`http_handler_max_size: request body max size is exceeded` message should arrive without "OK" or other weird responses.

[2021-03-16 15:18] #584 closed

[2021-03-16 19:44] #572 closed

[2021-03-17 17:47] hugochinchilla opened #601 "[RFC, RR2] RedinessProbe oriented health check"
Current health check passes if there is at least one worker ready or running, this is good to know the application is not in a broken state, however when we have a pool of many servers running roadrunner and a load balancer it would be handy to have another supported mode of operation for the health check, in such mode the health check would only pass if at least one worker is ready to accept new

[2021-03-17 17:58] 48d90782 commented on #601
Thanks for the request @hugochinchilla. I've been thinking since our last discussion about that case. In the RR2 I'll add an additional mode for the workers to return only workers, which are in the `Ready` state. At the moment, we have a query like that `health?plugin=plugin1&plugin=plugin2` to check the state (`Ready` + `Working`), I'll add an additional endpoint `/health/ready?plugin=http&plugin

[2021-03-18 08:08] hugochinchilla commented on #601
Yes, that would work for me! Thanks for being so open to new ideas :)

[2021-03-18 10:36] 48d90782 commented on #601
@hugochinchilla You are open :) Planned for the 2021-04-06 SPRINT

[2021-03-18 15:28] hugochinchilla opened #602 "[BUG, RR1] Prometheus exporter ignores internalErrorCode for rr_http_request_total"
If you use `internalErrorCode` this is not taken into account when incrementing the `rr_http_request_total` counter.

I tried this code:

[code]
Create a slow controller that sleeps for some time, set workers to a low number, allocateTimeout also should be quite low, use bombardier to saturate the server, you need to force roadrunner to produce errors because it can't allocate workers.

Then look

[2021-03-18 15:30] hugochinchilla commented on #602
tested on 1.9.2, I haven't had the opportunity to try 2.0, I'm waiting for https://github.com/Baldinof/roadrunner-bundle/issues/29 to upgrade

[2021-03-18 15:56] 48d90782 commented on #602
@hugochinchilla metrics service from the RR 1.9.2 uses its own HTTP server. This error code likely comes from it, but not from the HTTP service.

[2021-03-18 16:02] 48d90782 commented on #602
To clarify, there are several HTTP servers that are responsible for the services (plugins in the RR2). The HTTP service in the RR1 responsible for the HTTP requests has its own server, but requests to the `metrics` service are handled by the integrated into the `metric` service HTTP server.

[2021-03-18 16:51] hugochinchilla commented on #602
I think I did not explain this well so I will focus on way I want to achieve instead of a possible solution.

I want to be able to read from prometheus how frequently I'm leaving requests unattended because I don't have available runners.

I did not found a metric for that and thought that maybe I would be able to identify those errors by the status code. So I see two possible solutions:

 * Creat

[2021-03-18 16:58] francislavoie commented on #337
I would love to see the PHP bridge part of Roadrunner available as a plugin for Caddy. https://caddyserver.com/docs/extending-caddy

I could envision a simple Caddyfile config looking like this:

[code]

Where by default, the `roadrunner` directive would set up the `try_files` rewrites similar to the existing [`php_fastcgi` directive](https://caddyserver.com/docs/caddyfile/directives/php_fastcgi#e

[2021-03-18 17:18] jasonmccallister opened #603 "Add RoadRunner to brew.sh"
**Is your feature request related to a problem? Please describe.**
It would be amazing to have RoadRunner installable through brew.sh. We use GoReleaser.com to build the tap required for macOS users to run `brew install roadrunner`.

**Describe the solution you'd like**
Adding RoadRunner as a Brew Tap. We have an example of using GoReleaser to publish to brew here: https://github.com/craftcms/nitr

[2021-03-18 17:21] 48d90782 commented on #337
Hey @francislavoie, it's a pleasure to meet you. Thanks for the great software 👍🏻 We will definitely think about such a merge when we close our release to 2.0 migration 😄 Let's stay connected 🚀

[2021-03-18 17:26] 48d90782 commented on #603
Hey @jasonmccallister , nice to meet you. We already have the ticket for this request. If you don't mind, could you please move your thoughts as a comment to the #397. Thanks.
duplicate of the #397

[2021-03-18 17:26] #603 closed

[2021-03-18 23:04] sc0rp10 opened #604 "Current architecture (arm64) may not be supported"
Hi, tried to install roadrunner on latest Apple macbook with Apple Silicon M1 processor but installation failed with the message:

[code]

It would be nice if roadrunner will support arm64 architecture and will have precompiled binaries for it.

Thanks!

[2021-03-19 07:13] 48d90782 commented on #602
@hugochinchilla It will be better to move this proposal to a separate ticket and close this one since the original description does not relate to the proposal. You can put a reference to this ticket in a new one. Thank you for the proposal.

[2021-03-19 07:30] hugochinchilla commented on #602
@48d90782 I'm not sure, don't you think is a bug not using the same status code for the actual response and for the response status counter?

I could create a new feature request for having a new counter just for the internal errors, but still, If i'm getting 503 errors on the client side I would expect to see the counter reflect that.

[2021-03-19 07:33] 48d90782 commented on #602
This is not a bug, just a different behavior since these services use the different HTTP servers inside.

Yes, please, create a new feature request to add shared internal error codes and a new counter.

[2021-03-19 07:45] hugochinchilla commented on #602
@48d90782 I think you are focusing to much in a detail implementation. Does it really matter if there are multiple http servers? as a user I just care of it doing the expected thing.

I found where the problem originates. It's not just a matter of reading the configuration object and using the `internalErrorCode` value instead of hardcoding the status?

[code]

I agree that adding a new counter sh

[2021-03-19 07:46] hugochinchilla commented on #602
If for some architectural decision the metrics server should not be reading config from the http block then the http server could pass that value in the ErrorEvent.

[2021-03-19 07:59] 48d90782 commented on #602
I just try to be on the same page with you and give you an understanding of the internal behavior. For sure, as for the end-user that does not matter, a user sees a bug that leads to the bad UX and that is the problem.

The metrics service should not lay on the HTTP section, because obviously, it can be empty. I am thinking to move all HTTP codes stuff to a different configuration section, thus al

[2021-03-19 08:45] Smolevich opened #606 "[BUG, RR2] listen tcp :6061: bind: address already in use"
I tried run roadrunner with config :

[code]
and server failed with error `2021/03/19 08:43:18 listen tcp :6061: bind: address already in use`
I expected to see this happen: *successful run server*

Instead, this happened: *server failed*

The version of RR used: *2.0.1*

[2021-03-19 08:50] 48d90782 commented on #606
Hey @Smolevich , few corrections for the config:
1. `health` -> `status` https://github.com/spiral/roadrunner-binary/blob/master/.rr.yaml#L412
2. Do not use flag `-d` with the RR2, now all logs related stuff (debug logs, etc lays in the `logs` config section). https://github.com/spiral/roadrunner-binary/blob/master/.rr.yaml#L55
3. `http` section also different in the RR2 https://github.com/spiral/

[2021-03-19 08:52] 48d90782 commented on #606
4. `static` now should be in the `http` section https://github.com/spiral/roadrunner-binary/blob/master/.rr.yaml#L269

[2021-03-19 09:03] Smolevich commented on #606
@48d90782, i changed config on
[code]
 And now actual error
[code]

[2021-03-19 09:10] 48d90782 commented on #606
[code]
https://github.com/spiral/roadrunner-binary/blob/master/.rr.yaml#L293

it should be:
[code]

By default `server` uses `pipes` as the communication protocol between RR and a worker. Please, double-check this.

[2021-03-19 09:11] 48d90782 commented on #606
And also, could you please send here (if that possible, without sensitive parts) your `rr.php` file?

[2021-03-19 09:25] Smolevich commented on #606
[code]

[2021-03-19 09:28] 48d90782 commented on #606
I guess you are using the old `php` worker. Could you please take a look at the https://github.com/spiral/roadrunner-worker

[2021-03-19 09:29] wolfy-j commented on #606
Hi,

make sure to use proper worker code (v2): https://roadrunner.dev/docs/integration-migration

[2021-03-19 09:48] #602 closed

[2021-03-19 09:48] #595 closed

[2021-03-19 09:53] hugochinchilla opened #607 "[FEATURE REQUEST] Create new counter for internal errors"
This issue is derived from #602

It would be nice to have a separate counter for internal errors as the only way available now is to look into `rr_http_request_total{status="500"}` and you can't tell which errors are from your application and which ones are from road runner itself.

Also if `internalErrorCode` is set it should be used to increment `rr_http_request_total` with that code instead of

[2021-03-19 10:31] Smolevich commented on #606
https://github.com/spiral/roadrunner-worker/blob/master/composer.json#L22 is it special ?

[2021-03-19 11:17] 48d90782 commented on #606
@wolfy-j ^^

[2021-03-19 12:12] Smolevich commented on #606
I successfully run application on roadrunner v2
i try use debug v3 in phpstorm, but i can't configure, maybe we can help in slack or another messenger/platform?

[2021-03-19 12:16] 48d90782 commented on #606
@Smolevich Feel free to close the issue then, and here you are the invite to our discord server: https://discord.gg/TFeEmCs

[2021-03-19 13:48] SerafimArts commented on #606
Yes: https://github.com/spiral/roadrunner-worker/blob/master/src/Version.php#L34

Support for the Composer v1 will be discontinued this year (or at the beginning of the next, I don't remember exactly).

[2021-03-19 14:26] 48d90782 commented on #606
Since the original issue was reloved, I'll close this one @Smolevich , feel free to reopen it or create a new one for the problems with debugging.

[2021-03-19 14:26] #606 closed

[2021-03-19 22:58] dstrop commented on #571
i have found out why the metrics registered through rr config are not working

collectors from config are stored as `statsProvider`
https://github.com/spiral/roadrunner/blob/bd91ca0f3e444405f0f6cf9d1dabbeef93de2d85/plugins/metrics/plugin.go#L70-L81

but collectors registered through RPC are saved as `prometheus.Collector`
https://github.com/spiral/roadrunner/blob/bd91ca0f3e444405f0f6cf9d1dabbeef93

[2021-03-20 07:58] #571 closed

[2021-03-20 08:18] 48d90782 commented on #571
@dstrop now in beta -> https://github.com/spiral/roadrunner-binary/releases/tag/v2.0.2-beta.3
Thank you 👍🏻

[2021-03-22 07:08] Smolevich opened #609 "[FEATURE REQUEST] Remove custom fields if rr write logs from workers"
**Is your feature request related to a problem? Please describe.**
We need to log from php side and now with RR2 logs sended to `php://stderr` looks like
[code]
Settings for logs in rr config file
[code]

**Describe the solution you'd like**
Clean log from php side
[code]
if `encoding: console` and for mode development, production

[2021-03-22 12:08] khoerintus opened #610 "[BUG] Temporal worker not gracefully shutdown"
I tried this config:
[code]

I expected when I press CTRL+C, long running worker will wait until 120s before it stop.

Instead, this happened:
It exits immediately after I press CTRL+C

[code]

The version of RR used: rr version 2.0.1 Build time: 2021-03-09T18:08:07+0000

[2021-03-22 12:12] 48d90782 commented on #610
Hey @khoerintus. The graceful shutdown means, that if workers have unfinished work to do and can't be stopped immediately. From the logs I see, that both workflow and http (plugins which have a workers pool inside) after receiving `Stop` command finished successfully.
[code]

[2021-03-22 12:17] 48d90782 commented on #610
@khoerintus For sure, I'll double-check this, if you provide a sample to reproduce the described bug.

[2021-03-22 12:28] 48d90782 commented on #610
@khoerintus I also see from the logs, that before the temporal plugin has been stopped, the workers were properly stopped:

[code]

[2021-03-23 04:28] khoerintus commented on #610
@48d90782 My code is just looping for 1000 times and sleep 1 sec for each loop.

Here is my code:
[code]

[2021-03-23 10:50] wolfy-j commented on #610
If you have 3 running workers and you send a stop command, it will try to shut down workers without load first and then wait for the working one.

[2021-03-23 10:55] 48d90782 commented on #609
Discussed with @wolfy-j :
1. Add new mode - `clean`
2. Update rendering

[2021-03-23 11:02] 48d90782 commented on #610
@khoerintus We have found (potentially) the root cause of the issue. Planning to resolve during the SPRINT-2021-04-06.

[2021-03-23 11:03] 48d90782 commented on #610
@khoerintus Also, I'm not familiar with the PHP, could you please provide a full sample to reproduce?

[2021-03-24 06:47] khoerintus commented on #610
@48d90782 Sure. I've pushed the code to my [samples-php repository](https://github.com/khoerintus/samples-php) forked from temporalio/samples-php.
Run the long-running-activity app with
```php app.php long-running-activity```

[2021-03-24 08:41] SerafimArts opened #611 "[FEATURE REQUEST] List of available plugins"
When starting a worker, it makes sense to pass a list of available plugins to env variables, like:
[code]

This information is required to determine the presence and/or availability of some external service. A simple example that implements a polyfill for queues (jobs) when they are absent (or when they are disabled) in the RR:
[code]

[2021-03-24 09:10] 48d90782 commented on #611
It's not possible to do that via the env variable. Because the server which starts a PHP process can be in the middle of the topological sorted graph. The second reason is that the config does not represent the actual set of the running plugins (some of them might be disabled) (as for the solution to read the `.rr.yaml` to determine the plugins set).

The possible solution that I see here is to as

[2021-03-24 09:15] 48d90782 commented on #611
The second solution is to use `Status` plugin for that purpose (which is used to provide different statuses about the runtime). Create an additional RPC call and add `IsActive` method to the interface. `IsActive` method (go) will grab all plugins which fit the interface and provide the list to the PHP.

[2021-03-24 11:30] 48d90782 commented on #425
Discussion notes:
1. Make an `http.Serve` method non-blocking (do not wait until all workers started, just provide a channel with errors inside the goroutine).
2. Put pool declaration into the goroutine.
3. Double-check for races.

[2021-03-24 15:11] bricelalu commented on #609
Hello @48d90782 , I have the same need, I was thinking about making the PR for this. Are you ok with that ?

In the plugin logger/config.go `BuildLogger()` I thought about adding something like this:
`	case "clean":
		zCfg = zap.Config{ // add clean config here
		}
`

What do you think ?

[2021-03-24 15:18] 48d90782 commented on #609
Hey @bricelalu, yeah sure. PRs are always very very welcome 👍🏻
Yes, you can start from `zap.Config`. Also, keep in mind, that all logs from the worker are coming from here: https://github.com/spiral/roadrunner/blob/master/pkg/worker/worker.go#L220
And grabbed here: https://github.com/spiral/roadrunner/blob/master/plugins/server/plugin.go#L240

You can start with creating a new channel - `clean` ->

[2021-03-24 15:19] 48d90782 commented on #609
The goal of this issue is to have withing the `clean` channel a raw output to the stderr (or stdout, but specified in the config).

[2021-03-25 12:22] rauanmayemir opened #613 "[FEATURE REQUEST] Dotenv support"
**Is your feature request related to a problem? Please describe.**

RoadRunner doesn't support `.env` and we have to set env vars on the OS level. It's a little cumbersome operationally to have to set it outside of the application's state, especially if it involves secret credentials.

**Describe the solution you'd like**

RoadRunner could try to read `.env` file from the `workDir`.

Spiral curren

[2021-03-25 17:59] #613 closed

[2021-03-27 20:54] sprymiker opened #614 "[BUG] `max_jobs` significantly slows down the last request by starting the next worker."
Greetings to everyone.

### I tried this code based on examples in the documentation:

.rr.yml
[code]

worker.php
[code]

### I reloaded `http://0.0.0.0:8080` 10 times to get the following series:

[code]
...
[code]

### I expected to see this happen:
That all response times except the first one are almost the same. The first request could be a little slower to load the worker.

### Instead, this

[2021-03-27 21:12] 48d90782 commented on #614
Hey @sprymiker. Thanks for sharing your bug-report. You are right, this is due to the check for the max_jobs for the worker. We should move this check out of the hot-execution-path by marking the worker as exceeded its execution limit (my first assumption). I need time to think about how to increase performance here.

[2021-03-27 21:19] 48d90782 commented on #614
This is due to the different model of stopping workers by command. When a worker stopped by the command, the `workers_pool` executes only one command to stop the process and immediately tries to get a new worker to handle the request without allocating a new one. The allocation handled by the `worker_watcher` allocator instead.

[2021-03-28 09:15] 48d90782 commented on #614
@sprymiker I guess it's good enough now 😄: [pic](https://i.imgur.com/WBdtiU4.png)

[2021-03-29 08:55] sprymiker commented on #614
Yeah, that is perfect! Thank you for a quick resolution.

Looking forward to have a new version that does contain the fix.

[2021-03-29 10:18] #614 closed

[2021-03-29 11:15] 48d90782 commented on #614
@sprymiker https://github.com/spiral/roadrunner-binary/releases/tag/v2.0.3

[2021-03-29 14:29] bricelalu commented on #609
Hey @48d90782 ,

If I understand correctly we have a 1:1 relationship between plugins and loggers. One plugin can have his logger configured separately, the channel's name corresponding to the name of the plugin.

But if I create a `clean` channel, I should also create a `clean` plugin no ? Maybe I missed something.

[2021-03-29 15:01] 48d90782 commented on #609
Ok, let me explain :)
We have a `BuildLogger` method with the switch over the config mode. https://github.com/spiral/roadrunner/blob/master/plugins/logger/plugin.go#L60

In this switch, you have `production`, `debug` and etc... modes for the log. I expect to have another one logger mode - `clean` which will return a configuration that will not touch the user message.

Named logger will be construc

[2021-03-31 15:04] wolfy-j commented on #610
We found the issue and will provide easy to use solution based on Endure timeout. In the meantime, pay attention to the Endure timeout and to `->withWorkerStopTimeout()` or `WorkerOptions` in PHP worker. Make sure to set this value to non-zero.

[2021-03-31 20:47] 48d90782 commented on #610
@khoerintus Done -> https://github.com/spiral/roadrunner-binary/releases/tag/v2.1.0-beta.1
Now in the beta

[2021-03-31 20:47] #610 closed

[2021-04-01 10:39] vpatrikeev opened #619 "[BUG] Workers not restarting after stop"
We have a local rr build to run our services with such config file

[code]

Actually, it runs Laravel bridged workers. Due to Laravel Nova not compatible with async (it spawns a lot of DB connections and stores some settings in static vars outside the app container), we decided to set max_jobs: 1 until problem is solved.
I expected to see this happen: *explanation*

As for now, I receive error in

[2021-04-01 11:41] 48d90782 commented on #619
Hello @vpatrikeev. I'm not sure, that I completely understand you. But some observations:
1. I see that you are using the default configuration for the logs, for the supervisor, and so on. Just note, that the default configuration isn't designed to be used as-is. Also, I see that the supervisor will restart your worker every 10s.
2. The worker should process requests, if you block the worker and y

[2021-04-01 11:44] 48d90782 commented on #619
3. Also, what kind of `Stop` do you mean?
4. It will be really helpful if you provide some steps to reproduce.