[2018-01-28 23:55] Vektah opened #1 "Is this just for PHP?"
This looks pretty neat, but can support for other languages be added or is this only ever going to be PHP?

[2018-01-29 07:37] wolfy-j commented on #1
It can work with other languages, thought binary adapter for Goridge (https://github.com/spiral/goridge) will be required.

[2018-01-29 13:09] #1 closed

[2018-01-30 02:04] lwc opened #2 "Request: Streaming request & responses"
This project looks like it could be very useful in building a GRPC server bridge for PHP, which would be amazing.

GRPC has the concept of streaming request & responses, is that something you'd consider adding to roadrunner/goridge?

Thanks

[2018-01-30 02:04] lwc opened #923 "[💡FEATURE REQUEST]: Streaming request & responses"
This project looks like it could be very useful in building a GRPC server bridge for PHP, which would be amazing.

GRPC has the concept of streaming request & responses, is that something you'd consider adding to roadrunner/goridge?

Thanks

[2018-01-30 08:54] wolfy-j commented on #2
It can be done by locking done and working with one worker within the request. This is definitely something we are going to consider adding going forward.

[2018-04-06 17:33] Dexus opened #5 "Context how to use it?"
Is there a way to use the Payload Context?

Cant find any info how to use it...

[2018-04-07 09:47] wolfy-j commented on #5
[code]

[2018-04-07 09:50] wolfy-j commented on #5
[code]

$context here is a reference, so you can use it inside the loop

[2018-04-07 10:29] Dexus commented on #5
But i don‘t get the context from Go inside the PHP script, so where will the context be set?

The example will not set the $context variable

Von meinem iPhone gesendet

[2018-04-07 11:00] wolfy-j commented on #5
Are you sure?

Take a look at this test: https://github.com/spiral/roadrunner/blob/master/static_pool_test.go#L101
https://github.com/spiral/roadrunner/blob/master/tests/head.php#L13

Context is being filled into $ctx variable here.

[2018-04-07 11:09] Dexus commented on #5
You are right, I did use the variable to late, and had overwrite it already.

Sorry for the false alarm.

[2018-04-07 11:09] #5 closed

[2018-06-13 20:48] wolfy-j commented on #2
I have put a foundation for streaming responses into a newer version. Streaming requests will be looked at once this feature it complete.

[2018-06-19 10:40] georgeboot opened #11 "Integration: How to use with Symfony HttpKernel"
Can someone please provide an example on how to use this with Symfony HttpKernel (also used by Laravel)?

[2018-06-19 11:18] tobias-kuendig commented on #11
I guess we should be able to do something like that in the `psr-worker.php`:

https://github.com/mnvx/laravel-reactphp/blob/master/src/LaravelReactServer.php#L75

Unfortunately, if I run `rr serve` I don't get a running server under `localhost:8080`.

This is what I have so far. Even the simple demo script does not work for me:

[code]

[code]

[code]

[2018-06-19 11:27] wolfy-j commented on #11
Also, I just noticed that netstat on OSx won't show the listeners until first connection is made.

[2018-06-19 11:29] tobias-kuendig commented on #11
Not on a Mac, I'm running Ubuntu 16.04. I have tried several ports already, unfortunately without luck. The strange thing is, that I got it running a few days earlier.

I configured `rr` to listed on port `8089`: Only the rpc server is listed:

[code]

`rr http:workers -i` returns nothing. When i `Ctrl + C` the serve process it returns with an EOF error.

[code]

[2018-06-19 11:30] wolfy-j commented on #11
Mmmmm, can you try to turn RPC server down? Simply set enable to false.

[2018-06-19 11:33] wolfy-j commented on #11
Also, please note we have released new version of Goridge (underlying protocol, 2.0 version is required) about a week ago, it changes the payload prefix to incorporate error detection. Make sure that your composer is up to date if you have used earlier. Thought i assume it's something with port mapping.

[2018-06-19 11:40] wolfy-j commented on #11
I just verified your code working on Ubuntu 16.04.

[2018-06-19 12:17] tobias-kuendig commented on #11
A reboot solved the problem! Looks like it was just a problem with my setup.

I now have the following psr-worker script. Laravel responds correctly, but it somehow doesn't get the url `/path` correctly. I'm always shown the home page of my app. `$request->path()` always returns `/`.

[code]

[2018-06-19 12:28] wolfy-j commented on #11
Awesome!

[2018-06-19 12:45] georgeboot commented on #11
@tobias-kuendig nice work! However, in your example you are still instantiating a kernel on every request. Wouldn't it be better to only have the PSR-7 request being handled by a concurring kernel? Something like [Swoole](https://github.com/swoole/swoole-src)?

[2018-06-19 12:51] wolfy-j commented on #11
I guess you can just move
[code]
outside of the loop and it should do the trick.

[2018-06-19 12:54] tobias-kuendig commented on #11
Yes, I actually tried moving the `$kernel` out of the while loop and it seems to work.

I did a quick `ab` test with only GET requests and that seemed to work with 1000 requests.

My application gets around 40 req/s with roadrunner. With the conventional nginx on docker setup I get around 20 req/s. The application is quiet heavy but it looks already like it's already twice as fast!

The only probl

[2018-06-19 13:04] wolfy-j commented on #11
I would recommend you to be super careful about it and watch for the workers memory usage.

In case of memory leak try to:
1) limit the number of worker usages (quick and dirty)
2) use fail switch ($psr->getWorker()->stop()), this will forward the request to next worker (more elegant).

Overall, we have it running with bootloaded core for weeks with no memory issues but we have put the long-runnin

[2018-06-19 18:56] Firehed opened #12 "Config validation: Crash (segfault) when running in Docker"
I suspect this is just due to the base image being incompatible with the release artifact - having an official Docker image with a correctly-built binary may solve the problem (and would be far more convenient to use either way). I was also unsuccessful at building the binary from source in a Docker image using the provided instructions - seemed to be an issue with dependencies, but I'm not very f

[2018-06-19 19:10] wolfy-j commented on #12
Ok, I managed to recreate this issue by corrupting config file. Can you make sure that http.workers.pool section presented? Can you post your config file sample here?

I have to add more validations for the config to track scenarios when config sections are omitted.

[2018-06-19 19:12] Firehed commented on #12
Ah, that makes sense. I was providing the minimal config that didn't give a validation error, assuming it would fill in default values as necessary. Here's what I had:

[code]

[2018-06-19 19:22] wolfy-j commented on #12
That explains :) We have slipped couple validations but I will keep this ticket open until your config given a proper error. We do not have default values for pool options, they always are custom.

Try:

[code]

[2018-06-19 19:22] wolfy-j commented on #12
You can also write configs in json btw.

[2018-06-19 19:27] Firehed commented on #12
Adding the `http.workers.pool` section appears to have fixed the crash-on-startup, but an immediately-dying worker (I made a typo and did `require_once 'vendor/autoloaad.php';`) just put this in the output, which is not terribly useful for debugging:

[code]

I was only able to figure out the actual source of the issue by trying to run the worker command myself in a shell; at no point was I able t

[2018-06-19 19:38] wolfy-j commented on #12
That's weird, this has been properly tested: http://prntscr.com/jwvfyw

I would have to take a look at this docker container and build our own version later.

[2018-06-19 19:40] wolfy-j commented on #12
@Firehed would you mind creating a ticket for that?

[2018-06-19 19:45] Firehed commented on #12
Will do!

What are your log settings if you run `php -i`? The base image I started off with has fairly dumb defaults, which could be part of the issue.

If it's relevant, my application's internal logger goes to STDOUT (which is what Docker generally wants), and the front-controller script I'm trying `rr` with looks like this:

[code]

[2018-06-19 19:50] wolfy-j commented on #12
Try setting `ini_set('display_errors', 'stderr');` if your script, rr will handle error buffer in this case and forward it to parent docker container with proper error management before that (like displaying in the log).

In some cases (fatal errors on bootload stage) php dies even before stderr can be set, running script manually `php script.php` actually very solid solution to check if worker bo

[2018-06-19 19:53] Firehed opened #14 "Request: additional documentation for config file and RPC"
Right now, there's little clear documentation about the RPC services that Roadrunner offers (nor what they offer) - really just how to enable it. From a comment in the reddit thread introducing this, being able to gather metrics are tangentially mentioned (prometheus was in an example) but it's unclear what can be exposed, how it can be extended, etc.

Related via #12 - guidelines for higher-level

[2018-06-19 20:00] wolfy-j commented on #14
We will create more documentation for that, in a meantime:
1) This is RPC service which is provided by HTTP service: https://github.com/spiral/roadrunner/blob/master/service/http/rpc.go
2) The easiest way to connect to use Goridge/RPC over the socket configured in RPC section of config:
[code]

Same method used in `rr http:workers` command: https://github.com/spiral/roadrunner/blob/master/cmd/rr/h

[2018-06-19 20:13] wolfy-j commented on #12
Config validation issue has been resolved in 1.0.2

[2018-06-19 20:13] #12 closed

[2018-06-19 22:08] wolfy-j opened #15 "Request: AliveTimeout"
Ability to specify for how long worker must be kept alive.

[2018-06-21 02:31] oraoto commented on #11
Currently, roadrunner doesn't parse JSON body automatically, we can do the parsing manually, based on @tobias-kuendig 's code:

[code]

[2018-06-21 10:42] ihipop opened #16 "[RR2, STATIC] send Etag header in Response for static files"
I‘v noticed that there is no `Etag` returned in `static files`  response , any plans to add support for it?
Or, add a config item for it.

[2018-06-21 10:53] wolfy-j commented on #16
Hi, we are currently using default net/http file handler. Let me check if we can expose caching capabilities.

[2018-06-21 10:55] wolfy-j commented on #16
OK, this can be done: https://github.com/spiral/roadrunner/blob/master/service/static/service.go

[2018-06-21 10:59] ihipop commented on #16
There already are some `caching capabilities` exposed, for example `Last-Modified` and `Date`, In most case,this is enough.
I'm just asking the possibility  as an alternative  config item for this. (some times we don't want `Etag`,some times we did)
Thanks for your great work.

[2018-06-21 11:03] wolfy-j commented on #16
Yes, this is definitely doable, I will keep this issue open for if someone want to help. Otherwise, we can consider adding this feature in a future release.

[2018-06-22 06:54] ihipop commented on #11
@oraoto I tested it with my production code on my localhost,not wok if the app code is `stateful`, and some code is hard coded to read 'php_sapi_name()'/`PHP_SAPI` to some special behavior or logic in laravel or other component, This is definitely not a  `ZERO conf/code` silver bullet for the traditional frameworks

[2018-06-22 07:16] wolfy-j commented on #11
The application and framework must be designed to work in stateless mode. RoadRunner does work out of the box with Symfony, Spiral and Slim frameworks.

[2018-06-22 09:58] Richard87 commented on #11
Hi!

I am looking into trying this out soon, but I was thinking `$kernel->terminate()` should occure after `$psr7->respond($psr7response);`, and not before... (unless there are a specific roadrunner reason for it?)

Also `HttpFoundationFactory` can also be instantiated outside of the loop :)

[2018-06-22 10:22] oraoto commented on #11
Projects like [laravel-swoole](https://github.com/swooletw/laravel-swoole) and [laravel-s](https://github.com/hhxsv5/laravel-s/) actually make long runing Laravel application possible by resetting needed states on every request.

[2018-06-22 11:12] Richard87 opened #18 "Symfony: Default SESSION does not work (no cookie is set in Response)"
Hi!

I have this code:

    <?php
    /**
     * Created by PhpStorm.
     * User: richard
     * Date: 22.06.18
     * Time: 11:59
     */

    require __DIR__ . '/vendor/autoload.php';

    use App\Kernel;
    use Symfony\Bridge\PsrHttpMessage\Factory\DiactorosFactory;
    use Symfony\Bridge\PsrHttpMessage\Factory\HttpFoundationFactory;
    use Symfony\Component\Debug\Debug;
    use Symfony\Comp

[2018-06-22 11:52] wolfy-j commented on #18
Check if you actually have cookies in PSR7 request, dump `$r->getCookieParams()` somewhere (do not dump them into STDOUT since it used for communication).

If you don't have cookies: make sure your cookies are not set on the different domain
If you do have cookies in PSR7: most likely PSR-Symfony wrapper is incorrect.

We know for sure that cookies work (we have multiple application use them + the

[2018-06-22 11:53] wolfy-j commented on #18
Also check if your cookies are being returned in response (Chome Developer Console will help).

[2018-06-22 11:55] wolfy-j commented on #11
@Richard87 would you mind pasting your worker script or creating a repo i can link to rr once your integration is complete?

[2018-06-22 12:01] Richard87 commented on #11
Hi @wolfy-j ! I posted my workerscript here: https://github.com/spiral/roadrunner/issues/18 :)

[2018-06-22 12:16] Richard87 commented on #18
Strange... I Rebooted the computer because I couldn't get RoadRunner to start again, and it works perfect...  Maybe it have some issues shutting down cleanly?

And _wow_, this is insanely fast!!! I just hope I don't get any memory issues since StreamedResponses haven't been impleneted yet...

Anyway, this is my latest version of the worker script:

    <?php
    /**
     * Created by PhpStorm.

[2018-06-22 12:17] Richard87 commented on #18
(Also I changed to sockets because I don't want any errors if something is printed to STDOUT by accident ;) )

[2018-06-22 12:37] Richard87 opened #19 "rpc unix socket is not closed sometimes"
There is some issues with the shutdown procedures, when using either STDOUT/IN or Unix socket it doesn't close it, and then it can't start properly later (I havent tried a TCP socket yet).

[code]

[2018-06-22 12:51] wolfy-j commented on #19
Can you post your .rr file here?

[2018-06-22 12:52] wolfy-j commented on #18
Can you please post your .rr file and name of your OS?

[2018-06-22 12:54] wolfy-j commented on #18
Output buffer will be cleared on every response, so you only risking using more memory during one request (no leaks is expected). Streaming responses are something we are closing looking to implement in next update.

[2018-06-22 12:55] Richard87 commented on #19
Hi!

some changes (I was slightly confused by the different listen directives for rpc and listen...:

[code]

(Also, executing `./rr http:workers` never completes, I have a feeling it's related ;) )

[2018-06-22 13:16] Richard87 commented on #18
Well this is embarasing :( after restart, I ran docker-compose up to get mysql and redis back online ,also starteed php (I didn't notice), and everytime I ran roadrunner I thought I was using that, but actually I was working via docker...

So, Cookies are still not sent... (but atleast `./rr http:workers` is workign again!)

[2018-06-22 13:22] wolfy-j commented on #18
Have you tried to debug using instructions attached earlier?

[2018-06-22 13:30] Richard87 commented on #18
yup, just finished, seems like Symfony is not setting the cookies at all suddenly... (the same code works perfectly in Docker with Apache+mod-php and Apache + Php-fpm in production...

First it hits login_check, which is successful (if I check profiler, and by looking at the Location in the return header, next it hits /dashboard, but it fails, because it doesn't have any cookies :(

Check this out

[2018-06-22 13:42] wolfy-j commented on #18
Hmmmmm. Try to set host in request uri to the localhost, it might be empty in PSR7 but Symfony might be requiring it.

[code]

[2018-06-22 13:52] Richard87 commented on #18
Okay, after a lot of stupidity, Symfony **is** setting the cookie in the symfony response:
[code]
The PSR7 Response headers:
[code]
But somehow the auth-cookie/session id is not set...
Google Chrome also see the cookie: `sf_redirect=%7B%22token%22%3A%22ed1ed6%22%2C%22route%22%3A%22login_check%22%2C%22method%22%3A%22POST%22%2C%22controller%22%3A%22n%5C%2Fa%22%2C%22status_code%22%3A302%2C%22status_t

[2018-06-22 13:54] Richard87 commented on #18
Adding the Uri didn't work:

[code]

[2018-06-22 14:02] wolfy-j commented on #18
So one cookie is set and another don't? Do you see cookie headers in chrome debug panel on a response from your login?

[2018-06-22 14:18] Richard87 commented on #18
Yup

It's insanely weird... The "Debug toolbar" cookies, and the custom cookies I set to test is stored and sent, BUT not auth cookies...

[2018-06-22 14:20] Richard87 commented on #18
It seems the session storage doesn't work...

[2018-06-22 14:23] Richard87 commented on #18
I'm using redis backend for session storage.. .does that have any implications with Roadrunner?

[2018-06-22 14:41] Richard87 commented on #18
Strange, session does seems to work-ish, but it's weird:

[code]
I saved a item in session:
[code]
The ID is changing constantly, and therefor reading slighly different times, anyhow, the session id never reaches the browser :/

[2018-06-22 15:02] wolfy-j commented on #18
I think it's related to cookies not being emitted by Symfony, is there any sort of Symfony option to disable them? Maybe it requires any specific setting?

[2018-06-22 15:04] Richard87 commented on #18
I don't think so, it works perfectly everywhere else...

[code]

The strange this is it seems the ID's are recycled, and the session storage works. It feels like something the load balancer is doing? Is there some logic looking at cookies in there?

(Test  is the time php first saw that session_id)

[2018-06-22 15:14] Richard87 commented on #18
In our production env / live, I deleted all cookies, and went to the dashboard

Symfony immidiatly creates a new Cookie, and uses the "Set-cookie" header, on all sequent request, Chrome uses that cookie, and symfony _never_ sends a Set-cookie again, not even when logging in (even with auth denied, it keeps the same cookie id).

So, when I run up docker-compose, everything works immidiatly, if I st

[2018-06-22 15:19] wolfy-j commented on #18
Can you try to dump the $response->getHeaders() somewhere? Are they being set in response?

[2018-06-22 15:22] Richard87 commented on #19
I added `xdebug_break()` the the psr_worker.php (inside the loop), and it crashed.

After I start it again, all logging seems to be going strong, but nothing works:
![image](https://user-images.githubusercontent.com/5749715/41784694-c49a95b0-7640-11e8-82c0-20d1ed250ca4.png)
![image](https://user-images.githubusercontent.com/5749715/41784711-cceccdc8-7640-11e8-9582-1757a73f9257.png)

[2018-06-22 16:09] Richard87 commented on #18
Yeah, I don't have any clues what's happening...

It doesn't *seem* like symfony returns any headers, but everytime roadrunner crashes (without any description to why), I have to reboot the machine to be able to get it up and running again, so troubleshooting is pretty slow...

Also, is there any way of enabling xdebug in the workers?

[2018-06-22 16:13] wolfy-j commented on #18
What OS are you using?

Yes, i will write an instruction next week how to configure it properly.

[2018-06-22 18:16] Richard87 commented on #18
I'm on Linux (Fedora 28)

[2018-06-22 19:01] wolfy-j commented on #19
That's weird, I'm unable to reproduce such issue on the similar machine, can you check if this port is being listened by anything `netstat -ant`?

Do you see any workers when you try to to run `rr http:workers` command? Have you tried to connect to your workes over unix socket?

[2018-06-22 19:05] wolfy-j commented on #18
Is it possible that error withing this:

[code]

Do you have any sort of IP filtering which might affect session creation or anything like that? Do you set this values using ENV? RR runs using php-cli mode and it might not nesessary provide same values as nginx.

[2018-06-22 19:08] #11 closed

[2018-06-22 19:20] wolfy-j commented on #14
see updated README

[2018-06-22 19:20] #14 closed

[2018-06-22 19:24] wolfy-j opened #20 "Native English speaker help is needed"
English is not my first language and this weird extension for Chrome which checks grammar does now work in IDE or in the source editor.

I would appreciate if someone can help polish up README a bit.

[2018-06-22 19:47] Richard87 commented on #18
Hi!

No, I'm not sure what does actually do! (I have put `file_put_contents` in strategic places, sometimes it crashes the roadrunner, but I don't now why).

I'll remove them and see what happens :)

There are no ip-filters or anything, it should be simple and straight forward :(

[2018-06-22 20:25] wolfy-j commented on #18
Try adding `ini_set('display_errors', 'stderr');` to your script, this part is missing in README but we have in tests and at our production. This might explain why you can't see any errors.

[2018-06-23 00:23] Firehed opened #21 "Logging inside of Docker doesn't work"
In a comment in #12, it came up that anything sent to STDERR should get relayed to Docker and displayed, but in my experience that's simply not the case. I've tried the following things, none of which work:

- `ini_set('display_errors', 'stderr');`
- `fwrite(STDOUT, 'some message');` (this can crash the relay process, since it corrupts the packet format)
- `fwrite(STDERR, 'some message');`

File-b

[2018-06-23 10:07] wolfy-j commented on #21
OK, actually bypassing STDERR in realtime appeared to be super easy, working on this improvement. I'm not going to do anything with STDOUT, for now, to keep worker relays consistent.

[2018-06-23 13:59] Richard87 commented on #18
I tried with "xdebug_break()", but no erros are sent with display_errors on.

Id did modify `Worker.php`:

[code]

But no cookies are set related to session id at all :(

[2018-06-23 14:09] wolfy-j commented on #18
I'm currently preparing an update which will allow your to see the content of STDERR in realtime in debug mode, this might help, see #21

This is def some integration issue with Symfony. Do you see any cookies in Original Symfony response?
[code]

Maybe the psr7 mapper does not work correctly.

[2018-06-23 17:50] wolfy-j commented on #19
Fixed in recent version.

[2018-06-23 17:50] #19 closed

[2018-06-23 17:51] wolfy-j commented on #21
@Firehed check 1.0.3, RR now exposes stderr. I will check the formatting issue for Docker in next version, debug mode was not purposed for that.

[2018-06-23 17:52] wolfy-j commented on #18
Use `error_log` with `ini_set('display_errors', 'stderr');` for an easier debug.

[2018-06-23 18:35] Firehed commented on #21
Will do - thanks for looking into this!

I've been spending some time thinking about a way to "fully" solve this, but I believe part of it is inherent to having a long-running process as compared to e.g. php-fpm's run-once model (it's likely that e.g. PHP-PM is similarly impacted).

It's probably possible to get very close using some bizarre IPC voodoo (e.g. have a fourth FD open that accomplishes

[2018-06-23 18:41] wolfy-j commented on #21
I've been thinking about the same today, opening an additional channel of communication might help. I will think about using STDERR in future for that (optionally).

However, there is much-much easier way to communicate with parent service - use embedded RPC service. We are using it at production to forward logs and stats to Prometheus directly from PHP script.

No, RR supports proper multiplexing

[2018-06-23 18:44] wolfy-j commented on #21
@Firehed can you give me a screenshot of `they get goofy formatting due to attempted colorization`?

[2018-06-23 18:47] wolfy-j commented on #21
[code]

RelayTimeout is required for socket based connections to workers as allocation is not immediate compared to pipes.

[2018-06-23 18:47] Firehed commented on #21
I'd strongly suggest not abusing STDERR for that - what I'm thinking would be in addition to the expected use of STDIN/OUT/ERR.

_But_ I hadn't considered the use of the embedded RPC service - that seems like a much better solution. Granted it's probably almost the same actual thing under the hood, but feels way less janky.

I'll send a screenshot of the formatting shortly - need to get back on th

[2018-06-23 19:02] wolfy-j commented on #21
RPC works over sockets and does not have same limitations as pipes, it is also much faster than http layer (no extra PSR at top), so you can reach 100K-200K rps easily.

[2018-06-24 16:51] Richard87 commented on #18
Hi, no, currently I think there is something weird going on in symfony, it never sets any auth cookies when using road runner :/

[2018-06-25 12:07] Richard87 commented on #18
Hi!

Thanks, just trying 1.0.3 now, and there is some awesome error reporting ;)

But I still can't restart RoadRunner after a php error.

[code]

(I'm still trying to get Cookies to work, but it goes slightly slower when I have to reboot everytime... )

[2018-06-25 12:47] Richard87 commented on #18
I set up a new repository to test https://github.com/Richard87/roadrunner-test

I have only installed `symfony/security-bundle`, `symfony/psr-http-message-bridge` and `spiral/roadrunner` to make test it out...

[2018-06-25 12:59] Richard87 commented on #18
It's probably symfony doesn't set any cookies when running in `CLI` mode...

[2018-06-25 15:31] Richard87 commented on #18
The problem is that the session_id is not stored in the symfony Response object, it's handled seperatly by PHP.

Therefor `DiactorosFactory` never includes the session id / set Cookie...
https://github.com/symfony/http-foundation/blob/master/Session/Storage/NativeSessionStorage.php#L142

`session_start()` sets the `Set-cookie` with the correct properties depending on the active  handler that imple

[2018-06-25 16:30] wolfy-j commented on #18
Try 1.0.4, it should help with busy sockets and potential locks on resources.

[2018-06-25 16:54] Firehed commented on #21
Now that I'm back at my work machine, here's the formatting issue (after updating to 1.0.3, which did indeed solve the logging thing):

[code]

The two items of note are the color codes in the http code info messages, and newlines being printed as a string literal in the would-be stack trace (which is from a PSR logger writing to STDERR). This is while running `rr serve -v -d`. It would be nice if

[2018-06-25 17:03] Richard87 commented on #18
Thanks :)

I got the session to work, but it's not pretty :/

[code]

[2018-06-25 17:06] wolfy-j commented on #21
Yeah, I see that too, I will provide an option to force logrus to output in more convenient format.

[2018-06-25 17:07] wolfy-j commented on #18
We are using session middleware which fallbacks to default PHP session mechanism with a custom cookie, this might explain why we do not have the same issue. Native PHP sessions do not work with long-running scripts, you must to start and stop them manually. Are you sure there is no Symfony bundle to manage sessions on framework level?

[2018-06-25 17:30] Richard87 commented on #18
There probably is, but I haven't have time to look into it (and get it to work!)

[2018-06-26 09:23] Pomyk commented on #18
To make sessions work in a silex app (using symfony components):

in the request loop:
[code]

For session storage use
```Symfony\Component\HttpFoundation\Session\Storage\PhpBridgeSessionStorage```

[2018-06-26 09:35] Richard87 commented on #18
Hi!

In Symfony 4 we don't have access to the Session storage service, also we need to set the session id in the cookie if it's missing. How does Silex handle that?

[2018-06-26 10:42] Pomyk commented on #18
Actually it's not working 100% for me either... back to the drawing board.

[2018-06-26 11:07] Richard87 commented on #18
I assume `$session->save()` (either it's Silex or Symfony) only saves the session to the designated session storage.

But the session cookie is never set on the Symfony request, I assume it's the same on Silex?

[2018-06-26 20:51] #15 closed

[2018-06-30 10:53] wolfy-j commented on #21
Fixed in v1.0.5

[2018-06-30 10:53] #21 closed

[2018-07-05 21:36] #20 closed

[2018-07-08 21:37] lcobucci opened #29 "Wrong values for $_SERVER['REQUEST_TIME'] and $_SERVER['REQUEST_TIME_FLOAT']"
Every request has the same value for `$_SERVER['REQUEST_TIME']` (the timestamp of when the `rr` process started). `$_SERVER['REQUEST_TIME_FLOAT']` is similar but the only for the seconds part, the milliseconds is always changing.

Some middleware rely on that value and will misbehave due to the wrong value, e.g.:  https://github.com/middlewares/response-time/blob/0eb140f53365bcda5a88449fda29b818aa

[2018-07-09 05:06] wolfy-j commented on #29
Solved as part of v1.1.0 update.

[2018-07-09 05:06] #29 closed

[2018-09-18 02:53] jessiehernandez opened #34 "HTTPS Support"
Any plans to support HTTPS connections? Preferably you can configure RoadRunner so that it supports both HTTP and HTTPS if desired.

[2018-09-19 07:12] wolfy-j commented on #34
Yes, it is coming.

[2018-09-20 22:56] andrewmatthews opened #35 "Expected way to launch Roadrunner on production server"
What is the expected way to launch Roadrunner on a production server? Would you use an init.d script,  or would you Supervisor to ensure the process keeps running, or something entirely different?

[2018-09-21 04:01] andrewmatthews opened #36 "Config CLI flag seems to be ignored"
I am trying to set the config file to a different location to where the roadrunner binary is located. When I add the config CLI flag, it seems to be ignored.

When I run:
`vagrant@locahost:/$ /usr/bin/rr --config=/etc/roadrunner/.rr.yaml serve`

I get the following output and the server stops:

`WARN[0000] config: Config File ".rr" Not Found in "[/]"`

[2018-09-21 08:50] wolfy-j commented on #35
Any supervisor is OK. We use https://immortal.run/post/immortal/

[2018-09-21 08:50] #35 closed

[2018-09-21 13:31] wolfy-j commented on #36
Fixed in 1.2.1, also now it's easier to run multiple rr instances since PHP process path is relative to the config file.

[2018-09-21 13:31] #36 closed

[2018-09-26 19:35] wolfy-j commented on #18
I'm closing this request due to inactivity.

[2018-09-30 13:00] wolfy-j opened #40 "Performance: Response communication over binary protocol"
Currently, Response status code and headers being passed using json. Switching to raw binary exchange (pack/byte reader) makes response unmarshalling 2-4 times faster.

[2018-09-30 13:02] wolfy-j commented on #40
Similar approach must be used for static Request fields, but ParsedBody must remain in JSON form (possibly with faster JSON encoder).

Estimated performance improvement for both changes: +11%

[2018-09-30 16:16] wolfy-j commented on #34
1.2.4 include HTTPS, HTTP2 and HTTP2 Push support.

[2018-09-30 16:16] #34 closed

[2018-09-30 21:22] dunglas opened #42 "Symfony worker (for inclusion in the wiki)"
Hi, thanks for this very interesting project!

Here is a worker to serve apps based on the default Symfony skeleton:

[code]

And the corresponding `.rr.yaml` file:

[code]

Would you mind including it in the wiki?

[2018-10-01 08:41] wolfy-j commented on #42
Done! https://github.com/spiral/roadrunner/wiki/Symfony-Framework Let me know if you want to change something in the article. I wonder if GitHub has any protocol for Wiki PRs.

[2018-10-01 08:41] #42 closed

[2018-10-01 08:44] wolfy-j commented on #42
FYI, you can define ENV in `env` section of config, these variables would be PHP process specific.

[2018-10-01 08:46] dunglas commented on #42
Thanks @wolfy-j. Indeed env vars should probably be moved here. I'll send you the changes when ready.

[2018-10-02 14:30] mnavarrocarter commented on #42
Yeap, the folder is pointing to the right direction and exists. Running with `-d` flag shows no output. The error happens at browser level when tries to load the js.

![image](https://user-images.githubusercontent.com/17072441/46355087-7c417b80-c636-11e8-8554-deff5776d39f.png)

[2018-10-02 14:31] wolfy-j commented on #42
Does `-d` show any other requests coming to RR?

[2018-10-02 14:32] mnavarrocarter commented on #42
Yeap, and found the assets ones. They are answered with 404s.

![image](https://user-images.githubusercontent.com/17072441/46355255-d6dad780-c636-11e8-88ab-dc53c1a99f9a.png)

[2018-10-02 14:33] mnavarrocarter commented on #42
Yeah, found it. Is passing the requests for files directly to the application.

[2018-10-02 14:35] mnavarrocarter commented on #42
Daaang I'm stupid! The `static` config was not properly indented.

Sorry for wasting your time @wolfy-j . I'm loving the project already!! :)

[2018-10-02 14:37] wolfy-j commented on #42
This is correct behavior if file not found or static service is disabled (identical to nginx `try_files`).

[2018-10-02 14:39] wolfy-j commented on #42
Ugh, yaml is really annoying sometimes. Try using json config instead if you run into this problem often. :)

[2018-10-02 19:35] wolfy-j commented on #18
I would recommend asking advice from Symfony users, we use the almost identical mechanism of auto-managing sessions via middleware and it works perfectly. Is there any issue with request mapping between Symfony Request and PSR7?

[2018-10-02 19:39] mnavarrocarter commented on #18
I'll do a little bit of research. Symfony does not use PSR7 Requests by default. They developed some sort of factory bridge to be able to work with PSR 7. There may be something missing there. Or maybe Zend Diactoros uses native session functions.

[2018-10-02 19:45] wolfy-j commented on #18
Zend Diactoros does not manage use sessions at all (only data-carrying), since Symfony control session internally it must read/write session cookie. I assume the issue can be with some security or "trusted proxy" mechanism which either does not allow to set or to get cookie value.

[2018-10-02 19:50] wolfy-j commented on #18
@dunglas would you mind providing any advice what might be the case?

[2018-10-02 22:03] dunglas commented on #18
I'll try to give it a look asap. Do you have a minimal reproducer?
The PSR-7 to HttpFoundation bridge does support cookies. However sessions and cookie are a totally different thing in Symfony.

[2018-10-02 22:06] mnavarrocarter opened #45 "Remove dependency on Zend Diactoros"
Hi! I just discovered this wonderful package I'm super excited toying with it a lot.

There's just want problem. I'm trying it with some of my apps. Some of them use Zend Diactoros 2.0, which conflicts with the version the package uses.

I think this package shouldn't use any psr-7 implementation. Instead, we should use a [psr-17 request factory](https://www.php-fig.org/psr/psr-17/).

So, what abo

[2018-10-03 07:46] Richard87 commented on #18
Hi! my research concluded with Symfony not creating a Session Cookie on the Response object, but leaves it to PHP to set the relevant cookies (and just configures PHP's session handling according to the relevant symfony config files...

https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpFoundation/Session/Storage/NativeSessionStorage.php#L149

Maybe it's possible to write a c

[2018-10-03 08:06] dunglas commented on #18
Creating a HttpFoundation driver would anyway be a good idea, because the PSR-7 bridge adds an important overhead.

As Symfony, Laravel, Drupal and phpBB use HttpFoundation, it would be a good first step to support all these projects.

[2018-10-03 09:27] wolfy-j commented on #18
I don't think this is possible, php write headers directly to STDOUT and it ignores active buffers. The only viable option is to disable default cookies and manage sid on app end: https://github.com/spiral/session/blob/master/src/SessionFactory.php#L59

[2018-10-03 10:13] Richard87 commented on #18
Yeah, if I remember correctly, RoadRunner executes the php scripts as CLI(?), and then `header()` doesn't do anything.

So the only solution I see is intercept Symfony's session handler somehow.

[2018-10-04 12:59] 1ma commented on #18
Please, do :sweat_smile:

[2018-10-04 18:40] #45 closed

[2018-10-05 09:12] Richard87 commented on #18
@dunglas Is that a feature you think Symfony wants in the core, or should it be a part of `RoadRunner` or a  new library, maybe in a `RoadRunnerBundle` to connect it all?

I have a feeling any legacy projects might *take a hit* if we disconnect symfony from php's own session handling?

[2018-10-05 09:28] wolfy-j commented on #18
I have no issues with that :) I'm fine creating a repository for that if anyone wants to participate. Thought I would like to avoid coupling to the specific framework in RoadRunner repository (that's why we go with PSR7).

BTW, it's not hard to implement custom session handling mechanism AND keep native php session management enabled (via _SESSION), the only required thing is proper cookie handler

[2018-10-05 09:53] ruudk commented on #42
I just tried this example, but it doesn't work. I get this error: `worker error: invalid prefix (checksum)`
This is shown in my PHP error output:
[code]

When I change the while loop to this:
[code]

it works fine.

What am I doing wrong?

[2018-10-05 10:08] wolfy-j commented on #42
Do you echo anything to STDOUT without buffers? There is an option how you can debug it.

Switch RR to work over TCP:

[code]

Use SocketRelay instead of SteamRelay:

[code]

[2018-10-05 10:19] ruudk commented on #42
Weird, now it works. But I don't see anything being echo'd?
[code]

[2018-10-05 10:30] ruudk commented on #42
I started RR and in a new terminal opened `php worker.php` but it didn't output anything. It's just waiting... Also tried to move the SF kernel->boot to outside the while loop. No difference.

[2018-10-05 10:31] ruudk commented on #42
When doing a couple requests, and monitor `rr http:workers` it stays up. So the worker doesn't die.

[2018-10-05 10:36] wolfy-j commented on #42
So it's not bootloader issues, sounds like you output something to STDOUT while running your script. Is it possible you have some warnings and `display_errors` points to STDOUT?

Since it's working over sockets I can conclude that your workers are fine, but they definitely use pipes for something which creates conflicts with Goridge relays.

P.S.  `Warning: unpack(): Type C: not enough input, need

[2018-10-05 10:37] wolfy-j commented on #42
Do you use any `header` functions? They will write to STDOUT as well.

[2018-10-05 10:49] wolfy-j commented on #42
More info added here: https://github.com/spiral/roadrunner/wiki/PHP-Workers

[2018-10-05 11:51] ruudk commented on #42
I don't have any header functions in use. Also checked output of `headers_list()` and its empty. Is there a way of capturing the output of the `php worker.php` file?

[2018-10-05 11:55] ruudk commented on #42
I'm running this inside Docker btw, not sure if that's related.

[2018-10-05 11:59] ruudk commented on #42
Problem solved:
[code]

Sorry everybody!

[2018-10-05 12:03] ruudk commented on #42
The Symfony example is not performant at all. It's doing a `$kernel->reboot(null);` after every request. Is that really necessary? Why not just do `$kernel->boot();` before the while loop, and then process all the requests without rebooting? Makes it much faster.

[2018-10-05 13:06] dunglas commented on #42
Yes it is, some Symfony services are stateful. You must reset their states before handling a different requests to avoid side effects.

[2018-10-05 13:16] ruudk opened #47 "IDE Integration: How to use http:reset when using Docker"
I'm running roadrunner inside a docker container. How do I instruct my IDE to perform a RR http:reset on file change?

[2018-10-05 13:28] ruudk commented on #47
Mind = Blown :D

[2018-10-05 13:32] wolfy-j commented on #47
Is a good sense? :)

[2018-10-05 13:34] wolfy-j commented on #47
You can also try something like this: https://github.com/radovskyb/watcher

[2018-10-05 13:35] ruudk commented on #47
Yep, this works perfectly. Might be good to slightly change the Wiki a bit.

Use
[code]

make sure to forward / expose port 6001

Then run `rr http:reset` locally on file change.

[2018-10-05 13:38] wolfy-j commented on #47
Done https://github.com/spiral/roadrunner/wiki/IDE-Integration

[2018-10-05 13:38] #47 closed

[2018-10-05 14:17] ruudk commented on #42
Wasn't this fixed with resettable services?

[2018-10-05 15:17] ruudk commented on #18
I fixed it with this subscriber:
[code]

[2018-10-08 22:51] brianvoe opened #48 "For the love of god, why?"
I used to use PHP and i now exclusively work with Go.

Dear developer, let PHP go the way of the dodo bird. It had a good run. This package makes my heart hurt.

[2018-10-09 01:36] #48 closed

[2018-10-19 06:39] marcelloh opened #51 "example setup"
IS there an example setup somewhere (that runs straight away?)

[2018-10-19 06:40] wolfy-j commented on #51
https://github.com/spiral/roadrunner/wiki/PHP-Workers

[2018-10-19 06:43] marcelloh commented on #51
So I save this:
[code]
in .rr.yaml, right?

then I start rr (on Windows), but it still give me the same help.

[2018-10-19 06:44] wolfy-j commented on #51
rr have set of sub-commands `serve` is one you want, so `rr serve`. In order to see more debug info `rr serve -v -d`

[2018-10-19 06:47] wolfy-j commented on #51
You can read more about server commands here: https://github.com/spiral/roadrunner/wiki/Server-Commands

[2018-10-19 06:48] marcelloh commented on #51
command:  "php psr-worker.php" does not work for me, because I have no php in my path,
so I want to use the exact location where it php is installed.

Then it gives me an error:
WARN[0000] config: While parsing config: yaml: line 4: found unknown escape character

so I changed all backslashes into forward slashes, but now it gives me:
RRO[0000] [http]: unable to connect to worker: unexpected respo

[2018-10-19 06:50] wolfy-j commented on #51
Sounds like you have invalid characters in your yaml (this format is very picky about indents), try json:

[code]

[2018-10-19 06:51] wolfy-j commented on #51
If you still get an error, try to invoke your php script manually and see what happen:

[code]

It should not die and must wait.

[2018-10-19 06:51] marcelloh commented on #51
Ok, was missing the psr-worker.php.

Now it complains about not having a vendor folder....
Nothing states a composer action.... hmmm... now what to do?

[2018-10-19 06:52] wolfy-j commented on #51
Composer action is first in a list, please check how to install and configure composer here: https://getcomposer.org/download/

[2018-10-19 06:55] marcelloh commented on #51
hmm.. missed that (it was on top of page, sorry)
Now it works without any messages  (except the hello world)

Thanx for the patience

[2018-10-19 06:55] #51 closed

[2018-10-19 07:10] wolfy-j commented on #51
NP :)

[2018-11-02 20:48] shyim opened #52 "Add a way to restart worker programmatically"
The application should be able to send a specific response header to restart the worker or all.

This is needed for proxy classes which are changing in the runtime

[2018-11-03 21:07] shyim opened #53 "SF Wiki entry outdated"
Instead `.rr` there should be `.rr.yaml`

The error message was also nothing saying "WARN[0000] config: Config File ".rr" Not Found in ". There was a .rr file but he wanted a .rr.yaml :joy:

[2018-11-03 21:17] wolfy-j commented on #53
Fixed, config type can vary.

[2018-11-03 21:18] #53 closed

[2018-11-03 22:23] shyim opened #54 "PSR 7 Request is not compatible with HttpFoundationFactory"
# Problem
I found a issue with the request uri. The PSR7 Request is created with 2 request URI's, we have it in the header with "REQUEST_URI" and in the $ctx['uri'] which will be given as uri to Request object.

The REQUEST_URI header seems to be every time the first called URL of the worker and the $ctx['uri'] the right URI.

The problem now is the Symfony HttpFoundationFactory writes the PSR7 Re

[2018-11-03 22:29] shyim commented on #54
Okay i found the issue :see_no_evil: . It was not the Request object, i will create a Pull request

[2018-11-03 22:29] #54 closed

[2018-11-03 23:59] shyim commented on #18
I had the same problem, i just simple changed the binary to php-cgi, switched to sockets and used headers_list() after the handle to get the cookie and added them to the psr7 response

[2018-11-04 07:45] ruudk commented on #18
@shyim Smart, this should be added to the wiki

[2018-11-06 07:44] NiceWG commented on #18
Do not understand whet needed to do with this  situation. Where I do wrong?

 "C:\roadrunner>rr serve -v -d
DEBU[0003] [rpc]: started
DEBU[0003] [http]: started
ERRO[0003] [http]: unable to connect to worker: unexpected response, header is missing: exit status 1
DEBU[0003] [rpc]: stopped"

[2018-11-06 07:58] wolfy-j commented on #18
Try to execute command described in rr.yaml file manually and see what happens. Most likely you are not forwarding errs to stderr and RR cannot capture it. Try to run `php worker.php`.

[2018-11-06 08:01] wolfy-j commented on #18
Added to Wiki: https://github.com/spiral/roadrunner/wiki/PHP-Workers

[2018-11-16 06:02] estahn opened #56 "Prometheus metrics"
Are there some form of metrics exposed?

[2018-11-16 06:58] wolfy-j commented on #56
Not in a default build. But it's extremelly easy to add middleware using https://github.com/prometheus/client_golang and https://github.com/spiral/roadrunner/wiki/Middlewares

[2018-11-21 18:36] wolfy-j commented on #56
@estahn let me know if you have any particular requirements for this feature, I will close this ticket till then. Thank you

[2018-11-24 18:58] morozovsk opened #57 "How to try it?"
I have .rr.yaml:
[code]
I've put the code of your example inside psr-worker.php:
[code]
I installed composer. (but you dont have info about it)

I tried:

I have errors:

What else I need to do for starting your "product"?
Could you please make convenient instructions for running the simplest example.
It is not user friendly now.

[2018-11-24 19:17] wolfy-j commented on #57
You can find all the required information including composer commands at this page https://github.com/spiral/roadrunner/wiki/PHP-Workers

[2018-11-24 19:17] #57 closed

[2018-11-24 19:18] wolfy-j commented on #57
I have added another link to this page into README.md, I hope it helps.

[2018-11-25 00:32] morozovsk commented on #57
thank you. now it works but [too slowly](https://github.com/morozovsk/webserver-performance-comparison).

[2018-11-25 06:44] wolfy-j commented on #57
Too slow for what? You are comparing different execution models. Also, running RR with one worker and 10 concurrency does not make any sense.

[2018-11-25 11:51] morozovsk commented on #57
I also used 4 workers. It was 1.5-2 (with and without keep-alive) times faster but still slow.

It is inside php files.

For example:

[swooole](https://github.com/morozovsk/webserver-performance-comparison/blob/master/swoole.php):
install: pecl install swoole
run: php swoole.php

[roadrunner](https://github.com/morozovsk/webserver-performance-comparison/blob/master/roadrunner.php):
install roadru

[2018-11-28 20:57] pimshtein commented on #18
Hi. Can you help?
I have a code.
Golang:
[code]
Php:
`$rr = new Worker(new SocketRelay("/tmp/hbc.sock", null, SocketRelay::SOCK_UNIX));`

When I run the code on go, I get an error "unable to connect to worker: relay timeout: signal: killed" because this event never occurs:
[code]
Where I do wrong?

[2018-11-29 05:19] wolfy-j commented on #18
Please put it into separate ticket.

[2018-11-29 05:21] wolfy-j commented on #18
But the error is that worker has never connected to socket server, so it was marked as dead. Make sure that PHP script does not stick anywhere or try pipes.

[2018-11-29 06:10] wolfy-j commented on #18
Also, try to start worker manually and see what happens. If it does not help please post your php code so I can’t take a look.

[2018-11-29 18:56] pimshtein commented on #18
The PHP script was always waiting because xdebug was running. For this reason, php was unable to connect to the socket. The problem is solved. Thanks for help!

[2018-12-07 11:26] Alex-Bond opened #58 "Question: Is it possible to write example of event listener service?"
Hi!

Is it possible to show an example of how to connect to RabbitMQ in RoadRunner and call PHP when you receiving new event?

[2018-12-07 14:38] wolfy-j commented on #58
Hi,

you can use use this guide https://github.com/spiral/roadrunner/wiki/Standalone-usage

Or take a look at this repository: https://github.com/spiral/jobs (AWS SQS, Local, Beanstalk), we are planning to add RabbitMQ bridge early next year. You can find examples of usage in tests.

[2018-12-10 02:44] Alex-Bond commented on #58
Awesome! Thank you for links and looking forward into next year's cool things :)

[2018-12-10 02:44] #58 closed

[2018-12-14 20:20] alexpts opened #59 "Update zendframework/zend-diactoros to 2.x"

[2018-12-16 08:41] uwascan opened #60 "Is Laravel Supported?"
Can this be used to host a Laravel 5.7 web app?

[2018-12-16 09:54] wolfy-j commented on #60
Yes, try this article
https://www.ctolib.com/amp/topics-132962.html

[2018-12-16 18:31] wslaghekke commented on #18
I've gotten sessions working by adding some code to worker.php as follows:

[code]

[2018-12-17 08:36] wolfy-j commented on #18
@wslaghekke manual session control should work! If someone can verify this approach I would update Wiki page.

[2018-12-17 08:38] wolfy-j commented on #60
@uwascan please let me know if you can verify this approach. I would update Wiki then.

[2018-12-18 05:36] Alex-Bond commented on #60
@wolfy-j i tested and it works with one fix:
`composer require spiral/roadrunner symfony/psr-http-message-bridge`
Zend Lib conflicts and not required.

Actual psr-worker.php fine:
[code]

[2018-12-18 09:34] wolfy-j commented on #60
Most likely cos Laravel have heavier bootload than SF, heaver bootload => more performance gain you can get using RoadRunner.

I'm adding this details to Wiki.

[2018-12-18 09:34] wolfy-j commented on #60
https://github.com/spiral/roadrunner/wiki/Laravel-Framework

[2018-12-18 09:35] wolfy-j commented on #60
@Alex-Bond can you clarify `Zend Lib conflicts and not required.`? I would like to solve this issue as well.

[2018-12-18 09:38] wolfy-j commented on #59
I guess it's a side-effect of using https://packagist.org/packages/http-interop/http-factory-diactoros

This library must be patched to support `zendframework/zend-diactoros` 2.x

[2018-12-18 09:41] wolfy-j commented on #59
I need a advice, there is 2 options how this issue can be solved:
1) Patch for http-interop/http-factory-diactoros to support `zendframework/zend-diactoros` 2.x which will bump minimal required version of PHP to7.1
2) Keep dependency with https://packagist.org/packages/psr/http-factory only (BC)

[2018-12-18 09:44] wolfy-j commented on #18
@wslaghekke if someone can verify the approach i can update the wiki.

[2018-12-18 10:42] alexpts commented on #59
Http Factory Diactors use only class PSR7Client.

You can replace package `http-interop/http-factory-diactoros` to  `zendframework/zend-diactoros`.
Zend component has impementation for `UploadedFileFactoryInterface`, `StreamFactoryInterface`, `RequestFactoryInterface`.

After replace package you can remove deps `http-interop/http-factory-diactoros`

[2018-12-18 10:43] alexpts commented on #59
I can check it and prepare PR for replace

[2018-12-18 10:49] wolfy-j commented on #59
Check #45 :)

[2018-12-18 21:30] agentd00nut opened #62 "Integration: Example with Slim app."
This started as a request for help in understanding the `worker error: invalid prefix (checksum)` error but I finally managed to figure that it was caused by not running slim silently.

Because that took me so long to realize I thought it might be helpful to show others an example.

[code]

If this should be a pull request i'll make one.  Again it started as asking about the `invalid prefix` error

[2018-12-18 21:40] wslaghekke commented on #18
@wolfy-j what would be neccesary to verify the approach? do you want me to provide an example repo? or are you waiting for someone else to test this?

I've also updated my comment to do the session cleanup in a finally block

[2018-12-19 10:16] wolfy-j commented on #18
I guess if anyone else can verify it I can add it to the wiki. Attaching sample repo will help with that.

This ticket has been reopened multiple times and I want to make sure we have a solid fix.

[2018-12-19 10:17] wolfy-j opened #63 "Need a way to update wiki using MD docs"
Updating GitHub wiki is pretty painful now. Need an app which can sync wiki content and some specific repo content where people can push their PR into.

[2018-12-19 10:18] wolfy-j commented on #63
Similar to https://github.com/palantir/godel/wiki/GitHub-wiki

[2018-12-19 10:51] Gelembjuk opened #64 "How to run wordpress with this server?"
This software looks very interesting and promising.
However, i didn't find some dock that explains how to use it with php apps .

For example, if i want to run wordpress with it. What should i do?
As i understand, i have to create a worker. But it is not clean what should be in that worker. Just require("wordpress/index.php")  ?

Also, as i understand PHP must be installed separately. It is not pa

[2018-12-19 11:03] alexpts commented on #59
I don`t understand why need `http-interop`. It is proxy for `zend-diactoros`.

See impementasion:
1) https://github.com/http-interop/http-factory-diactoros/blob/master/src/RequestFactory.php
2) https://github.com/zendframework/zend-diactoros/blob/master/src/ResponseFactory.php
I don`t see extra logic. It is empty wrapper for delegate work to zend.

1) https://github.com/http-interop/http-factory-d

[2018-12-19 11:35] Alex-Bond commented on #64
Hey!

I don't think its possible to run WP behind RR. You need PSR7 compatible system.

About PHP installation - it can be any PHP version. As long as it runs from the console.

[2018-12-19 11:51] Alex-Bond commented on #63
@wolfy-j maybe move docs to separate service and save only md files in repo?

[2018-12-19 14:55] grachevko commented on #18
@wslaghekke are symfony create new session on first request?
Your snippet doesn't work for me, session won't starting.

[2018-12-19 16:35] agentd00nut commented on #62
I've used the provided example as a guide when integrating with more complicated Slim apps that involve a more in depth configuration for the slim container with many more routes defined etc. etc.

Also, I thought i had linked to this page but i must have taken it out by accident... [PSR7 With Slim](https://www.slimframework.com/docs/v3/concepts/value-objects.html) .... So according to them it's d

[2018-12-19 17:06] agentd00nut opened #66 "No UserAgent set in $_SERVER when using PSR7Client"
If you dump the contents of the `$ctx` and `$_SERVER` right before `$this->configureServer($ctx)` during ` acceptRequest() ` in `PSR7Client.php` to different files, you'll see that the context contains a "User-Agent" in its headers but its not yet set in the `$_SERVER`, which is fine.

However `configureServer` does not attempt to set the User_Agent and does not appear to set it anywhere else.

Ad

[2018-12-19 18:42] wolfy-j commented on #66
If you can provide the PR and test for that I would appreciate it, if not I will allocate a bit of time later.

[2018-12-20 04:50] BunnyHolder commented on #42
PM has a lot of reseting going on: https://github.com/php-pm/php-pm-httpkernel/blob/master/Bootstraps/Symfony.php

With reset tag in symfony now, this should be a lot smaller.

[2018-12-20 08:21] wslaghekke commented on #18
@grachevko It thought i could check the session_status to see if symfony used the session (and so if we need the session cookie at all) but it seems that doesnt work, i've updated my code snippet to not use that check anymore, and always send the session cookie.

Could you test it again?

[2018-12-20 09:48] bognerf opened #67 "Unsupported HTTP protocol version "2.0""
I recently upgraded from RoadRunner 1.2.4 to the currently latest version 1.2.6, including upgrading composer requirements to `"spiral/roadrunner": "1.2.6"`

Since 1.2.5 `src/PSR7Client.php` uses `withProtocolVersion(substr($ctx['protocol'], 5))` (Line 87)

Unfortunately this results - if RoadRunner's https-Support is active - in a string `2.0` which won't validate against zend-diactoros (v.1.8.6)

[2018-12-20 10:07] wolfy-j commented on #67
Did you update the binaries as well? I believe this error has been addressed on Golang end. Let me double check.

[2018-12-20 10:09] wolfy-j commented on #67
Anyway, I think the PHP fix is good improvement. I will make a release this week, let me know if you need it sooner.

[2018-12-20 10:56] Richard87 commented on #18
Hi!

I tested it and it worked niceley!
Check out the Repo here: https://github.com/Richard87/roadrunner-test-session
[code]
I needed to modify `psr-worker.php` slighly, I think composer(?) was confused since roadrunner also includeded the symfony dependencies...:
[code]

But it works perfect :)

[2018-12-20 11:17] bognerf commented on #67
The sooner, the better, but I won't push pressure on you. Thanks for this very cool piece of software, btw.

I'm glad I could be of service to the project, even only with the tiniest of contributions!

[2018-12-20 12:16] wolfy-j commented on #62
@agentd00nut new error message has been added

[2018-12-20 12:16] wolfy-j commented on #66
See release 1.27

[2018-12-20 12:16] #66 closed

[2018-12-20 12:16] wolfy-j commented on #67
Check the release **1.2.7**

[2018-12-20 12:16] #67 closed

[2018-12-20 12:19] wolfy-j commented on #62
Regarding the integration, I would still like an independent verification just to be sure that I can add it to the Wiki. :)

[2018-12-20 12:35] wolfy-j commented on #59
Apparently Slim uses its own implementation of PSR7 per #45 removing PSR-7 in order to use PSR-17 is not a that bad idea due to possible decoupling from Zend D (though it's still there by default).

For right now I believe the best option is to use RR specific `http-factory` implementation with default dependency on Zend D 1.x|2.x

I'll try to work it out after dealing with other work.

[2018-12-20 12:37] #63 closed

[2018-12-20 12:51] wslaghekke commented on #18
@grachevko Do you have the repo or an example repo i can use to reproduce the issue?
Then i could try to find out what is going wrong.

[2018-12-20 13:49] grachevko commented on #18
@wslaghekke i find my mistake, new cookie is set. But now i find new bug.
If delete cookie, worker will return previous handled. I guess this is because session service in symfony is shared and it not resetted between requests.

[2018-12-20 15:36] grachevko commented on #18
Looks like this work correctrly, i keep testing
[code]

[2018-12-20 18:51] mrsuh opened #69 "Wrong build.sh file permissions"
File has changed permissions
https://github.com/spiral/roadrunner/commit/ea60c3e1eba96cd140e4c89b710de3a98f523f43#diff-0b83f9dedf40d7356e5ca147a077acb4

build.sh 100755 → 100644

And now its error
[code]

[2018-12-20 18:57] mrsuh commented on #69
https://github.com/spiral/roadrunner/pull/70

[2018-12-20 19:13] wolfy-j commented on #69
Thank you.

[2018-12-20 19:13] #69 closed

[2018-12-21 08:17] grachevko opened #71 "Distribute binary through composer"
What about include build binary to composer install?
To update need to do two thing: update composer and update binary. This is not convenient.

[2018-12-21 11:57] Alex-Bond commented on #71
@grachevko there 2 things that comes to mind:
1. Size of the package (we have to include 4 dists in this case)
2. A lot of people using a custom build or RR

I think it's not a really good idea to do that. But it's only my opinion.

[2018-12-21 12:22] grachevko commented on #71
@Alex-Bond it depends on how to solve that.
The goal is remove need to duplicate version of rr in composer and binary downloader.
For example this goal can be reached by downloader script, which i can add to composer.json in `post-install-cmd`. Downloader will depend on installed rr version from composer.

If you don't need to download default binary, just not add call downloader in composer.json.

[2018-12-21 15:00] grachevko commented on #71
@wolfy-j yeap, that is exactly what i mean.

[2018-12-21 15:58] grachevko commented on #18
My last snippet working today on production all day. Works great.

One thing, rr duplicate cookies, i don't know why.
![image](https://user-images.githubusercontent.com/8628465/50351150-5602ec00-0552-11e9-974f-4b862503804d.png)

[2018-12-21 21:06] wolfy-j commented on #18
Try to dump Response to the STDERR and see if there is 2 cookie headers being send to rr.
https://github.com/spiral/roadrunner/wiki/Debugging most likely Symfony is duplicating them.

[2018-12-21 23:41] grachevko commented on #18
I found who make duplication https://github.com/symfony/psr-http-message-bridge/pull/58

[2018-12-22 01:10] grachevko opened #72 "[Question] Debugging invalid buffer"
How to debug this error? `worker error: invalid data found in the buffer (possible echo)`

[2018-12-22 05:55] wolfy-j commented on #72
Try to start your worker manually. This error is about invading data send to the pipe. 99% it’s about echo/header  in your code. :(

You can also connect to worker over Unix or TCP socket.

[2018-12-24 12:42] wolfy-j commented on #72
Let me know if this helps or if I need to add more info into Wiki.

[2018-12-24 12:42] #72 closed

[2018-12-24 12:52] grachevko commented on #72
This error shows only on specific pages (errors pages), i don't understand why i don't understand how to debug it.
I don't see a real reason to change connect to socket for now.

[2018-12-24 13:00] wolfy-j commented on #72
What is rendering these pages? There is a possibility that exception handler echoes or error_log points to STDOUT.

[2018-12-24 13:04] grachevko commented on #72
This pages render our html with information for user. But this error i catch only on one project, but another project render his error pages correctly.

[2018-12-24 13:10] grachevko opened #74 "Manipulate with config using rr args `rr serve --numWorkers=1`"
One code can be run on different servers (dev,test,prod) with various core numbers. With this is a bad idea to hardcode workers number in config.
For example this how we run phpunit:
[code]
I think it's good to be option like `rr serve --numWorkers=12`

I also like [Traefik](https://docs.traefik.io/user-guide/cluster-docker-consul/#full-docker-compose-file) approach where every parameters can mani

[2018-12-24 13:16] wolfy-j commented on #74
Oh, this is something I have been thinking for a while.

The plan to inject command arguments into the config provider (https://github.com/spiral/roadrunner/blob/master/cmd/rr/cmd/root.go#L63), this would allow the user to rederine any value in config or even create it on a fly.

I have to check Cobra (CLI) how to do that.

[2018-12-24 14:43] grachevko commented on #72
@wolfy-j maybe should in debug mode print to stdout invalid data recieved from worker?
Or another way to catch what worker return?

[2018-12-24 14:49] wolfy-j commented on #72
@grachevko it's not that easy to capture error buffer content cos worker communication is streamed. I have to think about potential ideas using some temporary buffer and redirecting STDOUT to STDERR.

[2018-12-24 14:52] grachevko commented on #72
@wolfy-j you mean redirect incorrect data to STDERR until receiving correct data?
Looks like good idea.

[2018-12-25 06:36] Alex-Bond opened #75 "[Discussion] Any other potential frameworks/libraries to use with"
Hi everyone!

We already have Symfony and Laravel in wiki and Slim waiting for independent tests.
What about any other frameworks/libraries/CMS/CMF? Any success in connection RR to them?

[2018-12-25 14:54] wolfy-j commented on #75
Zend Expressive works, Spiral supports it on kernel level in 2.0.

[2018-12-25 17:09] grachevko commented on #72
I found my bug. *facepalm*

[code]

[2018-12-25 23:32] FirestarterUA commented on #75
Alex, can you  show slim integration, please?
And nginx as frontend.

[2018-12-25 23:57] FirestarterUA commented on #75
Can you show, how to use Roadrunner in Docker?

[2018-12-26 06:38] Alex-Bond commented on #75
Good idea. We should add RR to Docker Hub. Question is which version of PHP to use or how made it with all major versions.

[2018-12-26 08:53] wolfy-j commented on #75
Well, the Docker installation is to trivial so Wiki page might be enough for now. We have used PHP 7.x Apline CLI, copied RR binary in it and made it and enter-point. That's it :)

[2018-12-26 09:12] grachevko commented on #75
Docker image may sense this only for quick start guide, but as it also require install dependencies from composer i think image not make sense. Especial after solve https://github.com/spiral/roadrunner/issues/71

[2018-12-26 10:55] wolfy-j commented on #75
Also, i found this https://github.com/n1215/roadrunner-docker-skeleton

[2018-12-26 11:51] Keksov opened #76 "Incorrect behavior of http:reset (error_log handler is lost)"
Consider the following php code main.php:
[code]
Note the lines:
[code]
rr.json
[code]
Start rr with the command: `~/bin/roadrunner/1.2.6/rr serve -d -v -c rr.json ` and send a http request to it. You'll see the `msg 1` in console of your terminal and browser window.

Now change `msg 1` to say `msg 2` and reset rr with the following command  `~/bin/roadrunner/1.2.6/rr http:reset -d -v -c rr.json `

[2018-12-26 12:19] wolfy-j commented on #76
Found and fixed in 1.2.8

[2018-12-26 12:19] #76 closed

[2018-12-27 05:10] Alex-Bond commented on #75
Here is my vision of it - https://gist.github.com/Alex-Bond/849156fae6ccc9d6b853b7132f8e5f0c
About debug - its possible, but in this case, it gonna require entry point and small Bash script with env/parameter checker.

[2018-12-27 14:16] MohamedPHP commented on #60
Hello Dears,

I've an issue regarding the Laravel installation,

I followed the steps, but there is no request body being sent to laravel app for POST, PUT ... etc

Any recommendation ?

[2018-12-28 08:02] wolfy-j commented on #60
Are you transferring data over JSON?

[2018-12-28 13:33] wolfy-j commented on #18
Should I convert this ticket into Wiki or there is still outstanding questions ?

[2018-12-28 13:37] grachevko commented on #18
It will be premature because above snippets throws error in some cases which I am testing now.
Moreover calling `Kernel::reboot()` reduce benefits from RR as it slow down execution about 4 times in my benchmark.
Removing reboot produce new errors. Keep working.

[2018-12-28 14:09] grachevko opened #77 "[Feature Request] AccessLog"
RR not have enough features to be complete web server for now.
The one of required is a access log.

My suggestions about access log feature:
 - included out of the box
 - configurable log format
 - support all fields of [Apache Combined Log Format](https://httpd.apache.org/docs/2.4/logs.html#combined)
 - support additional fields:
 - - Custom headers (for example to print custom request id to tra

[2018-12-29 09:56] sxnazirov opened #78 "Is Yii 2.x Supported?"
Thanks for author!
Can this be used to host a Yii 2.x web app?

[2018-12-29 12:07] MohamedPHP opened #79 "Laravel: 1 - The Post Data Is Lost When Send A Request, The Headers Of The Request 'Content-Type':'application/json' Becomes 'application/html'"

[2018-12-29 12:43] alash3al commented on #60
Body data lose is here too, and yeah, I'm transferring json encoded data

[2018-12-29 12:57] Alex-Bond commented on #78
Unfortunately, all Yii versions not supporting PSR-7. Maybe in Yii 3 but I checked a few days ago and it looks like no support in it neither.

[2018-12-29 15:50] grachevko opened #80 "[Feature Request] Worker fatal error handling"
For now if worker crashed with fatal error the stack trace are print to browser.

I have several suggestions:
 - Prevent printing stack traces to browser
 - Add options to configure static html (or url request) for custom error page
 - Print stack trace to stderr
 - Implement [raven-go](https://github.com/getsentry/raven-go) and push errors to Sentry

[2018-12-30 11:17] Alex-Bond commented on #80
@grachevko im working on Sentry integration. Maybe will release after the New Year.

[2018-12-30 11:38] grachevko opened #81 "[Feature Request] Watchers"
Watchers - jobs generating special request from RR to workers.
This feature may useful for keep/close connection in workers, or many other custom jobs.

Suggestions:
 - Configure any counts of watchers
 - Worker must recieve information about watcher his called (to know whitch jobs to run)
 - 3 types of triggers
 - - Triggered once after specific idle time
 - - Triggered periodicaly by specific ti

[2018-12-30 12:30] wolfy-j commented on #80
We are handing fatal errors on php end, same as with php-fpm, don’t symfony wrap them with custom error handler?

[2018-12-30 20:04] grachevko commented on #80
@wolfy-j fatal error i mean is when php exit with non zero status code. In some cases it can send to sentry before exit, but it can't render user friendly error after.

While testing rr i was catch error where Sentry reach maximum nested function calls, for example. In this case rr have no option to report developer about error, only end user can.

[2018-12-30 20:31] wolfy-j commented on #80
Ok, `EventWorkerError` (https://github.com/spiral/roadrunner/blob/master/cmd/util/debug.go#L19) contains all the info including error code.

[2018-12-31 09:58] samdark commented on #78
3.x supports PSR-7: https://github.com/yiisoft/yii-web/blob/master/composer.json#L68

[2019-01-01 02:57] Alex-Bond commented on #78
@samdark How I can start the app with PSR request? Do you have example?

[2019-01-02 01:58] Alex-Bond commented on #78
Ok. Will try within next few days. If it works @wolfy-j  will add a wiki page.

[2019-01-02 08:31] wolfy-j commented on #81
I have an idea about that, i can create another service to watch any specif RR server (GRPC, Jobs or PSR) with ability to control workers.

[2019-01-05 00:22] charlesportwoodii commented on #78
For Yii2 I have a _very early_ working PSR-7 bridge I've been working on for a while that bridges a `Psr\Http\Message\ServerRequestInterface` to `yii\web\Request` and `yii\web\Response` back to a `Psr\Http\Message\ResponseInterface` for consumption by PSR-7 servers like RoadRunner.

It's available at: https://github.com/charlesportwoodii/yii2-psr7-bridge

At the moment it can mostly run the `yii2-

[2019-01-05 13:54] wolfy-j commented on #59
fixed in 1.3.0

[2019-01-05 13:54] #59 closed

[2019-01-05 13:54] wolfy-j commented on #74
added in 1.3.0, see bottom of https://github.com/spiral/roadrunner/wiki/Configuration

[2019-01-05 13:54] #74 closed

[2019-01-05 14:07] wolfy-j commented on #78
@charlesportwoodii have you tried to bench with keep-alive on?

[2019-01-05 19:09] charlesportwoodii commented on #78
@wolfy-j Yes and no.

`siege -R <(echo connection = keep-alive)` burns through sockets when `keep-alive` is configured, which causes siege to abort the test only after a few seconds. Since the metrics gathered were mainly to determine if the work-effort was worth pursuing or not, I didn't dive in much further since I was testing in non real-world conditions (both siege and rr running on the same m

[2019-01-09 05:52] AlexPravdin opened #83 "Connections hangs under Windows"
Windows 10
PHP 7.3.0
RR 1.3.0

Clean Symfony 4.2 Skeleton app.
Worker script is copied from here: https://github.com/spiral/roadrunner/wiki/Symfony-Framework with little path-related changes.
RR config:

[code]

Console rr output:

[code]

When I connect to the 8081 port, connections hangs and never ends. No response, no timeout errors. Right now I'm observing a 30-minute conection.

It seems ther

[2019-01-09 06:05] AlexPravdin commented on #83
Also I have a lot of questions about its operation caused by lack of documentation.

[2019-01-09 06:19] wolfy-j commented on #83
Per your config you listen on 8090 port. You can ask your questions as separate GitHub issues so we can clarify missing information in Wiki.

[2019-01-09 06:41] AlexPravdin commented on #83
Sorry, I was mistyping. I'm connecting to 8090 port.

[2019-01-09 06:53] wolfy-j commented on #83
I’ve you tried to request any static file? Have you tired to use simpler hello world worker?
Windows firewall sometimes will block ports without providing any feedback loop, this can not be checked on RR end. Try to use different port maybe, or make sure that RR is allowed to serve thought firewall. What happens when you try to stop rr, does it ends without any warnings?

[2019-01-09 08:50] AlexPravdin commented on #83
This is my fault. Placing the RR worker into the `src` directory caused this default Symfony's config in action:
[code]
So Symfony was including worker file on startup and worker was tried to connect to itself. Commenting this config or removing worker file from the src folder solved this problem.

[2019-01-09 09:02] wolfy-j commented on #83
Perfect :)

[2019-01-09 09:02] #83 closed

[2019-01-10 04:32] AlexPravdin opened #84 "Server crash under Windows after a number of pool restarts"
Windows 10 x64
RoadRunner 1.3
PHP 7.3.0
Pipes relay

I've set up File Watchers in PHPStorm to restart RR's pool on each source modification with the `http:reset` command. And after some time RR always crashes in this way:

[code]

[2019-01-10 05:47] AlexPravdin opened #85 "How to avoid processing the favicon requests?"
Browsers always tries to load the `favicon.ico` file from the root. How to avoid passing these requests to PHP?

[2019-01-10 07:30] wolfy-j commented on #85
RR passes all of non static requests to the workers, it does not contain routing logic rather than provided by static service. You can do it multiple ways:
1) put real favicon.ico
2) see @grachevko response
3) implement custom middleware on Golang end

[2019-01-10 07:32] AlexPravdin commented on #85
@grachevko Thanks for the feedback. But using this logic we don't need the `static` config section as this functionality can be made on top of RR.

As we already have the `static` configuration it would be fine to have a list of particular files in this section that RR will not handle in addition to directory configuration.

[2019-01-10 07:33] wolfy-j commented on #85
@AlexPravdin it already has such list, see `forbid`:

[code]

[2019-01-10 07:34] wolfy-j commented on #85
Unless you mean extension which static service MUST always handle.

[2019-01-10 08:00] AlexPravdin commented on #85
@wolfy-j I was tried to use the `forbid` option but it does'n worked for me.
I have the following file:

`public/1.html`

And the following `static` section:

[code]

But requests to `public/1.html` are never served to PHP (at least breakpoint in the first line of the `$psr7->acceptRequest()` loop is not reached) while the `html` extension is not listed in the `forbid` parameter (and is it a list

[2019-01-10 08:06] AlexPravdin commented on #84
Thanks!

[2019-01-10 08:11] wolfy-j commented on #85
This is inverse logic, `forbid` forbids static service to server files of specific extension *as files*, meaning requests will always be passed to PHP. We can add another directive such as `always` for the logic you need.

[2019-01-10 08:16] AlexPravdin commented on #85
@wolfy-j Yes, an option to list files to always treat them as static even they are not exists would be very helpful for my case to avoid noisy files whose purpose is only to improve the app server functionality.

[2019-01-10 08:19] Alex-Bond commented on #80
I finished beta version of sentry integration - https://github.com/Alex-Bond/roadrunner/tree/sentry
@wolfy-j any ideas how to "package" service? We probably have to write some sort of composer for RR that gonna add requirements and code to different files.

[2019-01-10 08:30] AlexPravdin commented on #85
@wolfy-j Could you also mention please in the docs that the `forbid` option is related to the static service only? This comment:

is not so clear to understand that you mean serving by the static service, not by http service.

[2019-01-10 08:43] wolfy-j commented on #85
By static service, sorry for the confusion.

[2019-01-10 08:50] grachevko commented on #80
In my opinion features like this must be out of the box because it wide uses, rather than needed for small count of projects.

[2019-01-10 10:30] Alex-Bond commented on #60
@alash3al @MohamedPHP can you lett Laravel version? I did additional tests and in all tests, I receive data (Laravel 5.7).

[2019-01-10 10:31] Alex-Bond commented on #60
Updated worker file to 5.7 (looks like they changed bootstrap sequence in last versions)
[code]

[2019-01-10 10:33] Alex-Bond commented on #78
Update: i tried to connect RR to Yii3. There some problems with integration. I already contacted @samdark about them.

[2019-01-10 10:34] Alex-Bond commented on #80
@wolfy-j what do you think? We can include it in the main package. It just will not start if no DSN provided...

[2019-01-10 13:07] wolfy-j commented on #80
Hi,

this is example of how we pack services:
https://github.com/spiral/jobs/tree/2.0
https://github.com/spiral/php-grpc

If packed properly the only thing you have to do to connect it is to update your main.go file
https://github.com/spiral/roadrunner/wiki/Building-Server
https://github.com/spiral/roadrunner/wiki/Writing-Services

@grachevko @Alex-Bond since we can build rr in any form i can crea

[2019-01-10 15:18] wolfy-j commented on #85
@AlexPravdin i'm going to name this option "always", but i'm not sure if this is the best name:
[code]

Any ideas?

[2019-01-10 15:34] jainpiyush19 opened #785 "[RR1, GRPC] Does php-grpc support streaming grpc responses ?"

[2019-01-10 17:51] fenric commented on #62
worker.php

[code]

everything works great, check:

[code]

you can watch [awesome-skeleton-roadrunner](https://github.com/sunrise-php/awesome-skeleton-roadrunner) for an example (this is not Slim but the principles are similar).

[2019-01-10 18:04] fenric commented on #62
You can watch [awesome-skeleton-roadrunner](https://github.com/sunrise-php/awesome-skeleton-roadrunner) for an example (this is not Slim but the principles are similar).

[2019-01-10 18:59] mnavarrocarter commented on #85
Personally, I handle this in my PHP. My first middleware is a static file middleware. Works like a charm.

[2019-01-10 23:45] AlexPravdin commented on #85
@wolfy-j As from my point of view, the clear option set might be like this:

[code]

File mask syntax can be taken from `.gitignore`, for example, to be familiar for most developers.

[2019-01-11 03:54] Alex-Bond commented on #80
Damn! I have writing tests :(

[2019-01-11 06:42] Alex-Bond commented on #60
When i was working on Yii integration i found an interesting thing - Yii doesn't see body if i don't rewind body object before passing to it.
@alash3al  @MohamedPHP  can you try to call `$req->getBody()->rewind();` after `try {`?

[2019-01-11 06:49] Alex-Bond opened #87 "[Suggestion] Slack/Telegram channel"
Hey!

How about some Slack or Telegram channel for all quick tasks?

[2019-01-11 09:55] wolfy-j commented on #85
File masks would be outside of the scope of what i have already build. For now i will keep default implementation with ability to replace static server with more sophisticated implementation.

[2019-01-11 09:56] wolfy-j commented on #87
Yeah, i'm talking to my devops to deploy forum for this tool. Telegram or Discord channel will work fine as well, i'll think about it.

[2019-01-11 13:34] wolfy-j commented on #85
Fixed in 1.3.1, use `always` directive of static service as mentioned above.

[2019-01-11 13:34] #85 closed

[2019-01-11 13:34] wolfy-j commented on #84
Fixed in 1.3.1

[2019-01-11 13:34] #84 closed

[2019-01-11 13:42] wolfy-j commented on #71
You can now build RR locally with or without additional services. See https://github.com/spiral/roadrunner/wiki/Quick-Builds

[2019-01-11 13:46] wolfy-j commented on #80
Please check: https://github.com/spiral/roadrunner/wiki/Quick-Builds

If you'll pack your service similar to other services you will be able to build rr with sentry support by simply using (assuming sentry is in `Alex-Bond/sentry`):

[code]

[code]

[2019-01-11 13:46] Alex-Bond commented on #71
@wolfy-j how about removing Docker dep? Building RR inside Docker inside Docker (2 times) not so cool idea :)

[2019-01-11 13:47] wolfy-j commented on #71
I do not expect it to be build in Docker but outside. This approach gives us flexibility to build any RR version based on custom specs. I'm still open to implement `rr-download` but without Symfony/Console dependency :)

[2019-01-11 13:49] Alex-Bond commented on #80
@wolfy-j  what about event listeners?

[2019-01-11 13:49] wolfy-j commented on #71
You can also compile it outside of your container, thought in this case I might need to add -os flag as currently it detect the OS on host machine.

[2019-01-11 13:51] wolfy-j commented on #80
@Alex-Bond you can do deep integration test like here https://github.com/Alex-Bond/roadrunner/blob/sentry/service/http/service_test.go#L347

[2019-01-11 13:51] Alex-Bond commented on #71
@wolfy-j how about adding the flag to build in local env? Like qbuild -local.
Imagine the situation - you building RR using Jenkins in k8s. In this case, you running agent inside pod already. Running pod inside pos is not a good idea.

[2019-01-11 13:53] Alex-Bond commented on #80
@wolfy-j no. i mean how do you integrate event listeners? https://github.com/Alex-Bond/roadrunner/blob/sentry/cmd/rr/main.go#L50

[2019-01-11 13:54] wolfy-j commented on #71
It is actually intended to build in local env, this is the approach my DevOps requested (specifically to use with Jenkins). You expect to build (or use already build version) rr locally and then pack it with the rest of your applications before deployment.

[2019-01-11 13:55] wolfy-j commented on #80
Ah. Request http dependency here https://github.com/Alex-Bond/roadrunner/blob/sentry/service/sentry/service.go#L18

Like here: https://github.com/Alex-Bond/roadrunner/blob/sentry/service/static/service.go#L23

[2019-01-11 13:59] wolfy-j commented on #80
I would also propose you to write service code only without full fork of RR. It would be much easier to distribute this way.

[2019-01-11 14:04] Alex-Bond commented on #71
Thats not a really good idea to have binaries inside git.

[2019-01-11 14:05] wolfy-j commented on #71
There is no binaries in git.

[2019-01-11 14:08] Alex-Bond commented on #71
If you compile it locally, how you will pass it to jenkins? Jenkins running whole build process inside docker.

[2019-01-11 14:17] wolfy-j commented on #71
I'm not fully aware of the details where Jenkins is building Docker images, but you convinced me that this approach might not work for everyone. I'll try to come up with alternative.

[2019-01-12 01:08] Alex-Bond commented on #71
@wolfy-j while preparing Sentry package i found a pretty interesting thing - how we will sen dependancy? Like what if my module depends on some internal or 3d party module and must be called only after deps injected?

[2019-01-12 01:16] Alex-Bond commented on #80
Here what come with: https://github.com/UPDG/roadrunner-sentry

[2019-01-14 07:19] kaizer666 opened #90 "Nginx proxy"
How to configure Nginx proxy to send real IP?

[code]

This config doesn't work (((

[2019-01-14 13:36] wolfy-j commented on #90
Are you looking to get real-ip in PHP application?

[2019-01-15 00:49] AlexPravdin commented on #85
Problem solved, thanks!

[2019-01-16 13:07] Ostap34JS opened #91 "Laravel - sessions don't work (cookies problem)"
# Steps to reproduce
- `composer create-project --prefer-dist laravel/laravel laravel57`
- `cd laravel57`
- edit env file - database connection
- `php artisan make:auth`
- `php artisan migrate`
- do this steps: https://github.com/spiral/roadrunner/wiki/Laravel-Framework
- `rr -v -d`
- Open browser and go to http://0.0.0.0:8080/register, fill out the form, submit and see the 419 ERROR
# Environment

[2019-01-16 13:13] wolfy-j commented on #91
Can it be related to https://github.com/spiral/roadrunner/issues/18 ?

[2019-01-16 13:19] Ostap34JS commented on #91
@wolfy-j maybe yes

[2019-01-16 20:42] wolfy-j commented on #80
Can you please make version release? I’m think to add it into ce build.

[2019-01-16 22:31] Alex-Bond commented on #80
@wolfy-j done

[2019-01-17 01:49] Alex-Bond commented on #60
@tectiv3 can you send em version of Laravel with Example or request and expected response? I need a little more debug info.

[2019-01-17 02:06] tectiv3 commented on #60
[code]
[code]
well, currently response is - `missing required data`, cause request data is empty.
And laravel version is `5.7.20`

[2019-01-17 03:12] acelot opened #92 "Custom HTTP methods treated as GET"
**RR version:** 1.3.1
**PHP:** 7.3

I noticed that custom methods (like `VOTE`) interpreted by rr like `GET` method and rr omits message body.

[code]

When I send a `VOTE` request, it returns me an empty body:
[code]

And when I send `POST` request, it returns a correct body:
[code]

How to make `rr` not to lose the message body?

[2019-01-17 04:00] Alex-Bond commented on #60
Good news - i found the problem. Laravel removing headers. Investigating reason.

[2019-01-17 04:44] Alex-Bond commented on #92
@acelot pull request created. Hopefully, today will be merged.

[2019-01-17 04:45] Alex-Bond commented on #91
@wolfy-j  @Ostap34JS I think it caused by #93

[2019-01-17 06:40] #92 closed

[2019-01-17 07:32] dimkabelkov opened #95 "Not debud and verbose after cli ./rr http:reset"
php code

`while ($req = $psr7->acceptRequest()) {`
`    try {`
`        error_log('log first run'); //log`
`        $resp->getBody()->write("hello world");`
`    } catch (\Throwable $e) {`
`        $psr7->getWorker()->error((string)$e);`
`    }`
`}`

`./rr server -d -v`

`DEBU[0000] [static]: disabled`
`DEBU[0000] [rpc]: started`
`DEBU[0000] [http]: started`
`INFO[0004] 172.19.0.1 {3.73ms} 200 GE

[2019-01-17 07:34] dimkabelkov commented on #95
./rr
RoadRunner, PHP Application Server:
Version: 1.3.0, 2019-01-05T16:40:15+0300

[2019-01-17 09:09] wolfy-j commented on #95
I'm not able to reproduce this bug. Have you tried 1.3.1 (the part regarding error log forwarding did not changed since 1.2.8 but thought).

http://prntscr.com/m8bl0o

[2019-01-17 09:37] dimkabelkov commented on #95
dated to 1.3.1, everything works

[2019-01-17 09:37] #95 closed

[2019-01-17 09:47] Ostap34JS commented on #91
@Alex-Bond wow, Thank you for fix!
Then i`m wait to pull request will be merged

[2019-01-17 09:55] #60 closed

[2019-01-17 10:09] wolfy-j commented on #91
Merged and released.

[2019-01-17 10:09] Ostap34JS commented on #91
Coool, ok - i`m go to try new changes

[2019-01-17 10:15] Alex-Bond commented on #90
Well, we can add X-Real-IP check to the client.
I dont know how good is to do that. I think we need to check how php-fpm doing it.

[2019-01-17 10:17] Ostap34JS commented on #91
i`m go to my roadrunner cloned directory, run `git pull`, and `sudo make`
and run my laravel project - sessions also not work.

[2019-01-17 10:18] wolfy-j commented on #91
The fix is actually in composer dependency not rr binary.

[2019-01-17 10:30] Ostap34JS commented on #91
oh yes, csrf token exists, but it always change if page refreshed

[2019-01-17 10:33] Ostap34JS commented on #91
the problem is that the csrf token is not saving and always updated

[2019-01-17 10:36] Alex-Bond commented on #91
@Ostap34JS i love Laravel. Not it doesn't see cookies... in some cases.

[2019-01-17 10:48] Ostap34JS commented on #91
it's bad (

[2019-01-17 10:56] Alex-Bond commented on #91
@Ostap34JS  actually now its working, but i didnt change anything.

[2019-01-17 10:58] Ostap34JS commented on #91
You mean in your computer it works?

[2019-01-17 11:04] Alex-Bond commented on #91
@Ostap34JS yeap.
Sorry for russian :)

Проверил в инкогнито и обычном режиме - вс еок. Дает зарегаться и залогинится.
Но столкнулся с странным поведением когда я делаю логаут, но он не логаутит. Это я уже хз что за фигня. Возможно где-то не донастроил сесии в ларе.

[2019-01-17 11:05] wolfy-j commented on #91
А при логауте как он удаляет куки?

[2019-01-17 11:06] Ostap34JS commented on #91
@Ostap34JS у меня кстати тоже такое было, но потом вообще перестало логинить

[2019-01-17 11:15] Alex-Bond commented on #91
@wolfy-j при логауте согласно коду он просто обнуляет сессию (атрибуты в []). Но вместе с этим он создает новую сессию и отправляет новую куку с сессией.
А дальше начинается веселая часть - при ребуте он то считает что я залогинен, то нет. Такое чувство что прописывает что то в $_SESSION и $_COOKIE, но при дебаге все чисто.
Не пойму откуда эта скотина берет не те данные.

[2019-01-17 11:17] Alex-Bond commented on #91
Меня еще сильно ссмущает то что он шлет set-cookie 2 раза подряд.

[2019-01-17 11:22] wolfy-j commented on #91
Если он прописывает что-то в $_SESSION и $_COOKIE то однозначно утекают данные в следующий запрос... Трудно сказать, мы не пользуемся Ларавел (

[2019-01-17 11:22] wolfy-j commented on #91
А ядро Ларавела перезагружается между запросами?

[2019-01-17 11:33] wolfy-j commented on #91
А если maxJobs = 1 то работает стабильно?

[2019-01-17 11:36] Alex-Bond commented on #91
@wolfy-j  сделал numWorkers: 1 и все стало стабильно. 100% глобалка гдето. Осталось понять где!

[2019-01-17 11:59] Alex-Bond commented on #91
Нащупал что то интерестное. \Illuminate\Auth\SessionGuard не обнуляется при выставлении нового запроса. Теперь надо придумать как его поправить.

[2019-01-17 12:09] Alex-Bond commented on #91
Так. Мне вроде удалось решить проблему. Завтра я попробую это оформить по человечески.

[2019-01-17 12:23] Alex-Bond commented on #91
@wolfy-j @Ostap34JS
So, a small update in English because i feel like i figure out a problem.
Looks like Laravel doesn't reset few components with terminate() call and we have to reset it manually.
In order to do that, i have to create a wrapper around an application like https://github.com/php-pm/php-pm-httpkernel have.
Its already 4AM (4:00) at my place, so i will look into this before the end o

[2019-01-17 12:25] Alex-Bond opened #96 "[WIP] Laravel Support"
Hi everyone!

After few usefull issues i figure out that Laravel integration is not so easy and have some hidden problems.
At this moment RoadRunner **DOES NO SUPPORT LARAVEL**!
Do not try to use proposed connector at any env.

I will keep everybody posted about progress and resolution of problem.

ETA: End of the week.

References: #60 #79 #91

[2019-01-17 12:37] Alex-Bond commented on #78
@wolfy-j @sxnazirov
Small update - so, the actual problem with Yii3 is much deeper than i expected.
I recommend closing this issue for now with resolution "Not possible at this moment, ETA unavailable".
I keep working on pull requests to Yii3 to fix some fundamental problems that prevent us from using it with RR.

As of Yii2 - i believe it will have the same problem with resetting data between req

[2019-01-17 12:44] wolfy-j commented on #78
Agreed, we can come back to this issue once Yii3 is released. Current answer is - NO, it's not possible.

[2019-01-17 13:19] samdark commented on #78
@Alex-Bond is working on it for 3.0.

[2019-01-17 17:37] charlesportwoodii commented on #78
@Alex-Bond

For the Yii2 bridge I mentioned, the issues you mentioned (Yii2's error handler and resetting the application) are solved.

The main loop with the bridge presently looks as follows:

[code]

With the configuration looking like:

[code]

I have a running checklist detailing the current progress at the bottom of https://github.com/charlesportwoodii/yii2-psr7-bridge. Excluding a few items

[2019-01-17 22:13] samdark commented on #78
That's great for 2.0. Keep up digging. For 3.0 it's a good way to check if framework is ready to work in such mode.

[2019-01-17 22:31] stefanos82 opened #97 "[💡FEATURE REQUEST]: Adaptive scaling of the workers"
With PHP-FPM we have three options: `static`, `dynamic`, and `ondemand`.

Can we accomplish such thing with rr? I don't think it makes sense to waste resources when a website is more or less in idle mode; It should be able to limits its workers to the lowest level possible for obvious reasons.

Thoughts and / or suggestions?

[2019-01-17 22:40] stefanos82 commented on #71
I was about to open a new ticket to ask a question about the binary file for `rr`.

Shouldn't composer execute `vendor/spiral/roadrunner/build.sh` right after the package was installed?

The only problem I have with this option is that I have to symlink the generated file to `vendor/bin/` in order to use it as I want to.

Has anyone else figure out a better way?

[2019-01-17 23:21] charlesportwoodii commented on #78
@samdark

I think the only major issue is going to be around `yii\web\Session`. `Yii::$app->getSession->close()` doesn't seem to do the trick as I would expect. `yii\web\CacheSession` or a custom session handler could probably solve that problem - I just haven't gotten there yet.

Aside from that, the only real "annoyances" right now are:
- `YII_BEGIN_TIME` is defined by `BaseYii`, so the "request

[2019-01-18 01:19] Alex-Bond commented on #78
@charlesportwoodii that you for a clarification! I checked your code but didn't find how you reset database connections. Can you point me?

[2019-01-18 01:22] Alex-Bond commented on #97
@stefanos82 hi! The idea of RR is that we keep in memory as much code as possible and don't have to bootstrap system on each request.
PHP-FPM working differently. They spawning workers but didn't do anything until you make the request and after it destroys worker.
From my perspective, it doesn't make sense to create a dynamic amount of workers because it will kill mail purpose of the system.

[2019-01-18 01:33] charlesportwoodii commented on #78
@Alex-Bond,

That's one of those not-yet-implemented but I have a plan for tasks. = )

It'll probably go [here](https://github.com/charlesportwoodii/yii2-psr7-bridge/blob/master/src/web/Application.php#L129) once I add it. Yii2 doesn't enable the `db` component by default, and it can be named something other than `db`, so I just need to search through the components for instances of `yii/db/Connec

[2019-01-18 01:47] tectiv3 commented on #96
Do you need any help with that?

[2019-01-18 07:10] Alex-Bond commented on #96
@tectiv3 im ok for now. For me request-response is ok. The problem is in resenting objects.

[2019-01-18 09:33] wolfy-j commented on #78
I'm going to highlight this ticket in README in case if someone else can help.

[2019-01-18 09:38] wolfy-j commented on #97
This is possible and has been planned from the beginning (that's why worker pool has name StaticPool and interfaced for usage in Server).

The only trick in this feature is to properly define scaling logic to push/pull workers from allocation channel. We are very actively talking about this feature internally, cos if it's done wrong effect on application can be very harmful.

[2019-01-18 15:06] stefanos82 commented on #71
OK, now I'm really confused.

If that's the case, then what's the use of `composer req spiral/roadrunner symfony/psr-http-message-bridge` as described in https://github.com/spiral/roadrunner/wiki/Laravel-Framework?

If I go to `vendor` directory I can clearly see `spiral/roadrunner/` that contains all the necessary source code.

If I don't need the Go runtime, what's the purpose of this dependency

[2019-01-18 15:11] stefanos82 commented on #97
Hmmm, I see.

Well, since we care about performance, maybe we should have figured the number of workers based on CPU cores? That's also an option I would say.

[code]

[2019-01-18 15:18] wolfy-j commented on #97
I can only set it as default value for the pool.numWorkers option.

[2019-01-18 15:22] stefanos82 commented on #97
OK, what if I would like to increase or decrease the number of CPU workers on the fly. Is there any hotkey for this option?

[2019-01-18 15:32] wolfy-j commented on #97
Currently this API is not exposed, but it is possible to configure pool with different configuration: https://github.com/spiral/roadrunner/blob/master/server.go#L113

[2019-01-18 16:05] stefanos82 commented on #97
You mean to use Reconfigure...when exactly? I'm referring at runtime.

If for instance, I run `rr` but I realize after a while that my traffic needs more workers.

Am I forced to stop it, increase the number for workers in `.rr.yaml`, and then restart it?

[2019-01-18 16:07] wolfy-j commented on #97
Currently yes, Reconfigure is what used in http:reset which you call in runtime (without stopping the server). I guess I can add a flag to alter number of workers for this function.

[2019-01-18 16:09] stefanos82 commented on #97
That would be more than awesome.

[2019-01-18 20:21] stefanos82 commented on #71
I just saw the 'src' folder that contains all the PHP files. Silly me...

[2019-01-19 12:20] stefanos82 opened #98 "Question: Project initialization?"
Wouldn't be nice to have a command `rr init --laravel-worker` that emits a `worker.php` inside a laravel project, the same as in https://github.com/spiral/roadrunner/wiki/Laravel-Framework that also generates a `.rr.yaml` file by default?

Then you could simply run `rr serve` and you would have a running server ready for use.

[2019-01-19 12:41] Alex-Bond commented on #98
Good idea! I will try to do some kind of proof of concept after i fix Laravel integration.

[2019-01-19 12:51] stefanos82 commented on #98
That's awesome! The same concept should be applicable for all projects, such as Symfony et al.

[2019-01-21 19:58] charlesportwoodii commented on #78
Minor updates:

1. `\yii\db\Connection` instances are identified and closed at the end of each request: https://github.com/charlesportwoodii/yii2-psr7-bridge/blob/master/src/web/Application.php#L160.
2. I found a way to get `\yii\web\Session` to work with the PSR-7 response object and play nicely with `ext/session`. All the normal extensions of `yii\web\Session` should work out of the box since th

[2019-01-22 04:19] AlexPravdin opened #99 "Installation documentation error"
Hello.
I'm using this page https://github.com/spiral/roadrunner/wiki/Installation as manual for RR installation. I've copied RR sources under the `/go/src` directory and run the `go get ./...` command to obtain dependencies. But it doesn't end successfully:

[code]
But anyway, RR build runs successfully after that. But I can't automate this process as command end with non-zero return code. How to

[2019-01-22 05:36] AlexPravdin opened #100 "How to stop RR server using command line?"
Hello.
How to stop RR server using command line?

[2019-01-22 07:44] wolfy-j commented on #99
How are you trying to install it? Are you using `go install`? Please try `make install` instead.

[2019-01-22 07:44] wolfy-j commented on #100
Send it SIGTERM or SIGKILL.

[2019-01-22 08:15] AlexPravdin commented on #100
Before that I have to get PID, right?
What about Windows?

[2019-01-22 08:17] AlexPravdin commented on #99
I'm copying sources into the clear golang docker image, and the next command is `go get ./...`. Should I run `make install` instead? I was tried to run `make` and it failed with many arrors on non-existing dependencies.

[2019-01-22 08:31] wolfy-j commented on #99
What go version do you use? 1.11 should automatically download them all. Anyway i recommend use `go mod` instead of `go get` as it will pull correct dependencies.

[2019-01-22 08:31] wolfy-j commented on #100
I'm not sure what is the proper sequence to stop it on windows, but principle is the same. Usually you sasve the process pid on service start.

[2019-01-22 08:39] AlexPravdin commented on #100
It seems it would be very nice to have a way to stop it like all others. At least nginx and apache have such commands.

[2019-01-22 08:46] AlexPravdin commented on #99
I was using the last golang 1.10 official docker image.
Please update the docs to avoid stucks from users who don't know golang details but just wants to compile RR.

[2019-01-22 11:17] wolfy-j commented on #99
I think 1.10 is valid version but i will bump it up to 1.11 just in case.

[2019-01-22 11:18] wolfy-j commented on #99
Let me know if you managed to solve your build issue. I have updated Wiki.

[2019-01-22 11:19] wolfy-j commented on #100
Actually nginx is stopped exactly same way: https://www.keycdn.com/support/nginx-commands

The reason why it looks easier cos you have service wrapper which provides shortcut like `service nginx stop`.

[2019-01-22 23:51] AlexPravdin commented on #100
Yes, I see. Could you add the similar command please?

[2019-01-23 13:04] pimshtein opened #101 "Is php 5.6 support?"
Hi
Does php 5.6 support it?

[2019-01-23 13:05] #101 closed

[2019-01-23 15:31] #99 closed

[2019-01-24 04:47] nextat commented on #62
It's possible to reuse the same \Slip\App object by reseting Request and Response in the container.

https://github.com/n1215/roadrunner-docker-skeleton/blob/slimphp/worker.php

[2019-01-24 05:01] n1215 commented on #62
It's possible to reuse the same \Slip\App object by reseting Request and Response in the container.

https://github.com/n1215/roadrunner-docker-skeleton/blob/slimphp/worker.php

[2019-01-24 21:54] #56 closed

[2019-01-24 21:59] wolfy-j commented on #96
Closed as stalled duplicate of #91

[2019-01-25 04:08] Alex-Bond commented on #96
I create beta version of new bridge - https://github.com/UPDG/roadrunner-laravel
@tectiv3 @Ostap34JS can you check that?

[2019-01-25 10:50] tectiv3 commented on #96
it's alive! it's aliive!
yep, works perfect. Thank you :)

[2019-01-25 10:54] wolfy-j commented on #96
@Alex-Bond let me know when i can close other stories :)

[2019-01-25 11:03] barbushin commented on #91
I think, for complete Laravel/Lumen integration with best performance, it will be great to implement same service providers and DI instances resets logic as here https://github.com/swooletw/laravel-swoole/blob/master/config/swoole_http.php#L92-L120

[2019-01-25 12:02] Alex-Bond commented on #96
@wolfy-j i want to have at least 1 more confirmation from 3d side)

[2019-01-25 12:12] mnavarrocarter opened #102 "Restart Workers on File Changes"
It would be pretty cool to include something that works like Nodemon in this library: a process that scans for `*.php` file changes in the root folder of the project and then restarts the workers if any change in code is encountered.

It could be optional and configurable in the `yaml` file. Suggestion:

[code]

I know a little bit of Go, so I could give it a try. I imagine the way to implement th

[2019-01-25 12:36] wolfy-j commented on #102
You can surely write module like that, or use existing solutions like i found here:
https://github.com/fesor/life-without-orm/blob/master/etc/scripts/checkDeps.sh
https://github.com/fesor/life-without-orm/blob/master/etc/scripts/devServer.sh

[2019-01-25 12:41] wolfy-j commented on #87
You can use https://discord.gg/TFeEmCs in meantime.

[2019-01-25 21:18] wolfy-j commented on #91
Please refer to https://github.com/spiral/roadrunner/issues/96

[2019-01-25 21:22] wolfy-j commented on #91
@barbushin this story has been addressed by #96. Can you please put your ideas/links regarding performance optimizations into separate story so we can avoid loosing it?

Thank you :)

[2019-01-25 21:23] #87 closed

[2019-01-25 21:23] wolfy-j commented on #18
#96

[2019-01-25 21:30] wolfy-j commented on #62
@fenric @n1215 both of your links has been added to the Wiki.

[2019-01-25 21:31] wolfy-j commented on #75
I would close this issue due being stalled (the rest of conversation can be moved to Discord). All of the links added here are moved into Wiki. The only framework which is missing from this list is Spiral and it will be added as separate section later.

[2019-01-25 21:31] #75 closed

[2019-01-25 21:34] wolfy-j commented on #97
After couple of intense internal discussions we have come up with a plan of adding basic balancing mechanism based on 2 derivative metrics - allocation time and processing time. Thought more metrics can be added in a future, this two should cover a lot of possible use cases such as a lot of fast queries, few amount of large queries and so on.

If anyone have anything to share regarding adaptive sc

[2019-01-25 21:50] stefanos82 commented on #97
It would be a lot helpful if you could expand more on this, much like a case study, what led you to choose these two derivative metrics, and so forth.

I could investigate it and see whether there is a better alternative that could be applied.

[2019-01-25 22:22] wolfy-j commented on #97
Well, cost they both derivative :) Both metrics depends on CPU load, number of connections, processing time and etc.

Allocation time = how long you have to wait to get free worker (average).
Processing time = hold long you have to wait to get your job done (average).

In theory even one of this metrics should include enough information to scale system up and down.

I will try to explain couple sc

[2019-01-25 22:32] wolfy-j commented on #97
I believe we can also calculate 2nd derivative to build better prediction logic but this is not type of rabbit hole I would like to jump into... yet.

[2019-01-26 04:37] barbushin commented on #96
Guys, please take a loot at this solution https://github.com/swooletw/laravel-swoole/blob/master/config/swoole_http.php#L92-L120

Looks like to make roadrunner integration with Laravel to be most flexible and fast, it should implement same logics (service providers and instances restarters + cached instances sandbox).

Thank you!

[2019-01-26 05:53] Alex-Bond commented on #96
@barbushin wow. that a lot of reseters. I need to look into each of them.

[2019-01-26 14:10] stefanos82 commented on #97
Very informative. Now I have a clearer view about the whole thing, thank you.

[2019-01-27 07:47] #91 closed

[2019-01-27 08:59] wolfy-j opened #103 "Improve Laravel integration performance"
Guys, please take a loot at this solution https://github.com/swooletw/laravel-swoole/blob/master/config/swoole_http.php#L92-L120

Looks like to make roadrunner integration with Laravel to be most flexible and fast, it should implement same logics (service providers and instances restarters + cached instances sandbox).

Thank you!

_Originally posted by @barbushin in https://github.com/spiral/roadr

[2019-01-27 08:59] #96 closed

[2019-01-27 09:05] wolfy-j opened #104 "test github hook passed to discord"

[2019-01-27 09:05] #104 closed

[2019-01-27 09:05] wolfy-j commented on #103
test github ticket comment

[2019-01-28 03:53] Alex-Bond opened #105 "[Proposition] Standardize integrations"
Hi everyone!

When I was working on Laravel integration got an idea for PHP side of RoarRunner.
Right now we tell users to create `psr-worker.php` file manually and just providing a lot of code.
What if we simplify it?

Here is my idea:
We create interface `IntegrationInterface` like this:
[code]

Move request loop into RoadRunner library and leave in `psr-worker.php` something like this:
[code]

[2019-01-28 09:17] grachevko commented on #105
I'm :-1: for this integration. All application specific processes must be on application side.
I see only one benefit of this, is a quick start. But Integration in this way reduce flexibility for end users whitch also remove any benefits from quick start.
You can't fix all user projects problem on your side

In my opinion, creating frameworks integrations for RR is a mistake like framework integra

[2019-01-28 09:19] wolfy-j commented on #105
I have been thinking about it for a while, i can do it by creating another dependency like `spiral/rr-workers` but i can't remove this dep from this package until 2.0 as it will be BC.

[2019-01-28 09:32] wolfy-j commented on #105
I'll think how to make less damaging dependency split, this is exactly the problem i'm trying to avoid when i'm speaking about https://github.com/spiral/roadrunner/pull/73

[2019-01-28 11:19] Alex-Bond commented on #105
Everyone can implement their own connector bu creating a class that implements `IntegrationInterface`.
If your application requires some advanced integration you always can from original integration and adjust it for yourself, but in how much cases you will change actual `psr-worker.php` or `index.php` if you using other servers?
My idea mostly covers standardization of community-based integration

[2019-01-28 11:23] Alex-Bond commented on #105
Only if you dont want `psr/http-message` as a dependency. Otherwise, we will create much more troubles with our own requests and responses.

[2019-01-29 01:08] stefanos82 commented on #97
This article could be used as a source of inspiration: https://geeks.uniplaces.com/building-a-worker-pool-in-golang-1e6c0fdfd78c

It does not mean it demonstrates 100% what I have suggested, but the concept around dynamism is demonstrated in it.

Please bear in mind that there is a high possibility that I'm wrong about the article's content and that I most probably have misunderstood its concept.

[2019-01-30 12:51] Alex-Bond commented on #105
I decide that I gonna do this idea as a side library. I will release it after HttpClient will be merged.

Thank both of you for feedback.

[2019-01-30 12:51] #105 closed

[2019-01-30 16:15] tarampampam opened #107 "[etc][laravel] dd() and dump() functions can works!"
Using Laravel + RoadRunner you cannot use `dd()` and `dump()` functions in your applications for fast code debugging (you will catch error like `... possible echo ...`). But, with small changes in your code (or install one package into your `dev` dependencies) - you can :)

Without many words, look next commits:

- https://github.com/avto-dev/dev-tools/commit/20689dce1455bde58e2c351963ec5903809e70

[2019-01-30 16:35] wolfy-j commented on #107
You can post it (and i can pin it at our Discord service), this is not the issue :)

[2019-01-30 16:35] #107 closed

[2019-01-30 16:36] wolfy-j commented on #107
Discord link located in README.md file, also check this way of dumping as well: https://github.com/spiral/roadrunner/wiki/Debugging

[2019-01-30 16:42] tarampampam commented on #107
Sure, this is not issue ("tag" `etc` says about it, i think)! But a lot of people at first look for answer into issues :)

[2019-01-30 16:43] wolfy-j commented on #107
Well, this ticket will be here forever now, so they will find it

[2019-01-30 16:59] tarampampam commented on #107
And thank you very much for the RR. This is awesome!

[2019-01-31 10:17] fenric opened #108 "[IDEA] I have thoughts about the .rr config"
Do you plan to implement loading configurations from files:
`.rr.yml.dist` – Store it in GIT. Not a priority file. Default config.
`.rr.yml` – For local. Priority file/config.

Example usage:
[code]

[2019-01-31 10:32] wolfy-j commented on #108
I do not plan to implement such feature as it might cause unexpected results when handled properly.

[2019-01-31 10:35] fenric commented on #108
I understand you, thank you very much for the quick answer. I will use `.rr.yml.example` :)

[2019-01-31 10:35] #108 closed

[2019-02-01 15:06] Alex-Bond opened #110 "[Need Help] Verify new Symfony integration"
Hi everyone!

I just finished first alpha version of my Symfony integration - https://github.com/UPDG/roadrunner-symfony
My integration doesn't use PSR7 bridges and doesn't require additional conversion of the request (no PSR bridge, YAY!). Thanks to that my integration doesn't have #18 problem. YAY YAY!

I need your help with testing it, especially with Symfony under version 4 (2 and 3).

Please,

[2019-02-02 04:37] Alex-Bond commented on #102
Beta version - https://github.com/UPDG/roadrunner-hotreload
My version is not so optimized, but wors good on any platforms.

[2019-02-02 12:51] tarampampam opened #112 "[bug] Missing POST data with header "Content-Type" that includes ";charset=...""
App | Version
--- | ---
RR | v1.3.3
PHP | v7.2.14
Laravel Framework | v5.7.24

## Short description

Using RR data in POST request is not available, if `Content-Type` header [includes charset declaration](https://www.w3.org/International/articles/http-charset/index) like `...;charset=UTF-8`.

### How reproduce this case

[code]

`app/Http/Kernel.php`:

[code]

`.rr.local.yml`:

[code]

`worker.php

[2019-02-02 12:54] tarampampam commented on #112
@Alex-Bond I tried, but problem persists

[2019-02-02 12:56] Alex-Bond commented on #112
@tarampampam got it. I will look into it soon. Sorry about that.

[2019-02-02 12:58] tarampampam commented on #112
Also, if `charset=...` is not presens - all works fine:

[code]

I think - trouble with headers that contains `;` char (on RR daemon side).

[2019-02-02 13:33] #112 closed

[2019-02-02 13:34] Alex-Bond commented on #112
@tarampampam  @wolfy-j will release new version soon.

[2019-02-02 13:39] tarampampam commented on #112
Wow! You are coding machines! :D

_/me waiting for the release for testing_

[2019-02-02 14:30] #62 closed

[2019-02-02 14:32] wolfy-j commented on #18
Please pay attention to #110 which provides native integration with Symfony.

[2019-02-02 14:48] tarampampam commented on #112
Yeah! It works for me now! @Alex-Bond @wolfy-j - great thx!

[2019-02-04 11:53] Alex-Bond commented on #18
@grachevko how do you check if there data in session? Because i can send cookie all the time if it not present, but the idea in native sessions is that php-fpm adds cookies only if you have data in the session. If session empty it will not add anything.

[2019-02-04 12:05] grachevko commented on #18
@Alex-Bond i don't check data in session. I see on session id, then send cookie if client session_id != server session_id.

[2019-02-04 12:11] Alex-Bond commented on #18
@grachevko technically its the same that i described earlier. The only better solution is to figure out how to check if there any data in session before sending cookies.

[2019-02-06 03:00] Alex-Bond commented on #18
Your method required to inject listener to SF? I tried that way without injecting and after few requests system stops returning me session data.

[2019-02-06 03:48] Alex-Bond opened #115 "[Idea] FastCGI listener"
Hey!

How about FastCGI listener instead of regular HTTP? I think it gonna be a faster and probably more advanced solution because most of the people still want to place Nginx in from of RR.

[2019-02-06 07:13] grachevko commented on #18
@Alex-Bond yes my listener is a part of sf and not related to rr directrly.

Russian:
Если сессии не было и во время запроса не произошло записи в неё, то и ID сессии не генерируется. В этом случае мой листенер не ставит куку.
Сессия может стартануть если кто-то попытается из неё читать без проверки что сессия isStarted(), такого поведения нужно избегать, если не хочешь ставить куку когда на сторо

[2019-02-06 07:21] Alex-Bond commented on #18
У меня всегда генерится айди :( И самое крутое что в какой-то момент перестает отдавать данные из сессии вообще

[2019-02-08 08:06] AlexPravdin commented on #115
I support this suggestion :)

[2019-02-08 08:10] AlexPravdin commented on #102
When developing, you can use the PhpStorm IDE built-in `File Watchers` feature to run RR with http:reset key.

[2019-02-08 08:15] AlexPravdin opened #116 "Working directory config"
Hello.
Thank you for the very good app.
But working with it in different environments (local dev, staging, prod) can makes it hard to run RR from the serving directory. And I didn't found any CLI/config command to set it up. Is there such command/config? Would you add it if there is no such comand? For example `http.rootDir`.

[2019-02-08 08:24] wolfy-j commented on #116
RR automatically detects the root directory based on the location of .rr config file, all of the paths are relative to this configuration.

[2019-02-08 10:11] AlexPravdin commented on #116
This require to store config files where the service wants and applies restriction. What if I don't want to store the config file in the web root but somewhere else where it is convenient for me?

[2019-02-08 10:20] wolfy-j commented on #116
I can add a flag to specify working dir directly then.

[2019-02-08 10:20] AlexPravdin commented on #116
Yes, it would be very appreciated, thanks!

[2019-02-11 06:25] BunnyHolder commented on #115
I run in production with symfony4.2 in docker container. I share mysql and redis resource with unix sock via docker volumes.  And I really would love that i could do that backwards.

I don't have skills in go, yet, but i can test in ubuntu/centos/docker setup in low and very high tier servers.

[2019-02-11 07:42] wolfy-j commented on #115
This is possible to implement using the same communication method between RR and PHP but the new frontend interface. https://golang.org/pkg/net/http/fcgi/ it sounds like Go MIGHT support FastCGI out of the box and compatible with net/http.

[2019-02-14 11:02] AlexPravdin opened #117 "Remove colors from console output when stdout is not a terminal"
When RR is run in Docker container and logs are written to plain text then text log messages have non-printing chars and reading logs become very painful:

As I understand it is possible to check output pipe type does it support colors or not. Because I saw when an application output to visual console have colors, but output to a text file don't. Or add an option to remove exsessive formatting.

I

[2019-02-14 11:04] AlexPravdin opened #118 "Ability to work without a config file"
After implementing #116 it is obvious that there should be a possibility to work without any config files, because all the settings may be set in command line. Could you add such a function please?

[2019-02-14 11:34] wolfy-j commented on #116
Expect in 1.3.5

[2019-02-14 11:47] AlexPravdin commented on #116
Thanks a lot!

[2019-02-14 11:55] wolfy-j commented on #117
Expect in 1.3.5

[2019-02-14 11:58] wolfy-j commented on #118
Expect in 1.3.5

[2019-02-14 12:20] #117 closed

[2019-02-14 12:20] #118 closed

[2019-02-14 12:20] #116 closed

[2019-02-14 14:34] lhkzh opened #120 "WebSocket Support ?"
how to ?
i want websocket

[2019-02-14 14:56] wolfy-j commented on #120
You can create a service which will mount to HTTP as middleware, then you can feed this service from PHP via API.

You can also make deeper integration when websocket events are being pushed to each worker as unique task.

[2019-02-14 15:16] wolfy-j commented on #120
Since "websocket" support is a fairly generic task, can you explain what is your specific use case? Push notifications to browser?

[2019-02-15 02:13] AlexPravdin opened #121 "Confusing config parameter name http.maxRequest"
Hello,
Thanks for your gread job! But I found confusing the http.maxRequest parameter name. Intuitively this name relates to the maxumim number of requests. But it defines the maxumim size. Is it possible to rename it to someting like `maxRequestSize`?

[2019-02-15 14:42] wolfy-j commented on #121
Unfortunately, it will cause BC on config level, this option will stay in config in this form till next Major release.

[2019-02-16 03:53] #120 closed

[2019-02-16 06:56] speller opened #122 "A way to define max execution time"
Hi,
Is there a way to define request max execution time? If a script will enter an infinite loop (for example) it seems it will never be killed.

[2019-02-16 09:49] speller commented on #18
This is my version of the Symfony worker which handles sessions almost correctly:

[code]

The only problem here is that the cookie output don't use cookie parameters like domain, path etc.

[2019-02-16 09:55] speller opened #123 "Can't get raw content if wrong Content-Type header"
Hi,
In my application it sometimes receive POST requests with JSON body but with the `application/x-www-form-urlencoded` content type. The script doesn't rely on $_POST or its equivalents, but just need to get the raw request content. But RR tries to convert request content to a form data and sends broken data to PHP. How can I get raw content even with a wrong header?

[2019-02-16 10:03] wolfy-j commented on #123
I am not seeing any clear option rather than changing content-type to the correct value. Passing raw content is possible but it will double the package size without any real benefit except cases like that. RoadRunner won't parse request and send it as binary stream if content-type set correctly.

[2019-02-16 10:17] speller commented on #123
I can't see significant issue with doubling data sent to PHP. Very big forms are seen very rare. The issue can be when we are posting files, but when posting files raw content is not accessible in classic PHP, so it will not be an issue in RR if following this rule. What if to add an option to pass raw post data always except files?

[2019-02-18 02:34] acelot opened #124 "[Feature Request] Ability to output logs in raw format"
At this time, the `rr` controls the format of the log output. We have `colorized`, `plain` and `json` output formats. Unfortunately, the underlying PHP application cannot specify the log level, except `WARNING` and `ERROR`. But applications can write to the log different message types such as `INFO`, `NOTICE`, `CRITICAL`, `ALERT` etc. In addition, developers can have their own `json` log formats,

[2019-02-18 05:06] Alex-Bond commented on #124
Duplicates #77

[2019-02-18 05:10] Alex-Bond commented on #122
Thats actually really good question. @wolfy-j lets add TTK config maybe?

[2019-02-18 05:13] Alex-Bond commented on #123
This issue can be addressed in the next major version by changing the package format a little bit. We can add configuration for that in order to save the size of the package.
I dont think it will slow down system at all.

[2019-02-18 11:43] wolfy-j commented on #122
If you acknowledge that I can only KILL worker process (i.e. cause data corruption on looooong queries) - I'm fine doing that.

[2019-02-18 11:44] wolfy-j commented on #124
Do you mean mix RR log and application specific logging? This is possible via custom logger service in RR.

[2019-02-18 12:05] Alex-Bond commented on #122
We can do TTK for request processing. If worker spend more than 60 seconds (for example) we will kill the worker and send 504 error to the client

[2019-02-18 12:08] wolfy-j commented on #122
That is correct, I'm pointing that I will have to physically KILL workers. Meaning you would have to be careful setting TTK.

[2019-02-18 12:09] Alex-Bond commented on #122
It is kind of the same as max_execution_time but for RR.

[2019-02-18 12:15] wolfy-j commented on #122
Correct. I can work on it and on TTL as well.

[2019-02-18 12:59] speller commented on #122
Yes, killing a worker will be good approach. Thanks! Let's set 60 sec timeout by default.

[2019-02-19 03:14] acelot commented on #124
@wolfy-j How to use custom logger? I can not find information about this in wiki.

[2019-02-19 19:48] wolfy-j commented on #121
Ok, my friend just got the same confusion. But confirmed.

[2019-02-20 06:37] AlexPravdin opened #125 "Ability to log real client ip address instead of load balancer"
Hi,
When using RR app in AWS behind ELB (application load balancer) the RR log records looks like this:

In the IP address field we can see the ELB IP address. It would be great if it will be possible to insert the real client IP address here instead of ELB.

[2019-02-20 06:41] AlexPravdin commented on #121
We can support both names until the next major release.

[2019-02-20 06:42] AlexPravdin commented on #121
And print a hint on startup that the old one is deprecated.

[2019-02-20 06:45] AlexPravdin commented on #115
I think an ability to have such option will be great.

[2019-02-21 07:46] wolfy-j commented on #124
There is no such thing as a custom logger, but it can be created as a service. I was referring to such possibility. Probably will add into CE.

[2019-02-21 10:16] BunnyHolder commented on #102
I don't think that rr needs native file watcher. It should be kept simple. And http:reset is enough. There a lot of simple file watcher in wild already.

[2019-02-21 10:46] wolfy-j commented on #102
Totally agreed.

[2019-02-22 18:26] wolfy-j commented on #100
Up to next release.

[2019-02-25 04:18] 514366607 opened #128 "kill -1 pid"
when I kill -1 pid and restart ./rr serve -v then output this error.

ERRO[0000] [http]: unable to connect to worker: unexpected response, header is missing: signal: killed

[2019-02-25 04:19] Alex-Bond commented on #128
Hey!

You sure you kill the right process? To me, it looks like you killing the worker, not master.

[2019-02-25 04:21] 514366607 commented on #128
I be sure the ./rr process。

[2019-02-25 04:22] 514366607 commented on #128
root      4966  1927  3 05:46 pts/1    00:00:06 ./rr serve -v

kill -1 4966

[2019-02-25 04:22] Alex-Bond commented on #128
Ok. Why you killing with -1? Why not -9?

[2019-02-25 04:22] 514366607 commented on #128
yet , kill -1(SIGHUP)

[2019-02-25 04:23] Alex-Bond commented on #128
-1 will not correctly stop worker (bindings https://github.com/spiral/roadrunner/blob/master/cmd/rr/cmd/serve.go).

[2019-02-25 04:26] 514366607 commented on #128
but I can't find php process to kill.......

ps -ef|grep php

[2019-02-25 04:55] BunnyHolder commented on #122
Maybe RR could use some of php.ini settings as default value for RR. Drop in experience could get better.

[2019-02-25 06:18] wolfy-j commented on #128
Have you tried http:workers command? It will give you list of your php workers with their pids. Why do you want to kill rr? I’m planning adding command to stop it remotely and gracefully, hope it will help.

[2019-02-25 06:32] 514366607 commented on #128
./rr http:workers
Error: dial tcp 127.0.0.1:6001: connect: connection refused

I think signal(SIGHUP) can be reload rr service...
forget ./rr http:reset to reset php worker....
kill -1 pid then service don't work now.....

[2019-02-25 07:56] 514366607 commented on #128
invalid data found in the buffer (possible echo)

true error is this.

[2019-02-25 07:57] Alex-Bond commented on #128
Check your app. Probably you have some panic and exception

[2019-02-25 08:49] wolfy-j commented on #122
We do not read php.ini in RR service at the moment. I'm currently planning to implement functionality to provide much more flexible control on worker livecycle in rr server, it will open the gate to functionality like max lifetime, proactive memory monitoring and adaptive scalers.

[2019-02-25 08:50] 514366607 commented on #128
sorry , I'm test file on development environment ,files being delete.....
protocol.go  37   no dispose err,I don't know if it was intentional？
[code]

[2019-02-25 08:53] wolfy-j commented on #128
hmm, good catch. but i believe the error will be related to broken pipe and won't help much, i will improve this part.

[2019-02-25 12:57] 4n70w4 opened #129 "Why is listening only ipv6 port? Ipv4 support?"
`composer req spiral/roadrunner symfony/psr-http-message-bridge`

`wget https://github.com/spiral/roadrunner/releases/download/v1.3.5/roadrunner-1.3.5-linux-amd64.tar.gz`

`tar xvzf roadrunner-1.3.5-linux-amd64.tar.gz`

Copy .rr.yml and worker.php from https://github.com/spiral/roadrunner/wiki/Symfony-Framework

[code]

`./roadrunner-1.3.5-linux-amd64/rr serve -v -d`

`netstat -tulpn | grep 8080`

[2019-02-25 13:18] Alex-Bond commented on #129
Did you try to run `wget http://127.0.0.1:8080/` ?

[2019-02-25 13:22] wolfy-j commented on #129
It must listen to both ipv4 and ipv6. I can clearly observe server respond by both ipv6 and ipv4 on my local test rig.

FYI,
[code]

it is about maximum request body size, in next release, we will rename this option to avoid confusion.

[2019-02-25 13:39] 4n70w4 commented on #129
Oh, false alarm, sorry. Indeed, the tcp6 line in netstat includes both ipv4 and ipv6.
But at first glance misleading.

[2019-02-25 13:49] #129 closed

[2019-02-26 02:08] #128 closed

[2019-02-28 12:34] 4n70w4 opened #130 "Zend\Diactoros\Exception\InvalidArgumentException: Invalid header value type; must be a string or numeric; received boolean"
Setup from instruction: https://github.com/spiral/roadrunner/wiki/Symfony-Framework

Exception on each request:

[code]

[2019-02-28 13:31] BunnyHolder commented on #130
Today I had same problem, so I added debug and now waiting for bad headers, but because of some unknown reasons it does not reappear again. So maybe you could add this too.
[code]

[2019-02-28 19:49] 4n70w4 commented on #130
@BunnyHolder my app generated header:

`$h['Access-Control-Allow-Credentials'] = true;`

I add quotes and all work. It is strange that this library Zend\Diactoros does not accept the boolean header without quotes, because inside the symfony it all works correctly.

Perhaps there is a parameter in the Zend\Diactoros so that it does not throw out exceptions about it.

Perhaps need to create a issue

[2019-02-28 22:52] Alex-Bond commented on #130
@4n70w4 hey. I didn't think of this case. I will fix it inside RR and my side module for SF.

[2019-03-01 07:29] wolfy-j commented on #130
You can use less strict PSR7 implementation instead.

[2019-03-01 15:10] 4n70w4 opened #131 "[FEATURE REQUEST] Lazy (deferred/late/on demand) run workers"
Hi! I use nginx + php-fpm in docker containers and migrate to roadrunner.
But during the migration process I encountered the problem of building and running images.

My current pipeline:

- Build images
- Add volumes with app code
- Run containers
- Run service commands: `composer install`, etc
- Add nginx ip to external balancer

And all work ok.

But with roadrunner this pipeline dont work, i ge

[2019-03-02 04:07] 4n70w4 opened #132 "Performance degradation on production"
PHP 7.3 / Symfony 3.4

Hi! On local dev server i get x 2-10-20 request time speed up for 1 concurrency request.

But on production for 50 concurent request performance on FPM 180 requests per second, on RR 165 rps. If add gc_collect_cycles() for each cycle - perfomance for RR down to 140 rps...

It is strange, there are ideas why it can work slower than FPM?

`ab -n 10000 -k -c 50 ...`

Enable/dis

[2019-03-02 04:37] 4n70w4 commented on #132
This seems to be due to "slow" connections to the database. But why is the performance with RR lower, and not the same as that of FPM?

[2019-03-02 06:00] wolfy-j commented on #132
Hi, gc_collect_cycles is pretty expensive operation FYI, you don’t need it in every script. The performance is lower most likely due your script has a lot of blocking code and concurrency level is higher than number of availble workers. Check your CPU load time. Since your bottleneck is connections to DB and not CPU try to bump number of workers x2-5 to avoid building request pipeline.

[2019-03-02 06:04] wolfy-j commented on #132
I will correct Wiki to accommodate your usecase.

[2019-03-02 06:09] wolfy-j commented on #132
It will also be solved automatically once #97 is implemented.

[2019-03-02 08:04] wolfy-j commented on #132
Oh, I see you mention numWorkers: 50

What integration script do you us? Do you see high timings in rr debug log or server is slow on itself?

[2019-03-02 08:06] wolfy-j commented on #132
Can you try to run numWorkers: 50 without maxJobs? Also try another benchmark tool like siege, it will give better picture about what is average/medium request time.

[2019-03-04 03:22] see0 opened #133 "function call is_uploaded_file is not valid"
Symphony and Laravel UploadedFile class consider all uploded as invalid due to the is_uploaded_file check.

vendor/symfony/http-foundation/File/UploadedFile.php

    public function isValid()
    {
        $isOk = UPLOAD_ERR_OK === $this->error;

        return $this->test ? $isOk : $isOk && is_uploaded_file($this->getPathname());
    }

Swoole solution: https://github.com/swoole/swoole-src/pull/4

[2019-03-04 10:48] wolfy-j commented on #131
I'm not sure what will be the proper way to implement it, timeout based? If so why not just start command after some time.

[2019-03-04 10:49] wolfy-j commented on #133
@Alex-Bond i guess this issue is for you.

[2019-03-04 11:42] 4n70w4 commented on #131
The main idea is that the roadrunner does not have to exit on errors in the worker.

I run RR in docker as command, so it is important that RR does not exit so that the container does alive. But now if the code of the worker cannot be executed - the RR is exited and the container dies. This does not allow run additional commands to initialize the application to be executed in the exited container.

[2019-03-04 11:52] wolfy-j commented on #131
OK, i will think what can be done there.

[2019-03-04 18:42] Alex-Bond commented on #133
@see0 hey! Can you create PR with some use cases? At this moment I don't really understand where the problem is.

[2019-03-04 21:29] see0 commented on #133
Hmm, i'm surprised that I am the only facing this issue.

The problem is caused by all (JSON) Data are relayed thru goridge, and then restored to PSR-7 Message in the worker.

Hence, PHP is unable to add all the uploaded_files into their rfc1867_uploaded_files hash table - any function call to is_uploaded_file will return a FALSE result.

Well, I supposed is_uploaded_file is a php core function us

[2019-03-06 15:22] wolfy-j commented on #133
I will describe in the documentation for now.

[2019-03-06 15:25] wolfy-j commented on #133
https://github.com/spiral/roadrunner/wiki/Caveats

[2019-03-06 15:27] wolfy-j commented on #133
I think the reason on not meeting this issue earlier is that most of the people rely on PSR-7 UploadedFileInterface which manage uploaded state separately. This issue seems to be Laravel/Symfony specific while mapping data to Request. Doesn't Symfony HttpKernel support file uploads set manually?

[2019-03-07 16:45] sinitsa opened #134 "Hosts definition, ssl certs, SNI"
Hello everybody,

I did not find information on this issue in the documentation and other discussions, probably the answers are simply obvious to everyone, so please tell me where to look.

Is it possible to specify in the configuration parameters - domain, not IP?
Is it possible to start one server for several domains and accordingly, different ssl-certificates and their substitution (is it possi

[2019-03-08 07:18] #133 closed

[2019-03-08 07:18] #110 closed

[2019-03-11 08:56] wolfy-j commented on #134
Hi @sinitsa, thank you for your question.

In our concept RoadRunner is not really web-server to replace nginx on the top level, instead, it is an application server which supposes to have deep integration with each underlying project. Basically, it is designed to be easily customized for each specific use-case.

We practice using nginx as reverse-proxy at top of multiple rr applications, each loc

[2019-03-11 18:24] sinitsa commented on #134
Thank you very much!

PS: Did I understand correctly that, if desired, I can also run several rr applications within the same container, on different ports with different workers (specifying different configurations at startup), can they live together?

[2019-03-11 18:24] #134 closed

[2019-03-11 18:25] wolfy-j commented on #134
Yes, this is correct.

[2019-03-16 17:04] SamuelMoraesF commented on #90
I'm getting the real IP address in Laravel with the following config:

nginx.conf:
[code]

app/Http/Middleware/TrustProxies.php:
[code]

[2019-03-17 11:26] wolfy-j commented on #132
Closed due to no activity.

[2019-03-17 11:26] #132 closed

[2019-03-17 12:36] 4n70w4 commented on #132
@wolfy-j do you expect activity from me?
I suspended the research because roadrunner is worse than fpm + nginx.

[2019-03-17 13:12] wolfy-j commented on #132
I have requested clarification from you. The issue most likely is application specific. Unfortunately, I'm unable to debug it without a reliable way to reproduce it.

[2019-03-19 19:05] 4n70w4 commented on #132
@wolfy-j you're right. But I cannot show a commercial application having a problem. Making a special fake application to demonstrate a problem is too much work. The employer will not pay for it.

Perhaps a problem with some kind of PHP-module or open-source library. Now I can only provide this data.

`yum install -y ImageMagick bc php php-fpm php-opcache php-apcu php-xml php-mbstring php-pdo php-p

[2019-03-20 06:39] wolfy-j commented on #132
Ok, thank you for the context. I'll check if there is anything which might be red flag.

[2019-03-20 14:30] BunnyHolder commented on #132
Yeah I wonder about redis.

[2019-03-20 14:59] wolfy-j commented on #132
Well, if it's slower - something takes a too long time to be destructed/disconnected. Nginx ignored destruction time, RR does not. The question why it's OK on dev machine. Can be doctrine?

[2019-03-20 15:57] 4n70w4 commented on #132
I found project https://github.com/mrsuh/php-load-test
Maybe it will help to simplify comprehensive performance testing.

[2019-03-20 16:04] 4n70w4 commented on #132
Based on the results of those tests if include `$kernel->reboot(null)` in the worker then roadrunner gets slower than nginx + php-fpm/

You also do kernel reboot in the example:
https://github.com/spiral/roadrunner/wiki/Symfony-Framework

[2019-03-20 16:23] wolfy-j commented on #132
Reboot is required for symfony as it not fully support long-running mode (at least not for every appplication). But, in that benchmarks and per our logic reboot should not be slower than full initialization. It’s almost as if reboot too expensive.

We run all our applications without reboot, but we had to create our own framework for that.

[2019-03-21 11:32] wolfy-j opened #135 ""Pool has been stopped error" while doing "http:reset" under high load with slow workers"
There is a possible error while running "http:reset" under load.

[2019-03-21 12:02] #135 closed

[2019-03-21 14:14] jetexe opened #136 "[bug] Request field ordering with same names"
App | Version
:----: | :------:
RR | 1.3.6
PHP | 7.2.15
Laravel | 5.7.26

### Short description

Then you try to send post request with same field names RR takes first value. PHP-fpm or Laravel artisan serve gets last value

### How reproduce this case

[code]

`app/Http/Kernel.php`:

[code]

`.rr.local.yml`:

[code]

`worker.php`:

[code]

`routes/web.php`:

[code]

Now, open two terminals and st

[2019-03-21 14:25] wolfy-j commented on #136
Thank you for the detailed description.

[2019-03-21 16:09] wolfy-j commented on #136
Fixed in 1.3.7

[2019-03-21 16:09] #136 closed

[2019-03-22 07:54] Ostap34JS opened #137 "How about create repository "awesome roadrunner list"?"
And there to group all the repositories that are associated with roadrunner.

[2019-03-22 07:54] Ostap34JS commented on #137
for example, like this: https://github.com/chiraggude/awesome-laravel

[2019-03-22 08:09] wolfy-j commented on #137
We are currently working on the website which is going to be live syncing the documentation from there:
https://github.com/spiral/roadrunner-docs

This will allow you to PR any changes to docs or add links to external libraries. :)

[2019-03-22 08:10] wolfy-j commented on #137
Sneak peak: http://prntscr.com/n1bz89

[2019-03-22 08:23] Ostap34JS commented on #137
Cool, thanks

[2019-03-22 08:23] #137 closed

[2019-03-24 18:29] zmitic commented on #132
@wolfy-j Actually, this is not correct anymore. From last year, Symfony is supporting long-running mode without memory leaks via ``kernel.reset`` tag. 3rd party bundles; hard to say.

But for some time, and still unknown reasons, I get insane amount of memory used on blank project. When I played with swoole recently, memory leaks happened during conversion to Symfony request: https://github.com/k9

[2019-03-24 18:34] wolfy-j commented on #132
I’m very curious to see what you are going to find.

[2019-03-24 22:10] Sho0terInfo opened #138 "Perfomance degradation on Laravel 5.8"
I think, RR not ready for production use with Laravel

i7-7700k 64 GB DDR4 Debian

[code]

[2019-03-25 06:08] wolfy-j commented on #138
Can you provide a bit more information about underlying application?

[2019-03-25 06:26] wolfy-j commented on #138
Also, have you tried integrations where you don’t need to covert from one request format to another?

[2019-03-25 11:17] Sho0terInfo commented on #138
I dont know how to use laravel with pure psr7 request.

Its hello-world-like application without any orm modelso or somethink heavy. All time wokrer use less then 16 mb RAM. But first requests TTFB takes near 2ms and during the test its up to 200ms without load.

[2019-03-25 11:35] wolfy-j commented on #138
That is odd. Can you try one of the following integrations:
https://packagist.org/packages/avto-dev/roadrunner-laravel
https://packagist.org/packages/cubekode/roadrunner-laravel
https://packagist.org/packages/hunternnm/laravel-roadrunner
https://packagist.org/packages/updg/roadrunner-laravel

There is definitely something withing "terminate".

[2019-03-25 12:30] Sho0terInfo commented on #138
Does not support laravel 5.8

Got error, because this bridge does not suppert overriden laravel-reqeust

[2019-03-25 12:30] #138 closed

[2019-03-25 12:54] Sho0terInfo commented on #138
UPD: yea, you're right, probleam near "terminate" method.
I will explore further.

[2019-03-25 13:49] Sho0terInfo commented on #138
I am found a problem: its https://github.com/rcrowe/TwigBridge
Migrating to native laravel's Blade solved perfomance degradation
Its not solution for me, so i will be explore twigbridge package
P.S. Terminate not a problem, without it app throws 500 erorr wich rendering by blade instead of twig

[2019-03-25 14:06] Sho0terInfo commented on #138
SO, final solution. Its no RR issue, but...
Laravel has some introduction features, like needs to reload Session and Auth service providers for reload its state. I have some Service Providers (like determinate current request language) wich needs to reload. In this service provider I am definening some view composers. AND problem here. In each request service provider add view comporsers wich NOT

[2019-03-25 14:08] Sho0terInfo commented on #138
SO, final solution. Its no RR issue, but...
Laravel has some introduction features, like needs to reload Session and Auth service providers for reload its state. I have some Service Providers (like determinate current request language) wich needs to reload. In this service provider I am definening some view composers. AND problem here. In each request service provider add view comporsers wich NOT

[2019-03-28 15:14] hotrush commented on #133
@see0 any luck on your code release?)

[2019-04-02 15:00] sonu27 commented on #125
@wolfy-j Just need to use `X-Forwarded-For` header (https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/x-forwarded-headers.html)

Both client and proxy IPs should be recorded though.

[2019-04-02 15:05] sonu27 commented on #131
@4n70w4 ideally when you run your containers the dependencies should be built already.

[2019-04-02 16:39] littlexiang opened #139 "about usage of die/exit"
Is it true that should avoid using die/exit for it quits the worker
so how to deal with things like image output
for example
`
echo $imagick->outputPNG();
exit()
`

[2019-04-02 16:41] wolfy-j commented on #139
Yes, the whole concept of not dying workers is that they should not die. :)

Try to find the method which will return you image body as string/bytes or use ob_start().

[2019-04-02 17:23] littlexiang commented on #139
Thanks a lot. I'm using rr with Laravel, I'll find a way by using standard Response object.
I think this should be written into readme alone with the is_uploaded_file part.
thanks for the great job, it's quite convenient and amazing.

[2019-04-02 17:31] #139 closed

[2019-04-03 08:22] wolfy-j commented on #139
Added to wiki. Thank you

[2019-04-03 15:17] littlexiang commented on #139
in Laravel for example
the usually way, NOT OK
`
header('Content-Disposition: attachment;filename=foo.xlsx"');
header('Cache-Control: max-age=0');
$writer = IOFactory::createWriter($spreadsheet, 'Xlsx');
$writer->save('php://output');
exit();
`

instead
`
ob_start();
$writer = IOFactory::createWriter($spreadsheet, 'Xlsx');
$writer->save('php://output');
$content = ob_get_clean();
return response()

[2019-04-04 12:46] tarampampam commented on #133
[We](https://github.com/avto-dev/roadrunner-laravel/graphs/contributors) made fix for this case, ([changes](https://github.com/avto-dev/roadrunner-laravel/pull/12/files), [working release](https://github.com/avto-dev/roadrunner-laravel/releases/tag/v1.3.0)).

[2019-04-12 12:03] 4n70w4 commented on #131
@sonu27 in the development environment it is difficult to do.

php-fpm containers can be start without pre-build and assembled after build.
It is very flexible and convenient.

[2019-04-17 14:30] mattjwhelan opened #140 "When building w/ Composer/Docker: Unable to find image 'spiralscout/rr-build:latest' locally"
I installed spiral/roadrunner in a new PHP project using Composer, then tried to run vendor/bin/rr-build in my project directory per the Quick Builds instructions in the documentation:

https://roadrunner.dev/docs/intro-quick-builds

I should note that I am logged into Docker Hub registry when running command.

Here's what I receive:

[code]
I was able to successfully build the binary using the ma

[2019-04-17 14:32] wolfy-j commented on #140
Can you try now? Docker privacy settings were broken. :(

[2019-04-17 14:52] mattjwhelan commented on #140
Thanks, that fixed it. Successfully built just now.

[2019-04-17 14:52] #140 closed

[2019-04-19 07:44] donparapidos commented on #115
For sure you would gain bigger audience if t FastCGI would be supported

[2019-04-19 07:47] wolfy-j commented on #115
That's has been planned for 1.5.0 release. I'm also glad to accept anyone's help to deliver this feature. I can consult how to implement it.

The RR **feature** development is currently at rest since I have to complete the documentation for another large OS project.

[2019-04-19 18:32] 1ma opened #141 "[Feature Request] Customisable scheduling algorithm"
### Use Case

We are building an I/O bound REST API that needs to fetch and aggregate data from other 3rd party APIs in real time. During development we found out that for some of these services just establishing a TCP connection and performing the TLS handshake could take to the tune of 500ms-1s, and with a traditional nginx+fpm setup we have to pay this price for every single request coming thro

[2019-04-19 18:54] wolfy-j commented on #141
Hi, that's an interesting use-case and I will try to think it through in details this weekend.

I have a couple of questions:
1) How unified are API calls you make?
2) Do you have to use PHP curl queries or you change them (a.k.a. do you have any abstraction mechanism which can be easily swapped).

What you are looking for is to alter the `allocateWorker` method in `StaticPool` implementation. Thi

[2019-04-19 18:57] wolfy-j commented on #141
FYI, the current mechanism is not round robin. It's stack in a FIFO form.

[2019-04-19 19:18] 1ma commented on #141
1. Each request to our API usually leads to 5-20  external HTTP requests to 1-3 different services (but these numbers are expected to grow), and are currently serving about 1.5 million daily requests. At the idlest times of the day we may still handle less that 1rps.

2. Yes, we are using an internally developed library that is an abstraction over [curl_multi](https://www.php.net/manual/en/functio

[2019-04-19 19:41] wolfy-j commented on #141
OK. Have you considered the approach I suggest? In this case, you might achieve even better performance by reusing shared connection pool. It won't be complex to implement functionality similar to curl_multi_select on golang, but it depends on what type of calls you make.

[2019-04-19 19:41] wolfy-j commented on #141
If this approach won't work I can think of how to achieve allocation approach you would like to use.

[2019-04-23 05:45] #141 closed

[2019-04-24 08:56] vvval opened #142 "Add possibility to use env vars"
It would be very helpful if `.rr.yaml` could support environment variables
[code]
or using several config files at once.
[code]

The case is to have vulnerable credentials outside of the GIT repository

[2019-04-28 03:54] gyf19 commented on #139
https://www.php.net/manual/zh/swoole-http-response.end.php   Can develop features?  @wolfy-j

[2019-04-28 16:39] wolfy-j commented on #139
@gyf19 the `respond` method is essentially doing the same thing.

[2019-04-29 02:16] gyf19 commented on #139
@wolfy-j  This feature is what I need 。
Swoole\Http\Response::end function
Send data for the HTTP request and 《 finish the response 》，
finish the response , php code will not continue to execute.  This feature is what I need

[2019-04-29 05:16] wolfy-j commented on #139
Try to use ->stop() method of worker.

[2019-04-29 08:17] asamats opened #143 "Fail 'make test'"
What I do:
git clone ...
git checkout v1.3.7
go mod download
make
make test
What I got:
[code]

Ubuntu 18.04
go1.12.1
php 7.3.4

[2019-04-29 08:21] wolfy-j commented on #143
Hmmm,

it works well locally and in travis. Is it possible that test port 8888 is used by another application in your environment?

[2019-04-29 10:49] asamats commented on #143
Thanks @wolfy-j I didn't look port. It was influxdb.

[2019-04-29 10:50] #143 closed

[2019-05-02 05:31] #102 closed

[2019-05-02 05:33] wolfy-j commented on #2
This will be coming in a separate server due async mode of underlying workers.

[2019-05-02 13:31] #90 closed

[2019-05-02 19:35] wolfy-j commented on #142
Coming in 1.3.8

[2019-05-03 21:09] #71 closed

[2019-05-05 09:49] wolfy-j commented on #81
Available in 1.4.0, see sample config:
https://github.com/spiral/roadrunner/blob/master/.rr.yaml#L65

[2019-05-05 09:49] #81 closed

[2019-05-05 09:50] wolfy-j commented on #142
Available in 1.4.0

[2019-05-05 09:50] #142 closed

[2019-05-05 09:50] #125 closed

[2019-05-05 09:50] wolfy-j commented on #125
Available in 1.4.0, see sample config to configure trusted proxies https://github.com/spiral/roadrunner/blob/master/.rr.yaml

[2019-05-05 09:51] wolfy-j commented on #122
Available in 1.4.0, see sample config for configuration example https://github.com/spiral/roadrunner/blob/master/.rr.yaml

[2019-05-05 09:51] #122 closed

[2019-05-05 09:51] wolfy-j commented on #121
Available in 1.4.0, see sample config for configuration example https://github.com/spiral/roadrunner/blob/master/.rr.yaml

[2019-05-05 09:51] #121 closed

[2019-05-05 09:51] wolfy-j commented on #98
Two console commands available in 1.4.0 release, thx to @Alex-Bond see release notes for the details.

[2019-05-05 09:51] #98 closed

[2019-05-05 09:52] wolfy-j commented on #100
Command `rr stop` available in 1.4.0

[2019-05-05 09:52] #100 closed

[2019-05-06 02:38] tarampampam commented on #96
If some one looking for one more **RoadRunner ⇆ Laravel** bridge, take a look here:   https://github.com/avto-dev/roadrunner-laravel (MIT)

[2019-05-15 06:25] lda opened #146 "Try to terminate worker before killing"
Wouldn't it be better to send a TERM signal before killing the worker process on maxExecutionTTL? You already have such code in StaticPool.destroyWorker. Is it ok to open Pool.DestroyWorker and call this method instead of killing process?

[2019-05-15 06:28] lda commented on #146
I'm talking about [this code](https://github.com/spiral/roadrunner/blob/master/service/limit/controller.go#L69)

[2019-05-15 06:42] wolfy-j commented on #146
ExecTTL used to kill stuck workers during the execution of a specific task, graceful shutdown is not possible since the worker won't accept any command during execution state. So, technically, we can use `destroyWorker` but this is internal pool functionality. Also, it will cause additional `destroyTimeout` to be fired.

[2019-05-15 07:51] lda commented on #146
Ok, I just checked it out and found that you were right. Thank you for your explanation.

[2019-05-15 07:51] #146 closed

[2019-05-15 21:53] BentCoder opened #147 "Broken link in doc"
Hi,

This link is broken: https://roadrunner.dev/docs/Quick-Builds

It can be found here https://roadrunner.dev/docs/intro-install under 'Quick Builds' section.

Regards

[2019-05-16 07:57] wolfy-j commented on #147
Fixed, thank you.

[2019-05-16 07:57] #147 closed

[2019-05-21 00:37] stdex commented on #62
@wolfy-j, can you explain and help to improve solution / find bottleneck?
I have benchmark results (slim - php-fpm 7.3, nginx; roadrunner_slim - php-cli 7.3, rr 1.4)
Docker, worker: https://github.com/stdex/web-frameworks/commit/043b275980799d79bab17056621aadaf024e9588

[code]

[code]

[2019-05-21 05:49] gyf19 commented on #139
thank you for your reply  @wolfy-j

Use ->stop() method to restart the worker   ，Affect performance

[2019-05-21 06:20] wolfy-j commented on #139
This is correct, stop and restart is an expensive operation. Why do you need it exactly?

[2019-05-21 10:00] wolfy-j commented on #62
Few things:
1) Make sure to set number of rr workers equal to the number of logical CPU threads (current value is hardcoded to 4, you can remove it to let RR detect numCores automatically)
2) Do not bench rr with -d flag, it enables debug mode and bottlenecks in stdout of docker.
3) Synthetic bench with an empty application is not very informative, rr will speed up larger applications more (due to

[2019-05-21 10:10] wolfy-j commented on #62
Similar broken results for swoole: https://github.com/the-benchmarker/web-frameworks/pull/1336

[2019-05-22 02:19] gyf19 commented on #139
@wolfy-j
  1.  The original code will use the exit() method
 2.  Developers also accidentally use the exit() method

[2019-05-22 03:51] askobara commented on #130
Same problem here:
` Invalid header value type; must be a string or numeric; received NULL`
It happens when browser try to send `access-control-allow-origin => NULL` (name of the header is not matter)

[2019-05-22 07:53] wolfy-j commented on #139
@gyf19 unfortunately, RR can not handle applications like that. Any die() or exit() call with stop the worker and will completely eliminate the performance boost. In scenarios like that you have to use classic php-fpm setup or rewrite code to remove exit() calls.

[2019-05-22 07:56] wolfy-j commented on #130
Hi, this is caused by the strict implementation of Zend Diactoros. If you have any issues using this library try to use alternative PSR-7 implementation. For example https://github.com/Nyholm/psr7 is fully compatible with RR and even provides greater performance.

To enable alternative PSR-7 provides alter your PSR7Client constructor like that:

[code]

In our synthetic benches it also provides +3

[2019-05-22 08:51] lda commented on #100
The `stop` command does not work. It fails with error:
[code]
I'm sure it is [this line]( https://github.com/spiral/roadrunner/blob/8be4061d13a28d92bce4b2364049b8579b776d5d/cmd/rr/cmd/stop.go#L46).

[2019-05-22 09:03] wolfy-j commented on #100
Hmm, sounds like something messed us with Goland. Fixing now.

[2019-05-22 09:13] wolfy-j commented on #100
Fixed in 1.4.2

[2019-05-22 09:21] lda commented on #100
👏

[2019-05-23 03:07] NetLancer opened #148 "How about fatfree integration?"
Hi there! I'm kina new to this product and to server sophisticated internals so beg your pardon aforehand for possible personal misperceptions :).
Has it been tested with fatfree php code (or maybe better to put: has been fatfree code tested for correct behaviour within roadrunner)? And if not, are there plans to extend integrations?
Thanx for promising web platform guys!

[2019-05-23 05:58] BunnyHolder commented on #148
What is fat-free php code? You mean without PSR request handler implementation? If so, probably no. Because this is the main reason you can get more performance.

[2019-05-23 07:42] wolfy-j commented on #148
PSR-7 is not required to make an integration, you can use underlying `HttpClient` to get access to raw request data. The main question is if fat-free supports request-response flow. Which is doesn't: https://github.com/bcosca/fatfree/blob/master/lib/base.php#L1589
https://github.com/bcosca/fatfree/blob/master/lib/base.php#L143

Fat free can't work in stateless mode (at least without major modifica

[2019-05-23 08:53] NetLancer commented on #148
Thanks for clear response guys :)

[2019-05-23 09:19] #148 closed

[2019-05-23 10:44] gyf19 commented on #139
@wolfy-j  thank

[2019-05-23 15:38] lda opened #149 "Better error reporting"
As for now fatal errors are [printed to stdout](https://github.com/spiral/roadrunner/blob/master/cmd/rr/cmd/root.go#L101). I would like to rewrite these pieces of code so that errors are written to stderr.

Will it be ok if I just add a new method to the `util` package (e.g. PrintfToStderr)?

[2019-05-23 15:41] ThisIsAreku opened #150 "Array configuration in commandline"
I tried to define multiple extensions using command-line but it seems to only take the last one
[code]

Is there a special syntax for array ?

_EDIT: fixed example after @spudro228 comment_

[2019-05-23 15:54] wolfy-j commented on #149
Sure, maybe it will be better to make util.Panicf (of Fatalf)? It can mimic the behavior of log.Panic and stop the application automatically.

[2019-05-23 15:56] wolfy-j commented on #150
Hmmm, there is no specific syntax for array yet (we have to create it). :( I wonder if it might be easier to ensure default values for static.forbid config https://github.com/spiral/roadrunner/blob/master/service/static/config.go#L26

I assume most of the people would like to hide .php, .htacess files.

[2019-05-23 15:57] wolfy-j commented on #149
Similar way as in https://github.com/spiral/roadrunner/blob/master/service/http/config.go#L69

[2019-05-23 15:59] wolfy-j commented on #150
Similar way as in https://github.com/spiral/roadrunner/blob/master/service/http/config.go#L69

[2019-05-24 09:03] lda commented on #149
Ok, I've opned #151

[2019-05-24 09:03] #149 closed

[2019-05-30 10:24] wolfy-j opened #152 "Implement circle buffer for errBuffer"
Reset buffer position at the beginning after flushing its content. It will help to reduce memory usage.

[2019-05-31 13:40] waghanza commented on #62
@wolfy-j @stdex I didn't know about https://roadrunner.dev/, but `docker` used in benchmarks are breaking any results

I'm working on a `PR` https://github.com/the-benchmarker/web-frameworks/pull/632 to have more reliable results

[2019-05-31 13:57] wolfy-j commented on #62
Yeah, something is really funky in the current state of this benchmark.

[2019-05-31 17:30] nocive commented on #131
Agree, this is also a blocker for us.
I'm currently thinking about shipping a default dummy worker but the fact the RR's configuration is not modular (ie, as seen in fpm with pool.d/fpm.d include directories) makes it hard to dynamically configure workers for each app using the same base image.

[2019-05-31 18:28] wolfy-j commented on #131
Your blocker is not modular configuration or lazy loading workers?

[2019-05-31 22:16] jeijei4 opened #153 "Is Phalcon 3.4.3 Supported?"
Can this be used to PHP framework delivered as a C-extension?

[2019-05-31 23:22] nocive commented on #131
Both, in a way.

If the configuration was more modular it would be easier to work around the fact that workers aren't lazy.

Ideally if we could have the server listening without any workers defined and then drop the worker configuration in a `worker.d/` directory, it believe it would be a non issue.

What I'm currently doing is using s6 overlay and template the configuration on startup based on e

[2019-06-01 06:40] wolfy-j commented on #153
If it does have request/response abstraction it can be supported, there is absolutely no technical limitations.

[2019-06-03 01:59] speller opened #154 "Can not restart a pool that run on linux from under Windows"
Hello,
My host machine is Windows 10. I run a docker Linux container with RR. The RR ports 6000 and 6001 are reachable from under the Windows host machine. But trying to restart the pool from under the Windows CLI leads to the following error:

[code]

The pool is not restarted in the result. The config file is the same as inside the container.

I suppose that RR binary protocols are not identical

[2019-06-03 07:44] wolfy-j commented on #154
The protocols are identical, I assume there can be some interruption in Docker network. Do Any other command work?

[2019-06-03 08:05] speller commented on #154
XDebug works fine inside the same container, port 80 also is fine.

[2019-06-03 08:22] wolfy-j commented on #154
The reset command works fine between the host machine and docker on my system (Windows). Please share some way to reproduce the issue.

[2019-06-03 08:34] speller commented on #154
Here is my configuration:

Dockerfile:
[code]

Entrypoint:

[code]

[code]

Run command:
[code]

[2019-06-03 10:57] dkuhnert opened #155 "Support for zend-diactoros v2.x"
In v1.4.0 the `http-interop/http-factory-diactoros` dependency has been re-introduced and prevents using roadrunner with zend-diactoros v2.x.
The specific commit is e303434db0930339bb7aa89b904848e92483703f

Previous Issue: #59
Merge of pull request #82 (c7dbbb682e272c9eace7cf9d7d8fbdeba8ad2636) or more specific 40d66629617f7a96b9005df356b94ab3b4dfb98f

To me, this looks like an error while resolvi

[2019-06-03 11:03] wolfy-j commented on #155
Yes, this seems to be a merge issue, the dependency must not be used anymore. Will be addressed in the next update, if you can create PR in the meantime it will be appreciated.

[2019-06-03 11:34] dkuhnert commented on #155
That was a quick! PR is opened, thanks.

[2019-06-03 17:09] wolfy-j commented on #155
fixed in 1.4.3

[2019-06-03 17:09] #155 closed

[2019-06-04 12:24] pwilsoncentre commented on #2
I would love to see streaming support as well, but for large HTTP responses. I noticed this issue was reopened a few days ago, so does that mean that some progress will be made here? If I had time to learn Go I'd offer to help, but as it is, I can only offer my encouragement - this would be a really cool feature to have.

[2019-06-04 12:29] wolfy-j commented on #2
Yes, this issue will be reconsidered for 1.5.0. No timeline yet but there are some initial experiments already made.

[2019-06-13 13:37] lucasantarella commented on #153
By default, Phalcon 3 does not use PSR-7 requests. You'd have to adapt the request body or write an adapter. I am actually currently working on doing this as I am an avid phalcon user. @jeijei4 if you'd like maybe we can write a library for phalcon incubator to accomplish this.

[2019-06-13 13:38] lucasantarella opened #161 "Wiki DNS broken"
Hey guys, I think the DNS on your wki sight is broken. DNS is supposed to resolve to https://34.229.58.67 but theres no DNS entry found for roadrunner.dev

[2019-06-13 13:49] wolfy-j commented on #161
DNS is OK, http://whois.domaintools.com/roadrunner.dev Maybe your ISP blocks it?

[2019-06-13 13:50] wolfy-j commented on #153
You can bypass PSR-7 and couple directly with https://github.com/spiral/roadrunner/blob/master/src/HttpClient.php

[2019-06-13 15:05] #161 closed

[2019-06-13 15:35] lucasantarella commented on #161
@wolfy-j You're right. Switched DNS providers and works fine. My bad.

[2019-06-13 15:36] wolfy-j commented on #115
Regarding FastCGI being faster: https://gist.github.com/hgfischer/7965620

[2019-06-14 09:46] wolfy-j commented on #115
If no issues found it will be shipped with next version.

[2019-06-14 09:46] #115 closed

[2019-06-14 09:48] wolfy-j commented on #123
I'm closing this issue, we might implement it in 2.0 version but so far it looks like the overhead caused by improperly configured request.

[2019-06-14 09:48] #123 closed

[2019-06-16 18:38] #152 closed

[2019-06-21 15:28] pshirmanov opened #165 "Request error send error to sentry"
|---|Version|
|---|--|
|PHP| 7.1.30|
|Laravel|5.8.24|
|RR|1.4.3|

I used
`"updg/roadrunner-laravel": "^1.0"`

Don't send errors to sentry server from Road Runner docker container, when I put command `php artisan sentry:test` I saw sended error is good

[code]
But the error ID: 1e10f4e5ecc74dda821943ed06fa974d does not appear on the sentry server
I looked code and error message was sended async to

[2019-06-21 15:31] wolfy-j commented on #165
Do not use dd as it will dump to STDOUT which is used for communication. Try error_log or send to SDTERR. Or switch worker to use sockets.

[2019-06-24 10:24] pshirmanov commented on #165
Yes, I remove `dd` and use `error_log`, was message show on sentry server, but if use standard library  `"sentry/sentry-laravel": "^1.0.0"`, noticed that was message appeared on sentry server after shuting down the road runner server

May need to use https://github.com/UPDG/roadrunner-sentry?

[2019-06-24 10:36] wolfy-j commented on #165
Does sentry/sentry-laravel have shutdown handler?

[2019-06-24 10:37] wolfy-j commented on #165
The https://github.com/UPDG/roadrunner-sentry will report errors on golang end, it won't be able to handle exceptions in PHP.

[2019-06-24 11:07] wolfy-j commented on #130
Closing due to inability to bypass strict implementation of Zend. Use alternative PSR-7 implementations listed above.

[2019-06-24 11:07] #130 closed

[2019-06-24 11:09] wolfy-j commented on #154
Can you show me your `.rr` file? You are using default RPC configuration, correct?

[2019-06-24 12:26] speller commented on #154
Here is my rr.yml:

[code]

[2019-06-26 12:49] fenric opened #167 "unable to allocate worker: worker timeout (1m0s)"
I constantly get the following problem (on day 3-5 cases):

[code]

I have the following server parameters:

[code]

I have the following RR config:

[code]

I have the following nginx config:

[code]

I have the following systemd unit config:

[code]

I have the following request handling logic (short example):

[code]

I have the following worker logic:

[code]

---

Please give advice... Maybe

[2019-06-26 12:57] wolfy-j commented on #167
What will happen if you'll try to call worker manually: https://roadrunner.dev/docs/usage-php-workers check Troubleshooting.

[2019-06-26 12:59] wolfy-j commented on #167
Can you also profile how long it takes to perform:

[code]

Maybe this code stuck and did not release the worker?

[2019-06-26 13:18] fenric commented on #167
@wolfy-j I could repeat it like this:

[code]

Now I am looking for a problem place in the application...

[2019-06-26 13:20] wolfy-j commented on #167
It seems like your application is too slow to handle 1000 concurrent requests over 2 workers. Try to bump number higher (8 workers or similar) or optimize your code a bit.

You can freely have as many workers as your memory allows you on IO bound application.

[2019-06-29 10:56] wolfy-j commented on #56
@estahn FYI, this feature is now available since 1.4.5

[2019-06-29 10:56] wolfy-j commented on #167
Please let me know if there is anything can be done on RR end.

[2019-06-29 10:56] #167 closed

[2019-06-29 10:58] wolfy-j commented on #131
@nocive you can use modular configuration since 1.4.4

[2019-06-29 11:35] wolfy-j commented on #154
OK, I can reproduce it now.

[2019-06-29 11:43] wolfy-j commented on #154
OK, RoadRunner listens on tcp://localhost:6001 by default to avoid security issues in case your public port is open (yes, people do that).

Since you want to access it from Docker you must:
1) Expose :6001 port from your container.
2) Configure rr to listed on 0.0.0.0

[code]

Such setup works for me.

[2019-06-29 11:43] #154 closed

[2019-06-29 11:45] wolfy-j commented on #154
The information has been added to Wiki: https://roadrunner.dev/docs/usage-docker

[2019-06-29 11:49] wolfy-j commented on #165
I have confirmed that Sentry works fine within RR workers using official https://packagist.org/packages/sentry/sentry . Make sure that your library does not handle exceptions using shutdown_handler, such approach won't work with the long-running application.

[2019-06-29 11:49] #165 closed

[2019-06-29 11:50] wolfy-j commented on #77
Combined with #124

[2019-06-29 11:50] wolfy-j commented on #124
I would like to merge this issue with #77

[2019-06-29 11:50] #124 closed

[2019-06-29 11:52] wolfy-j commented on #150
RR now support modular configuration, is this issue still an issue?

[2019-07-01 08:52] mich4s opened #170 "Http worker router question"
Is there any plan to provide any routing to yams file? This could also optimize execution by leaving compute heavy parts to Golang and run expected controller omitting php router or use rr as "lambda" runtime

[2019-07-01 08:56] wolfy-j commented on #170
As part of generic RR build - no. However, we had some ideas about handling most of JSON REST endpoint processing on golang and communicate with PHP as with a thin service layer... But then we have discovered GRPC and this idea has been de-prioritized.

[2019-07-01 09:25] nocive commented on #131
@wolfy-j this is great, thanks! Also love the new fastcgi interface and the prometheus/metrics features you added recently! Cheers! :+1: :palm_tree:

[2019-07-09 14:30] ThisIsAreku commented on #150
What do you mean by modular configuration ? The `include` option ?

[2019-07-15 10:03] myavchik opened #171 "unpack(): 64-bit format codes are not available for 32-bit versions of PHP"
Hello, I have 64-bit Windows and 32-bit PHP installed.
Tried to run skeleton app but no luck.

[code]

[2019-07-15 10:05] Alex-Bond commented on #171
Hi!

Only one question - why you have the 32-bit version installed on the 64-bit Windows?

[2019-07-15 10:07] myavchik commented on #171
It's just require for one extension

[2019-07-15 10:51] wolfy-j commented on #171
Hi, we currently do not support the 32-bit version of PHP. I guess it should be possible by packing only last 8 bytes of the size payload (int 64) and limiting package size to 32. Future versions of the protocol will most likely jump to 32bit sizes in favor of streaming support.

[2019-07-15 10:53] myavchik commented on #171
Please add this notes to main page.

[2019-07-15 10:53] #171 closed

[2019-07-15 10:54] wolfy-j commented on #171
Please note, you can run spiral app with any php version, simply change the `.rr.yaml` file and replace:

[code]

with

[code]

You can keep using global php version as usually.

[2019-07-15 10:54] wolfy-j commented on #171
@myavchik sure

[2019-07-17 04:01] filakhtov opened #172 "h2c support in RoadRunner"
Hello folks,

Garry here from BigCommerce.

We are currently evaluating RoadRunner as an app-server for some of our internal services and it is looking pretty promising, great job!

As part of our investigation, however it was discovered that RoadRunner does not support non-encrypted HTTP/2 connections (aka h2c). Based on my experience with Golang it is also relatively simple thing to implement, t

[2019-07-17 06:57] wolfy-j commented on #172
Hi, we have no objections on adding such functionality. Let us know if you need any assistance on altering HTTP service.

[2019-07-18 09:17] wolfy-j commented on #170
To be honest this can be achieved very easily by adding your own service and http middleware. Considering that you would have to write golang code anyway you might write the middleware by yourself as well. Does it work or you looking for more high level abstraction?

[2019-07-23 07:30] mich4s commented on #170
Well, my idea was to make able for full php developers to achieve this goal. I'm using rr as library right now to have my own "fast" router. But this could be done as part of library/plugin so there'll be no need to modify golang code.

[2019-07-29 12:19] wolfy-j commented on #170
Well, it can be achieved using some middleware and PSR-7 attribute. I guess if you can provide an example of routing configuration it might help.

[2019-07-29 13:19] wolfy-j commented on #172
Added to `1.4.7`, thanks to @Alex-Bond

H2C can be enabled via (disabled by default):
[code]

[2019-07-29 13:19] #172 closed

[2019-07-30 00:55] filakhtov commented on #172
👏 thanks a lot!

[2019-07-30 12:05] arku31 commented on #153
@jeijei4 Any updates? Were you successful with implementing? I would be happy to reuse existing code instead of inventing the wheel again :)

[2019-07-30 16:19] morozovsk opened #174 "swoole_pack instead of pack"
Около года назад я проводил сравнение [swoole/workerman/roadrunner](https://github.com/morozovsk/webserver-performance-comparison) и roadrunner был медленнее раз в 5-15.
Мне было не совсем понятно, почему он настолько медленнее, пока я не наткнулся в описании, что при взаимодействии php и go используется pack/unpack. Тогда я вспомнил, что в рамках [моего исследования двухгодовалой давности](https:

[2019-07-30 22:27] jeijei4 commented on #153
**Hi there**!
For reasons of time I could not do tests.
But quickly seeing the current Phalcon master, he **already has support for PSR-7** (_https://github.com/phalcon/cphalcon/blob/master/composer.json_).
In that case I would have to **upgrade** Phalcon 3.4.3 to the master version.

[2019-07-31 07:48] free6k commented on #78
@charlesportwoodii, good job, you are is big lad!

[2019-07-31 07:53] Alex-Bond commented on #174
Привет!

Из того что я понял - там разные вообще схемы пакования. У свуле она упрощенная.

[2019-07-31 08:00] wolfy-j commented on #174
Привет, RR основан на Goridge Relay, так что в теории можно использовать любой метод общения. swoole_pack посмотрим, но пока, по ощущениям, bottleneck находится в pipes, а не в методе упаковки.

Один из вариантов решения - использования кастомного драйвера написанного на C (буквально нужен 1-2 метода), чтобы не тянуть всю свуле. Сейчас активно смотрим на адаптацию https://github.com/phpinnacle/ext

[2019-07-31 16:23] myavchik opened #924 "[💡FEATURE REQUEST]: Scheduled jobs"
Add separate simple queue (use jsondb for example) with scheduled jobs, which will send job to broker at scheduled time. Like https://github.com/mindblowup/taskq

[2019-08-02 02:09] Zolotov88 opened #176 "How to run roadrunner as nonroot user?"
When I'm trtiing to run RR as nonroot I get:
[http]: listen tcp 0.0.0.0:80: bind: permission denied
What can I do with it?

[2019-08-02 05:41] Themodem commented on #176
You need to configure the listener with config

[https://roadrunner.dev/docs/intro-config](https://roadrunner.dev/docs/intro-config) will give you an overview

[code]

Is the part you are looking for

[2019-08-02 07:44] FirestarterUA commented on #174
@wolfy-j,  это стало бы очень хорошим бонусом .

[2019-08-02 08:11] Zolotov88 commented on #176
Thx!

[2019-08-02 08:11] #176 closed

[2019-08-05 06:52] POPSuL opened #177 "Missed REQUEST_URI in server variables"
Too many frameworks used `$_SERVER['REQUEST_URI']` variable to determine requested uri (at least symfony and symfony-based FWs).
I though that code https://github.com/spiral/roadrunner/blob/master/src/PSR7Client.php#L137 should contains something like that:

[code]

[2019-08-08 21:43] drefixs opened #179 "Add ability to skip the same version downloading with php rr binary downloader"
**Problem:**
I want to get full control of the version of rr with composer.json package manager.

But it has one little problem when I add it to post install/update composer scripts
[code]

it's re-download the same version of the go binary each time I do composer install/update.
I want to install rr binary deps with modern way as composer like deps with cache and hash checking.

**Proposal:**
At

[2019-08-08 22:07] drefixs commented on #179
I remembered about windows compatibility :) and moved solution from shell awk to Perl based regex.

[2019-08-09 13:01] SamMousa commented on #78
@charlesportwoodii your method of checking connections assumes they are all components of the main application; they could easily be inside modules as well.

The issues you run into are approximately the same as they are in a testing framework (I've been rewriting the Yii2 Codeception connector on and off over the past year)
A cleaner approach could be this one: https://github.com/Codeception/Code

[2019-08-09 13:52] charlesportwoodii commented on #78
@SamMousa Good point on the database connections. I'll be sure to take a look at the reset Codeception uses to see if other items can be incorporated.

Thanks for the tip!

[2019-08-12 08:08] wolfy-j commented on #179
Thank you, the proposal looks good!

[2019-08-13 21:07] charlesportwoodii commented on #78
@SamMousa

Thanks again for the tip on the connections that I overlooked. I'm implemented a similar solution that closes database connections for associated modules.

For anyone else following along at home, I've also updated the project to include a better event handler that properly de-registers every event at the end of the event loop. In previous implements events not manually `off`ed would be

[2019-08-13 21:12] samdark commented on #78
@charlesportwoodii Yii 3 with Spiral should go way smoother because of PSR-7 and middleware. Validating that it works is on my too long TODO list :)

[2019-08-14 23:11] samdark commented on #78
Yii 3 experiment: https://forum.yiiframework.com/t/using-roadrunner-as-a-server/127060

[2019-08-15 12:12] myavchik opened #180 "[Feature Request] Add Mercure"
Add [Mercure](https://github.com/dunglas/mercure) or something similar.

But first, wait until https://github.com/dunglas/mercure/issues/105 solved.

[2019-08-19 17:40] wolfy-j commented on #177
Feel free to submit PR. We are expecting your code to rely on PSR-7 Uri, but I see the value of adding such fallback.

[2019-08-19 17:41] wolfy-j commented on #179
Are you OK to wait till we will get more features for the next release or this is something which is currently pressing?

[2019-08-21 07:50] drefixs commented on #179
It's ok to wait. Thanks you for the merging it to the master.

[2019-08-21 18:23] wolfy-j commented on #180
This looks cool, it must be pretty easy to integrate since it's Go based.

[2019-08-30 10:09] marliotto opened #183 "Resolving IP address via trusted proxy is wrong"
[code]
https://github.com/spiral/roadrunner/blob/master/service/http/handler.go#L149

Hello,
I think I found some a bug.

If we trust a proxy we should use last IP address from X-Forwarded-For.
We shouldn't check IP address from X-Forwarded-For is trusted or not, but some validation is required.

Also, I think we should change value from X-Forwarded-For, after applied new IP address.

For example

[2019-09-02 17:09] spudro228 commented on #150
Maybe was missed " symbols

rr serve \
    -o "http.address=:80" \
    -o "http.workers.pool.numWorkers=1" \
    -o "http.workers.command='php worker.php'" \
    -o "static.dir='web'" \
    -o "static.forbid='.php'" \
    -o "static.forbid='.htaccess'"

[2019-09-05 10:38] Hunternnm commented on #103
Hello! Here I did the integration back in February, ready for production and is actively used there. Can anyone check? https://github.com/Hunternnm/laravel-roadrunner

Example https://github.com/Hunternnm/laravel-roadrunner-example

[2019-09-05 10:40] Hunternnm commented on #96
Another attempt to do integration) https://github.com/Hunternnm/laravel-roadrunner

Example https://github.com/Hunternnm/laravel-roadrunner-example

[2019-09-06 09:49] #183 closed

[2019-09-06 09:53] #179 closed

[2019-09-06 09:54] wolfy-j commented on #183
Addressed in new version by @spudro228

[2019-09-06 09:59] wolfy-j commented on #177
Added in upcoming version.

[2019-09-06 09:59] #177 closed

[2019-09-06 10:00] wolfy-j commented on #150
Yes.

Can you please check @spudro228 response, is this still an issue?

[2019-09-06 10:20] ThisIsAreku commented on #150
The missing quotes were not present in my command line originally , i've edited the issue.
From what I understand, the _include_ directive allow to define others YAML files to be merged into the final configuration.
It still doesn't allow to define multiple times the same option in the command line.

I could add a yaml file with some defaults, but in my use case I only add a `Dockerfile` to the pr

[2019-09-10 06:50] assurrussa commented on #103
A nice simple package for integrating Laravel with RoadRunner.

I wanted to write my integration package, but this package is enough for me. There are no problems with the sessions, nor with any other difficulties.

For more than 1.5 months, the site has been working in production, there are no problems with this package https://github.com/Hunternnm/laravel-radronner. Everything works perfectly.

[2019-09-16 09:50] samdark opened #185 "Reset getting stuck after many refreshes"
Code to reproduce test case: [rr-test.zip](https://github.com/spiral/roadrunner/files/3615460/rr-test.zip)

1. `composer update`
2. `./vendor/bin/rr get`
3. `./rr serve -d -v`
4. Load page in a browser.
5. Edit PHP content of Responder. For example, change "File modified" to "File modified 123".
6. In another terminal do `./rr http:reset`. Check that reload actually happened (in server terminal th

[2019-09-16 09:52] samdark commented on #185
One more thing. That is **not** browser cache since in the `Responder` there's current timestamp outputted to make it obvious.

[2019-09-16 09:54] Alex-Bond commented on #185
Саш, а можешь чекнуть запускается ли воркер вообще заново? Типа может выводи куда-то в файл какую-то строку перед началом цикла получения запросов.

[2019-09-16 10:12] samdark commented on #185
@Alex-Bond yes, worker process ID is updated. Checked with

[code]

[2019-09-16 10:13] samdark commented on #185
`./rr http:workers -i` output:

[code]

[2019-09-16 10:15] Alex-Bond commented on #185
@samdark, in this case, I can think only about opcache. RR doesn't cache any finales internally. Reset literally means that RR will kill workers and start workers again (workers are just cli command)

[2019-09-16 10:21] samdark commented on #185
Reproduced with Opcache turned off.

[2019-09-16 10:22] Alex-Bond commented on #185
@samdark not cool. @wolfy-j any ideas?

[2019-09-16 10:24] samdark commented on #185
Reproduced with XDebug turned off.

[2019-09-16 10:24] samdark commented on #185
I think I've got an idea...

[2019-09-16 11:10] wolfy-j commented on #185
https://www.iis.net/downloads/microsoft/wincache-extension

[2019-09-16 11:11] #185 closed

[2019-09-16 11:12] samdark commented on #185
Wincache is to blame.

[2019-09-16 11:13] wolfy-j commented on #185
Added to docs: https://github.com/spiral/roadrunner-docs/blob/master/usage/caveats.md

[2019-09-18 20:12] Jeckerson commented on #153
@jeijei4 ATM master branch contains code of Phalcon v4, which was merged by mistake before v4 release...

Phalcon v4 is still work in progress, but **>90%** of job already done. Left some bugs and most part of documentation.

[2019-09-23 13:01] rustamwin opened #186 "Detached mode support?"
there is support for run workers in background?

[2019-09-23 13:04] wolfy-j commented on #186
Please elaborate. Do you mean execute some task in background?

[2019-09-23 13:07] rustamwin commented on #186
Yes. As `docker-compose up -d` run server in the background

[2019-09-23 13:08] wolfy-j commented on #186
Currently, it does not support detached mode but feel free to PR it. RR is already able to stop by remote command so we only have to alter `serve` command handler.

[2019-09-23 13:15] alexndr-novikov commented on #186
@rustamwin don't you mean "Start RR when you hit docker-compose up -d command"?
If you mean this - you can easily add this option to your docker-compose.yml for your service:
command: 'bash -c "/var/www/rr serve -d -v"'
where /var/www is path to your project
and RR will work in the background when you launch the container

[2019-09-23 13:20] rustamwin commented on #186
@alexndr-novikov No. I don't mean this. I mean start RR in background locally.

[2019-09-23 20:41] jeijei4 commented on #153
@Jeckerson
Thanks for the information!

[2019-10-05 10:49] rauanmayemir commented on #103
@Hunternnm Can confirm that your package works great.

It needs more care due to the use of resetters, but once the config is taken care of, I'm seeing the performance boost I was expecting to get. (I did not see any perf improvement with https://github.com/avto-dev/roadrunner-laravel)

I still need to confirm it in production, but this feels like the right approach.

[2019-10-05 10:53] wolfy-j commented on #103
Feel free to add integration badges and notes here: https://github.com/spiral/roadrunner-docs/blob/master/integration/laravel.md

I assume we can close this issue now :)

[2019-10-05 11:07] #103 closed

[2019-10-05 11:08] wolfy-j commented on #174
Закрываю, горидж 3.0 включит опциональное С расширения для максимальной производительности и другие изменения протокола. @zloyuser работает над этим.

[2019-10-05 11:08] #174 closed

[2019-10-07 16:10] tekaeren opened #189 "404 when accessing laravel app /api on port 80"

[2019-10-10 08:44] #189 closed

[2019-10-11 06:52] awprice opened #192 "[Feature Request] Healthz port"
It would be great to have a HTTP server on a seperate address/port that can be used for health checking road runner and whether it is ready to serve traffic to the workers.

Currently I am sending my health check traffic to the main http address, this is undesirable for a variety of reasons:
 - Clutters access logs with healthz requests
 - Places unnecessary load on the PHP workers
 - Request metr

[2019-10-11 06:55] wolfy-j commented on #192
Hi, you can ping the metrics port itself. But module like that is easy to build, so if anyone wants to help we will merge it into root package.

[2019-10-11 06:58] awprice commented on #192
@wolfy-j Ideally the healthz endpoint would only return `200 OK` if the PHP workers are ready to accept requests. Does the metrics endpoint support this?

[2019-10-11 07:00] wolfy-j commented on #192
Nope. So you are correct, you can request http dependency and use Server() method to get list of workers.

[2019-10-11 07:02] awprice commented on #192
@wolfy-j Thanks! I'll have a look into this and come up with something.

[2019-10-12 04:41] #192 closed

[2019-10-12 04:46] wolfy-j opened #194 "Improve Travis tests"
Travis **sometimes** does not release ports used test immediately. This causes tests false fail sometimes. In some cases it’s already handled by using different port in every test, but in general we need more realizable port rotation approach.

The issue is not serious but annoying.

[2019-10-12 08:50] wolfy-j commented on #180
What about Web-Socket broadcasting we've added last week? https://github.com/spiral/broadcast

[2019-10-12 10:17] awprice opened #195 "[Feature Request] process metrics per worker"
This is a feature request to add process metrics per worker, which will allow collection of CPU/memory/FD metrics for each worker process.

Currently, the metrics for the roadrunner go process are collected: https://github.com/spiral/roadrunner/blob/a72ccd1b6247a25c90fad317d98c884f3869b623/service/metrics/service.go#L29

Prometheus' processCollector could be used to collect the process metrics for

[2019-10-12 10:17] wolfy-j commented on #2
Not in 1.5.0. We are working on a protocol update (with few extra features and perf improvements), so most likely it will be 2.0.0.

[2019-10-12 10:19] wolfy-j commented on #195
Which is the core issue, unfortunately. I can only suggest something like [min, avg, max]. Where min/max is one of the worse/best workers.

[2019-10-13 11:26] myavchik commented on #180
Very good module, but it have a little bit different uses.
WebSockets are not battery-efficient way to emit "changes".

I think "Broadcast messages over web-sockets" title should be renamed. WebSockets uses TCP, which is point to point, and provides no broadcast support.

[2019-10-13 11:31] wolfy-j commented on #180
Correct, but there is also broken behind the hood which provides the ability to broadcast via multiple instances. But I see the point about push notifications.

[2019-10-16 10:44] kcloze commented on #153
I write a simple adapt, you canrefer to the implementation.
https://github.com/kcloze/phalcon-roadrunner

[2019-10-19 09:41] wolfy-j opened #196 "[Feature] Native Profiler Module based on xhprof"
Integrate https://github.com/tideways/php-xhprof-extension as the source of profiling data and pass this data into rr service via RPC. Store data in local db (BoltDB) or memory and share information about application performance via RPC or expose the port. Need UI.

[2019-10-19 09:41] wolfy-j opened #925 "[💡FEATURE REQUEST]: Profiler Module based on xhprof"
Integrate https://github.com/tideways/php-xhprof-extension as the source of profiling data and pass this data into rr service via RPC. Store data in local db (BoltDB) or memory and share information about application performance via RPC or expose the port. Need UI.

[2019-10-19 09:59] wolfy-j commented on #196
Sadly it does not capture arguments (I assume It's only available in SaaS version), so it will be hard to display SQL queries (but possible if rely on Logger).

[2019-10-19 10:33] wolfy-j commented on #196
Also dig into https://www.php.net/manual/en/book.xhprof.php

[2019-10-21 21:53] wuros commented on #174
Вопрос остается открытым, как на горидже 3.0 изменить способ упаковки?

[2019-10-22 05:15] wolfy-j commented on #174
Дождаться горидж 3.0.

[2019-10-22 14:54] sixdayz opened #197 "Graceful shutdown doesn't work if metrics or health service is enabled"
It works for this config:

[code]

But it doesn't work when I set up another config:

[code]

I tried to remove `health` and `metrics` separately. It didn't help. Graceful shutdown doesn't work with any of these sections enabled.

[2019-10-22 14:55] wolfy-j commented on #197
Can you define "Graceful shutdown doesn't work"?

[2019-10-22 15:00] sixdayz commented on #197
I run my symfony 4 project in docker container based on `php:7.3-fpm-alpine` with RoadRunner `Version: 1.5.0, 2019-10-12T13:06:34+0300`.

And I am using this command to run:
[code]

What information I can provide else?

[2019-10-22 15:02] wolfy-j commented on #197
Can you define "Graceful shutdown doesn't work"? It stops PHP scripts by killing them?

[2019-10-22 15:02] sixdayz commented on #197
I tested this case with empty controller action unless `sleep(5)` string inside

[2019-10-22 15:06] sixdayz commented on #197
Ops!! I closed this issue occasionally.
Yes, it stops all workes by killing them without waiting for response.

Example:
[code]

And example when it stops workers correctly:

[code]

[2019-10-22 15:10] sixdayz commented on #197
Looks like it depends on order of stopping services.

[2019-10-22 15:13] wolfy-j commented on #197
RR should wait for all the services to stop. I need to check this issue.

[2019-10-22 15:17] wolfy-j commented on #197
I've managed to reproduce it.

[2019-10-22 15:23] wolfy-j commented on #197
OK, the issue is clear. In case of stop sequence RR will wait for all services to stop gracefully, UNLESS, there is an error. HTTP sometimes sends "Server closed" error which caused the stop sequence to halt. Going to fix it.

[2019-10-22 15:41] wolfy-j commented on #197
The good news it's fixed, bad news - GitHub is broken and I can't upload the release.

[2019-10-22 15:49] wolfy-j commented on #197
Fixed in 1.5.1

[2019-10-22 15:49] #197 closed

[2019-10-23 14:21] Smolevich opened #198 "Parsed body"
We have this processing in client https://github.com/spiral/roadrunner/blob/85a2a735ea51252f6e9cf396b99e0e28f195f9da/src/PSR7Client.php#L100-L106
We got a problem with parsed body, when we send request with content type `application/json` and in php code we call `$request->getParsedBody()` and get null, but `$req->getBody()` return stream which can be used for reading post data
Is it expected beha

[2019-10-23 14:27] wolfy-j commented on #198
Yes, RoadRunner does not parse any custom payload types (including JSON), this behavior is compliant with PSR-7. Use payload parsing middleware like this one:
https://github.com/middlewares/payload
or this one
https://github.com/spiral/framework/blob/master/src/Http/Middleware/JsonPayloadMiddleware.php

[2019-10-23 14:36] Smolevich commented on #198
For what case is this condition created? https://github.com/spiral/roadrunner/blob/85a2a735ea51252f6e9cf396b99e0e28f195f9da/src/PSR7Client.php#L100

[2019-10-23 14:47] Smolevich commented on #198
I check docs and don't find info about examples using middlewares, this info can be added to docs in future?

[2019-10-23 14:52] wolfy-j commented on #198
RoadRunner exposes PSR-7 interfaces to you, most of the frameworks implement their own middleware pipeline. This functionality not a part of RR but your application.

[2019-10-23 14:56] Smolevich commented on #198
@wolfy-j , thanks for reply

[2019-10-23 14:59] Smolevich opened #199 "using Github Actions as alternative ci"
Do you have plans for using Github Actions as alternative ci in future? If yes, can I prepare PR with ci file and implementaion travis ci in github actions ci?

[2019-10-23 15:07] Smolevich commented on #199
Ok, i try to implement it

[2019-10-23 19:24] Smolevich commented on #199
https://github.com/spiral/roadrunner/pull/200

[2019-10-24 15:21] AndreKR opened #201 "Error when Command contains spaces"
I'm creating a new roadrunner.Server with:
[code]
and I'm getting

I tried adding quotes around the command but it doesn't help.

[2019-10-24 16:47] wolfy-j commented on #201
Hi,

I see a few issues here:

1) The use of absolute paths and windows is never good combination.
2) You are trying to run roadrunner.php instead of a worker script.

Recommendation:
1) Make sure `php` is available in PATH
2) Run worker.php not roadrunner.exe

[2019-10-24 17:10] AndreKR commented on #201
1. Even when PHP is in PATH, there would still be the issue with the space in the path to the worker script. PHP expects the path to the PHP script to be a single argument, but RoadRunner splits it into two. This function either needs to take quotes into account and leave quoted sections as single arguments or it needs to accept an array of arguments instead of parsing a single string:
https://git

[2019-10-24 17:13] wolfy-j commented on #201
Oooops, sorry I've missed the extension. Long day at work. I see now that your folder contains space. Hm...

[2019-10-24 17:15] wolfy-j commented on #201
What if I will give you the ability to redefine `makeCommand()` on your own? You only need to return new *exec.Cmd, would that work? Parsing is fine as well, but it will take some for me to dedicate time to fix it unless you want to PR.

[2019-10-24 17:27] AndreKR commented on #201
Yes, sure, that'll work and it's also the more idiomatic way than parsing.

[2019-10-24 17:29] wolfy-j commented on #201
You can actually create it via `Pool`, which is lower level, worker manager. It exposes all low-level functionality. The server is just a nice wrapper with config friendly API. It might be easier for embedding.

https://github.com/spiral/roadrunner/blob/master/static_pool_test.go#L21

[2019-10-25 06:15] AndreKR commented on #201
That works well, thank you.

[2019-10-25 06:15] #201 closed

[2019-10-29 18:10] wolfy-j opened #203 "The ability to register metric collectors from application"
Need a new RPC method to register metric from the application, metrics must only be declared once so consecutive runs would have no effect.

[2019-10-30 15:24] wolfy-j commented on #18
Not sure if it will help but this is the way how we work with sessions under roadrunner: https://github.com/spiral/session/blob/master/src/Session.php

It works with native sessions and operates on production for couple of years so far (the handler is not file-based though).

[2019-11-05 12:32] Jurigag commented on #153
@kcloze you don'y have any problems? Long time ago i was playing with phppm, which was providing few same functionalities(like having application bootstraped once for example). Due to nature of phalcon controllers are shared services when accessed. And accessing services using `$this->request` causes to add request as property to object and on further access to this property you will have the same

[2019-11-06 18:49] frickenate commented on #192
@wolfy-j Is the health service a feature that will automatically port to and work with [spiral/php-grpc](https://github.com/spiral/php-grpc) the next time that project updates its dependency on RR? Is RR's "worker pool" abstracted such that this health service will work for both http and grpc services, or would that require additional grpc-specific development?

[2019-11-06 18:52] wolfy-j commented on #192
Yeah, we can port it for sure or make it universal. You can create a ticket :)

[2019-11-06 18:53] wolfy-j commented on #192
We can make it like we did "limit" service, so you can connect to any compatible service.

[2019-11-06 20:09] frickenate commented on #192
My Go is too basic to help out, but from my understanding it looks like there will be more work to do, as the health service currently [stores a pointer to the http-specific service in its struct type](https://github.com/spiral/roadrunner/pull/193/files#diff-d0c66b5211c4e375341a73e9eba11ee0R19) so that the [ `isHealthy` method](https://github.com/spiral/roadrunner/pull/193/files#diff-d0c66b5211c4e

[2019-11-06 20:21] wolfy-j commented on #192
Take a look as Limit service (https://github.com/spiral/roadrunner/blob/master/service/limit/service.go#L23). It uses rr Container (IoC). You can fetch all the available services and only use ones which are matching the interface.

You need an interface that matches on `func (s *Service) Server() *roadrunner.Server`.

[2019-11-16 17:29] ahoulgrave opened #205 "New Relic Support?"
First of all, thanks for your software. It's been a great experience working with it.

I moved my Symfony application to Roadrunner, which improved the performance, but New Relic integration does not seem to work.

I was wondering if anyone has successfully integrated it, or you have any tips on this.

Thanks in advance.

[2019-11-21 07:28] ValeryPiashchynski opened #207 "No need to Wait process while killing it"
File: worker.go, L105
[code]

In that case `w.cmd.Wait()` will always return with error `10 ECHILD - No child processes`

[2019-11-21 23:25] #199 closed

[2019-11-21 23:55] Smolevich opened #208 "[RR2] Custom logger"
How we can customize logs and change severity? I mean mechanism like [here](https://roadrunner.dev/docs/library-event-listeners)

[2019-11-22 07:11] wolfy-j commented on #208
You can assign custom logger to rr.Logger during the boot or create custom even handlers.

[2019-11-22 09:07] Smolevich commented on #208
For this cases i should use roadrunner as library?

[2019-11-22 09:19] wolfy-j commented on #208
Yes, or you can redefine it on the application level. A proper logging module is an effort we look to implement next year.

[2019-11-22 10:54] filakhtov opened #209 "Trailers support for RoadRunner"
Hello friends,

I have noticed that RoadRunner does not support HTTP/2 trailers. This is only natural, because PHP can't do it either, nor it is possible through PSR-7. However, in my particular use case I need to be able to produce trailers for some internal inter-service communication protocols.

I have been experimenting with RoadRunner and threw a quick proof of concept. I decided to leverage

[2019-11-22 15:14] wolfy-j commented on #207
Thx Valery. I'll check it close to the async update.

[2019-11-22 15:17] wolfy-j commented on #208
See: https://github.com/spiral/roadrunner/blob/master/cmd/rr/http/debug.go#L22

You can listen and log any service. We can also look at implementing logger service to the consumer logrus stream and save it into different files/streams. However, we will have to dig into logrus api first.

[2019-11-22 15:20] wolfy-j commented on #209
We are open to this approach, we already support HTTP/2 push using a similar approach. Your PR will be welcomed.

Not sure about PSR-7 as the standard is currently frozen.